[2018-11-09 20:24] isaachinman opened #1 "Define functionality and features"
So we just completed a rewrite of the [react-i18next NextJs example](https://github.com/i18next/react-i18next/tree/master/example/nextjs). This is/was an _example_, and we intentionally avoided abstracting or hiding things away, as we specifically wanted people to understand what was happening.

Through the process, several devs indicated that they would be interested in a `next-i18next` project w

[2018-11-09 21:09] Eruilz commented on #1
My main issue with the example was routing. It is great, and I think necessary, to provide some basic implementation of subpath.
But by doing so the routing logic became split in 3 or 4 places : server.js, _app.js (on language change), your `Link` component, and eventually something for declarative navigation (router.push(...,...)).
- it makes it rather "hard" (but not really !) to implement conve

[2018-11-09 22:06] isaachinman commented on #1
Hi @Eruilz. So, in this project, you would import several things from `next-i18next`:

**server.js**

    import { nexti18NextMiddleware } from 'next-i18next'

    const app = express()
    app.use(nexti18NextMiddleware({ localeSubpaths: true }))

**component.js**

    import { Link } from 'next-i18next'
    ...
    <Link href="/url-ignoring-language">

Or at least, this is my first thoughts/appro

[2018-11-10 09:16] Eruilz commented on #1
well routeChangeStart looks like a good idea... until you look into nextjs code where it is said to be deprecated "soonish"... so not really sure that should be the way :)

In the example, it was "simple" to use your implementation, but confusing (at least that is what I thought) to add route masking functionality.
Maybe you should look into https://github.com/fridays/next-routes

[2018-11-10 16:57] isaachinman commented on #1
@Eruilz I did not see that it was being deprecated soon. Can you link to that? I'm not actually convinced that it's better to intercept `next/router` events, except in that it might be "easier" for the user.

We're well aware of `next-routes` and have chosen to avoid it. @timneutkens warns against it in many places, most prominently [here](https://github.com/zeit/next.js/issues/2833#issuecomment-4

[2018-11-10 19:11] timneutkens commented on #1
`routeChangeStart` is far from deprecated, we changed the API a bit, it's now an EventEmitter (previously this was hidden to users) as it allows multiple listeners vs just 1 that has to be managed by the user.

[2018-11-10 20:20] revskill10 commented on #1
One more thing i want to see is the new V2 on Now with lambda and builders.
Currently we have to use Express Middleware, which i see unsuitable for V2 deployment type.

[2018-11-12 10:02] Eruilz commented on #1
I must have misunderstood something then, sorry :)
Here is where I found that deprecated thing : https://github.com/DefinitelyTyped/DefinitelyTyped/blob/7e0a27458d3a333357002e7f0d1f09337eb2af4d/types/next-server/router.d.ts#L60

[2018-11-12 20:08] isaachinman commented on #1
@timneutkens Thanks for chiming in and letting me know - that's good to hear. Out of curiosity, do you think hooking into `routeChangeStart` to perform route replacements to enable paths as shown below is an appropriate implementation, or should we stick to the wrapped `Link` component [here](https://github.com/i18next/react-i18next/blob/master/example/nextjs/components/Link.js)?

    /about
    /

[2018-11-12 21:02] timneutkens commented on #1
Definitely this 👍

[2018-11-12 21:33] isaachinman commented on #1
@timneutkens Do you mind explaining why? I'm happy to proceed that way, but it does create a "less simple" solution for the end user, and can result in some gotchas when it comes to imperative use of the router.

[2018-11-12 22:39] Eruilz commented on #1
@isaachinman what about using some helper calling next/router functions ? so we would load
[code]
Would that be acceptable or are we running in the same scalability issues ?

[2018-11-12 23:02] isaachinman commented on #1
Hey @Eruilz, that's a great idea. We can export both `Link` and `Router` from the `next-i18next` package. That should allow users to do whatever they'd like to, essentially.

I think we're actually pretty close to being able to start working on a pre release.

My last concern is: the config will be exactly the same as [this](https://github.com/i18next/react-i18next/blob/master/example/nextjs/confi

[2018-11-12 23:54] isaachinman commented on #1
@Eruilz Thanks for pointing that out. Perhaps it's just best to export the i18n instance after all, and make it clear via documentation that users should only import/change the instance if they understand what it does.

I forgot to include in the server/component example above, that users will also need to take a third step: create an `_app.js` file, and do:

**_app.js:**

    import React from 'r

[2018-11-13 08:45] timneutkens commented on #1
I wonder if we could introduce some kind of extensibility point for this, because exposing the router through the i18n package would mean that you'd be responsible for API-compatibility and it would confuse new users that read the Next.js documentation and then use next/router instead.

[2018-11-13 08:52] timneutkens commented on #1
I just realized the i18n link might not cover all next/link use cases:

https://github.com/i18next/react-i18next/blob/master/example/nextjs/components/Link.js#L32

For example you could do:

`<Link href="/about?something=123">`

Which would end up being

`<Link href="/about?something=123?lng=en">`

Also next/link accepts objects that are ran through `url.format()`

[2018-11-13 08:58] timneutkens commented on #1
To come back to this, I think it makes a lot of sense to actually not expose the global `Router` but instead use React's component model, meaning wrap `withRouter` and expose it as `withI18nRouter` with the push/replace methods implemented.

[2018-11-13 16:39] isaachinman commented on #1
Hey @timneutkens.

I think we'd just be importing directly from `next/router` and then simply doing some pre-processing on a select few methods - probably just `replace` and `push`. Any changes to the `replace` or `push` methods would require action by us, but everything else should be passed on without issue. Basically, we're going to have to take responsibility for a small portion of the `Router

[2018-11-13 16:49] isaachinman commented on #1
@timneutkens As far as extensibility, I've always felt as though there should be another `Router` event, called `validateRouteChange` or something similar (naming is hard), where you could return either:

1. `true` - routing procedure continues as normal
2. `false` - routing procedure is cancelled
3. A route string - redirect happens before routing procedure starts, negating the need for `Router.r

[2018-11-13 18:00] timneutkens commented on #1
We don't want to add global routing side-effects to the router.

[code]

This is actually something I've been thinking about deprecating for a long time, it's a stateful module, which makes code-splitting it harder whereas `withRouter` fits itself into the React component model.

[2018-11-13 18:02] isaachinman commented on #1
Probably a good idea. It might also make a lot of sense to line that up with the new React hooks stuff.

For this `next-i18next` project, I'll plan to go forward with a wrapped `withI18nRouter` as you suggested. Thank you very much for the feedback.

[2018-11-13 18:06] timneutkens commented on #1
Yeah, using the router will look like this: https://twitter.com/timneutkens/status/1057053195044823040

[2018-11-13 18:09] isaachinman commented on #1
@revskill10 Any update about Lambda support before I get started on this?

[2018-11-13 18:12] isaachinman opened #2 "HOC for _app.js"
Package must export a HOC to wrap `_app.js`, which must combine `getInitialProps` so that `getInitialProps` is used in the HOC, but also usable in the wrapped `_app.js`.

The HOC itself will look very similar to [this](https://github.com/i18next/react-i18next/blob/master/example/nextjs/pages/_app.js).

**Example:**

    import React from 'react'
    import App, { Container } from 'next/app'
    im

[2018-11-13 18:15] isaachinman opened #3 "Express middleware to be used in `server.js`"
Package must export a middleware that users will have to add to their `server.js`. This middleware should accept an options object, and perform _all_ server side setup/functionality, including use of `i18next-node-fs-backend` and `i18next-express-middleware`.

**Example:**

    import { nexti18NextMiddleware } from 'next-i18next'

    const app = express()
    app.use(nexti18NextMiddleware({ local

[2018-11-13 18:22] isaachinman opened #4 "withI18nRouter HOC for locale subpath routing"
In the [current react-i18next/nextjs example](https://github.com/i18next/react-i18next/tree/master/example/nextjs), we've created a [wrapped Link component](https://github.com/i18next/react-i18next/blob/master/example/nextjs/components/Link.js) to automatically handle locale subpaths via use of `as`.

This option _works_ but I'd like to explore the possibility of exporting a `withI18nRouter` HOC i

[2018-11-13 19:57] revskill10 commented on #1
@isaachinman What i think is we should limit configuration on server side, to adapt i18next for lambda function.
I love the simplicity of `function(req, res)` . No middleware, no express, so that it could be used every where, no matter what the framework is used.
On client side, i agree with what @timneutkens said above.

[2018-11-13 21:18] isaachinman commented on #1
@revskill10 I do not understand what you mean at all. This project sets out to be a drop-in utility to get `react-i18next` quickly working in NextJs projects.

If you want changes made to the `i18next` core, you should request them there.

This project will definitely be exporting a middleware, which is indeed just a function that takes `req, res, next`... that's what a middleware is. It will also

[2018-11-20 01:33] isaachinman opened #5 "Extended withNamespaces not delivering up-to-date t prop"
As demonstrated in the [example here](https://github.com/isaachinman/next-i18next/blob/master/example/pages/index.js#L12), I'm currently having to pass the current lang from `this.props.lng` into the `t` function to get [this extended version of withNamespaces](https://github.com/isaachinman/next-i18next/blob/master/src/hocs/with-namespaces.js) to work correctly after a language change.

**To repr

[2018-11-20 08:08] jamuhl commented on #5
@isaachinman will take a look when back home later today.

[2018-11-20 16:09] DmacLoyaltyOne commented on #1
With this example, is there any way to use SSR with hooks on the frontend?

[2018-11-20 16:51] isaachinman commented on #1
@DmacLoyaltyOne Can you explain your use case? If you're referring to React hooks, that functionality has not even landed in React core yet, and is of course not supported here until that happens.

[2018-11-20 17:51] DmacLoyaltyOne commented on #1
@isaachinman Yes that is what I was referring to. Since there is a section devoted to using react-i18next with hooks in the documentation, I figured there might be a way to get it to work with SSR, but you're telling me that is not the case yet, correct?

[2018-11-20 17:58] isaachinman commented on #1
@DmacLoyaltyOne I think what you're referring to is @jamuhl's work in preparation for v10. This repository is a WIP, and will be a tool to quickly and easily add i18next to NextJs projects. Support in this project for hooks depends on: (1) React release, (2) `react-i18next` v10 release. So it's awhile down the pipeline. If you're interested in using hooks ASAP, I'd suggest you take a look at our e

[2018-11-20 18:37] jamuhl commented on #5
@isaachinman ok i guess i found the cause...

https://github.com/isaachinman/next-i18next/blob/master/src/hocs/app-with-translation.js#L30

You set the language on the one main instance used on server and pass that to the `I18nextProvider`. There is a second place `i18next.translator.language` which is the language really used for translations  (so a i18next.changeLanguage triggers a change there

[2018-11-21 19:23] isaachinman commented on #5
@jamuhl The i18n instance in `app-with-translation` is the instance initialised with user options. It's bound to the `app-with-translation` function as `this.i18n` [here](https://github.com/isaachinman/next-i18next/blob/master/src/index.js#L12).

This should be the exact same setup as the [working NextJs example](https://github.com/i18next/react-i18next/blob/master/example/nextjs/pages/_app.js)...

[2018-11-21 19:33] jamuhl commented on #5
ah...didn't catch that in the example...

setting i18n.language does not set language on translator -> only calling i18n.changeLanguage does.

the problem with setting that is...requests are asynchronous...as long you do no async data fetching during SSR there won't be any issue...as long there are not a lot of request there is no issue - but if there are:

- req1 -> set lng to "de" -> calls fetch

[2018-11-21 19:35] isaachinman commented on #5
Yes, I understand that. The language is being changed on the client via `i18n.changeLanguage`, and then on the next full reload, the SSR process does not respect the newly set language - despite the cookie being changed correctly, etc.

Anyways, I will keep looking into it now.

[2018-11-21 19:45] jamuhl commented on #5
like said you will need to set i18next.translator.language too, if not using changeLanguage like here: https://github.com/isaachinman/next-i18next/blob/master/src/hocs/app-with-translation.js#L30

regarding the express requests: https://github.com/i18next/i18next-node/blob/master/test/i18next.server.reqCollision.spec.js#L80 that was a test in v1 asserting that we get right results

[2018-11-21 19:49] isaachinman commented on #5
Okay, I understand. Doing an `await i18n.changeLanguage(initialLanguage)` seems to work fine. Curious as to how this is not broken in [the example](https://github.com/i18next/react-i18next/blob/master/example/nextjs/pages/_app.js#L72) for the `react-i18next` repo though.

[2018-11-21 19:49] #5 closed

[2018-11-21 20:01] jamuhl commented on #5
believe it's broken there too -> we just not noticed yet as not in production and no async data fetching in the sample (no apollo or similar) --- at least we would have a problem if react.renderToString is not synchron (as i'm not an expert on that i'm not sure - but i guess it does not block as that would kill server performance)

eventual we lost using req.i18n down the road of updates: https://

[2018-11-21 23:57] isaachinman commented on #2
4a5df73

[2018-11-21 23:57] #2 closed

[2018-11-21 23:57] isaachinman commented on #3
4a5df73

[2018-11-21 23:57] #3 closed

[2018-11-22 00:53] isaachinman commented on #5
I am not so sure what you mean about async fetching. We can do any async actions inside NextJs's `getInitialProps`, and that will all happen before any `renderToString` calls.

This package is getting close to being ready for initial testing by the way, if you feel like trying it out. Even after spending several weeks now focusing on NextJs and `react-i18next`, I still do not feel as though I am a

[2018-11-22 07:59] jamuhl commented on #5
sounds awesome. Yes, i can help with the react-i18next part - and with testing. For nextjs i always got a  less comfortable feeling...i feel save when i use this things myself in production at some point - just doing samples always leave me with the feeling i might have missed something.

[2018-11-25 03:09] isaachinman commented on #1
Hello everyone - I will be releasing v0.1.0 of this project on npm shortly. I would appreciate some early testers to provide feedback if anyone can do that. Thanks!

[2018-11-25 03:09] #1 closed

[2018-11-25 08:31] Eruilz commented on #1
Thx @isaachinman , I will take a look ASAP (right now, it's family time !)

[2018-11-28 15:57] jamuhl commented on #5
@isaachinman we got the same issue on the react-i18next/example/nextjs when we upgrade react-i18next to latest...

steps:
- toggle client language so it is de
- refresh the page

=> the serverside render will show en while client will show correctly de

the commit causing it: https://github.com/i18next/react-i18next/commit/2028d0ae3d96c5988dfca276f5424c4b87ea1d56

Not sure why setting language aga

[2018-11-28 16:23] isaachinman commented on #5
Ah yeah. Same fix as what I did for [next-i18next](https://github.com/isaachinman/next-i18next), we simply need to use `changeLanguage` instead of mutating the object directly. Example can be seen here:

https://github.com/isaachinman/next-i18next/blob/master/src/hocs/app-with-translation.js#L44

I'll submit a PR for this repo shortly.

[2018-11-29 08:55] lucasfeliciano opened #7 "Add custom language detector"
Is there a way to add custom detectors ?

https://github.com/i18next/i18next-express-middleware#adding-own-detection-functionality

I can always add them at the file that I'll export the i18n instance, but does it support these option object?

[code]

[2018-11-29 09:09] lucasfeliciano commented on #7
Just took a look at the code and I saw how do you handle the options and think the best way to do it would be passing to options.

[code]

I'll prepare a PR for that

[2018-11-29 09:48] #7 closed

[2018-11-29 13:05] isaachinman commented on #7
#8

[2018-11-29 14:17] foreseaz opened #9 "nextI18NextMiddleware for Koa?"
Checking out the src of [middlewares](https://github.com/isaachinman/next-i18next/blob/master/src/middlewares/next-i18next-middleware.js), now only support express, may I know is there plan to support Koa? Thanks.

[2018-11-29 14:22] isaachinman commented on #9
I'm not a koa user, so I'm not too sure how that'd work.

@jamuhl is [koa-i18next-middleware](https://www.npmjs.com/package/koa-i18next-middleware) a 1:1 replacement for `i18next-express-middleware`?

[2018-11-29 14:32] isaachinman commented on #9
Okay. This will definitely need to come from someone who personally uses koa and can ensure things are set up correctly and functional. I have absolutely no idea if we could achieve parity, but my initial assumption is that this would be very difficult or impossible if there isn't a pre-existing 1:1 solution.

[2018-11-29 14:36] isaachinman commented on #9
Ah, also just to mention - this impacts our own [next-i18next-middleware](https://github.com/isaachinman/next-i18next/blob/master/src/middlewares/next-i18next-middleware.js) in addition to the need for a 1:1 replacement for `i18next-express-middleware`.

Again I'm not a koa user, but it seems like the same `.use` function exists, so that might work without any modification.

[2018-11-29 14:38] jamuhl commented on #9
Really someone using koa should look into this. Also, i would give the next-i18next some time to stabilize before adding support for koa.

[2018-11-29 14:39] isaachinman commented on #9
@jamuhl Absolutely agreed. My initial impression is that support for koa will never be added, but someone might come along and surprise me.

[2018-11-29 14:40] jamuhl commented on #9
fully agree...and yes...i would be surprised too...

[2018-11-29 18:16] tizzle opened #10 "`next export` does not work"
**Describe the bug**
When doing a `next export` to built a static page, i get the following error:
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Clone or download this repository
2. In terminal do `cd example`
3. Install dependencies: `yarn`
4. I had to install next-i18next as well: `yarn add next-i18next`
5. Check if it runs in dev: `yarn run dev` -> Works
6. Check if it builds: `ya

[2018-11-29 18:33] isaachinman commented on #10
Interesting issue. I protected a couple of the language logic areas with simple `if` statements and got export working just fine.

That said, this project isn't really friendly to `next export` as it specifically requires some server side logic to detect language, fetch translation files, and so on. There's no way to do SSR translations without some server logic.

I'm curious as to how you expecte

[2018-11-29 18:57] tizzle commented on #10
Hey @isaachinman,

Thanks for your prompt reply and for the great work on all things i18next.

My maybe naïve expectation was, that the export would export the translated strings to static html. The resulting app/site would then have a set of pages for the defaultLanguage and another set of pages for every additional language inside a lang-folder (e.g. `de`).

I'm pretty sure there once was an rea

[2018-11-29 19:10] isaachinman commented on #10
Ah, I see. That would indeed be very cool. I see two main problems with that:

### 1. Too opinionated

This approach would really only work with the `localeSubpaths` routing paradigm, which is a _very_ opinionated approach, and just one way to handle routing with languages. Many people prefer subdomains, query params, and so on. It would be a big investment of development time for a feature that o

[2018-11-29 19:23] andylacko opened #11 "With next-redux-saga and next-redux-wrapper"
Hello, next-i18next seem to work good, but as I configure it in **_app.js** like this, redux saga stops loading data, requests won't fire.

When I look into component, there are initialProps data, but redux-saga is not working

Dunno, if this is issue, or I am missing something

(end of _app.js)
[code]

[2018-11-29 19:39] isaachinman commented on #11
We probably need to hoist statics. What happens if you use `appWithTranslation` _last_, not first?

[2018-11-29 19:46] isaachinman commented on #10
@tizzle I added my initial thoughts on a branch called [support-next-export](https://github.com/isaachinman/next-i18next/tree/support-next-export.

The aforementioned graceful degradation of SSR seems to be working fine. However, I realised that of course the `localeSubpaths` functionality won't work after an export, as the subpaths no longer exist, because we're not running an express server. I t

[2018-11-29 19:59] jamuhl commented on #10
the react-i18next sample had a working export but that did not generate files per language - just the client did fetch the missing translations from /static/ and rendered (no server - no SSR)

[2018-11-29 21:12] davebream commented on #11
I have this problem too.
If I use `appWithTranslation` last, ma pages don't pass the props that are returned in `getInitialProps` down to the component.

[2018-11-29 22:14] tizzle commented on #10
Hi @isaachinman,

i think nextjs leaves the path definitions for export to the user. There is a thing called `exportPathMap` you can put into `next.config.js` where the localeSubpaths could bve added based on the i18next config. You can see this in action here: https://github.com/zeit/next.js/blob/canary/examples/with-static-export/next.config.js

I also think the aforementioned static export exam

[2018-11-29 22:15] isaachinman commented on #10
@jamuhl Then, that is exactly what is achieved on the [support-next-export](https://github.com/isaachinman/next-i18next/tree/support-next-export) branch.

I suppose we can merge this if users really want it, but it seems like it misses the entire point to me. Also, if you want to have a static translated website with NextJs, you might as well just create all the routes manually with the content di

[2018-11-30 03:57] foreseaz commented on #9
lol, why surprised? Because Koa is seldom used in community?

[2018-11-30 07:50] jamuhl commented on #9
@foreseaz not because of koa - because it's not so easy - you will need to understand: next.js, koa, i18next, react-i18next and next-i18next

[2018-11-30 08:00] jamuhl commented on #10
@isaachinman yes...misses the point - at that point (😄) in react-i18next sample i wasn't in the mood anylonger to argue about it making sense -> just let them do the export and have that clientside react app ;)

[2018-11-30 08:04] jamuhl commented on #11
might be solved in https://github.com/isaachinman/next-i18next/pull/12

[2018-11-30 10:57] tizzle commented on #10
Hey @isaachinman and @jamuhl,

i totally agree with you that the benefits of a static export are very small. Maybe a prominent statement in the README would be enough to make this clear. Feel free to close. Thanks for your discussion.

[2018-11-30 11:11] tizzle opened #13 "Problems with getInitialProps"
**Describe the bug**
When using a custom server together with next-i18next the props from `getInitialProps` are not passed to the component.

**To Reproduce**
Steps to reproduce the behaviour:
1. Clone or download this repository
2. In terminal do `cd example`
3. Install dependencies: `yarn`
4. I had to install next-i18next as well: `yarn add next-i18next`
5. Add a new page `content.js` in `/pages

[2018-11-30 12:57] mshahov opened #14 "Problem with external locale paths"
Hi,

I am using currently the react-i18next project and have the locale paths configured to an external API. We are using a PHP symfony backend which is generating the language files and are not stored in the next folders.

With the react-18next I was able by changing configs to make this work, but unfortunately, here I can't make it work. Will there be a way to use external URLs instead of locale

[2018-11-30 15:03] tizzle commented on #13
I did some digging in the code and i think i found the culprit.

In `app-with-tranlation.js` it's necessary to return `pageProps: { ...pageProps }` instead of '...pageProps'.

[2018-11-30 15:04] tizzle commented on #13
There's already a PR for that: https://github.com/isaachinman/next-i18next/pull/12

[2018-11-30 17:16] isaachinman commented on #9
`next-i18next` depends upon several other open source packages. The main problem here is that `i18next-express-middleware` handles a _lot_ of otherwise complicated logic for us involving the delivery of translation content.

We would need a 1:1 koa replacement of `i18next-express-middleware` in order for `next-i18next` to support koa, and that simply doesn't exist.

I'm going to close this issue f

[2018-11-30 17:16] #9 closed

[2018-11-30 17:30] isaachinman commented on #13
@tizzle I've just merged #12, that indeed fixes the problem here. I also want to thank you for fantastic bug reporting.

[2018-11-30 17:30] #13 closed

[2018-11-30 17:31] isaachinman commented on #11
I've just merged #12. Simple bug that should fix a lot of these issues.

@andylacko and @davebream can you let me know if your problems are resolved? I still imagine we'll need to hoist statics, but I haven't had the time to reproduce your individual cases yet.

[2018-11-30 17:34] isaachinman commented on #14
Hi @mshahov, thanks for bringing this to my attention. I haven't personally used this methodology, so I'm not very familiar with it.

Just curious - what's the reasoning here? Why not add a build step that fetches all your translation content ahead of time, and serve them from the filesystem? Fetching translations for each SSR run is a very bad idea, as it involves needless network requests, and w

[2018-11-30 17:40] isaachinman opened #16 "Add support for subdomain routing"
As [i18next-browser-languageDetector](https://github.com/i18next/i18next-browser-languageDetector) supports subdomain detection out of the box, it'd be nice to also support it here.

We would have two mutually exclusive options regarding routing:

1. `localeSubpaths` (already exists)
2. `localeSubdomains` (does not exist)

Or perhaps we'd have a single `localeRouting` option that would take an enu

[2018-11-30 17:56] jamuhl commented on #14
@isaachinman it's more or less the same as for custom language detectors -> backend can be from a few types eg. for server the remote or filesystem backends: https://www.i18next.com/overview/plugins-and-utils#backends

[2018-11-30 18:00] isaachinman commented on #14
Yeah, it sounds like we just need to expose more options.

Instead of having to add a new option for each individual feature that users run up against, it'd be great to just support any i18next option and spread the object in somehow.

If anyone has an idea how to do that quickly/easily, I'd happily accept a PR.

[2018-11-30 21:29] davebream commented on #11
@jamuhl @isaachinman it seems like it has solved the issue for me (when the `appWithTranslation` is the last of the composed HOCs). Thanks!

[2018-11-30 22:07] isaachinman commented on #11
Does `appWithTranslation` not work higher up the HOC chain? I would assume redux hoists statics, so it should work fine like that.

@andylacko Can we close this issue?

[2018-11-30 22:09] isaachinman commented on #14
To be more clear, the user config is already being [fully spread into the i18next instance options](https://github.com/isaachinman/next-i18next/blob/master/src/config/create-config.js#L8). Anyone know why this doesn't "just work" as it already is?

[2018-11-30 23:18] davebream commented on #11
@isaachinman no it doesn't, the store is undefined then.

[2018-11-30 23:19] isaachinman commented on #11
@davebream Which store? Do you have time to put together a quick reproducible example via CodeSandbox?

[2018-11-30 23:46] davebream commented on #11
@isaachinman I'm trying to, but it looks like my custom `_app.js` is not used by next.js on CodeSandbox

[2018-11-30 23:56] isaachinman commented on #11
Ah that makes sense, they're probably doing some strange stuff to replicate a filesystem. You can just fork and modify the `example` dir, or convert the CodeSandbox project to a repo.

[2018-12-01 00:21] davebream commented on #11
@isaachinman https://codesandbox.io/s/xryjxorqno

[2018-12-01 12:24] littletower opened #17 "node >=9"
Hi,

I noticed the following line in your `package.json`:
[code]

And I was wondering, would that mean that you cannot use this package on a `next.js` app deployed with `now`? The Now Platform docs state the following:
[code]
EDIT:
deployed the example and getting this error:
[code]

Is a node 9 dependency really necessary?

[2018-12-01 17:33] isaachinman commented on #17
Hi @littletower - good question. I don't personally use `now`, so I wasn't aware of that. Surprised they use such an old version of node.

For future reference, the Node version is mentioned in the `now` docs [here](https://zeit.co/docs/v2/deployments/official-builders/node-js-now-node/#node.js-version).

The `dist` dir (what end users consume) is transpiled via the default settings of [@babel/env

[2018-12-01 17:33] #17 closed

[2018-12-01 18:04] littletower commented on #17
thanks, AFAIK, they use node 8 because it uses less resources than the versions above, since now runs on AWS, it's a way to reduce costs.

[2018-12-01 18:47] isaachinman opened #18 "Add tests"
This project is in desperate need of a test suite to prevent basic regression.

It'd be great to have unit tests on logic like [lng-path-corrector](https://github.com/isaachinman/next-i18next/blob/master/src/utils/lng-path-corrector.js), component tests on the HOCs and `Link`, and some integration tests on the [example](https://github.com/isaachinman/next-i18next/tree/master/example) app.

This wo

[2018-12-01 18:57] isaachinman commented on #11
@davebream Thank you very much for that example.

This should be fixed with a13cc4e. I'm going to release it now in v0.6.0. Please do let me know if you have any more issues.

[2018-12-01 19:14] kachkaev opened #19 "initialI18nStore is empty"
Hi @isaachinman! I'm playing with your plugin and am thinking of replacing my custom i18next integration with it – this will be so awesome!

What I've noticed after a switch is that `initialI18nStore` does not contain any strings at the point when the client-side app is being initialized. Here's what I see in the page source:

[code]

Both client-side and server-side translations work fine, so the

[2018-12-01 19:24] kachkaev opened #20 "Setting <html lang="..."> by default"
I'm wondering if there is any way to implicitly set the `lang` attribute to the html tag. This is a good practice, which improves SEO and a11y.

Currently, my workaround is roughly this:

[code]

If there is no way to inject `lang` automatically, shall it be mentioned in the example or plugin docs?

[2018-12-01 19:59] davebream commented on #11
Hi there, I'm sorry to say that, but store is still undefined after upgrading to `0.6.0` (when `appWithTranslation` is a first of the composed hocs)

I've updated version of the package on CodeSandbox and also checked locally.

[2018-12-01 20:29] davebream commented on #11
@andylacko I have the exact same error displayed.

[2018-12-01 21:32] isaachinman commented on #20
Hi @kachkaev, I don't think that's a "workaround" - it seems like a reasonable solution to me.

In the NextJs paradigm, if you need to access attributes on the `html` tag directly, creating a `_document.js` component is the only way to do so.

How did you expect this to work otherwise?

It might be good practice, but I don't think it belongs in the example as it adds unnecessary complexity - a `_d

[2018-12-01 21:37] isaachinman commented on #11
Hm, this is interesting. I tested this order, and assumed it meant we had fixed the issue:

[code]

[2018-12-01 21:57] kachkaev commented on #20
I'm not sure, to be honest. Ideally, I would expect `next-i18next` to just add `lang` attribute via some API magic 😅 If you think that this is impossible, I'm happy to look at my "workaround" as at a "reasonable solution".

Perhaps, mentioning the importance of `<html lang="..." />` in README is worth it. Feel free to close this issue whenever you feel comfortable. 😉

[2018-12-01 22:04] andylacko commented on #11
@isaachinman , should I try to give you more hints? I can try, but don't know, what more info should I provide to help

[2018-12-01 22:41] isaachinman commented on #20
Added with 16610ca.

[2018-12-01 22:41] #20 closed

[2018-12-01 22:42] isaachinman commented on #11
Sure, any help from anyone would be much appreciated. At the moment I'm not exactly sure where this bug is coming from, or if it's even the fault of `next-i18next`.

[2018-12-01 22:43] isaachinman commented on #11
I doubt your `Unhandled Rejection (TypeError): Cannot read property 'dispatch' of undefined` error has anything to do with SSR specifically, it just means the store is `undefined`. Same as the original bug that caused this issue to be opened. Unless I'm missing your point?

[2018-12-01 22:47] isaachinman commented on #11
Okay, modifying the CodeSandbox to _just_:

    export default compose(appWithTranslation)(MyApp)

Will result in an `undefined` store. So I think we definitely have a bug within `next-i18next` here.

[2018-12-01 22:50] isaachinman commented on #11
From playing around a bit, it seems like you just need to make sure you put your `withRedux` before `appWithTranslation`, presumably so that the store exists by the time `appWithTranslation` is called.

I haven't used Redux in a professional project for over a year now, so I don't really remember how all these patterns work. Isn't it expected that the order of HOCs matters? Is the bug here that yo

[2018-12-01 23:06] isaachinman commented on #19
Here's what I'm seeing in the [example](https://github.com/isaachinman/next-i18next/tree/master/example) app, both in dev and prod modes:

<img width="1438" alt="screen shot 2018-12-01 at 18 04 37" src="https://user-images.githubusercontent.com/10575782/49333827-c772fe80-f593-11e8-9e06-15197075462a.png">

So - you'll need to provide a repo and/or CodeSandbox that reproduces the bug you're experien

[2018-12-01 23:10] isaachinman commented on #14
Is it because you need to call `.use` for these backend plugins?

Can you call `use` after calling `init`? If so, you can just add plugins to the instance generated by `next-i18next`. If not, we'll have to expose an array of plugins to loop through and call `use` with.

[2018-12-01 23:53] tizzle opened #21 "getInitialProps in _app.js does not run"
**Describe the bug**
A custom `getInitialProps` in `_app.js` does not run.

**To Reproduce**
Steps to reproduce the behaviour:
1. Clone or download this repository
2. Add a `getInitialProps` block to _app.js in `/example`:
[code]
3. Run the example: `yarn run run-example`

**Expected behaviour**
The console in the browser should print `customThing: I am a thing!` but prints `customThing: undefined

[2018-12-02 00:54] davebream commented on #11
@isaachinman maybe they need to implement hoisting in `next-redux-wrapper` 😂

[2018-12-02 09:35] kachkaev commented on #19
Right. I’ll have a look!

[2018-12-02 09:55] jamuhl commented on #14
@isaachinman yes `.use` (plugins) have to be added before calling `init` as those get initialized themselves too

[2018-12-02 14:18] lucasfeliciano commented on #14
Indeed, but what concerns me is that we have to add two options or interfaces depending if a backend or frontend plugin / detector.

I think the best way to solve this is change at `i18next` level. Would be amazing if as a user we can just call `.use` for a plugin and i18n takes care if needs to be executed in the frontend, backend or both.
The problem here is backward compatibility

I have some i

[2018-12-02 14:34] lucasfeliciano commented on #14
@jamuhl For sure we need to have backward compatibility as priority but since I don't know all the use cases because too fresh into both of the projects code base ( i18next and dependencies and next18next ) your input is super valuable.

About the `process.browser` you are right, it was just for the sake of the example. We could use something like [detect-node](https://github.com/iliakan/detect-no

[2018-12-02 15:09] andylacko commented on #11
it doesn't show the error with store undefined anymore, but in **__app.js** file i have getInitialProps function

[code]

and it is completely ignored by server, even the console log isn't fired, I am using `isomorphic-fetch`. I have no clue, what might be blocking the function from executing correctly, when I remove translations from server and client code it works normally again

[2018-12-02 17:50] isaachinman commented on #11
@andylacko That `getInitialProps` issue is fixed with v0.7.0. Unrelated to this issue.

[2018-12-02 17:51] isaachinman commented on #11
Thanks everyone for helping us along with the process of developing young OSS, by the way! I know it can be frustrating.

[2018-12-02 18:42] andylacko commented on #11
@isaachinman , thanks for excellent support, everything is working now 👌

[2018-12-02 18:42] #11 closed

[2018-12-02 19:19] jamuhl commented on #11
If you like this module don’t forget to star this repo. Make a tweet, share the word -> there are many ways to help this project :pray:

[2018-12-02 23:52] tizzle commented on #21
Hey @isaachinman,

Only had the chance to test it now, but i'm happy to say it works.
Thanks for the great work!

[2018-12-03 13:09] mshahov commented on #14
@isaachinman after some discussions with my team, we decided indeed to go with a build step to fetch all translations. Thanks for that! There were still some discussions around this because the idea was that it's a fast developing app with a complete separation between backend and frontend. The backend is used for more than 20 other microsites and mobile apps so it's constantly changing, adding ne

[2018-12-03 14:01] isaachinman commented on #14
Hi @mshahov, I'm glad to hear that you've solved your individual use case via other methods. It sounds like you could further improve your solution with webhooks.

However, the issue of i18next plugin use still remains.

I think we need to separate two matters of concern here:

1. i18next support for `.use` after `.init`.
2. i18next support for client/server detection and "intelligent" use of `.us

[2018-12-03 14:06] isaachinman commented on #19
Hey @kachkaev - any update?

[2018-12-03 14:54] jamuhl commented on #14
1) might be doable - just might have side effects like i18next not really ready -> so calling t function before adding those plugins might result in problems...even more for backend implementation that will lead in not loading translations -> as the load is triggered on init and the backendConnecter will just output a warning that no backend was added. Might be we can additional check if it's a ba

[2018-12-03 15:12] mshahov opened #22 "AppWithTranslation class can break HOC logics"
I came with an issue using appWithTranslation HOC. It seems that in HOC we have a call to getInitialProps of wrappedcomponent, but this can easily break many ongoing projects as they might rely on something which is set in the initialprops of _app.js.

`
// Run getInitialProps on wrapped _app
      if (WrappedComponent.getInitialProps) {
        const { pageProps: wrappedPageProps, ...rest } = awa

[2018-12-03 15:19] isaachinman commented on #22
Not sure what you mean. Can you provide a reproducible example via CodeSandbox?

[2018-12-03 15:42] kachkaev commented on #19
Hi @isaachinman and sorry for a delay with the response. The problem is in my side project, so I’ll be able to study it on an evening or during the weekend. I still rememberer about it and am very interested in digging out the cause.

[2018-12-03 20:54] isaachinman commented on #14
@jamuhl Thanks for explaining. I am now thinking we should not attempt either of those changes... I had a feeling using `.use` after `.init` would lead to some strange issues.

Let's clarify - what's the syntax needed? Is it just a bunch of `.use` calls before one `.init` call? I am leaning back towards simply adding a `use` array to the `next-i18next` config, so in the source we can do:

[code]

[2018-12-03 23:25] tizzle opened #23 "Many probably unnecessary renders"
**Describe the bug**
After some time working in dev, my app with next-i18next started to get sluggish on page reloads and language changes. I installed 'why-did-you-update' to investigate and found loads of seemingly unnecessary rerenders of the same components happening. The additional renders pile up with reloads and language changes and don't happen again afterwards.

It seems the number of rer

[2018-12-04 07:34] jamuhl commented on #14
@isaachinman @lucasfeliciano  the trickiest part really would be this: https://github.com/i18next/i18next/blob/master/src/i18next.js#L65 --> the backendConnector (loads translations not yet loaded, incl. deduplication of rest calls, retries,...) needs the concrete backend plugin on init already.

So yes, i guess going this road would make things unneeded more complicated.

So doing:

[code]

Seems

[2018-12-04 08:03] revskill10 opened #25 "Support Now V2 deployment ?"
Is there anyway to drop out middleware and using only `(req, res)` instead ? It'll help us using this library with Now V2 lambda deployment.

[2018-12-04 09:12] kachkaev opened #26 "ICU plugin not working"
While investigating https://github.com/isaachinman/next-i18next/issues/19, I've noticed that [next-i18next](https://github.com/isaachinman/next-i18next) has stopped working in my project after switching to `next-i18next`. See MWE in https://github.com/kachkaev/next-i18next/tree/icu/example + [commit](https://github.com/kachkaev/next-i18next/commit/670ec4501b436ac441b4ee0029f6453466eb99bc).

ICU te

[2018-12-04 09:24] endigo opened #27 "Didn't work with defaultLanguage different than en?"
server.js
[code]
i18n.js
[code]

My App starts with **en** not **mn**

[2018-12-04 09:36] revskill10 commented on #27
This issue might related to original library `i18next`, not react issue.
The API is too much confusing on this.
Take for example, `intl` library, it allows explicitly set locale from anywhere you want, cookie, querystring, accept,... you have control for that.
You might need to make an issue on original library though.

[2018-12-04 09:40] kachkaev commented on #27
@revskill10 all was working for me when I just used `i18next` + `react-i18next` + custom language detectors. The latter is being discussed in https://github.com/isaachinman/next-i18next/pull/8, however even setting `defaultLanguage` option does not seem to work at the moment.

[2018-12-04 10:20] jamuhl commented on #27
@revskill10 you have full control over detection - just use no detector and pass `lng: 'yourLng'` on init options...https://www.i18next.com/overview/getting-started#basic-sample

[2018-12-04 11:21] revskill10 commented on #27
@jamuhl No, what i mean is that `'yourLng'` is a function from `(req)`, not fix string ;)

[2018-12-04 11:30] jamuhl commented on #27
https://github.com/i18next/i18next-express-middleware/blob/master/src/LanguageDetector.js#L47 but guess we drifting away from the issue here...so let's keep this here on the topic of the defaultLanguage setting not working.

It's a design decision to use the express middleware. I wouldn't say it's a fault. Support for koa, serverless,... can be sure taken into account but needs the contribution of

[2018-12-04 11:35] endigo commented on #27
I added {lng: 'mn'} option it works. But first shows English texts.

[2018-12-04 11:36] jamuhl commented on #27
@endigo that's for sure not the intended solution - let's wait for @isaachinman to have a look.

[2018-12-04 20:45] isaachinman commented on #23
Thanks for another thorough report.

In general this is going to be some sort of `shouldComponentUpdate` optimisation. In the `next-i18next` codebase, we are not doing anything except making a note of the namespace used, and then [returning the `withNamespaces` HOC directly from `react-i18next`](https://github.com/isaachinman/next-i18next/blob/master/src/hocs/with-namespaces.js#L5).

So, this migh

[2018-12-04 20:45] #23 closed

[2018-12-04 20:48] isaachinman commented on #26
This is related to the general problem of plugin use being discussed in #14. A fix will come soon(ish).

I'm using yarn `1.12.3`, by the way. No one should be committing lockfiles unless they're changing deps.

[2018-12-04 20:48] #26 closed

[2018-12-04 20:50] isaachinman commented on #27
Hi @endigo, sorry to hear you are having problems. In my projects, English is always the default language, so I haven't run into these problems yet.

Can you please create a quick reproducible example via CodeSandbox?

[2018-12-04 20:54] isaachinman commented on #27
I switched `de` and `en` in [the example](https://github.com/isaachinman/next-i18next/tree/master/example), changed my browser language to German, and opened `localhost:3000` in an incognito window. It loaded the app in German.

[2018-12-04 20:56] isaachinman commented on #27
@revskill10 Please don't discuss unrelated topics in issues. This is open source software that we develop in our free time - we are not here to engineer the perfect solution for _you_. PRs are always welcome.

[2018-12-04 20:59] kachkaev commented on #27
@isaachinman I [replaced](https://github.com/kachkaev/next-i18next/commit/c23f6b073a66a02ab52bc22474f2cb39e848b0bc) `defaultLanguage` from `en` to `de`, but Chrome still rendered `en` for me.

[2018-12-04 21:02] isaachinman commented on #25
In general, no. We rely on (i18next-express-middleware)[https://github.com/i18next/i18next-express-middleware], and need access to the express `server.get` and `server.use` functions as well as the next `app.render` function to be able to manipulate routes.

It would be great to be able to reduce down to just `req, res` as that's obviously a lot less opinionated, but it would be extremely difficul

[2018-12-04 21:02] #25 closed

[2018-12-04 21:04] isaachinman commented on #27
@kachkaev Did you do this in an incognito window with your browser language set to German?

[2018-12-04 21:08] kachkaev commented on #26
I see. I was using a different major version of `i18next` before trying `next-i18next` and actually did not realize that the issue can be simply upstream.

As of yarn I'm now not sure why those integrity diffs popped out – I do see the value in both `yarn.lock` files in the repo 🤔. The reason why I had it changed in the first place was because of adding `next-icu` to the MWE. That diff is wiped no

[2018-12-04 21:15] isaachinman commented on #14
Okay, I'm going to add this `use` array to the config. Let's leave the i18next source alone.

[2018-12-04 21:16] isaachinman opened #28 "Add use array for plugins"
Currently, users cannot implement plugins because `next-i18next` calls `.init` on the i18n instance, and plugins via `.use` must be called before `.init`.

We should  add a `use` array to the `next-i18next` config, so that we can simply do:

[code]

Note that server/client detection will remain a responsibility of the user. Implementation might look like:

[code]

[2018-12-04 21:22] isaachinman commented on #14
Progress will be tracked in #28.

[2018-12-04 21:22] #14 closed

[2018-12-04 21:33] isaachinman commented on #27
It's not magic - with `localeSubpaths`, preference is always given the route. With `localeSubpaths` enabled, the behaviour you're describing would indeed take place.

Otherwise, [i18next-browser-languagedetector](https://github.com/isaachinman/next-i18next/blob/master/src/create-i18next-client.js#L4) is used.

There might actually be a case for removing it once #28 lands, but I think it might be m

[2018-12-04 21:33] #27 closed

[2018-12-04 21:33] lucasfeliciano commented on #28
I really like this approach.
It is simple and don't have collateral effect on i18next.
Even tho I think i18next should introduce an opinionated option/API on plugin/middleware/detector level that tells where it should run would avoid a lot of boilerplate/configuration code.

But this is a topic for another time, I'm already pretty happy with the outcome of our brainstorm.

:)

I'm gonna implement

[2018-12-04 21:34] isaachinman commented on #28
@lucasfeliciano I'm already working on it, no need for a PR. I'll handle core features like this myself for the time being.

[2018-12-04 21:36] lucasfeliciano commented on #28
Perfect, thank you.

[2018-12-04 23:46] isaachinman commented on #28
Two liner solution: 14d494f.

We may in the future want to talk about removing the `.use` calls in [create-i18next-client](https://github.com/isaachinman/next-i18next/blob/master/src/create-i18next-client.js), but in my opinion they are a core part of the value added by using this package in the first place.

@lucasfeliciano, @mshahov, and @kachkaev - I would appreciate your help testing this solu

[2018-12-04 23:46] #28 closed

[2018-12-05 06:45] jamuhl commented on #23
every withNamespaces reacts to a language change and triggers a rerender. https://github.com/i18next/react-i18next/blob/master/src/NamespacesConsumer.js#L76

That's why if possible only use the HOC on pagelevel, container components and sparsely the road down - if your applications pages are huge with endless levels of nested HOCs that's a problem indeed -> so passing down `t` as props is most tim

[2018-12-05 07:50] kachkaev commented on #28
With `use`, [ICU](https://github.com/isaachinman/next-i18next/issues/26) worked for me in v0.8.0!

[code]

Now I should figure out how to use configure custom language detectors and investigate https://github.com/isaachinman/next-i18next/issues/19 🤔

[2018-12-05 08:18] kachkaev commented on #16
There are two language detectors I used to use before trying out `next-i18next`, both of them are not working at the moment. See https://gitlab.com/kachkaev/website-frontend/blob/master/src/server.ts#L11-32

My language detectors live in `server.ts` – and there is no browser-dependent logic by design. The `enforcedLocale` detector is helpful in development (`ENFORCED_LOCALE=xx yarn dev`) and `lang

[2018-12-05 09:02] lucasfeliciano commented on #16
I didn't debug it but might worth try this:

[code]

[2018-12-05 09:51] kachkaev commented on #16
Thanks @lucasfeliciano! Il’ll try this tonight or tomorrow morning :)

[2018-12-05 13:39] amrelhosseiny opened #29 "Incomplete list of options in README"
The options section in README.md state that a full list of options is :

defaultLanguage
otherLanguages
localePath
localeStructure
localeSubpaths
defaultNS
use 

But i couldn't change the language to a specific language, i.e. "en-us" instead of "en".
Exploring the default configuration at node_modules\next-i18next\dist\config\default-config.js, I found
'load' is set to  'languageOnly', so in my i1

[2018-12-05 14:20] kachkaev commented on #29
I somewhat agree. The way the [table with options](beefy packs https://concentra-analytics.visualstudio.com/_git/orgvue-js/pullrequest/1538​​​​​​​) is presented in README suggests that no other keys would change anything. But in fact, the same options get passed to I18n, which actually makes it possible to tweak quite a few things.

[2018-12-05 14:31] isaachinman commented on #29
The options tables contains those options which are _specific to `next-i18next`_.

Pretty much all other i18next options can be passed in, as you've discovered.

[2018-12-05 14:33] kachkaev commented on #29
An extra line in README stating this can be a big help for newcomers.

[2018-12-05 14:34] isaachinman commented on #29
c353671

[2018-12-05 14:34] #29 closed

[2018-12-05 14:39] isaachinman commented on #16
@kachkaev Plugins in the `use` array are definitely being called. It's most likely a configuration error. Let me know if you don't resolve it.

This issue is about _subdomain support_, not language detection in general. If you have any other problems, please open a new issue.

[2018-12-05 22:27] simofacc opened #31 "Support for custom routes and Router.push"
Hi,

I have implemented the code to switch languages but I saw an issue with custom routes and Router.push.

Does this package support either custom routes or Router.push yet?

Thanks!

[2018-12-06 09:16] kachkaev opened #32 "Usage of i18nextBrowserLanguageDetector should be optional"
I've been analyzing app bundle size and noticed that `i18next-browser-languagedetector` in the client bundle (2KB gz). Some projects may not to want this language detector, so it'd be great if it could be made an opt-in (i.e. required by the app's `i18n.js` rather than in `next-i18next`). See https://github.com/isaachinman/next-i18next/issues/16#issuecomment-444397728 for my example of an app that

[2018-12-06 09:39] kachkaev opened #33 "i18next-express-middleware should not be included to the client bundle"
I noticed that the size of my app's client bundle soared after switching to `next-i18next` from a custom `react-i18next` integration. As it turned out, the reason was that `i18next-express-middleware` ended up included into the bundle, which pulled quite a few other modules and made `_app.js` grow from 5KB gz to 123KB gz.

I tried wrapping `require()` in [create-i18next-client](https://github.com/

[2018-12-06 12:03] isaachinman commented on #31
1. This package does not support `Router.push` and probably never will. Imperative routing is up to the user, and you should be aware of the `as` property.
2. This package does not support custom routes, but possibly could in the future. At the present moment, I have no idea how we'd achieve that. Again, it's most likely best left up to the user.

To help with both, I could expose [lng-path-correc

[2018-12-06 12:03] #31 closed

[2018-12-06 12:17] isaachinman commented on #33
This is an interesting point.

In general, I wrote the package to export a single class because most of these things need to share one i18next instance. The same is true of the [express middleware](https://github.com/isaachinman/next-i18next/blob/master/src/index.js#L14).

That being said, we could add another eval [here](https://github.com/isaachinman/next-i18next/blob/master/src/create-i18next-c

[2018-12-06 12:18] isaachinman commented on #32
As far as I know, this project simply won't work without `i18next-browser-languagedetector`.

If you think that is not the case, please set up a PR demonstrating how it might function without it.

[2018-12-06 12:19] isaachinman commented on #22
Closing due to lack of response. I'll reopen if you provide a reproducible example.

[2018-12-06 12:19] #22 closed

[2018-12-06 12:36] kachkaev commented on #32
Following https://github.com/zeit/next.js/pull/5761, this project is advertised as a complete replacement of a custom `react-i18next` integration into Next.js. This suggests that users should not expect to experience any regressions and will be able to port what they've already had into the new abstraction.

If that's the case, I'm happy to help with thinking about how to achieve this. However, if

[2018-12-06 12:41] isaachinman commented on #32
By nature it is opinionated. We're using NextJs, Express, and so on.

I want to stress to you that achieving translation in a SSR app is _not easy_. It took me several weeks of deep diving to get to the current point this project is at, and I am confident when I say that this is the best solution currently available, and requires significant inside knowledge.

I do not know what you mean when you

[2018-12-06 12:41] jamuhl commented on #32
That PR more states it replaces the current sample provided - as that sample was causing to much troubles - with users having no experience in next.js nor i18next and throwing in additional complexity using redux, ... and expecting things magically to work without the need to program and understand the different parts.

So my opinion next-i18next is the way to go for new users - but in certain poi

[2018-12-06 12:43] isaachinman commented on #32
Yes, @jamuhl's point is a good one.

@kachkaev If you find a way to remove `i18next-browser-languagedetector`, it will still be enabled by default, as it is the sensible choice.

[2018-12-06 12:49] kachkaev commented on #33
Wrapping express middleware into `eval` and excluding `this.nextI18NextMiddleware` with an `if` seems to me like a half-way solution. There'll be still code with some server-side logic, which is not desired to expose on the client (see a listing in https://github.com/isaachinman/next-i18next/issues/16#issuecomment-444397728 for instance).

What if `i18n.js` just pre-configures `I18n` for both the

[2018-12-06 13:22] kachkaev commented on #32
I totally see the point of making the life of new users easier and also like the idea of zero-config tools! Making something zero-config does not imply making more advanced use cases impossible to do – `create-react-app` or `next.js` itself are truly good example of that.

Removing `i18next-browser-languagedetector` seems possible if we introduce an _optional_ config parameter (e.g. `disableBrowse

[2018-12-06 13:46] kachkaev opened #34 "Using ./ in local imports"
Me again 😅

I was a bit confused by seeing that local files are imported just like external npm modules throughout the code (e.g. `import createI18NextClient from 'create-i18next-client'` [in `index.js`](https://github.com/isaachinman/next-i18next/blob/master/src/index.js#L2)). Seeing this form of notation suggests that there exists an external npm module called `create-i18next-client`, which is n

[2018-12-06 13:48] isaachinman commented on #34
It's a babel preset and totally personal preference. Doesn't affect the end user at all. If it confuses other contributors we can reopen this.

[2018-12-06 13:48] #34 closed

[2018-12-06 13:50] simofacc commented on #31
I actually managed to fix both scenarios.

1. For Router.push I created a separate function and I am using that as the main Router.push function

`import { config, i18n } from '../i18n';
import Router from 'next/router';

class RouterHelper {
    push(href) {
        const { defaultLanguage, localeSubpaths } = config;
        let lng = null;
        if (Array.isArray(i18n.languages) && i18n.langua

[2018-12-06 13:51] kachkaev commented on #34
It confused me, which made me open the issue. I've already wasted my five minutes, so am fine with having this issue closed until someone else finds the current style hard to interpret.

[2018-12-06 14:09] isaachinman commented on #34
Because it's a matter of preference, we'll let a majority decide. If
another contributor adds their opinion, we'll readdress the issue.

On Thu, 6 Dec 2018, 13:51 Alexander Kachkaev <notifications@github.com
wrote:

[2018-12-06 14:10] isaachinman commented on #34
Because it's a matter of preference, we'll let a majority decide. If another contributor adds their opinion, we'll readdress the issue.

[2018-12-06 14:53] Sathya-Appscrip commented on #11
Still i am facing the same issue , i tried with 0.7.0 and also with 0.8.0 .....The problem is in the getinitialprops Store is missing .

[2018-12-06 15:58] Sathya-Appscrip opened #35 "appwithTranslation is not supporting SSR"
![image](https://user-images.githubusercontent.com/32590544/49595148-65543800-f99d-11e8-9d43-5b27c946c627.png)

without appwithTranslation
![image](https://user-images.githubusercontent.com/32590544/49595245-90d72280-f99d-11e8-871f-3f0c66f5e77c.png)

with appwithTranslation
![image](https://user-images.githubusercontent.com/32590544/49595276-9d5b7b00-f99d-11e8-9b87-79e515bf4370.png)

[2018-12-06 17:56] isaachinman commented on #35
First, there's no need for exclamation marks in the issue title.

Second, please provide a reproducible example via CodeSandbox. I will then do my best to debug your problem.

[2018-12-06 17:57] isaachinman commented on #11
@Sathya-Appscrip I see you opened another issue as well. It seems you're having trouble getting started in general.

Please post your question in _one place_ so that I (or others) can help you effectively.

You will need to provide a reproducible example via CodeSandbox to receive any help whatsoever.

[2018-12-06 17:59] isaachinman commented on #31
I'm glad you agree, then!

In general you're going to run into problems if you don't use [the `as` option](https://github.com/isaachinman/next-i18next/blob/master/src/components/Link.js#L37).

If you're having problems with i18next, I suggest you create a reproducible example and post on StackOverflow.

[2018-12-06 18:06] isaachinman commented on #32
How do you plan to support your subdomain with this package, though?

I can tell you straight away that we will not be forcing users to install `i18next-browser-languagedetector` separately and worry about that. I do appreciate your careful inspection of the work here, and it's now clear that we need an easy and effective pattern to allow users to opt in to certain transpiled areas.

Doing evals i

[2018-12-06 18:09] isaachinman commented on #33
This package will export an already-initialised i18n instance. That is non-negotiable and is a decision made from quite a lot of experience in this realm.

What "server-side logic" are you referring to that's being exposed to the client? The middleware [is being exposed](https://github.com/isaachinman/next-i18next/blob/master/src/index.js#L14), but that's a pretty easy fix. Is that all you're worr

[2018-12-06 18:11] jamuhl commented on #32
Personally, i would focus on the main case and leave all customization to userland...looking at the number of questions already placed here adding more options will only make people more struggle...users which like to something very different can still take this as inspiration - but having one source solving it all - looking at how long we already work on react-i18next + next i not believe in that

[2018-12-06 20:33] isaachinman commented on #33
@kachkaev When I run the example in prod mode, the `_app.js` is 4.7kb. Can you please provide a reproducible example? This issue is my top priority and I would appreciate your help. Thanks!

[2018-12-06 22:23] isaachinman commented on #33
Update: it looks like adding `next-i18next` to a project will increase your `commons` chunk by just over 400kb (no gzip). That's not great, and as I said it's my top priority now.

[2018-12-06 22:47] kachkaev commented on #32
Perhaps, `i18next-browser-languagedetector` can be declared in `next-i18next` dependencies, just not included into the bundle unless a user is requiring it in `i18n.js` as I suggested above (that’s just copy-pasting).

If `i18nextBrowserLanguageDetector` is mentioned in the `use` option, it becomes apparent that this particular detector can be replaced with something else. If so, less confusion an

[2018-12-06 22:49] kachkaev commented on #32
I’m already doing this in a local experimental branch where I’m adding a couple of server-side language detectors. I can share it over the weekend when I get some extra time.

[2018-12-07 09:18] lucasfeliciano commented on #28
Sorry for the late reply, super busy week.
I'll test during this weekend

[2018-12-08 09:47] isaachinman commented on #33
@kachkaev Check out 78ad03e.

This approach reduces the [example](https://github.com/isaachinman/next-i18next/tree/master/example) client commons bundle from 595kb to 276kb.

The raw example commons bundle without `next-i18next` is 173kb, meaning our source here is adding about 100kb of un-gzipped JavaScript to people's projects. That is an acceptable size for me (for now), but obviously can be im

[2018-12-08 10:35] #33 closed

[2018-12-08 10:35] isaachinman commented on #35
Closing due to lack of response.

[2018-12-08 10:35] #35 closed

[2018-12-08 10:55] jaqua opened #36 "Missing correct SSR support"
I think there is a need to handle the locals for server and client. Something like

[code]

Without this you get the warning `Warning: Did not expect server HTML to contain a <div> in <div>.` in dev mode.

[2018-12-08 10:56] jaqua opened #37 "Replace `eval()` as it is slower and not recommended"
Don't use `eval()` as it is not needed in this context:

- https://github.com/isaachinman/next-i18next/blob/master/src/create-i18next-client.js#L10
- https://github.com/isaachinman/next-i18next/blob/f3ba78bf610842858d057255aabd5c8b699333b1/src/config/create-config.js#L15

https://developer.mozilla.org/de/docs/Web/JavaScript/Reference/Global_Objects/eval#Don't_use_eval_needlessly!

[2018-12-08 11:09] isaachinman commented on #37
Do you understand the purpose of `eval` here? Do you have another proposal, or any desire to contribute?

[2018-12-08 11:10] isaachinman commented on #36
If you are experiencing an error or warning, please provide a reproducible example via CodeSandbox.

[2018-12-08 11:12] jaqua commented on #36
@isaachinman Please have a look at this example: https://github.com/jaqua/nextjs-app

Just run `npm run dev` and you'll see the warning in the browser log.

[2018-12-08 13:44] kachkaev commented on #33
Thanks for the update @isaachinman! I'll try out your changes this weekend (also hope to finally dig into https://github.com/isaachinman/next-i18next/issues/19 by producing a small shareable example).

[2018-12-09 09:36] kachkaev commented on #33
Given that the new version of `next-i18next` is not released, I tried cloning the repo and use `yarn link` to use a local copy of your module. For some reason, I could not make it work because of `Error while running `getDataFromTree` TypeError: Cannot read property 't' of undefined`. It seems like `<Trans>` components are no longer fed with the correct `i18n` any more that this is what is causing

[2018-12-09 10:09] kachkaev commented on #32
Here is the source code of an example website that uses `i18next` with no browser-based langauge detector: https://gitlab.com/kachkaev/website-frontend. I switched it to `next-i18next@0.8.0` yesterday and [told webpack](https://gitlab.com/kachkaev/website-frontend/blob/88911497aec89f3c797d499ba26424d798e2f02d/src/next.config.js#L26-33) to not include server-side modules into the client to minimize

[2018-12-09 10:11] jamuhl commented on #33
@kachkaev my guess: it's related to this: https://github.com/i18next/i18next/pull/1142#issuecomment-443432293 (but i'm not to deep into typescript) -> what happens is people `import * as i18n from 'i18next'` -> which gives: https://github.com/i18next/i18next/blob/master/src/index.js not a valid instance as that instance is the default export

the usage was never meant to  `import * as i18n from 'i

[2018-12-09 10:36] igorbuts opened #38 "Source of truth of the language selection"
What is the source of truth of the language selection?

In my application, I don't want to have locale subpaths. I see that the current language is stored in `cookies` - it this a source of truth?

And I don't see any  API method in docs how to change the current language programmatically (e.g when a user clicks lang switcher).

Could you please suggest how to implement what I need in the right wa

[2018-12-09 10:38] igorbuts commented on #38
Sorry, I can't add a `help wanted` label.

[2018-12-09 11:01] isaachinman commented on #38
Hi @igorbuts, that exact functionality is [in the example](https://github.com/isaachinman/next-i18next/blob/master/example/pages/index.js#L13).

It has nothing to do with `next-i18next`. This package returns you a running `i18n` instance (among other things), and using it is up to you.

[2018-12-09 11:01] #38 closed

[2018-12-09 11:02] isaachinman commented on #37
Happy to reopen if something constructive is actually offered.

[2018-12-09 11:02] #37 closed

[2018-12-09 11:03] isaachinman commented on #19
Sure, it is probably related to HOCs somehow. I'll reopen if you can reproduce it. Thanks.

[2018-12-09 11:03] #19 closed

[2018-12-09 11:16] isaachinman commented on #33
I have no idea about that error, but I don't think it's related to changes in `next-i18next`. We're not doing anything with the `Trans` component at all.

[2018-12-09 11:19] kachkaev commented on #33
@jamuhl yeah you're probably right about `import *` stuff. Looking into the [diff](https://github.com/isaachinman/next-i18next/compare/v0.8.0...f3ba78bf610842858d057255aabd5c8b699333b1) between 0.8.0 and today's master, can it be `"add-module-exports"` line in `.babelrc` to blame?

As of https://github.com/i18next/i18next/pull/1142, I'm afraid I don't know TypeScript / import / exports enough to a

[2018-12-09 11:37] igorbuts opened #39 "NextI18Next doesn't set proper default language to i18n instance"
Here is the content of my `i18n.js`

[code]

And here is the result I have: in `NextI18Next config` the right default lang is set. But in the Instance of `i18n` I see `en` as a current language

A.R `ru` is set as current language in i18n instance.
E.R. `en` is set as current language in i18n instance.

A.R  `languages  = ["en"]` in i18n instance.
E.R.  `languages  = ["ru", "en"]` in i18n instance

[2018-12-09 11:42] isaachinman commented on #39
I don't understand your question. This may be a misunderstanding of how language detection works. Is your browser language set to English?

[2018-12-09 13:04] igorbuts commented on #39
yep, the default language of my browser is English

[2018-12-09 13:05] isaachinman commented on #39
Then that is why your language is being set to English. In my opinion this is an incredibly sensible default, however you might be interested in sharing your opinion in #32.

[2018-12-09 13:05] #39 closed

[2018-12-09 13:07] isaachinman commented on #33
@kachkaev Yes, I can reproduce that error with `Trans`. It occurs locally even if I do a `git checkout` as far back as `v0.7.0`. Weirdly, if I install `next-i18next` from the npm cdn instead of locally, the error goes away (as you said).

If someone thinks this is a genuine problem with the `next-i18next` source, let me know. Otherwise let's leave it to `i18next`.

For the time being, you can test

[2018-12-09 13:20] isaachinman commented on #32
We've already discussed this request in [another issue](https://github.com/isaachinman/next-i18next/issues/33#issuecomment-444971804):

@kachkaev I believe your use case is far outside the normal use of this package, so of course you're going to run into issues. For certain advanced use cases, I will always recommend you hand roll your own solution. Feel free to use this package as inspiration, or

[2018-12-09 13:20] #32 closed

[2018-12-09 13:56] kachkaev commented on #32
I'm not sure that adding `config.browserLanguageDetection` and doing `eval("require('i18next-browser-languagedetector')")` on the browser side is a working solution – webpack does not know how to resolve `eval`. So the only option to exclude `i18next-browser-languagedetector` is not to mention it in any `next-i18next` code and let the users import it in their `i18n.js`.

I also can't agree that a

[2018-12-09 13:59] kachkaev commented on #32
BTW: instead of `eval("require('something')")` you can use `eval('require')('something')` ([Prettier folks do that](https://github.com/prettier/prettier/blob/cdcb7b11c9afc850ab24420407144772983eefee/src/main/parser.js#L47)). This saves you from nested brackets and makes syntax highlighting a bit better.

[2018-12-09 14:00] isaachinman commented on #32
I believe it is. Please inform me if it's not. I tested in prod mode and noticed a reduction of 6kb.

Doesn't matter - it's possible with `next-i18next` now.

What exactly is lost? I implemented the exact functionality that this issue requested.

[2018-12-09 14:14] kachkaev commented on #32
It is still impossible to add language detectors in `server.js`, because by the time `nextI18NextMiddleware()` is called, `i18n` is already initialized. As a result, the only choice is to put _server-only_ language detectors into `i18n`, which adds their logic to the browser bundle and unnecessary exposes it to the users. It's not only about a few extra bits in the bundle, but also about the intel

[2018-12-09 14:19] igorbuts commented on #39
Thanks. Will stay tuned.
If I've understood #32,  `browser-language detection` will be still turned on by default, but it will be available to opt-out from it. Right?

[2018-12-09 14:33] kachkaev commented on #32
Thinking about this a bit more, I'm getting more convinced that `i18next-browser-languagedetector` is not needed in Next.js apps and can only bring harm. Exactly as you say @isaachinman, if the client-side language value differs from the whatever server-side language detector has resolved and put into `initialLanguage`, the website will flash in one language and then switch to the other. I can't i

[2018-12-09 14:35] kachkaev commented on #32
This brings us back to to the idea of injecting language detectors in `server.js`, not `i18n.js` 🤔 But now this applies to language detectors of _any_ kind.

[2018-12-09 19:55] isaachinman commented on #32
That's a more or less irrelevant point, as you cannot use this module _at all_ without first initialising a new class. Class construction is just an implementation detail, and makes sharing context a bit easier. We could just as easily refactor the codebase to be entirely functional.

It seems like bad design to me intuitively.

More concretely, I think we'd run into problems wherein translations

[2018-12-09 20:47] kachkaev commented on #19
The reason why I was getting an empty store in the first project was simple: I was importing `withNamespaces` directly from `react-i18next` instead of from my local `./i18n.js`😅

Hope this investigation helps future users 😉 Please not that it's `react-i18next@0.8.0` at the time of writing.

[2018-12-09 21:32] isaachinman commented on #32
@kachkaev Feel free to open an issue regarding this server side stuff and lazy initialisation. However, I need to think long and hard about if/how we can accomplish that. I don't want to derail an otherwise solid project just to support advanced use cases.

[2018-12-09 21:44] kachkaev opened #40 "Browser bundle includes namespaces that are unrelated to a given page"
Not sure if it's an upstream bug or not, but I've noticed that the size of `initialI18nStore` grows as the website is warming up. Opening any page for the first time adds dependent namespaces to the source of all other pages viewed later. If a website consists of quite a few pages, the overall size of `initialI18nStore` can grow rather big and thus diminish the benefits of splitting translations i

[2018-12-09 21:52] isaachinman commented on #40
Yes, I noticed this bug awhile back but haven't gotten around to it. Simply put, `nsFromReactTree` is being held in memory on the server instead of being cleared for each render. It's a simple fix: 0115cee.

Worth noting that you store you were receiving on `/second-page` was also erroneous in that it contained the `common` and `footer` namespaces when it should not have.

[2018-12-09 21:54] kachkaev commented on #40
Thanks for a very quick fix @isaachinman 🎉  Would you be happy to release some new version so that I could give it a try? I wish I could just run your lib from `master` using `yarn link`, but as I mentioned previously, this does not work.

[2018-12-09 21:56] isaachinman commented on #40
@kachkaev It would be fantastic if you could write some test cases to help this project develop and release quicker. I am nervous to release some of the recent changes without a proper second opinion.

[2018-12-09 21:57] isaachinman commented on #40
See #18.

[2018-12-09 22:01] kachkaev commented on #40
It's the end of the weekend and I'm running out of time to go for anything new, unfortunately 😪  I can help a bit with the tests next weekend if things go as planned. I would not worry too much about breaking things at such an early stage of the library lifecycle, especially when it comes to releasing alpha versions. _Iteration over perfection_ 😉

[2018-12-09 22:02] isaachinman commented on #40
It's not about perfection, but rather critical breaks. I'd rather not scare off new users. That would be very helpful if you do have time next weekend!

[2018-12-09 22:08] kachkaev commented on #32
The benefit of any package named `next-***` is the same in all cases: it reduces the size of the boilerplate. Adding `nextI18NextMiddleware(...)` to `server.js` and `nextI18next.appWithTranslation(...)` to `_app.js` has reduced the number of lines for me dramatically, which is awesome! 🎉  From my previous experience, a Next plugin named `next-%SOMETHING%` usually tries to support all the flavours

[2018-12-09 22:13] isaachinman commented on #32
No plans to do that. The main purpose of this package is to support a fully SSR SPA out of the box, where language changes _can_ be fully SPA, including translation fetching and routing (no hard document requests ever). There is currently no other package that supports such a thing, anywhere (as far as I know). As @jamuhl mentioned, we can't support proper synchronisation between browser and serve

[2018-12-09 22:47] kachkaev commented on #32
Totally with you here. What I'm suggesting by making the use of `i18next-browser-languagedetector` explicit in `i18n` to fix https://github.com/isaachinman/next-i18next/issues/16 and to allow for disabling cookies / uri params as means to alter the locale and free some space in the browser bundle. This is why I'm suggesting to change `i18n` the following way:

[code]

Same stuff as now, just an ex

[2018-12-09 22:56] isaachinman commented on #32
You're missing the point. `i18next-browser-languagedetector` is required for the default functionality of this package, so we're not going to remove it as a dep and have the majority of users reinstall it.

Yes, that's true. We also support projects which do not do any sort of route-to-locate mapping at all (the most basic of use cases).

Feel free to submit a PR. We've already discussed subdomain

[2018-12-10 10:17] jamuhl commented on #32
My point - most users do not care about the 8kb (or whatever https://bundlephobia.com/result?p=i18next-browser-languagedetector@2.2.4 -> 2kb gzipped nothing) the detector adds to the bundle - they are happy things work without having to dig deep into it.

What i miss: what is "common sense" - currently, this looks like replacing an opinionated solution with another opinionated solution - does it a

[2018-12-10 15:35] isaachinman commented on #40
Hi @jamuhl - yes of course `req.i18n` is the beginning of the story. That's not the hard part.

The hard part is: how do we append an array onto `req.i18n` which we can push into from [_within_ the `withNamespaces` hoc](https://github.com/isaachinman/next-i18next/blob/master/src/hocs/with-namespaces.js#L4) (ie within a React tree) and also [be able to access the filled array in the `getInitialProp

[2018-12-10 15:39] isaachinman commented on #32
@kachkaev You have argued your point passionately, and at length.

To be clear, I'm not worried about breaking changes whatsoever at this point.

Perhaps in the future we'll split `i18next-browser-languagedetector` out of the bundle to save 6kb, but it's not going to happen now. For now all deps will remain in a single package.

The main point is that the _functionality_ is now optional, and peopl

[2018-12-10 15:42] isaachinman commented on #32
I am open to breaking changes and all suggestions.

**Please, keep issues limited to a SINGLE topic. If you have a new suggestion, open a new issue.**

[2018-12-10 15:59] jamuhl commented on #40
Not sure but if remember it right the past sample had that built-in...

[2018-12-10 16:00] jamuhl commented on #40
Anyway i'm sure you come up with an elegant solution

[2018-12-10 16:00] isaachinman commented on #40
The past sample was broken in exactly the same way described here, because it took the same approach.

I appreciate your confidence! This one will be tricky.

[2018-12-10 16:06] jamuhl commented on #40
Not sure but you got req.i18n there https://github.com/isaachinman/next-i18next/blob/master/src/hocs/app-with-translation.js#L57

And only issue is: not passing that here: https://github.com/isaachinman/next-i18next/blob/master/src/hocs/app-with-translation.js#L94

my guess would be initialProps handled so props.i18n would be req.i18n if set here: https://github.com/isaachinman/next-i18next/blob/m

[2018-12-10 16:17] kachkaev commented on #32
Before I open a new issue with the "functional" API proposal, are you happy with the following lines in `i18n.js`?

[code]
`i18next-browser-languagedetector` can be installed as a dependency to `next-i18next`, which will save newcomers from installing the second package. However, the presence of an explicit `import` that they'll blindly copy-paste will solve the bundle size problem right away.

[2018-12-10 16:20] isaachinman commented on #32
Let's not go in circles any longer.

[2018-12-10 18:01] isaachinman commented on #40
Spent over an hour looking into this and didn't really get anywhere.

Finally caved in and [asked for help](https://spectrum.chat/?t=7251bee1-de42-4dac-8964-33bf077e0514. Hopefully @timneutkins is aware of something I haven't found - this might not even be specific to NextJs...

[2018-12-10 23:12] pippo111 opened #41 "Error: Cannot find module 'next-i18next/middleware'"
I followed every step in configuration, have the same setup for `server.js` and `i18n.js` but still getting this error whenever I try to run `yarn dev`:

[code]
This is my `server.js`:

[code]

and these are package versions:
[code]

What else needs to be done to run it ?

[2018-12-10 23:17] isaachinman commented on #41
Apologies, the master branch documentation has gotten ahead of the current release (v0.8.0) and I had not realised that npm links back here.

I'm releasing v0.9.0 now, please try again in a few minutes.

In the future we'll need to keep releases on branches due to this documentation problem, I suppose.

[2018-12-10 23:17] #41 closed

[2018-12-11 00:07] isaachinman commented on #41
@pippo111 Would appreciate if you can let me know if everything goes smoothly!

[2018-12-11 10:34] pippo111 commented on #41
@isaachinman Thank you! After updating to v0.9.0 everything is working as expected.

[2018-12-11 10:36] isaachinman commented on #41
Great, I am sorry for the inconvenience. I hope the package saves you some time and headache.

[2018-12-11 11:19] kachkaev opened #42 "Make module API more functional, mitigate conflicting config options"
Following the discussions in https://github.com/isaachinman/next-i18next/issues/33, https://github.com/isaachinman/next-i18next/issues/32 and https://github.com/isaachinman/next-i18next/issues/16, I crafted a couple of examples that demonstrate how the usage of `next-i18next` could look like if the API was made more functional and less dependent on the config.

https://github.com/kachkaev/next-i18

[2018-12-12 11:42] isaachinman commented on #42
Thanks, this is interesting work. I would consider some of this for a 1.x release, but currently core problems like #40 are taking top priority.

[2018-12-12 15:39] isaachinman commented on #40
Happy to report that I think I've found a much more sane, workable solution.

I finally stumbled across [react-tree-walker](https://github.com/ctrlplusb/react-tree-walker), which seems to be well-written, well-maintained, and an absolute godsend for our use case here.

Instead of creating a modified `withNamespaces` HOC and [trying to keep track of a component tree's namespace deps there](https://

[2018-12-12 16:06] isaachinman commented on #40
@kachkaev Would you mind doing some quick testing to ensure that this solution does indeed solve the original problem.

We're coming ever closer to a production-ready release.

[2018-12-12 16:07] isaachinman commented on #40
Released in v0.10.0.

[2018-12-12 16:33] kachkaev commented on #40
I don't have an opportunity to check `<Trans />` from work, but you are free to add it to the example and figure out if it's broken in the latest version. Alternatively, I can do this myself later in free time.

If you are registered on GitLab, I can temporary invite you into a private project – just drop me an email with your login. My [open-sourced mini-website](https://gitlab.com/kachkaev/websi

[2018-12-12 16:43] #40 closed

[2018-12-12 20:05] isaachinman opened #46 "Query params break SSR/routing with localeSubpaths"
To reproduce:

1. In `example` subdir, enable `localeSubpaths`
2. Try to hard load `localhost:3000/de/second-page?hello=world

[2018-12-12 20:31] kachkaev commented on #40
I could not kick off my mini-website after upgrading from 0.8 to 0.10, unfortunately.

Here's the terminal output during SSR:

[code]

Changes I've made: https://gitlab.com/kachkaev/website-frontend/merge_requests/6/diffs

All is fine on master 🤔

[2018-12-12 20:32] isaachinman commented on #40
You should be importing the default export, not `*`.

[2018-12-12 20:35] kachkaev commented on #40
That's what I was successfully doing in 0.8.0. In 0.10.0, `import NextI18next from "next-i18next"` this gives me

[code]

[2018-12-12 20:43] isaachinman commented on #40
[Example](https://codesandbox.io/s/pkok345r2q).

[2018-12-12 20:57] kachkaev commented on #40
If I understand things correctly, CodeSandbox is client-side only. In my case, the exception is raised on the server. This may be to do with [babel-plugin-add-module-exports](https://www.npmjs.com/package/babel-plugin-add-module-exports) introduced in https://github.com/isaachinman/next-i18next/commit/da40a3e7020613de5c2345adb871b4e556f16389#diff-e56633f72ecc521128b3db6586074d2cR16 – I can't think

[2018-12-12 21:01] isaachinman commented on #40
Without `babel-plugin-add-module-exports`:

[code]

With `babel-plugin-add-module-exports`:

[code]

It's additive, not a replacement. If you believe this is the issue, please test by simply removing `babel-plugin-add-module-exports` from the `.babelrc` and running `yarn build`.

[2018-12-12 21:04] isaachinman commented on #40
Again: **please open a new issue for each new topic, instead of adding unrelated discussion to other issues.**

[2018-12-12 21:35] isaachinman commented on #40
If your problem is with v0.9.0, it is not related to this issue.

This is an open source project. If you find a bug or problem, you should:

1. Search issues for similar problems
2. Open a new issue if appropriate
3. Try to debug it yourself, if appropriate

I don't see what that error stack has to do with 2386bf2, you're going to need to explain that if you want to be understood.

[2018-12-12 22:03] isaachinman commented on #40
Usage of `Trans` was reported as faulty [apparently as far back as v0.8.0](https://github.com/isaachinman/next-i18next/issues/33#issuecomment-445528924). It's very hard to maintain OSS when issues become ramble-y, cover too many topics, etc.

If you think there's a problem with usage of `Trans`, **open an issue**.

If you think there's a problem with the export syntax, **open an issue**.

If you t

[2018-12-12 22:48] isaachinman opened #47 "Trans component only works if i18n is explicitly passed in"
Following reports in #33 and #40, I've investigated the use of `Trans` in `next-i18next` projects, despite our codebase not touching it - the component comes directly from `react-i18next`.

It _does_ appear there's a genuine issue here, and it appears it's related to context.

To explain very concisely:

[code]

I created a branch called [trans-comp-broken-context](https://github.com/isaachinman/n

[2018-12-13 07:14] jamuhl commented on #47
@isaachinman i guess it's not related to next-i18next - but not yet sure why this happens...there is some wild context providing/consuming by the nature of an optional Provider (each NamespaceConsumer acts as a Provider too - so might be somewhere it gets messy with updating: overall using the `reactI18nextModule` before i18next.init seems more reliable.)

Will need to create a pure react sample a

[2018-12-13 09:16] isaachinman commented on #47
@jamuhl I can try to reproduce with just React as well. This is a server side exception, though. Do you think there might be multiple i18n instances somehow, and that's the root of the problem?

Enjoy your holidays first and foremost!

[2018-12-13 13:31] jamuhl commented on #47
just tried to reproduce here: https://github.com/i18next/react-i18next/blob/master/example/react/src/index.js#L14 with changing to using the provider and removing use reactI18nextModule...but no luck...like you said might be a serverside thing only...

[2018-12-13 18:57] Clebal commented on #11
Hello @isaachinman, I don't know if it's exactly the same problem, but I'm having an error using next-redux-saga and next-redux-wrapper with next-i18next but only in production. I've made a CodeSanbox: https://codesandbox.io/s/v8796vz3m5. The error appears also using react-redux 6.0.0 (in the sandbox i'm using 5.1.1). Hope it helps. Thank you.

[2018-12-14 08:39] kachkaev commented on #40
I don't remember reporting an issue with Trans in 0.8.0, the comment you point to does not state that.

Here are the latest tests for `yarn dev` in https://gitlab.com/kachkaev/website-frontend/merge_requests/6 (assuming I'm using `const NextI18next = require("next-i18next").default || require("next-i18next")`, which seems to be a necessity after [da40a3e7](https://github.com/isaachinman/next-i18ne

[2018-12-14 11:11] isaachinman opened #51 "Upgrade to i18next@13.0.0 and use Promise API"
Promise support was published in i18next@13.0.0:

https://github.com/i18next/i18next/pull/1130#issuecomment-447238178.

[2018-12-14 11:22] yonjuukyuu opened #52 "Export with withNamespaces messing with SSR"
Hi there, i have setup i18next with SSR and is working fine for me on dev, but on production the pre-rendering of the page with fetch isomorphic-unfetch and getInitialProps is not working as expected.

everything is been rendered on client , and i wanted to render on server and deliver as html, which if i remove the export withNamespaces to the default export of nexus.js it works fine bu then tran

[2018-12-14 12:13] Clebal commented on #52
I'm having an error also in production, but I think it's due to using next-redux-saga and next-redux-wrapper with next-i18next. I've made a CodeSanbox: https://codesandbox.io/s/v8796vz3m5. The error appears also using react-redux 6.0.0 (in the sandbox i'm using 5.1.1). Hope it helps. Thank you.

[2018-12-14 14:12] KhodorAmmar opened #53 "middleware is removing the query"
the code in the middleware that adds the lng param is essentially removing all other queries

`app.render(req, res, url.replace("/".concat(lng), ''), {
        lng: lng
      });
`

For example:

`/page?foo=bar` will pass the req query object { foo: 'bar' }, but if you go to `/ar/page?foo=bar` the query object will become { lng: 'ar' }.

Instead the middleware should **add** the lng

`app.render(r

[2018-12-14 20:37] isaachinman commented on #11
Hey @Clebal, thanks for providing a CodeSandbox. Unfortunately I'm getting a weird 502 error right now.

Do you mind sharing a repo with me, and explaining the exact error/problem you are experiencing?

I will take a look as quickly as possible. Thanks for your patience.

[2018-12-14 20:40] isaachinman commented on #52
Hi @yonjuukyuu and @Clebal.

@yonjuukyuu Do you mind explaining your problem a little bit more, or sharing a repository / CodeSandbox to reproduce the issue? I don't really understand what you are saying so far. Do you mean that you're doing `next export`?

What does this mean?

I'm not familiar with "isomorphic-unfetch" but I doubt that is affecting your `next-i18next` implementation.

Basically

[2018-12-14 20:41] isaachinman commented on #52
@Clebal I am still getting a 502 on your CodeSandbox (don't know if they're down or what). But let's keep the discussion of your problem to the original issue, #52.

[2018-12-14 20:45] isaachinman commented on #53
Do you mean [this line](https://github.com/isaachinman/next-i18next/blob/master/src/middlewares/next-i18next-middleware.js#L18)? It's not quite the same as what you copy/pasted above... Not sure where that came from.

Do you not think it's useful to have the lang as a key in the query object? We specifically _need_ to pass the lang query with `as` to Next so that it understands the route.

If all

[2018-12-14 21:07] jdaude commented on #52
Hello Isaac

I have the same issue without any dependency like he mentioned, just try to export width your example form this repo, export doesnt work anymore, there is what my terminal shows :

TypeError: Cannot read property 'router' of undefined

I updated from v.0.8.0 to v0.10.2

Thanks

[2018-12-14 21:13] isaachinman commented on #52
What do you mean export? Do you mean running `next export`?

If someone provides _clear steps to reproduce the problem_, I can definitely debug this. However, I should be absolutely clear that doing a `next export` misses the entire point of this package and is not advised at all. You'll end up with a clientside-only app. If you want to export, I suggest simply creating your Next routes/pages manu

[2018-12-14 21:37] kachkaev commented on #42
The proposed API layout could easily support `next export` too. Here is a modified [example from Next's `README`](https://github.com/zeit/next.js/#usage):

[code]

Internationalising `next export` does not make sense for `@next-i18next/based-on-user` (browser langauge detector), but can work pretty well for `@next-i18next/based-on-path`. It can also work out for ``@next-i18next/based-on-host` – ei

[2018-12-14 21:38] isaachinman commented on #11
Thanks @Clebal.

This is related to `react-tree-walker` (probably context related) and #49, #40. Unfortunately we're seeing a lot of context-related bugs.

Please bear with me as I look into it.

[2018-12-14 21:41] isaachinman commented on #42
To be clear, the proposed changes are not related to support of `next export` - this is possible regardless. There's plenty else to focus on with this package, and supporting static exports isn't at the top of my list at the moment. It's certainly a "nice to have", though.

[2018-12-14 21:45] kachkaev commented on #42
I'm just sharing my thoughts for future – no attempts to re-prioritise your work whatsoever  @isaachinman 😉

AFAIK, `next export` simply takes a built version of `next`, kind of starts the server and 'visits' all pages in the given path map. The result is dumped to a filesystem, that's it. There is a chance that I misunderstand the process, sorry if so.

[2018-12-14 21:57] isaachinman commented on #11
So the problem in this case is that you've wrapped both your `_app.js` and child components with Redux decorators that require/depend upon specific context, and then we attempt to [render the tree in a "plain" way without that context](https://github.com/isaachinman/next-i18next/blob/master/src/hocs/app-with-translation.js#L75), thus causing the break.

I am in no way tied to use of `react-tree-wa

[2018-12-14 21:59] isaachinman commented on #42
Number 1 priority remains tree walking and context issues. Until we come to a solid solution for that, this project is at a stand still.

Thanks for your proposals, we will revisit this in the (near, hopefully) future.

[2018-12-14 22:08] isaachinman opened #54 "Context is broken with react-tree-walker"
Creating this issue so that we have one place to discuss potential solutions.

I recently added `react-tree-walker` to this package so that we can traverse React component trees to determine the exact namespaces required to render that tree correctly. This allows us to do SSR in the most efficient way possible.

However, it seems that there are several context-related issues with `react-tree-walke

[2018-12-14 22:09] isaachinman commented on #11
Let's continue discussion in #54.

[2018-12-14 22:09] isaachinman commented on #40
Let's continue discussion in #54.

[2018-12-14 22:11] isaachinman commented on #47
Probably related to #54.

@jamuhl I'm not sure how "expert" you feel you are with React, but we could use a second opinion!

[2018-12-14 22:13] kachkaev commented on #54
This might be stupid idea, but can we just traverse the tree until the first `withNamespaces` and use those values as reference? Users will be advised that a top-level `withNamespaces` for a page has to enumerate all namespaces that are going to be used in the initial render. Or is even this impossible if someone's using context inside `_app.js` HOCs?

[2018-12-14 22:18] isaachinman commented on #54
No, that's not what we'll do. Older versions of this project, which existed only as "examples" in the `react-i18next` repo, took a similar approach. I'd rather users be able to wrap _any_ React component with that components exact namespace deps, and have the tree deps worked out at runtime.

There are many cases where a tree's deps could change:

    {loggedIn ? <LoggedIn /> : <LoggedOut />}

Whe

[2018-12-14 22:19] isaachinman commented on #54
Ideally I'd like to traverse the tree _without_ rendering, but I'm not sure if such a thing is even possible.

[2018-12-14 22:30] kachkaev commented on #54
My intuition suggests that something similar to Apollo's `getDataFromTree` is the only option really when it comes to proper tree traversal. Without a full-blown rendering there seems to be no way to resolve things like `{loggedIn ? <LoggedIn /> : <LoggedOut />}`, because `loggedIn` can come from context and it is not know which if the two components will be a child until `render()` is called for

[2018-12-15 00:19] revskill10 commented on #54
This is my thoughts on this issue.
First of all, this is `next-i18next` , not `react-i18next`, so i'd love to have an implemenation which uses `next.js` features, like `getInitialProps`.
In my projects which uses Apollo, `getDataFromTree` always get around 1.6-2x slower performance in comparison to `getInitialProps` .
So the ideal solution might be something explicit like `getInitialProps` to reso

[2018-12-15 01:42] KhodorAmmar commented on #53
Yes that’s the line. I copied from the built version instead. I can handle the PR, I’ll send it today, thanks!

[2018-12-15 08:57] Nelrohd commented on #54
In case of someone wonders: Redux wasn't working with `react-tree-walker` so I had to revert to 0.9.0 to make my app working again.

Note: I'm posting it anyway. I saw the same [suggestion](https://github.com/isaachinman/next-i18next/issues/11#issuecomment-447491189) from @isaachinman after I checked the changelog.

[2018-12-15 10:31] Clebal commented on #54
@isaachinman I've just read what you commented. It's true that using 0.9.0 there's no problem. Take the time you need to fix it. Thank you for your rapid response and your patience.

[2018-12-15 10:42] kachkaev commented on #54
That's probably a very expensive compromise to make. When I was using [react-intl](https://github.com/yahoo/react-intl), the main reason for me to switch to `i18next` was exactly the ability to have multiple namespaces and only fetch those that make sense on a given page. Pushing all i18n data to the client can add hundreds of kilobytes or even megabytes of gzipped javascript to the initial load a

[2018-12-16 17:01] #53 closed

[2018-12-16 17:12] isaachinman commented on #54
So in this case, every page which has a namespaces in their getInitialProps returning will get its namespaces to load.

This again misses the point... Having to declare namespaces explicitly is not something I want to force users to do. It will be a pain to maintain, and as shown in examples above, there are many cases where you'd end up loading namespaces you don't even need.

It's JSON, _not_ Ja

[2018-12-16 17:59] isaachinman commented on #54
I've created a branch called [namespace-dep-order-of-execution](https://github.com/isaachinman/next-i18next/tree/namespace-dep-order-of-execution).

If you clone it and do `yarn && yarn run-example:prod` and load up `localhost:3000`, you'll see that the `withNamespaces` calls happen _before_ the `getInitialProps` calls. That is because of the specific function signature of `withNamespaces`, and mi

[2018-12-16 18:43] kachkaev commented on #54
From your own [recent comment](https://github.com/isaachinman/next-i18next/issues/54#issuecomment-447495745):

[2018-12-16 18:47] isaachinman commented on #54
Yup.

Given the choice between:

1. Tree walking, reduced performance
2. Manually declare namespace deps at page-level

What does everyone want? If we're not going to proceed with tree walking, there's no point trying to fix these context issues.

[2018-12-16 19:15] isaachinman commented on #52
Any update here?

[2018-12-17 09:03] isaachinman commented on #54
After having a think about it, I am going to end up asking users to define required namespaces on the page level after all. Unfortunately it seems like any other solution is going to make life unpredictable/buggy for end users, and extremely difficult for maintainers.

Most likely I'll be expecting users to return a `namespacesRequired` array from `pageProps` on their page-level components. If thi

[2018-12-17 09:45] yonjuukyuu commented on #52
Will try to push it to a repo. today

[2018-12-17 10:01] kachkaev commented on #54
What if a modified version of `withNamespaces()` simply returns a component with `getInitialProps` method? This method will only be called for a page-level hoc because it's Next-specific.

Sending down all namespaces if some condition is not met does not solve the problem, it simply hides it. It may seem that this "default" mode can protect a newcomer from some extra cognitive load, bit in fact it

[2018-12-17 10:06] isaachinman commented on #54
This is how the old example used to work, and is not something I want to do. A HOC should do _one_ thing - they're already hard enough to reason about. The `withNamespaces` HOC shall declare a component's namespace dependencies. The new `namespacesRequired` array shall inform the server which namespaces to send down to the client. It would be confusing if `withNamespaces` had to perform both tasks

[2018-12-17 11:04] isaachinman commented on #54
Tree walking approach abandoned with v0.11.0 (5570346). See [README](https://github.com/isaachinman/next-i18next#4-declaring-namespace-dependencies) for updated docs.

[2018-12-17 11:04] #54 closed

[2018-12-17 11:07] MathiasKandelborg commented on #54
Having a SSoT for the different settings, on a per-app basis really should be a given and therefore it makes sense to have a file that dictates which combintations of namespaces are used.

For context: I'm implementing i18n, material-ui, Apollo and GA at the same time, my plan is to eventually make it OSS as a full-stack 'starter kit', as it's coupled with a local Prisma backend and I've created a

[2018-12-17 11:10] isaachinman commented on #54
@MathiasKandelborg Thanks for adding your opinion here. Although, I didn't really understand it... You're saying you are in support of declaring `namespacesRequired`?

User opinions are very much appreciated, and in fact influence the direction of this project as it's still quite young and there are some core issues to iron out.

[2018-12-17 11:13] isaachinman commented on #47
I've reverted the tree-walking approach with v0.11.0, but am still seeing this bug.

Here's the specific exception:

[code]

The stack trace points to:

[code]

So it seems this `tFromContextAndProps` is not defined, thus falling back to `i18n`, which is also undefined. It definitely appears to be a context issue, despite there being a provider further up the tree.

[2018-12-17 11:20] MathiasKandelborg commented on #54
I'm sorry for being unclear, I deleted some of the text, as the issue got closed, as it would be empty arguments. I tried cutting it down to the relevant parts but I'm notorious for not being particularly explicit.

Yes, I'm in favor of using `namespacesRequired`, actually so much so that I just cheered when I realized that I have a legit reason to use getInitialProps on all my pages!

Basically,

[2018-12-17 11:48] isaachinman commented on #54
8aad1ff

[2018-12-17 11:53] kachkaev commented on #54
@isaachinman that's a useful addition, thanks! Also WDYT of warning users of missing namespaces when they've defined too few? At the moment, when a namespace is missed, the page will flash, but it won't be clear why. A warning can be added when i18next renders things on the client for the first time  (or within ≈1-5 seconds) and notices a need to fetch more namespaces. Of course, this can be a dev

[2018-12-17 11:56] isaachinman commented on #52
I can confirm that `export` should be fully functional with the new approach taken from v0.11.x onwards.

I want to reiterate that doing `next export` and then serving static HTML with `next-i18next` completely misses the point of this package - SSR.

That said, it's simple enough to support export, so if you do find an issue please let me know and I'll reopen.

[2018-12-17 11:56] #52 closed

[2018-12-17 11:57] isaachinman commented on #4
As no one has ever requested this feature, I'm going to close the issue. We can reopen in the future if people start to want a `withI18nRouter` HOC.

[2018-12-17 12:00] isaachinman commented on #54
@kachkaev That's a more complicated proposal, because we'd need to hook into `withNamespaces`, and we'd need to ensure that we're inside a hard load and not a route transition. I'd accept a PR for it if it seemed like a sound implementation but it's not something I'll personally look into at the moment.

[2018-12-17 12:21] MathiasKandelborg opened #56 "Error message on missing namespacesRequired calls twice, second time with undefined Component.displayName"
The title says it all, I'll leave the duplicate messages here:

[code]

I define displayName on all my components, and I'm using decorators for `withNamespaces` in TS and are wrapping the page component with a `withStyles` HoC.

This issue might be resolved be reordering the HoC structure of my app. But... I thought this might be an issue somewhere else, as the message is rendered correctly first,

[2018-12-17 12:32] isaachinman commented on #56
It's probably a 404 on the favicon, or something similar? If you don't mind debugging, it should be very easy to figure out what's going on.

Duplicate messages fine - we're often going to see multiple renders in dev. Undefined shouldn't happen, ideally.

[2018-12-17 12:36] kachkaev commented on #56
The second error might be coming from `_error.js`, which always gets pre-fetched.

[2018-12-17 12:38] revskill10 commented on #54
Thanks @isaachinman for this direction. I love this very much, as it's very easy to integrate i18n to any existing Next.JS project without breaking anything. Because it's just `getInitialProps` after all, no magic hidden for user to debug.

[2018-12-17 12:48] kachkaev commented on #47
Interestingly, but `<Tans />` component works for me in https://gitlab.com/kachkaev/website-frontend/merge_requests/6. That's a TypeScript project, which suggests some discrepancies between `common.js` modules and `esnext` modules somewhere in i18next ecosystem.

`react-i18next` has [multiple exports](https://github.com/i18next/react-i18next/blob/c47412fac6aeb215df3f4dbf9ba86fc255163697/package.js

[2018-12-17 12:50] MathiasKandelborg commented on #56
It has been resolved on my end, by adding displayName to my `_error.tsx` (in which I'd actually forgotten to add `withNamespaces`).

Simply adding displayName to my already made `_error`page solved the double rendering.

[2018-12-17 13:12] MathiasKandelborg commented on #54
Oh, I just thought of something! Opt-out of the message, "some people like to see the world burn and hate to get reminded to get a fire extinguisher all the time".

It would be great to turn off the messages via a boolean setting. This would enable the exact dev experience one would like. Anyways, Opt-in seems like a good solution to this problem none has had yet.

[2018-12-17 13:38] jamuhl commented on #47
@kachkaev that can be...not easy to get es modules, commonjs and typescript under one hat.

[2018-12-17 13:44] dayze opened #57 "Did not expect server HTML to contain a <h1> in <div> in example and our project"
I'm trying to integrate next-i18next in our project, but I encountered the following message:
[code]

I tried to use the example in the next-i18next project and on "second-page", I've got the same error message
[code]

**Steps to reproduce the error**
[code]
Go to localhost:3000
click on "to second page"
reload the page

### The key files in our project

**My server.js**
[code]
**My i18n.js**
[cod

[2018-12-17 14:01] isaachinman commented on #57
@dayze What version of `next-i18next` are you on?

[2018-12-17 14:09] isaachinman commented on #56
Yeah, I can't reproduce the undefined `displayName` in the example. The double render happens though - not sure why.

[2018-12-17 14:09] #56 closed

[2018-12-17 14:18] dayze commented on #57
Hi @isaachinman,
Currently on ```^0.10.3```

[2018-12-17 14:19] MathiasKandelborg commented on #54
Hmm, I'll see if I'm able to find some time to contribute (and can figure things out haha). This is a core feature of my own work and I'd love to help if possible.

I'll be sure to add a feature request no matter what, I'm just on my way out atm so it's first due later/tomorrow.

The strict mode seems like a great thing to have. I personally always go all-in on safeguarding everything I do (beside

[2018-12-17 14:20] #57 closed

[2018-12-17 14:21] isaachinman commented on #57
Yes, that's correct. Sorry about that - `next-i18next` is still a relatively unstable pre-production project with ongoing rapid development.

[2018-12-17 15:21] dayze commented on #57
No problem, thanks for your work !

[2018-12-17 21:20] isaachinman commented on #47
Where does the issue lie? Inside `next-i18next` or `react-i18next`?

[2018-12-18 07:32] jamuhl commented on #47
in typescript 😂 - no somewhere in i18next, react-i18next - but sadly no typescript user ever could tell me what to do to get it right for them without breaking the world for non typescript users...

[2018-12-18 09:36] isaachinman commented on #47
@jamuhl Did you see the [broken branch I created](https://github.com/isaachinman/next-i18next/blob/trans-comp-context-broken/example/pages/index.js#L16)? It's not working in the `next-i18next` example, and that contains zero typescript.

[2018-12-18 09:58] jamuhl commented on #47
@isaachinman yes...but could that not reproduce on non serverside -> so not really sure where it comes from?!?? as v10 will completely remove using context i guess this won't be a problem there...might currently be safer to `.use(reactI18nextModule)` instead of Provider - as i'm sure the issue is related to context...but never got to deep into why.

[2018-12-18 10:04] isaachinman commented on #47
You mean when initialising the `i18next` instance? Is there an example of this somewhere? How would this get passed to `NamespacesConsumer` and `Trans` without a provider?

[2018-12-18 10:18] jamuhl commented on #47
sample: https://github.com/i18next/react-i18next/blob/master/example/react/src/i18n.js#L15

it's a set/get (https://github.com/i18next/react-i18next/blob/master/src/context.js#L26)...only drawback you can't have multiple instances in one app

[2018-12-18 10:19] isaachinman commented on #47
Yes, but how do we handle `initialLanguage` and `initialI18nStore`?

[2018-12-18 10:43] jamuhl commented on #47
Yes, but how do we handle initialLanguage and initialI18nStore?

Hm...that is done in the Provider - my guess is as it only gets missed somewhere deeper in the tree out of unknown reason doing both is safe

[2018-12-18 10:53] isaachinman commented on #47
Okay. When does v10 land, do you think?

[2018-12-18 11:09] jamuhl commented on #47
fully depends on https://reactjs.org/blog/2018/11/27/react-16-roadmap.html 16.(7)

[2018-12-18 15:40] kachkaev commented on #47
Using a version of `<Trans />` that's provided by `next-i18next` is the right way to go IMO, so thanks for solving the problem this way @isaachinman! If the library docs do not require to install `i18next` / `react-i18next` packages, there should be no imports directly from them such as for `Trans` (otherwise, linters won't like it). In future, `next-i18next` can just return the original `Trans` c

[2018-12-18 23:23] anthonywebb opened #58 "access content in multiple namespaces"
I wanted to verify that it is possible to get data from multiple namespaces, and if so how that is accomplished?

The index page of the example appear to try and do this https://github.com/isaachinman/next-i18next/blob/master/example/pages/index.js

The confusion I has was that withNamespaces() never attempted specify 'footer', that was only in the namespacesRequired() above.  Is this correct?

[2018-12-18 23:47] isaachinman commented on #58
Sorry, can you explain what you mean?

Yes, for whatever namespaces you declare in `namespacesRequired`, those namespaces will be loaded for that page, both on the client and server. It doesn't matter how many.

`withNamespaces` provides namespaces to the _component that it wraps_. However, `namespacesRequired` provides the total available namespaces to the _entire React tree_. Does that make more

[2018-12-19 09:22] isaachinman commented on #42
So, this a nice wish list, but there some problems, and some things would just be prohibitively hard to achieve. When responding, it would be helpful to use the numbers below so that it's clear which feature request we are discussing.

1. **Splitting into multiple npm packages:** this will not happen anytime soon. This requires significant infrastructure changes. This project is still young, and i

[2018-12-19 10:30] nico29 opened #59 "Cannot have it work with with-apollo nextjs example"
Hello.
First of all thank you for this really cool project 🍪
I am having a hard time making SSR work with this plugin and Apollo Client, following [the official example](https://github.com/zeit/next.js/tree/canary/examples/with-apollo).
I created the HOC for Apollo and then in my `_app.js` I am doing `export default appWithTranslation(withApollo(MyApp))`.
Still when running `getDataFromTree` the H

[2018-12-19 10:39] isaachinman commented on #59
Hi @nico29, I think you need to convert that CodeSandbox into a "container" project so that it can execute Node code.

In general it might be true that we should spread the remaining object out and pass it into the `getInitialProps` calls. I've done that with 24f5d6a and just release v0.12.1. Can you try that out?

[2018-12-19 10:48] nico29 commented on #59
Thank you @isaachinman for the uber quick answer !
I installed the latest version (0.12.1) and now I got the issue I mentioned regarding the i18nOtions.
Here is the stacktrace:

[code]

I'll try to get that container running ASAP.
Thank you.

[2018-12-19 10:52] isaachinman commented on #59
Oh, right! Interesting.

This is because `apollo` is running `getDataFromTree`, which is similar to our own tree-walking implementation, which I recently abandoned for several reasons. You can read more in #54. Basically, the context is broken (not provided).

I'm not sure if `apollo` is going to be compatible with `react-i18next` at all... But I do think other users mentioned that they have proje

[2018-12-19 10:54] isaachinman commented on #59
@MathiasKandelborg Do you have a working example of `next-i18next` with `apollo`?

[2018-12-19 11:18] nico29 commented on #59
@kachkaev @isaachinman thanks.
So I tried swapping the two HOC. Now effectively the error does away, but I still have no content in the body. Just the empty next root div.

[code]

[here](https://github.com/nico29/nexti18next-apollo-sample) is a sample repo

[2018-12-19 11:33] isaachinman commented on #59
@nico29 I don't think I'm going to be able to help with that, it seems like an `apollo` issue. If you look in the HTML returned, you'll see the `initialI18nStore` is there and looks correct. Which means `next-i18next` is doing its job.

[2018-12-19 11:37] isaachinman commented on #51
f57fa62

[2018-12-19 11:37] #51 closed

[2018-12-19 11:40] ushastikchb1 opened #60 "Persist language subpath across requests (especially to root) with localeSubpaths enabled"
Hello
I wanted to ask whether you can somehow implement this behavior:

1. User came to / page (default language ru)

2. The user has changed the language in <select> to en. Route changed to /en/

3. User left and came back to /

1. User came to / page (default language ru)
2. The user has changed the language in <select> to en. Route changed to /en/
3. User left and came back to /

In stage 3, th

[2018-12-19 12:02] nico29 commented on #59
@isaachinman okay thanks.
But even if the `initialI18nStore` is correctly filled, there is no HTML with the content. Am I missing something for this ?
I'll ding into the `getDataFromTree`

[2018-12-19 12:02] isaachinman commented on #60
Funny, I just got the same request from my team internally yesterday.

Yes, this is certainly possible but will require changes in the core of `next-i18next`. It's not currently possible with the `localeSubpaths` option for end users.

What you're proposing is respecting the current language over the path - the current implementation of `localeSubpaths` assumes that if a users lands on a route (ei

[2018-12-19 12:20] MathiasKandelborg commented on #59
I do have an example, I'm just in the middle of converting everything to hooks before releasing a starter kit. I'm also sick so I mostly do some reading and watching videos.

You know what? I'll take a quick shower to get on top, then I'll release what I've got.

@nico29 From what I can see, the only difference I have when initializing Apollo, is checking for `process.node`:

[code]

Other than th

[2018-12-19 12:35] MathiasKandelborg opened #61 "Developer experience / "Strict mode""
As we all know, it's extremely nice to have all the information we need, available when coding. It saves a lot of time when we don't need to look up the possible settings or get reminded that we are using the default (not so prod-friendly) settings.

So with that in mind, I'd like to start a conversation about how the DX should be with next-18next. Next.js is already super nice when it comes to DX

[2018-12-19 12:37] isaachinman commented on #59
@nico29 For some reason, `tReady` is not `true` in this app. That's triggering `NextStaticProvider` to return `null`. I'll look into it.

[2018-12-19 12:43] isaachinman commented on #61
Great, thanks for opening this.

Most likely it will be good to add a `console-message.js` util that we can reuse. I would expect that to export default a function that looks like:

[code]

Wherein `messageType` is an enum of `info, warning, error`.

This is probably also an appropriate time to pull in some pretty-print package for NodeJs. It's been awhile since I looked through them, but there ar

[2018-12-19 12:46] isaachinman commented on #59
@nico29 Check the [options table](https://github.com/isaachinman/next-i18next#options). The default value for `defaultNS` is `"common"`. Since you don't have a namespace named `"common"`, the server was trying to load it and failing, thus `tReady` was returning `false`.

If you don't have a `"common"` namespace, you need to set your `defaultNS` to something else. I cloned your repo and set `defaul

[2018-12-19 12:46] #59 closed

[2018-12-19 12:59] nico29 commented on #59
@isaachinman Thank you so much. That solved it all!
Also thanks to @MathiasKandelborg and @kachkaev
Merry Xmas to all :)

[2018-12-19 15:30] anthonywebb commented on #58
This  makes sense, thanks for the clarification!

[2018-12-19 15:55] kachkaev commented on #42
Thanks for sharing your thoughts @isaachinman – I'll respond when I have more time to think on your comments. Meanwhile, could you please update the numbering in your reply so that it matched the items in my original list? I just replaced UL with OL there. _Next export_ becomes number 11, not 10.

No rush with issue I guess. It's all about about the strategy, so I'm fine with a slow conversation p

[2018-12-19 17:23] cklll opened #62 "Getting 404 when using localeSubpaths and next-route for dynamic routing"
Hi, I am not sure if it is my setup issue or the 2 packages are conflicting..

I have a `product.js` under `pages/` directory
I am support 2 languages with these pattern
[code]
However, only the default route (en) works
This is my setup

routes.js
[code]

i18n.js
[code]

server.js
[code]

I have read the documentation of both pacakges and tried lots of combination for `routes.js`, but still can't

[2018-12-19 18:12] isaachinman commented on #62
As far as I know, you're the first person to try and integrate `next-i18next` with `next-routes`. Compatibility is absolutely _not_ supported, and I doubt they will work well together.

I can look into this sometime in the future, but please don't expect much.

[2018-12-19 18:44] bobsingor commented on #62
I'm interested in this feature too. @isaachinman is there another way to do dynamic routing?

[2018-12-19 21:44] isaachinman commented on #62
To my knowledge there is no good way of doing custom routing with `localeSubpaths`. I'm not sure how that would ever work. If you need custom/dynamic routing, you are likely better served by rolling your own `react-i18next` implementation instead of using this package.

I would be happy to work on this and try to support custom routing, but I would need a bit of direction as to where to even start

[2018-12-20 03:17] vimutti77 opened #63 "Custom localePath is not work when navigate or change language"
I use next and express to create server. I use next-i18next to create multilingual web app.
I have project structure
[code]
And file i18n.js
[code]
Everything work fine on page start. But when I navigate to other page with `Link` provided by this lib or change language with `i18n.changeLanguage(i18n.language === 'en' ? 'fr' : 'en')}`. The new language is not loaded properly.

I found that the serv

[2018-12-20 03:49] vimutti77 commented on #63
I have found the solution. just use express.static to map static path to target path like
[code]
And problem is now gone.

[2018-12-20 03:50] #63 closed

[2018-12-20 09:14] EvgeniySokolov commented on #62
We are interested in this feature as well.
Basically, I was fighting yesterday all day long to make next-i18next work with next-route. However, I ended up in the same results as cklll described.

[2018-12-20 09:18] EvgeniySokolov commented on #62
Do you think I can support you somehow?

[2018-12-20 10:50] isaachinman commented on #63
That's correct. That's just a next/express problem, and has nothing to do with `next-i18next`.

[2018-12-20 11:00] isaachinman commented on #62
Hi @EvgeniySokolov. If someone provides me with a repository that demonstrates the most basic attempt to use `next-routes` with `next-i18next`, I can take a look at what specifically is not working between the two packages.

However, `next-i18next` supporting `next-routes` usage _probably_ entails us tracking changes to that project and responding accordingly, etc. This is something I am not inter

[2018-12-20 14:36] kachkaev commented on #63
I had the same error when setting things up for the first time. By defining `localePath: 'blah'` I expected that things would just keep working both on the client and the server. But as it turned out, the client was still fetching translations from `/static/locales`, which returned 404. My solution was to create a symlink inside `/static/` to `blah` and things began working again. Perhaps, if `loc

[2018-12-20 14:37] isaachinman commented on #63
PRs are always welcome.

[2018-12-20 14:40] kachkaev commented on #63
I've reflected on this problem in https://github.com/isaachinman/next-i18next/issues/42, which I'd like to discuss first before submitting the PRs with fixes 😉  Will get back to you when I've got some time.

[2018-12-21 13:37] MathiasKandelborg commented on #61
I have made a fork and some commits, for now, I've tried pretty-error which seems really nice, popular(support) and probably has the functionality needed.

I've followed your orders somewhat and created a function called createConsoleMessage which is default exported. I've also created JSDoc comments for the code, I'll just paste it here to properly explain what the function does:
[code]

Does thi

[2018-12-21 18:34] isaachinman commented on #61
Hi @MathiasKandelborg, thanks for getting a chance to look into this.

In general, I would prefer this pattern:

[code]

Wherein `traceLimit` could be provided inside the options object. This will allow us to add new options in the future without having to worry about breaking changes with argument order, etc.

In my opinion, strict mode should be enabled by default, and users can opt _out_ of it.

[2018-12-21 19:46] capellini opened #64 "Properly set namespace on client"
If a user sets their own `defaultNS` in their custom configuration, these changes are not properly propagated to `ns` if we are client-side.  See https://github.com/isaachinman/next-i18next/pull/48#pullrequestreview-185426858.

Pull request forthcoming.

[2018-12-21 20:02] capellini opened #65 "Throw in lngPathCorrector if allLanguages does not include currentLanguage"
See https://github.com/isaachinman/next-i18next/pull/48#pullrequestreview-185428897

PR forthcoming

[2018-12-22 12:44] thebat93 opened #68 "Ability to provide config for i18next-express-middleware"
Hi! Thanks for the great library!

I'm experiencing the following problem:
The first request that I send to the Express server sets the language cookie correctly.

![image](https://user-images.githubusercontent.com/29524634/50374478-12ff5200-0600-11e9-88ca-a6491535e9f4.png)

But other requests to internal URLs that include "_next" in their route set the incorrect cookie afterwards.

![image](https

[2018-12-22 13:08] Kingsley-Don commented on #62
@isaachinman I try to make it work and here is an example:

https://github.com/isaachinman/next-i18next/compare/master...Kingsley-Don:dynamic-routing

Try to run the example and directly access `http://localhost:3000/de/second-page/something`.

I don't think it's a great way, but it does work and may provide a way of thinking.

[2018-12-22 18:41] isaachinman commented on #61
It would be nice not to have to pass `config.strictMode` into every single console message... But the only way I can think to do that is to really lean into this class-based approach and set `this.createConsoleMessage` on the class, so that the config is automatically accessible.

I'm really not sure if I'll continue using this class-based method in future versions of `next-i18next` - might abando

[2018-12-22 18:46] #64 closed

[2018-12-22 18:47] #65 closed

[2018-12-22 18:57] isaachinman commented on #68
Very strange, I remember writing [this regex](https://github.com/isaachinman/next-i18next/blob/master/src/middlewares/next-i18next-middleware.js#L14) to fix that exact issue.

Moreover, I cannot seem to reproduce this bug in the [example](https://github.com/isaachinman/next-i18next/tree/master/example):

![screen shot 2018-12-22 at 18 55 53](https://user-images.githubusercontent.com/10575782/50377

[2018-12-22 18:59] isaachinman commented on #62
Sorry @Kingsley-Don, I meant can someone provide a repository where they tried to set up `next-i18next` with `next-routes` and it broke. I want to see what exactly about the two codebases is incompatible.

[2018-12-23 11:31] thebat93 commented on #68
Thank you for your answer. Here's the minimal setup that I'm using: https://github.com/thebat93/next-i18next-example

I think the problem is that I'm not actually using localePaths. For my project I need to have a locale subpath for the default language too with redirections from paths without locale subpaths in them. When I set localePaths to true the regex that you mentioned is applied and the c

[2018-12-23 12:31] isaachinman commented on #68
@thebat93 Thanks - quick fix with 54f26f2.

In the future we might want to use a `req, res, next` middleware to validate the `ignoreRoutes` setting on `i18next-express-middleware` as this will still be a problem for people using custom routes for assets, etc.

I think to do this we'd need the full list of page routes. As per [this comment](https://github.com/zeit/next.js/issues/3351#issuecomment-3

[2018-12-23 12:31] #68 closed

[2018-12-23 18:49] thebat93 commented on #68
Thanks for the quick fix. Unfortunately it resolved the problem only with routes that have '/_next' and '/static' in them, but I also have routes that start with '/fonts' and '/v0'. These routes still mess up the cookie.

[2018-12-24 10:07] thebat93 commented on #68
I did, but I don't see how it applies to the problem that I need to solve now. The cookie is still set incorrectly. If I use i18next-express-middleware and add ignoreRoutes for '/_next', '/static' and '/fonts' everything works as intended. I just wish there was a way to configure the middleware in your library. Right now I can't fully apply it to my case and have to use the middleware for Express.

[2018-12-24 10:43] ldbglobe opened #69 "localeSubpaths generate TypeError in force-trailing-slash.js"
I just try to run the source example with localeSubpaths  set to true

Here is my i18n.js (only change made)

[code]

And then, each page load result in lots of warning in the shell

[code]

--- (the full trace is too long and not really usefull) ---

Page generation still work and translation are in place, but kinda worry about all those warnings about a missing i18n object

https://github.com/is

[2018-12-24 11:07] isaachinman commented on #69
Ah, this is related to #68. Those errors are presumably throwing on non-next requests, because `req.i18n` in indeed now undefined due to [this](https://github.com/isaachinman/next-i18next/blob/master/src/middlewares/next-i18next-middleware.js#L11) recent addition.

[2018-12-24 11:08] ldbglobe commented on #69
Additionnal problem => lot's of assets loads returing header 500 on each page load

![image](https://user-images.githubusercontent.com/1027535/50397993-85913e80-0774-11e9-8ec1-49bf2a20a4bb.png)

[2018-12-24 11:08] isaachinman commented on #69
That's not an additional problem, that's the same problem. Fix coming shortly.

[2018-12-24 11:10] ldbglobe commented on #69
Enjoy your work ! and your reaction time
Thk's

[2018-12-24 11:11] isaachinman commented on #69
@capellini It'd be good for us to somehow test execution of some clientside JavaScript to ensure that the example isn't broken like this. Any interest in setting up e2e/smoke testing?

@ldbglobe No problem, thank you for your patience. This project is still young and I'm still working out some kinks.

[2018-12-24 11:16] isaachinman commented on #69
Fixed and released in v0.14.3.

[2018-12-24 11:16] #69 closed

[2018-12-24 12:35] isaachinman commented on #69
@ldbglobe Can you let me know if the issue is resolved on your end?

[2018-12-24 15:58] capellini commented on #69
@isaachinman - sure thing...do you have any preferred packages?

[2018-12-24 16:01] ldbglobe commented on #69
No more issue 👌

My project build without localeSubpaths at first work just fine now with the option activated.

Thanks a lot for your amazing plugin !

[2018-12-25 21:37] wk93 commented on #62
I passed ```next-routes``` request handler function into into middleware and I think it works.

[code]

[2018-12-26 20:15] isaachinman commented on #62
@wk93 That's a very interesting approach! Can you provide a demo repo?

[2018-12-27 07:57] anthonywebb opened #70 "CURL fails unless a fallbackLng is specified"
If you run this example and try to curl or make a postman request to the server (any route) it will return an error

[code]

This is because no fallbackLng is specified when you init.

https://github.com/isaachinman/next-i18next/blob/32f9bdeb93c8e86da178ae13fee2b92c7f58a942/example/i18n.js#L3

[2018-12-27 08:03] anthonywebb commented on #68
@thebat93 I am very curious where you added ignoreRoutes?  I'd like to ensure that '/_next', '/static' and '/fonts' are not being processed for my app as well!

[2018-12-27 08:10] isaachinman commented on #70
Hi @anthonywebb. The `fallbackLng` is specifically [not set](https://github.com/isaachinman/next-i18next/blob/master/src/config/default-config.js#L11) in development. This is because you can get false positives if you're testing in the language that is already your fallback language - it's better to see things broken in dev than have your server silently falling back and appearing to function corr

[2018-12-27 08:14] isaachinman commented on #68
@anthonywebb There's currently no way to do this in `next-i18next` - I assume that @thebat93 meant they were rolling their own implementation.

I can add an options object to the `nextI18NextMiddleware` function, and allow users to pass in routes to ignore. I suppose that's the only sensible thing to do for now. Besides `/static` and `/_next`, it's not safe to ignore any route by default.

[2018-12-27 08:14] thebat93 commented on #68
It's not possible to provide the config object with ignoreRoutes to the middleware using this library.
But you can simply process all the routes that you need to ignore before passing them to the nextI18NextMiddleware.

So, something like this:
[code]

[2018-12-27 08:15] isaachinman commented on #68
I'll be releasing a fix momentarily.

[2018-12-27 08:17] anthonywebb commented on #70
Fair enough, my server also acts as an API proxy for JSON requests to get data from our api server.  So I do that proxy testing in postman or curl, not sure I like hitting a url on my server and barfing a 500 for a route that loads fine in a browser. But the project is yours so feel free to accept/reject the PR.

Thanks again for a great project.

[2018-12-27 08:59] anthonywebb commented on #68
Thanks @thebat93 @isaachinman this will be great.  The interim fix of just including the middleware after the routes that you want to ignore is fine for me so no rush.

[2018-12-27 09:08] isaachinman commented on #68
309ed4b

[2018-12-27 09:11] isaachinman commented on #68
Released in v0.15.0.

[2018-12-27 09:15] isaachinman commented on #70
I think in this case I'd rather users see translation failure than get a false positive, as I mentioned. I do believe your use case is relatively rare, and is of course fixable by adding your `fallbackLng` in. Worth noting this error only occurs in dev - your prod environment should be fine.

I think I will leave this out of the example for now - rather keep things as simple as possible instead of

[2018-12-27 09:15] #70 closed

[2018-12-28 10:03] congaductq commented on #60
Any update?

[2018-12-28 10:21] isaachinman commented on #60
Hi @congaductq - the update is that I'm waiting for people to express their opinion, so that I can get a sense of what the majority of users might like. Is this something you would like as a default?

[2018-12-28 10:30] congaductq commented on #60
Hi @isaachinman,

I think users would like to save the the last language they chose.

More technically:
1. User go to home page: `/` (en)
2. User change to other language like `/ru` (ru)
3. The next time user visit, web will be directed to `/ru`

Thanks for your help!

[2018-12-28 10:51] isaachinman commented on #60
@congaductq and @ushastikchb1 Do either of you have an ongoing project that you can test this in? I'd like to work on a fix for this on a separate branch and have a couple devs test it before we start thinking about merging to master.

@capellini Any idea if it's possible to cover this behaviour with tests? I've never tested against cookies before but assume it's straightforward.

[2018-12-28 10:58] ushastikchb1 commented on #60
@isaachinman  There is a local project in which I can test

[2018-12-28 21:15] kachkaev opened #72 "namespacesRequired are not loaded for fallbackLng"
After converting one of my apps from just a `react-i18next` example to `next-i18next`, I noticed a rendering glitch in one place when a non-default language is chosen. As it turned out, I simply forgot to add one translation string for that language. The reason why the bug did not show itself before was because `fallbackLng` was successfully leveraged. After the switch, `initialI18nStore` stopped

[2018-12-29 15:04] isaachinman commented on #72
Hi @kachkaev, happy holidays to you.

Yes, I think we should indeed be loading in the namespaces in the fallback language if it's not the same as `initialLanguage`. It's not just about fallbacks in the case of user error (failure to translate) - sometimes applications specifically want certain content to be in English (for example), even on foreign lang pages.

[2018-12-29 15:09] isaachinman commented on #72
Interestingly, I cannot seem to reproduce this in the example. If I create a translation key only in English and then load the German version of the page, the fallback is correctly inserted during SSR.

Can you please provide a reproducible example?

[2018-12-29 15:43] isaachinman commented on #60
@ushastikchb1 I'm not sure why you are doing [this](https://github.com/ushastikchb1/next-i18next-test/blob/master/server.js#L16) or [this](https://github.com/ushastikchb1/next-i18next-test/blob/master/next.config.js#L3). If I disable those two things, it works fine.

[2018-12-29 15:45] #60 closed

[2018-12-29 17:12] isaachinman commented on #72
Yes, I will need a reproducible repo that I can test/fix with. No rush. Thanks!

[2018-12-30 10:18] isaachinman commented on #72
@kachkaev I believe 463520a fixes your problem, but I still need a reproducible example.

We will need to cover this behaviour with tests once we write a suite for the `app-with-translation` HOC.

[2018-12-30 10:20] isaachinman commented on #62
@cklll Did you have a chance to try @wk93's method?

[2018-12-30 10:20] isaachinman commented on #61
Hey @MathiasKandelborg, and happy holidays. I assume you are out of the office. If you'd like me to take care of this one, just let me know.

[2018-12-30 17:40] Nelrohd opened #74 "Refactor to Typescript"
Hello,

Just as a reference for later since I didn't find one ticket dedicated to typescript.

Thanks.

[2018-12-30 18:35] kachkaev commented on #74
Hi @Nelrohd! You can find some thoughts in #42 (there is currently a TS compatibility issue with what i18n.js exports)

[2018-12-31 00:02] isaachinman commented on #74
As I've stated in various places, I prefer to have single issues for single bugs / feature requests. Let's discuss Typescript support here.

Thanks @Nelrohd, we're looking forward to your suggestions and assistance!

[2019-01-02 13:31] MathiasKandelborg commented on #61
Hey @isaachinman! Happy holidays, I hope you had some great times and didn't blow anything up on new years eve :slightly_smiling_face:

I've just submitted a PR with your recent additions. I'm sorry for the delay, I hope the code is fine as is. The codeclimate app seems to have caught some invalid errors. Let me know if I should fix them

[2019-01-02 14:59] isaachinman commented on #58
Hi @mengqing, please remember that `next-i18next` is built on top of [react-i18next](https://github.com/i18next/react-i18next).

You can check the [withNamespaces docs here](https://react.i18next.com/components/withnamespaces). Basically, you would do:

[code]

[2019-01-02 21:50] slissner opened #76 "Link to index route/page does not work after page refresh"
Following scenario:

The user has navigated to a page/route other than the index route:

For instance: `http://localhost:3000/contact`

On this page, there is a "back" button to the index page/route:

[code]

Bug:

If I refresh the `/contact` route and then click on the button, nothing is happening (thus the route does not change as expected to the index route). On the contrary, if  I navigate fro

[2019-01-02 22:14] isaachinman commented on #76
Funny, I did mean to include a link back to the index from `second-page` in the example, but it appears I forgot until now, with b6a9659.

Anyways, I've updated the example with this exact behaviour and cannot reproduce the bug. Please provide a reproducible repo that I can debug with.

[2019-01-03 09:33] isaachinman commented on #76
Hi @slissner, any update?

[2019-01-03 09:33] isaachinman commented on #72
Hi @kachkaev, any update?

[2019-01-03 09:34] isaachinman commented on #62
Closing due to lack of activity, happy to reopen this at any time. I would imagine that @wk93's approach probably works.

[2019-01-03 09:34] #62 closed

[2019-01-03 10:18] slissner commented on #76
Hi @isaachinman thanks for your quick reply and trying to reproduce the issue.

I believe, without having been able to spent too much time with analysis, that the problem stems from hot module replacement.

See for example: https://github.com/zeit/next.js/issues/5598

I am receiving the following error in the console: `Warning: Did not expect server HTML to contain a <noscript> in <div>.` (see htt

[2019-01-03 10:18] #76 closed

[2019-01-03 14:12] isaachinman commented on #69
Basic e2e testing added with 08b0449.

[2019-01-04 01:26] haoict opened #77 "getInitialProps is called twice"
Hi.
As title above, I created codesandbox. Please take a look.
https://codesandbox.io/s/l2838zpq1q

[2019-01-04 01:53] duongkimngoc commented on #77
same issue here 😢

[2019-01-04 06:45] tkow commented on #74
I locate this definition file in my project as the library is external module.

[code]
This can be applied with some modifications as internal modules' definition.
I think we can do it split this to dist/middleware/index.d.ts and next-i18next/index.d.ts and change declare to export .

[2019-01-04 09:36] Nelrohd opened #78 "Unsupported language showing as initial language if detected by browser"
## Expected Behavior
My browser has currently has vietnamese, english then french languages however my application is setup for english and french language. From that, I expect to see my website in English.

## Actual Behavior
My website is in english but shows vietnamese as current language.
<img width="336" alt="screen shot 2019-01-04 at 4 27 28 pm" src="https://user-images.githubusercontent.com

[2019-01-04 21:12] devrasec commented on #77
sadly I have the same issue

[2019-01-04 21:33] isaachinman commented on #77
So, it seems like this is not related to any Redux HOC, although it appears using the Redux HOC is causing the `getInitialProps` on the `_app.js` component to get swallowed or otherwise not run.

I'm still seeing two `Index::getInitialProps` logs even after removing the `withRedux` HOC.

When submitting a bug report, it's very helpful to try and narrow it down to the simplest possible reproducible

[2019-01-04 21:39] isaachinman commented on #77
So - `getInitialProps` is being called twice because _you're calling it yourself_. You don't need to execute the `if (Component.getInitialProps)` clause - we're already doing that internally within `next-i18next`.

I believe this was just a case of misunderstanding and copy/pasting from docs. Let me know if this is clear, and if anyone thinks something should be changed.

[2019-01-05 05:37] haoict commented on #77
@isaachinman  thank you for your reply.
If I remove ```getInitialProps``` of _app.js, I'm still seeing two ```Index::getInitialProps``` logs.
It means if I don't override ```getInitialProps``` of _app.js.  This problem still happens.

Here: https://codesandbox.io/s/l2838zpq1q

[2019-01-05 05:48] haoict commented on #77
@isaachinman
I think the problem is not related to `withRedux` anymore, but only `appWithTranslation`.
I removed all redux related things, and still seeing two `Index::getInitialProps` logs

https://codesandbox.io/s/l2838zpq1q

[2019-01-05 06:15] bgold0 opened #79 "Keep getting: "You have not declared a namespacesRequired array on your page-level component: undefined""
I keep getting the following error but I feel like I have `namespacesRequired` on all my page level components.

Can someone help figure out where this is actually talking about so I can get to the bottom of it?

[2019-01-05 10:53] isaachinman commented on #79
If you provide a reproducible example (repo), I can help debug. Thanks!

[2019-01-05 11:04] isaachinman commented on #77
So: both `Component` and `WrappedComponent` have their `getInitialProps` function called within our `appWithTranslation` HOC, and weirdly it seems that both are being called onto the `index.js` level instead of once on `_app.js` and once on `index.js`.

If I explicitly do declare a `getInitialProps` on the `_app.js` level that doesn't contain another `getInitialProps` call, the problem does go awa

[2019-01-05 11:07] isaachinman commented on #74
I have not previously used Typescript on any significant projects, but will very soon be beginning professional work with it. I'd prefer to wait on this for awhile, and potentially properly convert the whole project.

Until then, if someone does want to create a PR with typings that does not affect any of the codebase, I'd happily accept it.

[2019-01-05 11:40] isaachinman commented on #77
I created a branch called [do-not-hoist-getInitialProps](https://github.com/isaachinman/next-i18next/tree/do-not-hoist-getInitialProps) which I think fixes this problem.

However, I'm worried that it's also a regression and will break #11. Can a Redux user please test that branch with your `compose` / `connect` HOC usage and let me know if everything works?

[2019-01-05 11:43] isaachinman commented on #78
Sorry - what exactly is the bug here? You don't want to see `vi` in `i18n.language`? If anything, you'll probably want to open this issue in [react-i18next](https://github.com/i18next/react-i18next/) as it seems like an issue on that side of things.

You'll notice that the `languages` array contains `en` too. This means that i18next is _trying_ to serve the client Vietnamese, but is falling back t

[2019-01-05 11:43] #78 closed

[2019-01-05 15:19] Nelrohd commented on #78
@isaachinman it should not show `vi` as `language` but `fr` or `en`. Is it still a `react-i18next` issue?

[2019-01-05 15:33] bgold0 commented on #79
@isaachinman I appreciate that. Is there a simple way to debug myself? Doing some sort of console to to figure out what file it is talking about or something of that nature?

My repo is quite big so it'll take me some time.

[2019-01-06 07:50] kachkaev commented on #72
Hi @isaachinman! Sorry for a slow response, I'm still in the process of returning back to reality after the winter holidays 😅

I also believe that https://github.com/isaachinman/next-i18next/commit/463520acf274928df73b8e2dc709b65a2915b85c solves the issue – you got it right! Here's an MWE:
https://github.com/kachkaev/next-i18next/tree/issue-72-reproduction
(the branch is on top of 0.16.0, before y

[2019-01-06 11:02] benpetsch opened #81 "3 bugs (fallback language, redirection error, defaultLanguage as subpath)"
Thanks for working on this simple solution for internationalization.
I'm encountering three bugs or at least unexpected behaviours.

Priority of questions for me (1., 2., 3.). Maybe those issues are related, for the reason of my missunderstanding.

----

My config:
[code]

----

### 1. browserLanguageDetection without fallback

**Expected behaviour:**

Browser language is: 'fr'
Request for `http:/

[2019-01-06 11:07] isaachinman commented on #81
If you believe you have found three bugs, please open three different issues.

[2019-01-06 11:10] #72 closed

[2019-01-06 11:11] benpetsch opened #82 "browserLanguageDetection without fallback"
**Expected behaviour:**

Browser language is: 'fr'
Request for `http://localhost:3001/faq` should be redirected to `http://localhost:3001/fr/faq`.

Because  'fr' is not present within 'defaultLanguage' or 'otherLanguages' configuration, I expect a fallback to 'fallbackLng'. This should result in `http://localhost:3001/en-us/faq` or `http://localhost:3001/faq` (with en-us language).

**Actual behav

[2019-01-06 11:12] benpetsch opened #83 "redirection error after changing language in browser path"
**Expected behaviour:**

Browser language is: 'de'
First request for `http://localhost:3001/faq` is redirected to `http://localhost:3001/de/faq` -> 200 OK.
Second  request for `http://localhost:3001/an/faq -> 200 OK.

**Actual behaviour:**

Browser language is: 'de'
First request for `http://localhost:3001/faq` is redirected to `http://localhost:3001/de/faq` -> 200 OK.
Second  request for `http://

[2019-01-06 11:13] benpetsch opened #84 "defaultLanguage not working as subpath"
**Expected behaviour:**

A configuration like this:
[code]

should enable those routes:
[code]

**Actual behaviour:**

The shown config above does result in:
[code]
With `browserLanguageDetection: true` the page does automatic redirect to `myapp.com/<DETECTED_LANGUAGE>`. For me it is not possible to get `myapp.com`. Therefore defaultLanguage is not available for user (unless detected by browser).

[2019-01-06 11:13] #81 closed

[2019-01-06 11:18] isaachinman commented on #79
We'd need to track down the component itself, not the URL. It looks like in your case the URL is just a hot update because you're in dev mode. Perhaps console log the entire component class and see what it is? It might be the NextJs error page.

[2019-01-06 11:58] isaachinman commented on #82
Secondly, this is a very important point - good catch. I am working on a fix as we speak.

[2019-01-06 12:11] isaachinman commented on #82
Fixed with 50bf6c8. Released in v0.17.0.

[2019-01-06 12:11] #82 closed

[2019-01-06 12:14] isaachinman commented on #84
@benpetsch This is [explained in the README](https://github.com/isaachinman/next-i18next#5-locale-subpaths). Presently, we are not creating a locale subpath for the default lang. If you'd like to help get this functionality merged, feel free to check out the long-standing PR: #24.

[2019-01-06 12:14] #84 closed

[2019-01-06 12:16] isaachinman commented on #83
Not sure I understand this one. Can you please provide a reproducible example (repo)?

[2019-01-06 12:17] isaachinman commented on #78
Yes, `next-i18next` is not setting `language` or `languages`, that's all i18next territory.

[2019-01-06 14:02] andylacko opened #85 "Link href object"
Hello, how to handle Link that looks like this (with object):

[code]

I get error: Failed prop type: Invalid prop `href` of type `object` supplied to `Link`, expected `string`.

am I not getting something, or it hasn't been implemented?

[2019-01-06 14:10] isaachinman commented on #85
Hey @andylacko, thanks for pointing this out. In fact we just converted our own internals to use URL objects with v0.17.0. We definitely need to add support for `href` objects.

[2019-01-06 15:15] andylacko commented on #85
thank you a lot 👌

[2019-01-06 15:41] andylacko opened #86 "Translation usage outside React components"
Hello, I didn't find how to use t() function inside for example redux action file, something like import t from 'i18n' and then use as in components, is it possible to use it outside component with withNamespaces defined?

[2019-01-06 15:52] isaachinman commented on #86
The `NextI18Next` class has an entire `i18n` instance on it. Perhaps you should ask this question in the `react-i18next` repo, it's not specific to the source code here. I'm afraid I don't have an answer for you, except that you probably shouldn't need to imperatively translate content.

[2019-01-06 15:52] #86 closed

[2019-01-06 15:54] isaachinman commented on #86
@andylacko It seems you can use the `t` func directly off the `i18n` instance:

[code]

[2019-01-06 16:18] andylacko commented on #86
oh, great, it works 👌 Thanks for replying here, I know this is not stackoverflow...

[2019-01-06 19:04] isaachinman commented on #61
Initial implementation fixed with #75.

[2019-01-06 19:04] #61 closed

[2019-01-06 19:05] isaachinman commented on #16
Closing due to lack of activity/requests. Can reopen if people really want, but this probably falls outside the scope of `next-i18next` as different subdomains breaks SPA architecture anyways.

[2019-01-06 19:05] #16 closed

[2019-01-07 15:12] tkow commented on #74
I apologize that middleware second argument is not next/app's App, so I modified above example as App is typeparameter.

[2019-01-07 21:37] andylacko opened #88 "after localeSubpaths: true, SSR can't find route"
after switching to lang with non naked domain eg. /sk/xxx, after refresh I get 404 not found

example piece from my server.js (configuration is exactly copied from example server.js file):

[code]

PS: don't know, if this lib wraps somehow links that are not defined by handle()

[2019-01-07 22:15] isaachinman commented on #88
Yes, that's correct. We currently don't have a good way of supporting custom routing like this. What happens if you put the `nextI18NextMiddleware` line _after_ your custom route declaration?

[2019-01-07 22:19] isaachinman commented on #77
@haoict I really doubt that's related to our codebase here, but I'd need a reproducible repo to take a look and debug further.

[2019-01-07 23:34] capellini commented on #88
@andylacko using [this issue comment as a guide](https://github.com/isaachinman/next-i18next/issues/62#issuecomment-449875049), you could do something like this (full disclosure, I haven't even ran the below code to see if it works, but you can understand the substance of what I'm trying to do):

[code]
Basically, the only thing that `nextI18NextMiddleware` does with app (at the moment) is call `a

[2019-01-08 02:38] tkow commented on #74
I have found my .d.ts file  wrong. This library are exported in commonjs modules and not using module.exports.default, thus  we must import the way like
[code]
or
[code]
 are needed about tsconfig.json and index.js.
So, above my .d.ts is not correct. Sorry for that and try to fix it.

[2019-01-08 10:30] vimutti77 opened #89 "Passing href as object in Link causing wrong navigation when enable Locale subpaths"
When enable Locale subpaths and passing href as object in Link like below
[code]
When we are on default language path like `http://localhost:3000/`. It will correctly navigate to `http://localhost:3000/foo?bar=123`

But when we are on the other language path like `http://localhost:3000/fr/`. It will navigate to wrong path like `http://localhost:3000/fr/fr[object%20Object]`

[2019-01-08 10:50] isaachinman commented on #89
Good catch. Any chance you want to submit a bug fix and test coverage for this?

[2019-01-08 12:35] isaachinman commented on #74
Hi @tkow, c424b06 should fix that import issue.

[2019-01-09 13:42] isaachinman commented on #88
@capellini If I understand your suggestion correctly, that would not work with `localeSubpaths` at all.

Instead of creating more examples, I'd like it if we can come up with a systematic and simple way of supporting custom routing. The simplest thing I can think of is to simply expose the `lngPathDetector` and `lngPathCorrector` utils, but I don't think that's best.

Instead, it'd be great to exp

[2019-01-09 14:01] cr05s19xx commented on #79
@isaachinman  I placed a `console.log` (I know, not a good idea 😅) inside `node_modules/next-i18next/dist/hocs/app-translation.js Line 178`

[code]

I received the output `{ "statusCode": 404 }`, which leads me to believe this error is being thrown by the `_error.js` page (which in my case has not been created yet).

Could this be the cause? If so, can you suggest a remedy?

[2019-01-09 14:10] isaachinman commented on #79
Can you please provide a reproducible example (repo)?

[2019-01-09 14:34] isaachinman commented on #79
Do you mean that sending `requiredNamespaces` instead of `namespacesRequired` caused you to see the console warning of `You have not declared a namespacesRequired array... undefined`? It sounds like the error you're describing is exactly the purpose of the warning in the first place.

[2019-01-09 14:58] cr05s19xx commented on #79
@isaachinman Exactly. My point is that I spoke too soon 😅

[2019-01-09 14:59] bgold0 commented on #79
Yea I don't believe he's having the same issue as me. I will need some time getting something reproducible. I will attempt to console log the entire component and see what I get. I appreciate the fast response @isaachinman

[2019-01-09 15:02] isaachinman commented on #79
No problem, just let me know.

[2019-01-09 15:32] capellini commented on #88
I just added a `custom-routing-example` branch to my fork where I created a very trivial example.  Apologies for writing code that I didn't even try -- it is a bit more involved than the code that I wrote above and I may be missing something, as the example is quite trivial, but I'm currently doing something similar for my custom routing.  But it is very kludgy and there has to be a better way.

I

[2019-01-09 17:04] isaachinman commented on #88
@capellini That does seem sensible at first glance, and would side-step a lot of problems. Do you have time to put together an initial approach? I am quite busy with other things at the moment. If not, I will get to this perhaps next week. Thanks!

[2019-01-10 12:33] VBagmut commented on #79
In my case I solved problem by renaming js files in locales folder to json.

[2019-01-10 14:52] laxplaer commented on #79
I solved this issue by providing `favicon.ico`, which was adding 404 error and causing this warning.

[2019-01-10 20:06] isaachinman commented on #79
Yeah, I suspect `displayName` for the Next error page(s) is `undefined`, but need a good way to reproduce this. A normal 404 will probably do the trick - will take a look as soon as I have availability.

[2019-01-10 20:46] isaachinman commented on #79
Should be fixed with 34e8e08. Released with v0.18.0.

[2019-01-10 20:46] #79 closed

[2019-01-10 20:46] isaachinman commented on #83
Hi there, any update?

[2019-01-10 20:47] isaachinman commented on #77
Anyone get a chance to do some testing on that branch?

[2019-01-10 20:53] isaachinman commented on #79
Huh... it just occurred to me that while `undefined` is not helpful, this error _might actually be a good thing_ and we maybe shouldn't be excluding it as 34e8e08 does. Most likely people are going to want to manually declare their own `_error.js` page and specifically localise it.

I've opened an issue in the NextJs repo to track this:

https://github.com/zeit/next.js/issues/6026

Hopefully we ca

[2019-01-11 17:19] benpetsch commented on #83
will provide an repo tomorrow

[2019-01-12 01:57] petertulala opened #92 "301 redirects are cached in browser"
Switching of languages is sometimes not working correctly in Chrome.

Example: After invoking `i18n.changeLanguage('de')`, the url is redirected to `/de/path`. But because the Chrome has a cache for URL value `/de/path`, it's redirected back.

<img width="363" alt="screenshot 2019-01-12 at 03 06 28" src="https://user-images.githubusercontent.com/613623/51067930-273ed980-1617-11e9-81b5-184944713aa9

[2019-01-12 11:57] isaachinman commented on #92
Can you explain the actual bug you're seeing? Not sure I understand, or have seen this behaviour. At least initially, it seems like a bad idea to disable caching.

[2019-01-12 19:33] petertulala commented on #92
Steps to reproduce:
1. Clear browser cache and set default language to `en`.
2. Call `i18n.changeLanguage('de')`.
2. Navigate to `/page`. Redirect `/page` -> `/de/page` is triggered here: https://github.com/isaachinman/next-i18next/blob/417314736320e4c35fd467e952355ddd6180ca5f/src/utils/lng-path-detector.js#L29
The redirect is with code `301 Moved Permanently` and is stored in the browser cache --

[2019-01-13 09:03] peacefulseeker opened #93 "Accessing otherLanguages prop returns languages string within array"
//
import {i18n, Link, withNamespaces} from '../i18n';
//
const {otherLanguages} = i18n.options;
//
Expected `otherLanguages` to be equal `['en', 'de']`;
In reality `otherLanguages = ['en, de']`

[2019-01-13 13:31] isaachinman commented on #92
Those aren't the full steps and don't involve the example dir. Please provide a reproducible example. It sounds like we might want to use a 302 potentially.

[2019-01-13 18:49] AleVul opened #94 "Add support for shallow prop"
The next Link component has shallow prop to not trigger a server render, but Link component from next-i18next does not pass that prop to next Link.

[2019-01-13 19:09] isaachinman commented on #94
Fixed with fadd81f. Released with v0.18.2.

[2019-01-13 19:09] #94 closed

[2019-01-14 08:52] lucasfeliciano commented on #16
Indeed, seems out of the scope.

Can you elaborate on ` breaks SPA architecture anyways`?
I didn't get it

[2019-01-14 08:58] isaachinman commented on #16
When changing languages in the `localeSubpaths` approach, for example, we can maintain full SPA navigation. That is to say, a router event happens within NextJs and a new chunk/page and namespaces will be loaded, but are no new document requests or hard navigation.

That is not possible over subdomains - you are forced to basically serve two completely different webpages. You might as well have st

[2019-01-14 09:16] lucasfeliciano commented on #16
Indeed, this is my use case unfortunately.
Ah yes, that is correct

But in the end was much simpler than I thought, I just had to make the custom detector work it properly and redirect the user to a new domain/subdomain when changing languages.

Since everything will reload, it will hit the detector and set the correct language.

Could be smoother but our business rules doesn't help us. :(

[2019-01-14 09:43] isaachinman commented on #16
Yes, there are pre-existing i18next detectors out there, I just don't have any experience with them. I'm glad it ended up being simple in your case.

[2019-01-14 15:04] hwangar commented on #77
I came across this issue in my project and confirmed your branch fixes it

[2019-01-14 15:35] bel0v commented on #25
@revskill10 hello, I'm also struggling with Now 2.0 deployment. Could you clarify what is the issue you had with it? Also do you think it can be resolved with this PR?
https://github.com/isaachinman/next-i18next/pull/90

[2019-01-14 15:42] isaachinman commented on #77
I know it fixes it. I'm worried about regression with #11.

[2019-01-14 16:55] isaachinman commented on #57
@dimensi Please provide a reproducible example in the _latest_ version of `next-i18next`.

[2019-01-14 17:00] revskill10 commented on #25
@bel0v I mean serverless deployment for `@now/node` at least, in which all you write is not a server instance, but a function `(req, res) => `.
I used another solution for i18n, which is generic for React (not only NextJS).

[2019-01-14 17:45] capellini commented on #89
@vimutti77 @isaachinman I hope you don't mind, but I was also effected by this, so I took the liberty of submitting PR #95.

[2019-01-14 20:56] isaachinman commented on #92
I think a 302 is the safest bet, but I still need a reproducible example. I'm quite sure we won't be modifying cache headers - we shouldn't need to do that.

[2019-01-15 14:32] capellini opened #97 "Passing withNamespaces props into Next Link causes devtools warning"
Spreading `props` in the `Link` component results in passing `withNamespaces` props down to Next.js' `Link` component, causing the following devtools warning:

![screenshot from 2019-01-15 08-17-37](https://user-images.githubusercontent.com/75311/51186783-6a63ab80-18a8-11e9-99cb-d338612dbb74.png)

[2019-01-15 22:47] capellini opened #99 "Use lng or i18n prop in withNamespaces inside of Link component"
Instead of [doing this](https://github.com/isaachinman/next-i18next/blob/7fbae9a3e765374a5310380662ab4315ae011bb2/src/components/Link.js#L34-L37) to find the locale, `withNamespaces` exposes an `lng` prop to it's wrapped component. Perhaps we should use the exposed prop instead?

[2019-01-16 13:22] chulphan opened #100 "Warn: You have not declared a namespacesRequired array on your page-level component: undefined. This will cause all namespaces to be sent down to the cli ent, possibly negatively impacting the performance of your app. For more info, see: https://github.com/isaachinman/next-i18next#4-declaring-namespace-dep endencies"
I have seen this error..
![image](https://user-images.githubusercontent.com/35016301/51251376-8bc5b400-19dc-11e9-9dc7-7dc65fcaef54.png)

but after delete the code.. (This code can see at example code of your repository)
![image](https://user-images.githubusercontent.com/35016301/51251446-b57edb00-19dc-11e9-9586-06cc36e13a68.png)

The Warning message disappeared.

Should specify the 'namespacesRequ

[2019-01-16 13:48] isaachinman commented on #100
I don't understand your question. It's probably the error page, see #79. You should include `namespacesRequired` on all page-level components.

[2019-01-16 13:48] #100 closed

[2019-01-16 14:21] capellini commented on #92
If we know that browsers cache 301 redirects, and we agree that we don't want the browser to cache these redirects, is there any harm in changing it to 302 without a reproducible example?

[2019-01-16 15:20] chulphan commented on #100
When i specify namespacesRequired occur warn message as above every seconds.
But after the namespacesRequired then the warning message is disappear.

[2019-01-16 15:31] isaachinman commented on #100
I do not understand what you are asking. Please read #79 as well as the README.

[2019-01-16 15:31] kachkaev commented on #100
@chulphan do you have `pages/_error.jsx` in you project? This file should exist and it should also define `namespacesRequired`.

[2019-01-16 15:52] isaachinman commented on #97
Fixed with f5fbdfc.

[2019-01-16 15:52] #97 closed

[2019-01-16 15:53] isaachinman commented on #93
@peacefulseeker Closing due to lack of response. Happy to reopen if a reproducible example is provided.

[2019-01-16 15:53] #93 closed

[2019-01-16 16:16] isaachinman commented on #99
Fixed with c0f2a4d. @capellini Do you mind double checking my work here?

[2019-01-16 16:16] #99 closed

[2019-01-16 16:26] capellini commented on #99
:+1: on it

[2019-01-16 16:27] isaachinman commented on #92
I ended up figuring out how to reproduce this locally. @petertulala In the future it'd be great if you can just fork a repo, make the required changes, and link it to us to reproduce.

This should be fixed by 53d866b. Can one or both of you please verify that?

[2019-01-16 16:28] isaachinman commented on #83
Any update? Is this related to #92?

[2019-01-16 16:28] isaachinman commented on #77
@capellini This is another issue that needs to be resolved before a prod release. Do you have any Redux/HOC projects to test with?

[2019-01-16 16:42] capellini commented on #99
@isaachinman LGTM

[2019-01-16 17:09] capellini opened #101 "Add test to ensure withNamespaces props are removed before passing to Next Link"
Following up on #97.  I thought that it would be good to add a test to our suite to ensure that `withNamespaces` props are stripped before passing props to Next's `Link` component to prevent any regression bugs.

PR forthcoming.

[2019-01-16 18:00] capellini commented on #92
I am now humbled.  I just tested 53d866b and it appears as though, despite be a **temporary** redirect, that Chrome and Firefox (and perhaps other browsers) _also_ store 302 redirects in cache.

![screenshot from 2019-01-16 12-57-06](https://user-images.githubusercontent.com/75311/51268531-56927500-198e-11e9-9c38-a7fbc548b245.png)

Morever, looking at [this bug report page](https://bugs.chromium.o

[2019-01-17 01:31] chulphan commented on #100
@kachkaev After make the _error.tsx file in pages, the warning message is disappeared. Thank you!!^^. I refered your examples, but there are no file _error.jsx. I think if you can add _error.jsx in your example, then would be more helpful.
I apperciate your help. (and sorry can't speak english, make you confuse..^^)

[2019-01-17 03:18] capellini commented on #77
@isaachinman, unforunately I don't.  But in `appWithTranslation`, we shouldn't have to call both `Component.getInitialProps` and `WrappedComponent.getInitialProps`.  Calling just `WrappedComponent.getInitialProps` should suffice.  When you use [this branch](https://github.com/capellini/next-i18next/tree/app-with-translation-load-get-initial-props), do things work as expected?

[2019-01-17 09:16] YIZHUANG opened #104 "Disable the language detector that comes with i18next-express-middleware"
What is the best way to disable  "i18n.use(i18nextMiddleware.LanguageDetector)" on the server-side?
For example i have a website that is in "de", i want to set the default language to "de" no matter of the user's browser setting.

Currently i copy paste the "LanguageDetector" from "i18next-express-middleware" and change the "detect" function to return "de" no matter what, add it to the "use" array

[2019-01-17 09:21] jamuhl commented on #104
just remove the detector - create a own middleware setting `req.lng = 'de'` before the i18next middleware

or if `de` is the only language set in on init `i18next.init({ lng: 'de' })`

[2019-01-17 09:35] jamuhl commented on #104
Ah...sorry was to much in the flow i did not check the repo this issue comes for - thought it was for i18next-express-middleware repo itself. Overwriting the detector with your custom one has no drawback.

But should not be needed - just make `de` de fallback and only language provided leaving otherLanguages empty: https://github.com/isaachinman/next-i18next#options

[2019-01-17 09:44] YIZHUANG commented on #104
Thanks, the defaultLanguage in the config does basically nothing at least on my side, it still gets overridden by  "i18next-express-middleware" on the server-side.. That's why i am trying to figure a way to override the default server-side detector.

[2019-01-17 09:46] YIZHUANG commented on #104
The defaultLanguage still gonna be "en" even though i changed it on the config to be "de" because my browser setting is to "en".

[2019-01-17 10:35] isaachinman commented on #104
Well, we have a `browserLanguageDetection` setting. I suppose we could add a `serverLanguageDetection` setting as well. But really you should be able to set a single language and not worry about it. What do you mean it "gets overridden"? How would your server be serving translation content which does not exist?

[2019-01-17 10:41] YIZHUANG commented on #104
I am doing the exact same as from the example, my default language is set to "de" and other languages are set to "['en']", browser setting is English. I have the locales data in place inside the static folder. But when it comes to server-side is 'en' even thought i set it to 'de' when i do a `console.log(req.i18n)`, hence the content is also in English on the client-side,  and i think the cause is

[2019-01-17 10:44] kachkaev commented on #104
@YIZHUANG I've made a small example app that has a workaround, similar to the one you are searching for. Two domains, two languages: https://gitlab.com/kachkaev/website-frontend

Also hope there is a slightly better out-of-box support for this scenario.

[2019-01-17 10:49] YIZHUANG commented on #104
Looks good, i am looking into it.

[2019-01-17 12:08] capellini opened #105 "Use React's Context API to simplify the interface"
What do you think about using the [Context API](https://reactjs.org/docs/context.html) for configuration and to share `next-i18next` options?  User's `_app.js` would transform to something like the following (changes annotated with comments):
[code]
Then references to things like:
[code]
can be changed to something like:
[code]
and we wouldn't have to wrap our components into functions to store co

[2019-01-17 12:15] kachkaev commented on #105
IMO having Link and other components exported from  `../i18n` is somewhat better, because it creates a more straightforward dependency graph (even if `Link` in `../i18n` is the same as in `'next-i18next'`). A local `i18n.js` file becomes an entry point for all the i18n stuff ever happening in the app (the only exception is the middleware, which cannot be added to a `i18n.js` as this would bloat th

[2019-01-17 12:35] isaachinman commented on #104
@YIZHUANG Are you saying you do want a `serverLanguageDetection` setting to disable `i18nextMiddleware.LanguageDetector`? It's easy enough, but I think it will affect other functionality. I don't understand - if you don't want your users to see anything in English, don't pass the English in?

[2019-01-17 12:38] YIZHUANG commented on #104
Yes, it would be great if we can disable the server-side LanguageDetector.

[2019-01-17 13:52] capellini commented on #105
Thank you for your input @kachkaev.

Good point -- I can certainly appreciate not complicating the dependency graph.  In what I'm proposing, `next-i18next` would be the only "true" dependency. The user's `i18n.js` would strictly export a configuration object.

So the user's `i18n.js` file would transform from something like this:
[code]
to something like this:
[code]
And if we make an exception in

[2019-01-17 14:21] isaachinman commented on #104
Fixed by c3dbf08.

[2019-01-17 14:21] #104 closed

[2019-01-17 14:47] isaachinman commented on #92
I tested this in FF on OSX and did not see 302s cached. However to be safe, I've added cache headers with 5352521. We're now using 302s _and_ setting no-cache headers aggressively on those specific requests.

@capellini Do you mind double checking me here? It was quick work.

[2019-01-17 14:47] #92 closed

[2019-01-17 15:02] capellini commented on #105
A few more notes:
- In the most trivial and contrived case, we don't even need an `i18n.js` file anymore.  If the user wants to go with the defaults, then just `export default appWithTranslation(myApp)` in their `_app.js` and off you go.  Of course, at the very least they would want to define `otherLanguages` if they have a real-world test case.
- We can expose a `NextI18NextConsumer` which would

[2019-01-17 15:07] capellini commented on #105
@kachkaev I read more through #42 - I will post my thoughts for that PR when I can carve out some time to formulate my comments - but I don't see how any of your (very interesting and thought-provoking) comments preclude the use of React's Context API.  When you get a moment, could you please help me understand?

[2019-01-17 15:40] capellini commented on #92
Using the example in our repo:
1. To test `forceTrailingSlash`, switch locale to `de` then navigate to `http://localhost:3000/de` (should be redirected to `http://localhost:3000/de/`)
2. To test 'lngPathDetector`:
    1. While locale is still `de`, navigate to `http://localhost:3000/second-page` (should be redirected to `http://localhost:3000/de/second-page`)
    2. Switch locale to `en`, navigate

[2019-01-17 15:44] kachkaev commented on #105
Speaking of getting rid of `i18n.js` in the app, we can theoretically move all the confing to `server.js`. Any values that are needed to configure client-side i18n can be read from the initial store (`__NEXT_DATA__`), just as this is currently done for `initialI18nStore`.

[2019-01-17 22:07] #101 closed

[2019-01-17 22:08] isaachinman commented on #92
Great, thanks for taking a look at that.

[2019-01-17 22:42] isaachinman commented on #105
Hey @capellini and @kachkaev, thanks for adding your opinions here. Unfortunately I have been extremely busy with professional work recently and haven't had time to read through this thread yet.

That being said, I envisioned a 1.x production-ready release of this package being more or less the same as it is now (class-based approach), but with proper TypeScript support. Besides bug fixes, TypeScr

[2019-01-18 01:39] chulphan commented on #100
@isaachinman I apperciate for you reflect my opinion^^

[2019-01-18 02:44] capellini commented on #105
On the one hand, I am very excited for the production release.

On the other hand, as this is a large change to the API, this would be a major breaking change, which may be a bit more disruptive to our users post-production release.  Major breaking changes happen, so it's not a show-stopper, but if we could sort it out before then, I think that would be ideal.

I don't think it would take much eff

[2019-01-18 05:22] shadowangle opened #106 "Using yml file instead json"
Hi,
I am using currently the react-i18next project. and need to change to next-i18next to fully support ssr. I tried to setting i18next to support yml file in react-i18next project i use @alienfast/i18next-loader to read yml file. But it seem to not support with next-i18next

I think something wrong in my setting . Any suggestion ?

[2019-01-18 08:59] isaachinman commented on #106
Can you provide a reproducible repo? That will allow me to help much faster.

[2019-01-18 09:00] kachkaev opened #107 "The app throws in IE11 because of includes(), find() and assign()"
I received a report saying that that one of my websites no longer works in IE11. The investigation revealed that the reason for this is that I forgot a polyfill. Adding the following to the very beginning of `_app.tsx` resolves the issue:

[code]

IE11 is not so prevalent these days, so I'm not sure that polyfills for it need to be included into `next-i18next` by default. However, it might be stil

[2019-01-18 09:46] isaachinman commented on #107
Not sure I follow. Are you not transpiling your deps into a vendor chunk? We might be able to change the [babel target](https://github.com/isaachinman/next-i18next/blob/master/.babelrc#L3) but in general users will be responsible for their own targets and browser support.

[2019-01-18 09:49] isaachinman commented on #77
@capellini What's this `loadGetInitialProps` util you're pulling in? I don't think it's safe to use NextJs internals. Can you refactor your approach to both:

1. Not use NextJs internals
2. Retain hoisting of `getInitialsProps`?

If so, that'd be an ideal solution.

[2019-01-18 09:54] isaachinman commented on #105
I should have been more clear: I foresee the 1.x release being a TypeScript refactor of the current codebase. Anything context-driven would be 2.x or later.

Off the top of my head, there will be problems - context will most likely have to be accompanied by a functional approach as well, as the config object and i18n instance are needed by more than just React components. I'm not even sure I want

[2019-01-18 10:54] kachkaev commented on #107
I'm not doing anything special in transpiling my Next.js app and actually don't believe that anything needs to be done in the source of `next-i18next` code as such. However, because calls to `Array.includes()`, `Array.find()` and `Object.assign()` inside the lib do cause issues in IE11, some mentioning of this situation might be worth it in README.

Actually one thing I completely forgot to mentio

[2019-01-18 11:24] isaachinman commented on #107
That's my proposed solution if it helps you. This project is transpiled via Babel prior to publish. We are not currently passing any targets into [`babel-preset-env`](https://babeljs.io/docs/en/babel-preset-env#targets).

[2019-01-18 11:31] isaachinman commented on #107
We'd need [`useBuiltins`](https://github.com/babel/babel-preset-env#usebuiltins).

[2019-01-18 12:19] dimensi opened #108 "hot reload"
Every time i change .json files i need fully restart server, have we there any way to solve this problem?

[2019-01-18 12:50] capellini commented on #105
Thank you for clarifying.  I understand now.

After further consideration, I think that I had 2 things in mind when I started this issue:

1. Passing configuration into React components.  For this, perhaps there are solutions better than the Context API (for example, a HoC may be better in this case).
2. Making `next-i18next` the entry point and have `i18n.js` just be a configuration file (and, as

[2019-01-18 12:50] #105 closed

[2019-01-18 13:20] capellini commented on #105
@isaachinman one caveat - IMO #90 should be resolved before we consider a production release.  Not only does it help solve some `localeSubpaths` problems, but the API is more what one would expect from express middleware.  I know that you're working on it and that it's a big PR, and of course I don't mention this to give you an impression that I'm pressuring you.  It's just my opinion that this is

[2019-01-18 13:34] isaachinman commented on #108
Sounds like a question for [react-i18next](https://github.com/i18next/react-i18next), not `next-i18next`. There are ways of forcing a reload, but I don't think we'll do it here.

[2019-01-18 13:34] #108 closed

[2019-01-18 13:48] isaachinman commented on #107
@kachkaev Should be fixed with 9c96479. Do you mind checking over my work and testing in IE11?

[2019-01-18 13:48] #107 closed

[2019-01-18 13:50] isaachinman commented on #106
This is probably the root of your problem. [i18next-node-fs-backend](https://www.npmjs.com/package/i18next-node-fs-backend) already has a yml loader built in.

[2019-01-18 13:52] dimensi commented on #108
@isaachinman for hot reload need add code where i18n initing
https://github.com/i18next/react-i18next/issues/6#issuecomment-185300536
we need add hotreload in your package, not react-i18next

[2019-01-18 14:09] isaachinman commented on #108
You can feel free to submit a PR with [i18next-resource-store-loader](https://www.npmjs.com/package/i18next-resource-store-loader) but it's not something I will be working on myself. Typically locale content is managed by non-devs, etc, and involves full deployments.

[2019-01-18 14:13] kachkaev commented on #107
Thanks! I’ll give this a try in several days when there is a slot for that project.

[2019-01-18 16:24] capellini commented on #77
@isaachinman `loadGetInitialProps` removed.  See 2773495.  Would this work, or do you foresee problems with this approach?  I'll submit a PR so we can continue discussion there.

[2019-01-18 16:55] shadowangle commented on #106
Ok i will try to use i18next-node-fs-backend. but now i can to provide u a reprodu repo. Thank you

[2019-01-18 19:05] haoict commented on #77
@capellini  I think your PR will not resolve this issue.
I've tested it and found that SSR is not working properly. Could you double check?

[2019-01-18 20:14] capellini commented on #77
Yes, you're right.  SSR isn't working...looking more into this.

[2019-01-18 23:54] capellini opened #112 "If Component.displayName is undefined, console message shows 'undefined'"
See console/terminal messages in https://codesandbox.io/s/0qyxlk242v

![screenshot from 2019-01-18 18-58-42](https://user-images.githubusercontent.com/75311/51418716-1d573200-1b53-11e9-8f41-d376cfe33c21.png)

[2019-01-19 01:39] capellini opened #113 "Passing configuration to React components"
This issue is a follow-up on the first point mentioned in [this comment](https://github.com/isaachinman/next-i18next/issues/105#issuecomment-455535621) in #105.

What do you think about passing `next-i18next` configuration to our react components by using a HoC?  This allows our React component files to be less cluttered.  As a side benefit, we also won't run into cyclomatic complexity problems as

[2019-01-20 14:16] benpetsch commented on #83
Yes version 0.19.0 looks good for this one.

[2019-01-20 14:16] #83 closed

[2019-01-20 14:34] benpetsch opened #115 "ftr-request: change language via subpath"
Three ways to change the language:

1) One may change the language via button click like mentioned in the example.

2) Change language via browser subpath
A) Current path: `/path` (language: defaultLanguage). Requesting `/de/path/` should change language to `de`.
B) Current path: `/de/path` (language: defaultLanguage). Requesting `/fr/path/` should change language to `fr`.
C) Current path: `/de/pa

[2019-01-20 15:53] isaachinman commented on #115
If you want to change a user's language, you should call `i18n.changeLanguage`.

2A happens [here](https://github.com/isaachinman/next-i18next/blob/master/src/utils/lng-path-detector.js#L12), and works this way to support SEO and indexing - if a user is coming to your web app via an organic search on a foreign URL, they should see content in that locale.

2B is not a supported way of changing a us

[2019-01-20 15:53] #115 closed

[2019-01-20 18:43] #112 closed

[2019-01-20 18:44] isaachinman commented on #106
If you continue to have problems and can provide a reproducible example, I will be more than happy to reopen this and take a look.

[2019-01-20 18:44] #106 closed

[2019-01-20 18:53] isaachinman commented on #105
@capellini Yes, I agree with that. I've created [a 1.0 milestone](https://github.com/isaachinman/next-i18next/milestone/2) for us to track related work.

[2019-01-20 19:56] capellini commented on #77
The issue was that, since [this line](https://github.com/capellini/next-i18next/blob/e2d8867b2c2f14ca00d8e160f5475f140e02922d/src/hocs/app-with-translation.js#L31) was changed from:
[code]
to:
[code]
so `ctx.ctx === ctx` in the old code.  I had not accounted for this, so `req` was always `undefined`.

It is no less safe than what we were doing before.

[2019-01-21 16:49] isaachinman commented on #113
Fixed via #114.

[2019-01-21 16:49] #113 closed

[2019-01-21 21:19] #89 closed

[2019-01-22 13:13] capellini opened #118 "Add e2e test with localeSubpaths enabled"
Following up on [this comment](https://github.com/isaachinman/next-i18next/pull/96#issuecomment-456379796), it would be good to add an e2e test which has `localeSubpaths` enabled.

This test would be nearly identical to our current e2e test.  The only change would be an added `localeSubpaths: true` in the `userConfig` object passed into `NextI18Next` in `i18n.js`.  Also, any changes to the simple

[2019-01-22 14:40] HeadFox opened #119 "Incorrect peer dependency i18next"
Hi guys ! :)
I have this warning during my yarn install. Is it from your package.json or am I missing something ?
Thanks !

Error:
```warning "next-i18next > react-i18next@9.0.7" has incorrect peer dependency "i18next@>= 13.1.3".```

Packages:
- next: 7.0.2
- next-i18next: 0.20.0

[2019-01-22 14:54] sudhirt4 opened #120 "Language selected in client is not being used on next server re-render"
After changing the client side language using ``i18next.changeLanguage``method (or directly manipulating the ``i18next`` cookie value) and then refreshing the page the language selected is not being used by the SSR.

This used to work before, Facing this issue after upgrading from ``0.16.0`` to ``0.20.0``

[2019-01-22 18:08] isaachinman commented on #119
It was on our side, but was not affecting anything. Fixed with e4f588a.

[2019-01-22 18:08] #119 closed

[2019-01-22 18:14] isaachinman commented on #120
@capellini Any idea where this regression could be located? I assume it's within `app-with-translation`. Also, we'll need an e2e test to cover this once a bug fix is in place to prevent future regression.

[2019-01-22 18:16] isaachinman commented on #120
@sudhirt4 Very sorry for the trouble here, please bear with us while we debug this - it has the highest priority at the moment.

[2019-01-22 18:18] isaachinman commented on #120
@sudhirt4 Update - I cannot reproduce this via the [example](https://github.com/isaachinman/next-i18next/tree/master/example). If I load into an incognito window (served English), change the language to German on the client side, and do a hard reload, I get served an SSR page in German.

Please provide a reproducible repo/example for us to debug. It's either a bug in more complex use cases, or use

[2019-01-22 18:19] isaachinman commented on #120
Are you using the `i18n` instance that `next-i18next` exports to change the language, [as seen here](https://github.com/isaachinman/next-i18next/blob/master/example/pages/index.js#L18)?

[2019-01-22 18:30] isaachinman commented on #118
Not sure about either of those options, to be honest... It'd be really nice if we could just pass the whole config object into the test suite at runtime, so that we can extend this to cover more of the presently "hidden" functionality.

The trouble is that this would require either full rebuilds, or running the app in dev mode with full server reloads.

Regardless of that, there will need to be ch

[2019-01-22 21:03] capellini commented on #120
@isaachinman - neither can I.  Both `changeLanguage` and changing the cookie work for me.

:+1: agreed

@sudhirt4 Would you mind installing v0.17, v0.18, and v0.19 and tell me what specific major version causes the code to break?

[2019-01-22 21:04] ngocketit opened #122 "TypeError: Cannot read property 'allLanguages' of undefined"
Hi,

I tried the example in the documentation against the latest version (0.20.0) and got lots of warnings and errors:

[code]

Here is the `i18n.js` file:
[code]

[2019-01-22 21:59] ngocketit commented on #122
This seems to happen only when I use `withNamespaces()` in a non-page component. Any ideas?

[2019-01-22 22:02] ngocketit commented on #120
I got the same problem. Calling `i18n.changeLanguage()` on client updates the `i18next` cookie to the correct langcode but then it's switched back with the default value when the page is refreshed.

[2019-01-22 22:22] ngocketit commented on #120
But I couldn't reproduce with the example either, weird!

[2019-01-22 22:57] ngocketit commented on #120
Alright, I can confirm that it works when NODE_ENV is set to production but not with development. Any ideas?

[2019-01-22 23:13] capellini commented on #120
I just came across one scenario (still looking for more) where this could happen with [this change](https://github.com/isaachinman/next-i18next/commit/e7ae318a6df47d2d8592ca61d9b140cf36bf60c2#diff-629eb664116efd2a55d4c6361f00c9bd) in `lngPathDetector`.

Scenario assumes:
1. `localeSubpaths` is enabled
2. Language that is currently selected is not the default language
3. User switches to another no

[2019-01-22 23:19] capellini commented on #120
@ngocketit If you don't mind, could you please help me narrow down which specific version caused the bug?
[code]
I know that's a hassle and I apologize for the inconvenience, but it would help us identify where to look more quickly.

[2019-01-23 00:49] sudhirt4 commented on #120
@capellini : I just confirmed it stopped working when changed from ``0.16`` to ``0.17``

[2019-01-23 00:55] sudhirt4 commented on #120
As I mentioned in this PR (Ref: GH-121), the problem seem to be the current language not being returned [here](https://github.com/isaachinman/next-i18next/blob/master/src/hocs/app-with-translation.js#L46) . The changes in that PR fixed the issue for me, let me know if it is relevant or I can make some changes there.

[2019-01-23 01:30] sudhirt4 commented on #120
After setting values for "otherLanguages" on my config it seems to work on my application as well.

[2019-01-23 02:33] capellini commented on #120
Yes, but this happened with default values, even with v0.16, right?  In other words, even with v0.16, if you change language in the cookie to the default language and then navigate to '/[locale]/page', it still changes the locale to [locale].

Even in [the case mentioned above](https://github.com/isaachinman/next-i18next/issues/120#issuecomment-456600125)?

I see.  Let me look into that.  Thanks.

[2019-01-23 03:54] sudhirt4 commented on #120
I am not using `localeSubpaths` so cannot confirm that. In my case it used to work without defining `otherLanguages` in `0.16`

[2019-01-23 04:08] capellini commented on #120
@sudhirt4 I see.  Thanks.

@isaachinman This issue stems from 50bf6c8.  The reason why it worked in version v0.16 is because [we were only using `req.i18n.languages[0]`](https://github.com/isaachinman/next-i18next/blob/5f8450b0ceb44991897e91b1cb150a4b2129852a/src/utils/lng-path-detector.js#L3) to initialize `language`, whereas with that change, we then required `allLanguages` to include the langua

[2019-01-23 11:43] ngocketit commented on #120
Yes I could also confirm that it's somehow related to `otherLanguages` setting. Without it, it won't work. The `NODE_ENV` value that I mentioned above is just a coincidence.

[2019-01-23 13:34] isaachinman commented on #122
Please provide a reproducible repository. Thanks!

[2019-01-23 13:50] sudhirt4 commented on #120
I guess the confusing thing about this is the meaning of `otherLanguages`. Like in my case I was using the `whitelist` property to define the same behaviour.

If it is a required field then it must be mentioned in docs.

[2019-01-23 13:57] capellini commented on #120
The only action I can see from this issue is to perhaps make it a little more clear in the docs.

We should also probably revise the comment at the bottom of the options table too ("This table contains options which are specific to next-i18next. All other i18next options can be passed in as well.").  In this case, it seems as though the `defaultLanguage` and `otherLanguages` `next-i18next` options

[2019-01-23 14:42] isaachinman commented on #120
I would like to see:

1. Docs updated to indicate which options are required
2. Error (not warning) thrown during initialisation if a required option is not provided

[2019-01-23 14:43] isaachinman commented on #120
@sudhirt4 Sorry for the lack of clarity on our part. I hope your issue has been resolved now, though?

[2019-01-23 15:21] capellini commented on #120
@isaachinman - What do you think about adding a "Specifying Languages" section to the documentation?  `otherLanguages` is not strictly necessary (of course, in reality you want to specify some, otherwise why use any i18n package in the first place) and the default is reasonable.  I think it just needs to be a little more explicit that `whitelist` should not be used.

Also, would it be good for us

[2019-01-23 16:49] vimutti77 opened #124 "TypeError: Cannot read property 'namespacesRequired' of undefined"
I got this error after update the package to version 0.20.0
[code]
After investigated. I found that the error occur when I add getInitialProps in _app.jsx like below.
[code]

[2019-01-23 17:14] isaachinman opened #125 "Add checks for required options"
As per #120, we should specify in the docs which options are required, and also throw an error on initialisation if a required option is not provided.

[2019-01-23 17:14] #120 closed

[2019-01-23 17:22] capellini commented on #124
I think you should remove your 'getInitialProps` method.

[2019-01-23 17:51] vimutti77 commented on #124
Actually, I have the code that need to run in `getInitialProps` method of every page. But I don't want to write the same code on every page. So I need to write it on _app.js.

[2019-01-23 18:57] vimutti77 commented on #124
I got it! Thank you for your explanation.

[2019-01-23 18:57] #124 closed

[2019-01-23 19:32] isaachinman commented on #124
This is exactly as the official [NextJs](https://github.com/zeit/next.js#custom-app) docs show as well.

[2019-01-23 21:01] isaachinman commented on #125
At the moment, it looks like all config options which are required have default settings which still allow the app to run. Basically, you _could_ initialise a `next-i18next` instance without any options at all, but it'd be a single-language, English-only app.

I'll still add an error if `config.otherLanguages` is empty, as no one will want to use localisation for a single locale.

[2019-01-23 21:12] isaachinman commented on #125
Fixed with 692583f. @capellini Curious if you have any good ideas as to how we can cover `utils/console-message.js` with tests? I think the class structure makes it a bit difficult to mock. Might be one reason to consider refactoring.

[2019-01-23 21:12] #125 closed

[2019-01-24 05:17] vimutti77 opened #126 "query string is disappear after change language when localeSubpaths is true"
When I enable `localeSubpaths`. If I change language, the query string will be removed from the url.

### Expected behavior
1. Start on the url like `http://localhost:3000/?foo=123`
2. Change language by using `i18n.changeLanguage('de')`
3. The url will changed to `http://localhost:3000/de/?foo=123`

### Actual behavior
1. Start on the url like `http://localhost:3000/?foo=123`
2. Change language b

[2019-01-24 05:46] joeonmars commented on #124
Caveat is that you have to name pageProps as is in the doc, changing the prop name would results in undefined error from app-with-translation.js.

[2019-01-24 10:12] isaachinman commented on #124
@joeonmars That's correct, but that's just a NextJs thing. Would you like us to throw a more descriptive error?

[2019-01-24 10:13] isaachinman commented on #126
I wonder if that is indeed the expected behaviour. I can see arguments for both sides.

@capellini What is your opinion?

[2019-01-24 12:03] radeno commented on #126
@vimutti77 @isaachinman by my opinion both ways are correct, its about about expression.
Method `changeLanguage` doesn't say anything more than it changes language.

I think there should be option to prevent or do not prevent change of actual URL.

Preventing of change:
`domain.com/de/page/123?foo=bar#row1` => `domain.com/es/page/123?foo=bar#row1`
`domain.com/page/123?foo=bar&lang=de#row1` => `dom

[2019-01-24 12:07] capellini commented on #126
IMO the query string should be preserved (`http://localhost:3000/de/?foo=123`).  But I believe that #96 should also fix this.

@vimutti77 Can you confirm that this problem goes away if you temporarily install this branch in your project?

[code]

[2019-01-24 12:15] capellini commented on #126
This is why I believe we should preserve the URL in its entirety, except for making the `localeSubpaths` change, as needed.

Whether or not the query parameters are removed should be an implementation decision outside the scope of this project.  If those query parameters are needed elsewhere by internal application logic, we will break the app.

If the user wants to manipulate the query or hash on

[2019-01-24 12:17] isaachinman commented on #126
Agreed. Please find out if #96 fixes this, and mark it as such if so. Thanks!

[2019-01-24 15:57] joeonmars commented on #124
@isaachinman throwing an error would be nice for this case with a link to the code example/next.js doc.

[2019-01-24 21:18] isaachinman commented on #124
@joeonmars Fixed with 8e195bb.

[2019-01-25 06:47] devrasec opened #127 "componentDidMount called twice when using withNamespaces"
The lifecycle method componentDidMount of the wrapped component is called twice when using withNamespaces.

[2019-01-25 08:46] jamuhl commented on #127
Just made a quick test on the sample here: https://github.com/i18next/react-i18next/tree/master/example/react

I did not get the componentDidMount called twice - but might be some wrapped component deeper in the JSX tree that gets deleted and mounted again - hard to tell.

Would be great if @devrasec could provide a pure react-i18next sample to reproduce, eg. based on https://codesandbox.io/s/l4qr

[2019-01-25 08:52] ngocketit commented on #122
Sorry it seems to be my own mistake. It's all good now.

[2019-01-25 08:52] #122 closed

[2019-01-25 09:04] ngocketit commented on #126
While this may be a bit different but in my case, I need to have different query for different languages. For example, the slug will be language specific, e.g, `/en/english-slug` and `/de/german-slug`. Currently, when changing the language, only the langcode is changed but the query remains the same. Is there any way I could achieve get?