[2020-02-06 22:43] StarpTech commented on #559
The most simple trick is to do a hard reload when the user navigates through the client's history and the locale doesn't match with the URL locale.

In which way? From my understanding, we only need to change the global language in `beforePopState` without reloading `getInitialProps`. We need a way to do shallow routing selectively or expose the whole i18n instance to change the global change. WDY

[2020-02-07 02:06] bcjohnblue opened #633 "forwardRef can't work when using withTranslation"
## Describe the bug
forwardRef can not work when using withTranslation.

## Occurs in next-i18next version
latest (4.2.0)

## Steps to reproduce
1. clone and run [withTranslation_forwardRef](https://github.com/bcjohnblue/next-i18next_withTranslation_forwardRef)

2. The index page will break totally (you can see a lot of error messages in console)

## Expected behaviour
1. `withTranslation('common'

[2020-02-07 08:38] isaachinman commented on #633
Cannot reproduce in the simple example. If I change [this line](https://github.com/isaachinman/next-i18next/blob/9295d048a5d750d9ae1909287a1eb108fe3d93de/examples/simple/pages/index.js#L41) to:

[code]

The page renders without errors.

Regardless, the primary error is coming from React itself: `Function components cannot be given refs`.

Moreover, `next-i18next` simply [re-exports directly from `

[2020-02-07 08:38] #633 closed

[2020-02-10 00:14] chiqui3d commented on #615
please could you update the example
thanks

[2020-02-10 11:05] isaachinman commented on #615
@chiqui3d Update it in what way?

[2020-02-10 11:47] smorris1709 commented on #274
Hi Guys, not sure if i've missed this but how would i get this running on now 2.0 without serverless?

[2020-02-10 14:53] chiqui3d commented on #615
The example didn't work for me, until I edited the _app.js file thanks to this issue, I almost went crazy.

https://github.com/isaachinman/next-i18next/blob/master/examples/simple/pages/_app.js

[2020-02-10 14:54] isaachinman commented on #615
@chiqui3d The example is deployed and runs at next-i18next.com. It is also covered by multiple end-to-end tests. Can you be more specific?

[2020-02-10 15:04] chiqui3d commented on #615
So to apply `Next `with `i18next`, I have based on your example, and I did not work in any component pass `props ` with the method `getInitialProps`, until I edited the file `_app.js` and I have added what you have commented here, as you can see in your example the file `_app.js` that does not include it.

[2020-02-10 20:57] smorris1709 commented on #274
@gurkerl83 I have your version up and running but my selected language gets forgotten when I visit a nested route, any idea why this would be? ps. sorry for the spam

[2020-02-10 21:34] gurkerl83 commented on #274
Hi guys, questions regarding the branch mentioned above, I ask you to create an issue at the repo where it gets hosted https://github.com/gurkerl83/next-i18next-serverless. Also, please note that the work is more an experiment and certainly not for production use. Depending on the complexity of a project e.g., using multiple higher-order components on _app, which specifies custom server-side rende

[2020-02-11 10:57] barakat-turki commented on #27
Thanks, @ahmedengu this works for me.

[2020-02-11 12:19] Huibean commented on #615
This works for me after use withTranslation
[code]

[2020-02-12 14:53] jesperjohansson opened #634 "Using only hooks without withTranslation HOC?"
Hello! I'm wondering if its possible to use only the `useTranslation` hook without the `withTranslation` HOC on page level?

Like:
[code]

When I try doing so I get the warning in console:
[code]

It works but I don't want to compromise the app's performance. Do I need to use the HOC `withTranslation` then?

EDIT:
It seems like I get the warning message when I use `withTranslation` and `useTransla

[2020-02-12 14:57] rozakbuhari commented on #27
Thank you very much @ahmedengu, you saved my day.

[2020-02-12 15:36] isaachinman commented on #634
I suggest reading the docs. Search for `namespacesRequired` in the README.

[2020-02-12 15:36] #634 closed

[2020-02-12 18:51] rjoaopereira opened #635 "i18next "load" option not respected when initialising store on SSR"
## Describe the bug
When [initialising](https://github.com/isaachinman/next-i18next/blob/master/src/hocs/app-with-translation.tsx#L147) the store, only the current language is taken into account.
As per i18next [docs](https://www.i18next.com/overview/configuration-options#languages-namespaces-resources), languages and locales (and dev) should be considered if `load: all` is the option (default beh

[2020-02-12 19:14] isaachinman commented on #635
What's your use case? This package is an opinionated approach to translate NextJs apps via i18next packages.

[2020-02-12 22:02] rjoaopereira commented on #635
Thank you for the fast reply.

On the server side:

I have static files with translations and I need to load another set dynamically and add them through `addResources`.
I can see the translations under the `en` language but since the current language is `en-US` they will never be sent to the client.

I actually have more languages and locales at this point which I would benefit from sending immed

[2020-02-13 09:40] isaachinman commented on #635
So you are loading namespaces via the filesystem and also via some network requests, is that right?

My initial feeling is that you should be doing this declaratively via a valid config, and not imperatively at runtime.

However, if you have an idea for a PR here to introduce the i18next functionality you need, I would be happy to review that. Thanks!

[2020-02-13 09:49] rjoaopereira commented on #635
That is right.

I only know what translations to query after another query is made.

I'll try to find the best way to achieve this. Thanks

[2020-02-13 09:55] isaachinman commented on #635
Okay, let me know if I can provide any help. You might want to check out the [available backends](https://www.i18next.com/overview/plugins-and-utils#backends).

[2020-02-13 10:41] thanhdevapp commented on #634
it's work
`import { useTranslation, i18n } from "../i18n";`

inside function

`const { t } = useTranslation(['common'], { i18n });`

[2020-02-13 11:28] rjoaopereira commented on #635
This is a false issue. Languages are [loaded](https://github.com/isaachinman/next-i18next/blob/master/src/utils/lngs-to-load.ts#L28) according to the rules (except for dev but I don't care for it). When a locale is present, the language it belongs to is also loaded.

Sorry for the inconvenience.

A mistake on my part where the fallback language was not defined led me to the initial problem.

[2020-02-13 11:28] #635 closed

[2020-02-13 12:31] jesperjohansson commented on #634
Yes, thank you. I got it working after reading about `namespacesRequired`. I was missing `getInitialProps`:

[code]

[2020-02-15 21:16] mk0y commented on #274
Instead of file system, why not adding option for http/api or BaaS like Locize?

[2020-02-16 11:37] gwendall commented on #583
@dhalbrook Have you finally managed to fix this ? Still having troubles using `next-i18next` with `apollo`.

[2020-02-17 15:34] DovahBrownies opened #636 "Add Support for Subfolders (localeStructure)"
## Is your feature request related to a problem? Please describe.
No.

## Describe the solution you'd like
Add support for subfolders such as, instead of:
[code]
we can do
[code]

by setting the `localStructure` as something like: `{{lng}}/{{dir}}/{{ns}}

I think this would open up doors for a neater structure.

[2020-02-17 15:45] isaachinman commented on #636
That's entirely an i18next concern and should be raised in an upstream repo.

[2020-02-17 15:45] #636 closed

[2020-02-18 09:28] MichalW commented on #195
This is my approach to this problem:
Generally based on this: https://www.freecodecamp.org/news/how-to-enable-es6-and-beyond-syntax-with-node-and-express-68d3e11fe1ab

**package.json:**
[code]

**i18n.ts:**
[code]

**server.ts**
[code]

[2020-02-19 15:00] gwendall opened #637 "Jumping translations on load"
Hello - here is a problem I have been struggling on for a few days. My server-rendered pages run fine with translations; loading them with javascript disabled generates them with the right text. However, once javascript is enabled, all the translated strings briefly "jump" from their json-related keys to their actual translated values on load. I don't know exactly where to investigate. Any idea ?

[2020-02-19 15:49] gwendall commented on #637
Thanks for the quick response @isaachinman. Same problem when I remove `preload`, I ended up setting it whilst investigating to solve this problem.

[2020-02-19 15:54] isaachinman commented on #637
@gwendall If you can provide a reproducible repository, I'll debug it for you.

[2020-02-19 16:17] gwendall commented on #637
Awesome. Here it is : https://github.com/gwendall/next-i18next-bug

[2020-02-19 16:22] gwendall commented on #637
Ok, fixed it. The problem came from here : https://github.com/gwendall/next-i18next-bug/blob/872b49a7ab4d771be1d2efea16c73bf123663948/src/pages/_app.js#L6

Somehow, it screwed something up. Passing directly the following worked :
[code]

Thanks !

[2020-02-19 16:22] #637 closed

[2020-02-21 08:30] meliborn opened #638 "Do I really need to include namespace via namespacesRequired on each page?"
Could you please clarify me with one moment.
Let's say a have a Header component. It's using on every page. Without including it's namespace in namespacesRequired of page's initialProps I'm getting
`Warning: Prop "alt" did not match. Server: "CompanyName" Client: "logoAlt"`
Even If passing header namespace to the withTranslation().
What I'm doing wrong? It can be annoying to pass it's namespace on

[2020-02-21 13:20] gwendall opened #639 "Default `i18next.language` value not set on first render"
Hello, as the title describes, I have this problem. However, the value gets set once I change it manually with `i18n.changeLanguage`.

Here is a small reproduction : https://github.com/gwendall/next-i18next-bug
And try visiting http://localhost:3000/en

[2020-02-21 13:42] isaachinman commented on #638
You're specifying `namespacesRequired`. This tells `next-i18next` _exactly_ the namespaces you need to render that page. If you miss one, you will miss translations.

You can either include all the namespaces you need, or omit `namespacesRequired` entirely.

In the future, `next-i18next` will likely convert localisation keys into named exports and perform tree shaking in that way.

For now, you ca

[2020-02-21 13:42] #638 closed

[2020-02-23 17:38] isaachinman commented on #639
Working fine for me. I presume this is because you've modified `config.detection`, and your browser language header is something other than English.

`config.detection` is set up in a very intentional way - please do read through past issues and documentation to understand.

If you feel this is a genuine bug, please let me know. I think it's just a result of user configuration. Good luck!

[2020-02-23 17:40] alexandrepaivaa opened #640 "Redirecting to translated routes on language switching"
Hi,

I'm sorry if I shouldn't create this kind of post here but I have asked this on some FB groups and also StackOverflow without any success. Is there anyway where I could be automatically redirected to translated routes when changing the language? For example:

example.com/en/home -> example.com/pt/inicio
example.com/en/contact -> example.com/pt/contato
(etc...)

Currently when I'm on example.c

[2020-02-24 12:30] ghost opened #641 "Type for objects and arrays"
## Describe the bug
When using [objects and arrays](https://www.i18next.com/translation-function/objects-and-arrays) with standard types, I encountered an error:

I tried using different types of library.

## Occurs in next-i18next version
[code]

## Steps to reproduce
[https://codesandbox.io/s/next-i18next-example-uv98b](https://codesandbox.io/s/next-i18next-example-uv98b)

[2020-02-24 20:41] isaachinman commented on #641
Please post a full stack trace.

[2020-02-24 20:42] isaachinman commented on #640
That's not something that `next-i18next` currently supports. You'll need to set up custom routes in your server file.

[2020-02-24 20:42] #640 closed

[2020-02-25 05:40] BrandonWeber commented on #641
Sorry, I’ve been trying to find the right type all day, so I wrote the problem incorrectly. Added a sandbox.

[2020-02-25 07:56] isaachinman commented on #641
@BrandonWeber Unless I'm mistaken, all of these types come from `i18next` and `react-i18next` directly.

[2020-02-26 02:00] Marszht opened #642 "Cannot read property 'displayName' of undefined"
## Describe the bug
after i run the  app  it comes to the followwing bug :
            Cannot read property 'displayName' of undefined
           at getDisplayName (C:\CodeZoom\芦苇\海外招聘\overseas-recruitment-pc\node_modules\react-i18next\dist\commonjs\utils.js:98:20)
![image](https://user-images.githubusercontent.com/38552120/75304397-2d753100-587e-11ea-85a7-8ac1e4a06627.png)

## Occurs in next-i18n

[2020-02-26 10:09] isaachinman commented on #642
That error is coming from `react-i18next`. Please open an issue there.

[2020-02-26 10:09] #642 closed

[2020-02-27 14:08] chiqui3d opened #643 "Support for localize route."
## Describe the bug
This library does not support localize route.

Even in the same example you can see perfectly that not https://next-i18next.com/.

I don't think I will ever create a website where the languages are loaded in the **same URL**. If for example my default language is `en `if I want to show the **Spanish** language I should redirect to `next-i18next.com/es`, not load on the same pag

[2020-02-27 14:23] isaachinman commented on #643
Not quite sure what you're asking. I highly suggest you read the documentation! Good luck.

[2020-02-27 14:23] #643 closed

[2020-02-27 14:30] chiqui3d commented on #643
Thanks

[2020-02-27 17:17] #641 closed

[2020-02-27 17:18] #639 closed

[2020-02-27 23:42] Vadorequest commented on #274
We just released our newest Next.js/Zeit boilerplate at https://github.com/UnlyEd/next-right-now

It is compatible with Zeit and their "lambda/serverless" mode.

It features the usage of react-i18next, alongside Locize.

- See https://github.com/UnlyEd/next-right-now/blob/master/src/utils/i18nextLocize.ts for i18next/locize integration
- See https://github.com/UnlyEd/next-right-now/blob/master/src

[2020-02-28 11:54] codesignist opened #644 "LocaleSubPaths is not working with sub folders"
## Description of the bug
I'm using the simple example of next-i18next.
I have these routes:
/second-page
/news/1
/news/2

Without localeSubPaths it works fine. But when I use localeSubPath like "de", "en" etc. sub folders (news/1, news/2) are not working.

## Occurs in next-i18next version
4.2.0

## Steps to reproduce
https://github.com/codesignist/next-i18next-example

## Expected behaviour
Rout

[2020-02-29 08:53] codesignist commented on #644
Duplicate of #413

[2020-02-29 08:53] #644 closed

[2020-03-02 11:17] eric-burel commented on #623
I'll try to provide more info but there are basically bad interactions between TypeScript, Next and next-i18n. Using the `NextPage` type also creates multiple error messages.

[2020-03-02 13:41] eric-burel commented on #623
Here is a sample page (simply paste in a new page in your app, with `.tsx` extension). Below I am providing the error message. I'll try to investigate on my app and post here if I find workarounds.
[code]

First error on `const Home`:
[code]
Second error in `getInitialProps`:
[code]
Third error in `export default`
[code]

[2020-03-02 13:45] eric-burel commented on #623
Second try, with typing not the Home component but the wrapped component instead:

[code]

Still get an error on `const Wrapped`:
[code]

[2020-03-02 14:04] eric-burel commented on #623
Ended up creating a page, with no error :tada:
Could this example be shared in the documentation? Handling both i18n and TypeScript is not very intuitive and error messages feels like issues in the framework, while it's actually good..

[code]

[2020-03-02 15:31] eric-burel opened #645 "App defined as stateless function gets a warning"
## Describe the bug
App defined as stateless function won't work as expected (`getInitialProps` not detected, triggering a warning about namespaceRequired not being defined).

## Occurs in next-i18next version
4.2.0

Example:
[code]
## Steps to reproduce
Comment or uncomment one of the 2 versions.

## Expected behaviour
If using a class component is mandatory, it should be documented.

In Next doc

[2020-03-03 10:20] isaachinman commented on #645
Duplicate of #615.

From the exact link you provided:

[code]

[More context](https://github.com/isaachinman/next-i18next/issues/615#issuecomment-575578375).

[2020-03-03 10:20] #645 closed

[2020-03-03 10:59] eric-burel commented on #645
Sorry for the dupe, PRed a clearer explanation in the README (https://github.com/isaachinman/next-i18next/pull/646)

It's easy to fall in this trap if you defined the custom app before adding i18n. The component version that extends App is uncommon (multiple level of inheritance is avoided in functional development, you barely see that in React code in the first place) and adds `getInitialProps` i

[2020-03-03 13:13] DutchPrince commented on #462
I've got the same problem

[2020-03-03 16:41] isaachinman commented on #462
@DutchPrince I do not have knowledge about now the now platform abstracts filesystems. I would welcome any PRs. Alternatively, you can consume your localisation content via network requests with any number of `i18next` plugins.

[2020-03-03 16:42] isaachinman commented on #274
@Vadorequest Nice, looks cool! That's a very opinionated boilerplate though, are there any findings you can bring back to the `next-i18next` user base?

[2020-03-03 18:21] DutchPrince commented on #462
Thanks for your response!

What does PRs mean?

[2020-03-03 18:37] isaachinman commented on #462
Pull requests. This is open source software and relies upon contributions from the community.

[2020-03-03 23:32] Vadorequest commented on #274
I've never used next-i18next, because I got stuck right away because I was using a serverless approach and it wasn't compatible with it. So, I'm not sure what could be re-used for next-i18next itself.

The one thing that has the most value (IMHO) is https://github.com/UnlyEd/next-right-now/blob/master/src/utils/i18nextLocize.ts, for those interested by Locize. I believe this configuration file cou

[2020-03-05 10:20] eric-burel commented on #605
@StarpTech do you have a sample test?

Here is my i18n file:
[code]
My unit test:
[code]

It does not translate but I probably did not setup the test properly.

[2020-03-05 13:54] StarpTech commented on #605
Hi @eric-burel that's hard to evaluate. Did you set up mocks for the `react-i18next` library? What testing library do you use?

In your specific example you didn't wrap it with `appWithTranslation`.

[2020-03-05 13:56] StarpTech commented on #605
@isaachinman it doesn't help. Please check it out and test it by yourself.

[2020-03-06 05:30] hgezim commented on #496
@isaachinman I'm unclear on what you want me to check.

[2020-03-06 09:04] isaachinman commented on #496
@hgezim The relevant source code is found [here](https://github.com/isaachinman/next-i18next/blob/b0c22994fea8e59360025e70ae5ea0eee27561ec/src/config/create-config.ts#L48).

[2020-03-06 09:09] isaachinman commented on #623
A few thoughts:

1. A TS example would be good, but I don't think the typing of the translation function here is something we'd want to recommend to people. You should be able to import the correct types from `next-i18next`.
2. Why are you using `propTypes` in TS?
3. The [homepage in the simple example](https://github.com/isaachinman/next-i18next/blob/9295d048a5d750d9ae1909287a1eb108fe3d93de/examp

[2020-03-06 09:11] isaachinman commented on #645
It's not "uncommon", it's just "fallen out of fashion" - it used to be the recommended way via the NextJs docs.

[2020-03-06 09:44] eric-burel commented on #623
It seems ok now, the error message was related to my app being badly defined (the getInitialProps missing issue).
TS is static so you may sometimes see `propTypes` too, as they are dynamic and allow more complex dynamic type check. I admit that they are quite overkill here.
Right I'll try to import the types from package instead of redefining them.

[2020-03-06 11:17] pdziewa opened #647 "Problem with typings for NextPage<Props> with getInitialProps."
## Describe the bug
Problem with typings for `NextPage<Props>` with `getInitialProps`.

## Occurs in next-i18next version
`4.2.0`

## Steps to reproduce
[code]
 Error 1:
[code]

Error 2:
[code]

## Expected behaviour
No errors :smiley:

[2020-03-06 11:23] isaachinman commented on #647
Duplicate of #623.

[2020-03-06 12:53] pdziewa commented on #647
Unfortunately, #623 doesn't help me at all.

[2020-03-06 13:50] pdziewa commented on #647
After small changes I have something like these:

[code]

Now I am much closer to the working solution. The error I've got is about missing props from HOC.

[code]

[2020-03-06 14:03] onderceylan opened #648 "TypeError: Property 'allLanguages' does not exist on type 'InitOptions'."
## Describe the bug
NextI18Next [class interface in types.d.ts](https://github.com/isaachinman/next-i18next/blob/master/types.d.ts#L57) is missing `options: Config` in type definitions.

The instance of NextI18Next does not have the correct types for options hence it throws `TypeError: Property 'allLanguages' does not exist on type 'InitOptions'.` TypeScript compilation error.

## Occurs in next-i

[2020-03-06 14:10] onderceylan commented on #648
First of all, thanks for the great library! If you think this is a valid case, I'd be happy to create a PR with the fix.

[2020-03-09 10:22] orifmilod commented on #615
@isaachinman Is there a way to inject it in a lower-level component but not `_app`, because when wrapping `_app` with `appWithTranslation` it opted-out of Automatic Static Optimization. (Mind that I have tried to use it in a Main component which its a wrapper for navbar and pages, but did not work, it gives me the error `http://localhost:5000/src/server/locales/ru/common.json 404 (Not Found)`)

[2020-03-09 10:38] pdziewa commented on #647
So I used hook `useTranslation` which works perfectly for me.

[2020-03-09 10:38] #647 closed

[2020-03-09 17:06] eric-burel commented on #637
@gwendall what happens when you have a missing key in a secondary language? I can repro the flashing with a similar config as yours, say when I define an `hello` key in English but I forget to add it in French too.

Client-side I can fallback to english but not server-side.That's kind of an edge case but I'd rather avoid client/server discrepancies as they are often terrible in production.

[2020-03-10 20:34] LordZardeck commented on #606
I disagree that this is an unusual case. Lots of projects I work on want i18n considerations already implemented, despite translations not being added until later. While, yes, your workaround could work, why the requirement for other languages to present? I feel like this is a common case in agile/product development. At least it has been in my experience

[2020-03-10 20:49] isaachinman commented on #606
Sure, that's debatable and more or less anecdotal. If you feel strongly about it, feel free to submit a PR!

[2020-03-11 08:17] Pierre-CLIND commented on #586
@isaachinman do you think that NextJS 9.3 can help?
Thanks

[2020-03-12 15:34] isaachinman commented on #586
@Pierre-CLIND We could indeed most likely migrate from `getInitialProps` to `getStaticProps`, however we are no closer to being able to get rid of a custom server.

[2020-03-12 15:35] isaachinman commented on #637
@eric-burel Fallback logic should work identically between server and client - the i18n instance is literally the same. It gets serialised to the client.

[2020-03-12 15:37] isaachinman commented on #648
Hm, it's a bit of a grey area. The `allLanguages` array is something used internally and not really intended for user consumption. What's your use case? Why not manage the array in userland?

[2020-03-16 10:12] jonashendrickx opened #651 "How do I make this work with Typescript?"
## Describe the bug
Can't seem to fix the i18n and Link references in pages/index.tsx based on example. I have a feeling this needs to be done in i18n.ts.

## Occurs in next-i18next version
Latest

## Steps to reproduce
I added tsconfig.json and upgraded to typescript based on the next.js documention using your sample.

/*
  Do not copy/paste this file. It is used internally
  to manage end-to-end

[2020-03-16 10:57] kachkaev commented on #651
@jonashendrickx you might find an answer in this non-official example app: https://gitlab.com/kachkaev/website-frontend

Please note that github issues are for bugs and feature requests, not for questions related to the library. Please close it as it is not actionable on 😉

[2020-03-16 12:45] matepapp commented on #274
We're currently migrating from `create-react-app` to NextJS, mainly because of the static optimization, and the great integration with now.sh (even if it's still "just" static). We're **not planning to user SSR** in the foreseeable future. I'm really struggling to solve this issue with `i18next`. What is the recommended way to handle this use case? (like we would do with CRA)

ps: we're using [the

[2020-03-16 13:01] Vadorequest commented on #274
@matepapp You can definitely load your locales through getStaticProps from a remote endpoint. I'm planning on updating the Next Right Now boilerplate to use SSG instead of SSR as well.

You will most likely not use next-i18next though, as I don't believe it'd be needed at all, just use react-i18next should be sufficient.

[2020-03-16 13:05] matepapp commented on #274
@Vandorequest I’m planning to use only `react-i18next` as well. To be more precise, we don’t need to use any backend translation provider at all. We only want to read the translation files from `/public/locales/en/*.json`

[2020-03-16 13:08] Vadorequest commented on #274
Then just load your locales from your `getStaticProps` and that's it. (and I don't think your issue is related to this issue, so you should rather open a new one, and probably on react-i18next or stackoverflow if you need more help)

[2020-03-16 21:21] thomb opened #652 "Support for `getServerSideProps`"
## Is your feature request related to a problem? Please describe.
When using `getServerSideProps` as opposed to `getInitialProps` results in a `namespacesRequired` warning, despite the fact that I am returning `namespacesRequired` inside the required `props` key

I don't know if this is factual or not, or if the warning is a red herring

## Describe the solution you'd like
Ideally I'd like `getSer

[2020-03-17 08:04] isaachinman commented on #652
NextJs 9.3 was released a week ago. None of the new data fetching methods are supported yet, but in general I'd lean towards `getStaticProps` over `getServerSideProps`. Typically it's better to associate translation changes with releases, rather than having changes at runtime.

The `next-i18next` package will be entirely rewritten once NextJs plugin support lands, as quite a few things have change

[2020-03-17 09:14] HsnVahedi commented on #652
I'm kind of newbie so sorry for asking this question. As I've figured out your amazing library currently fully supports Next js 9.2, right?

[2020-03-17 09:37] isaachinman commented on #652
It fully supports NextJs 9.3 as well, just not the new data fetching methods.

[2020-03-17 10:09] HsnVahedi commented on #652
In NextJs 9.3, Page components can not have getInitialProps. How could it support 9.3 ?

[2020-03-17 10:13] isaachinman commented on #652
That is entirely false. That'd be a breaking change, and would go against semver. Read the docs.

[2020-03-17 18:12] joaolavoierfh opened #653 "Warning ["not declared namespacesRequired array"] is happening even if name spaces is declared"
## Describe the bug
I've been receiving this warning for all pages on console when I run the server.

**You have not declared a namespacesRequired array on your page-level component: withI18nextTranslation(HomePage). This will cause all namespaces to be sent down to the client, possibly negatively impacting the performance of your app. For more info, see: https://github.com/isaachinman/next-i18nex

[2020-03-17 18:14] isaachinman commented on #653
Read [the docs](https://github.com/isaachinman/next-i18next#3-project-setup) carefully.

[2020-03-17 18:14] #653 closed

[2020-03-18 06:58] srgvrnv opened #654 "Usage of useTranslation hook inside components cause rerender"
## Describe the bug
When I use useTranslation hook inside function component it causes multiple rerenders. Can't reproduce it with create-react-app and react-i18next. So it should be landed here. If I use react profiler I see that it takes 1102 render, but with create-react-app and react-i18next it takes only 2. Am I missing something or this is a bug?

## Occurs in next-i18next version
4.2.1

##

[2020-03-18 07:53] kahoowkh commented on #652
May I know if there is any schedule for supporting `getServerSideProps` and `getStaticProps`?

[2020-03-18 08:34] mohamedraqeeb opened #655 "Adding and retrieving router query params using exported Router instance."
## Describe the bug
I have used this library's Router instance to navigate to pages with query params. It navigates to page as expected. I can even read the query params from the navigated page. But once i refresh the browser from the navigated page i get the following error.
![image](https://user-images.githubusercontent.com/26220032/76940348-11662c00-6920-11ea-8117-097f11eda76c.png)

## Occurs i

[2020-03-18 08:39] VictorBaudot opened #656 "Disable I18n redirect for /public assets"
I have my website on example.com and example.com/fr and when I'm on /fr all my images and files coming from the /public folder are found but after a redirection to example.com/fr/img.jpg instead of example.com/img.jpg.

How can I disable those redirections for the files of the /public folder ?

[2020-03-18 09:51] isaachinman commented on #656
You can use the `ignoreRoutes` option. It'll be much easier if you put non-root assets into a subpath.

[2020-03-18 09:51] #656 closed

[2020-03-18 09:53] isaachinman commented on #652
I do not currently have much time for development on this project due to other factors in life. I don't see this changing for the next few weeks, at least.

As I've stated, `next-i18next` will be rewritten once plugin support (finally) lands. If you'd like to see this (and many other features) supported, please let the NextJs team know that you are waiting for plugin support!

[2020-03-18 09:54] isaachinman commented on #654
Hi @srgvrnv - thanks for this report. Do you mind quickly setting up a demo repo that we can reproduce this and track down the issue?

[2020-03-18 10:35] denny7 opened #657 "Request to public folder without lang prefix"
Hello,
I would like to make requests to public folder without lang prefix. For example If I am in fr language (which is not default) to get logo I make request to http://localhost:3000/fr/images/logos/logo.svg. Because I want to cache all images in production I would like to make all image requests to  http://localhost:3000/images/... How can I achieve that. Thanks.

[2020-03-18 10:38] #651 closed

[2020-03-18 10:38] isaachinman commented on #657
Duplicate of #656.

[2020-03-18 10:38] #657 closed

[2020-03-18 11:18] srgvrnv commented on #654
Hi!
Sure, here is it https://github.com/srgvrnv/test-use-translation-bug

[2020-03-18 12:03] VictorBaudot commented on #656
@isaachinman

I already use this option, adding the public folder into it, but still the same redirections.
`ignoreRoutes: ["/_next/", "/static/", "/public/", "/api/"],`

I don't understand "It'll be much easier if you put non-root assets into a subpath." Can you explain a bit?

[2020-03-19 16:09] isaachinman commented on #656
Adding the `public` directory to that array won't do anything. The `ignoreRoutes` array is for _routes_ to ignore. I suggest putting your assets inside `public/static`.

[2020-03-20 05:50] mengqing commented on #274
Is there anyway to use `next-i18next` and prerender / SSG?

[2020-03-20 14:31] ElForastero opened #658 "It conflicts with official apollo examples"
First of all, I would like to thank everyone working on this package.
It's really nice library that gives a nice experience out of the box.  🙏

## Describe the bug
When trying to setup it with the official next.js apollo examples, it leads to broken SSR data fetching.
Spent a whole day trying to discover the problem.

It partially works this way:

[code]

But I have said "partially", because clien

[2020-03-20 23:00] tomexx opened #659 "Localize route name"
Is it possible to localize the route name itself? I didn't get it from the example. Thank you

[2020-03-22 18:10] isaachinman commented on #659
This question has been asked, and answered, many times. Please search through previous issues.

[2020-03-22 18:10] #659 closed

[2020-03-23 04:20] zhangyugege opened #660 "Why would you pass i18n instance from backend to frontend via ctx.req"
Hello ~
I see that the middleware on the node server depends on the i18n-express-middleware library.

In i18n-express-middleware, it pass the entire i18n example to the front end via ctx.req.

    // assert for req
    req.i18n = i18n;
    req.t = t;
Source code at: https://github.com/i18next/i18next-express-middleware/blob/master/src/index.js#L60

Why would you pass the entire i18n instance to ct

[2020-03-23 08:03] srgvrnv commented on #654
@isaachinman Hello! Any updates on this issue?

[2020-03-23 08:12] safakcosar opened #661 "Cannot destructure property `components` of 'undefined' or 'null'."
I completed my project by using next-i18next. The project is working fine on local server.  After I deployed the project to the server, firebase function console is giving me this error.

`TypeError: Cannot destructure property `components` of 'undefined' or 'null'.
    at Server.renderToHTMLWithComponents (/srv/node_modules/next/dist/next-server/server/next-server.js:560:37)
    at Server.renderE

[2020-03-23 12:29] #660 closed

[2020-03-23 12:31] zhangyugege commented on #660
Duplicate question：https://github.com/i18next/i18next-express-middleware/issues/209

[2020-03-25 07:52] HsnVahedi opened #662 "Access translations from outside of components"
Thanks a lot for this awesome "next-i18next"! How can I access translations from outside of a react component? Suppose I have a page component like this:

[code]

[code]

As you can see, it creates navbarContent property by calling async function named "getNavbarContent". How can we access translation in "getNavbarContent" funcation?

I'm looking for something like this:

[code]

[2020-03-25 11:36] cereallarceny opened #663 "Add support for default language based on TLD"
## Is your feature request related to a problem? Please describe.
I understand there's support for localeSubpaths, but I'd rather use the TLD as the indicator of what the default language should be.

## Describe the solution you'd like
example.com --> default language is English
example.nl --> default language is Dutch
example.pt --> default language is Portuguese

Of course, the user should still

[2020-03-25 11:41] #662 closed

[2020-03-25 11:43] HsnVahedi commented on #662
I've found the solution based on this SO question: https://stackoverflow.com/questions/57114733/i18next-translation-outside-component

[2020-03-25 12:42] kachkaev commented on #663
I solved it by adding a custom language detector: https://gitlab.com/kachkaev/website-frontend/-/blob/61c8c7559d204e4ec36bccbb9c008bb9fe6a9b38/src/i18n.ts#L34-44

Having this as a built-in feature would be useful indeed.

[2020-03-25 12:58] cereallarceny commented on #663
Very interesting, I'll take a look. If this doesn't deserve to be a feature, since there's an existing solution, feel free to close the issue. Otherwise, I think it'd be a great addition!

[2020-03-25 18:10] isaachinman commented on #661
Can you please provide a reproducible repository?

[2020-03-25 18:12] isaachinman commented on #663
This kind of functionality absolutely belongs in the custom detector realm. Thanks @kachkaev!

[2020-03-25 18:12] #663 closed

[2020-03-26 00:56] markolofsen opened #664 "When page is loaded I see Russian translation, but in html-mode still english."
## Describe the bug
When page is loaded I see Russian translation, but in html-mode still english but should be Russian.

## Steps to reproduce
Check [this repo](https://github.com/markolofsen/i18next-demo)
`$ yarn dev`
open http://localhost:3000/ru

[2020-03-26 11:36] markolofsen commented on #655
same

[2020-03-26 13:16] maxmalov commented on #652
Just noticed that you can use `i18next` inside `getServerSideProps` in the same way as you would do it in the express application, i.e. create & configure plain `i18next` instance and use it instead

[2020-03-26 13:29] isaachinman commented on #652
@maxmalov Can you explain what you mean? We still have a dependency on the i18next browser detector middleware.

[2020-03-26 13:50] maxmalov commented on #652
`getServerSideProps` is being called on the server-side only, consider the example

[code]

So later one can use `serverSideMethod` inside `getServerSideProps` and get already translated content. For now, **it's just a theory**. We're working on the AMP first app and have to reuse the existing 18next resources we use in the separate single-page app. So in a few days, we eventually find out whether

[2020-03-26 14:56] isaachinman commented on #652
Yes, that approach will work if you want to roll your own implementation, but has nothing to do with this package. Let's keep discussion here on topic.

[2020-03-26 17:57] isaachinman commented on #664
Please provide a reproducible repository.

[2020-03-26 18:01] isaachinman commented on #654
@srgvrnv I don't really know what you expect, you're rendering 1100 components in a loop.

[2020-03-26 23:25] aralroca commented on #274
@rdewolff We did something similar. We are using Preact in our project and after seeing that this i18n lib is much bigger than Preact itself, we did a 1kb alternative lib with the basics i18n support. Also with support to serverless, getStaticProps, getStaticPaths, etc 🙂 https://github.com/vinissimus/next-translate

[2020-03-26 23:54] BjoernRave commented on #274
I can recommend [next-tranlsate](https://github.com/vinissimus/next-translate). I am using it since some weeks and it's working pretty well serverless

[2020-03-27 03:36] markolofsen commented on #664
In my sample query props are works!

Check [this repo](https://github.com/markolofsen/i18next-demo)
$ yarn dev
open http://localhost:3000/ru

What do we see? English translation in SSR, but should to be a Russian.

[2020-03-27 07:33] jamuhl commented on #274
@aralroca regarding next-translate - I highly recommend at least fixing the plurals rule to support plurals  correctly...pluralforms are not just a `_{count}` - it is a little complexer (suggestion use the cldr plural forms available in Intl API).

Beside that - nice work - devs should just be aware before deciding just for smaller size:

- support on future formats might be limited (i18next now r

[2020-03-27 12:54] isaachinman commented on #274
Hey @aralroca, nice work! There are some cool ideas in `next-translate` that could potentially be used in `next-i18next` as well, especially the way you've handled things via `useContext`. On a side note, I'd be curious to see if/how this actually deals with concurrency in SSR.

Indeed `next-translate` looks like a good solution for a subset of users who require a reduced feature set and are OK wi

[2020-03-27 12:59] isaachinman commented on #664
I assume that has something to do with your use of `next-routes`. Sorry, can't help much further as I have not personally used that package. Feel free to post on StackOverflow or similar. Good luck!

[2020-03-27 12:59] #664 closed

[2020-03-27 13:09] markolofsen commented on #664
@isaachinman I solved it. Thanks

[2020-03-27 13:16] markolofsen opened #665 "Query props is empty"
## Describe the bug
Query props is empty. Strange.

## Steps to reproduce
Repo here: [https://github.com/markolofsen/i18next-demo](https://github.com/markolofsen/i18next-demo)
$ yarn dev
http://localhost:3000/en

If remove `localeSubpaths: localeSubpathVariations[localeSubpaths],` in `i18.js` then ok, but language detection from url is brokening.

## Expected behaviour
Income props should be:
[cod

[2020-03-27 18:54] aralroca commented on #274
@isaachinman @jamuhl thanks for your suggestions and comments. Of course behind i18next there is big work. I fully recommend using `next-i18next` for advanced i18n features.

Yep 😅I neither like it... I implemented as a temporal workaround to work with static pages. The original idea (not implemented yet but maybe for 1.0.0) is to change the CLI for a Webpack plugin/loader, but I don't know how fe

[2020-03-27 19:04] isaachinman commented on #274
I've spoken to Tim via Slack and have been told that plugin support won't be out for awhile, but the routes (redirect/rewrite) work is in progress. So we may have a phased approach to rewriting `next-i18next`.

[2020-03-27 19:15] martpie commented on #274
One of the problem I'm aware of is that rewrites only work server-side, so a workaround will have to be implemented for client-side with `<Link>`

[2020-03-27 19:23] isaachinman commented on #274
@martpie We've already [wrapped `Link`](https://github.com/isaachinman/next-i18next/blob/master/src/components/Link.tsx) to support this.

[2020-03-29 01:34] monicasalamanca opened #666 "LocaleSubpath not working. What am I doing wrong?"
I am not sure what else I can do to make the LocaleSubpath work. Translations work and actually there are no bugs in the code, but when I need to see http://localhost:3000/en or http://localhost:3000/fr. Nothing!

If someone can point me to the right direction, or if I am missing something, or if I am doing something wrong, I'll appreciate it very much.

[https://github.com/monicasalamanca/next-i1

[2020-03-29 13:37] isaachinman commented on #666
This is an issue tracker, not a help forum. It looks like you're using a custom `i18next-express-middleware` approach, so you'll need to debug for yourself. Good luck!

[2020-03-29 13:37] #666 closed

[2020-03-30 09:54] martpie commented on #20
How do these solutions handle language changes? Do I have to setup `lang={}` manually after using `changeLanguage`?

[2020-03-30 11:29] isaachinman commented on #20
@martpie Hm, that's an interesting point. I think we should pull that logic into the `languageChanged` wrapper that we've got in place. Would you be willing to create a PR for that? It'd save a lot of other users having to do this, and technically speaking this is actually a bug fix.

[2020-03-30 11:30] martpie commented on #20
Sure, I can do that

[2020-03-30 11:43] felixmosh commented on #626
I've developed [i18next-hmr](https://github.com/felixmosh/i18next-hmr) that HMR client & server side exactly for this issue.
I'm using it for more then 9 months and really happy with it :]

[2020-03-30 11:44] isaachinman commented on #626
Hey @felixmosh, looks cool! I think when `next-i18next` is rewritten as an official NextJs plugin, it might be a good time to pull that functionality into the core.

[2020-03-30 11:49] felixmosh commented on #626
The lib is generic one, with dependency on next or next-i18next (see examples folder, it supports vue & more :])

[2020-03-30 11:55] martpie commented on #20
cf https://github.com/isaachinman/next-i18next/pull/667

[2020-03-30 13:15] AAlhusaini opened #668 "change cookie name"
## Is your feature request related to a problem? Please describe.
the regular cookie name could allow attackers to identify the tech stack that im using therefore allowing the attacker to try vulnerabilities specific to nodejs

## Describe the solution you'd like
use a more generic cookie name having the package name in the cookie will tell the attacker a lot of information about the tech stack im

[2020-03-30 13:20] isaachinman commented on #668
Duplicate of #420. See [here](https://github.com/isaachinman/next-i18next/blob/master/src/config/default-config.ts#L30). No intention to change the cookie name at the source level. Plenty of OSS packages insert information into cookies and headers.

[2020-03-30 13:20] #668 closed

[2020-03-30 16:10] jtrelfa opened #670 "withTranslation not compatible if there is already a custom prop"
## Describe the bug
I tried to use the withTranslation to my class that already has properties.  I get an error "Property X is missing in type 'WithTranslation' but required in type"

## Occurs in next-i18next version
current

## Steps to reproduce
[code]

What's the best way to define the class so that it is compatible with "withTranslation"? I added an additional property (t:Function) in the cla

[2020-03-31 22:00] justincy commented on #324
Here's what I did to get translations working in Storybook: https://gist.github.com/justincy/c1075650b1d5ba448c50eaf83cbb4ffe

[2020-04-01 08:59] amr3ssam opened #673 "'browserLanguageDetection' option is not giving me the browser default language"
this is my config component

`const NextI18Next = require('next-i18next').default;

module.exports = new NextI18Next({
  browserLanguageDetection: true,
  defaultLanguage: 'de',
  otherLanguages: [ 'en', 'it', 'fr'],
  defaultNS: [],
  localeSubpaths: {
    de: 'de',
    en: 'en',
    fr: 'fr',
    it: 'it'
  },
  // workaround until next-i18next support public path
  // https://github.com/isaachi

[2020-04-01 09:51] isaachinman commented on #673
Please provide a reproducible repository.

[2020-04-01 14:29] jatsgit opened #674 "Not finding URL working with sub locales on production"
## Describe the bug
You must provide a clear and concise description of what the bug is.
not able to load the urls for the sub locales on production

## Occurs in next-i18next version
You must provide the npm module version, git tag, or even better the explict commit causing the issue.
"next-i18next": "^4.2.1",

## Steps to reproduce
You must provide a reproducible repository, or copy/paste blocks

[2020-04-01 14:39] isaachinman commented on #674
It's port 3000, not 8080.

[2020-04-01 14:39] #674 closed

[2020-04-01 15:29] jatsgit commented on #674
Its not related to port buddy 3000 I tried running with port still same.

[2020-04-01 15:53] isaachinman commented on #674
Well then, I cannot reproduce. Because if I clone your repo, and do `npm i && npm run build && npm start`, I can see your web app at `http://localhost:3000/en/`.

[2020-04-01 15:58] jatsgit commented on #674
First, thanks for replying. Its works that way even on my local, but if we
try building app using,  npm run build && npm run export and then I run
*out* folder using serve command, then issue comes what I mentioned and
same on Production environment i have deployed code from *out* folder and
running using port serve -l 8080, so its not working, sub locales, I am not
sure what i missed!

On Wed, 1

[2020-04-01 16:03] isaachinman commented on #674
Oh, I see what you mean. Of course locale subpaths will not work with a static deployment - they depend upon an Express middleware. If you have any further questions please feel free to post on StackOverflow. Good luck!

[2020-04-01 16:08] jsbimra commented on #674
Quick questions, I should deploy full code base how I run the app locally i
should run it same on prod too instead of deploying a static will it work
or i have remove serverless from target and rebuild the app and deploy?

On Wed, 1 Apr 2020 at 23:04, Isaac Hinman <notifications@github.com> wrote:

[2020-04-02 21:47] alexandrepaivaa opened #675 "Translations not working for Googlebot or Facebook"
## Describe the bug
I'm exporting static HTML pages from Nextjs and Google/Facebook crawlers can't read the translations so my page title on Google searches is not being translated. When accessing the page through the browser the translation works fine.

## Occurs in next-i18next version
"dependencies": {
    "@tanem/react-nprogress": "^3.0.19",
    "@zeit/next-sass": "^1.0.1",
    "leaflet": "^1.

[2020-04-02 21:51] isaachinman commented on #675
I suggest you read [the documentation](https://github.com/isaachinman/next-i18next#notes).

[2020-04-02 21:51] #675 closed

[2020-04-03 08:08] Leviathan91 opened #676 "How to use this if default exporting doesn't work?"
I am trying to include this into an existing software app. The files which need translation already have an `export default`, so I cannot use `export default withTranslation('common')(LanguageExample)`.

But if I rewrite it to a regular export, of course it doesn't work and give me
`The default export is not a React Component in page: "/language"`:

Is there a workaround?
Apart from all that, this

[2020-04-03 08:11] #676 closed

[2020-04-03 08:29] Leviathan91 commented on #676
Thanks for your help I guess?

[2020-04-03 08:31] isaachinman commented on #676
Hi there. This is an issue tracker, not a help forum. Your questions seem to be general ones about how the JavaScript module system(s) work. Please post on StackOverflow. Good luck!

[2020-04-03 14:54] WesSouza commented on #606
I have a project requirement for this at this exact moment. It's real.

[2020-04-03 14:58] isaachinman commented on #606
@WesSouza Feel free to submit a PR.

[2020-04-03 17:53] Danetag opened #677 "Error: `pages/404` can not have getInitialProps/getServerSideProps"
## Describe the bug
After setting up `next-i18next`, I have the following error in the terminal on every page (probably because it's looking for an not existing favicon.ico by default).

[code]

But my 404 page is really simple, no `getInitialProps/getServerSideProps`

[code]

Note: i'm trying the setup the project for a *potential* future translation. Therefore, `next-i18next` provides a clean wa

[2020-04-03 22:10] 5ervant opened #678 "Not working on a Next.js app created using Expo, Cannot use import statement outside a module"
## Description
I'm trying to use `next-i18next` to translate my Next.js app made with `@expo/next-adapter`: https://docs.expo.io/versions/latest/guides/using-nextjs/

## Occurs in next-i18next version
[code]

## Steps to reproduce
* First is to create a `next-expo` app with this approach: https://docs.expo.io/versions/latest/guides/using-nextjs/#tldr
* Second is to implement `next-i18next`: https:

[2020-04-05 07:09] adrai commented on #678
`react-i18next:: i18n.languages were undefined or empty _undefined_` comes from here: https://github.com/i18next/react-i18next/blob/4b61cfb2a28527b5714856cbff6164dabed9aa1d/react-i18next.js#L548
So seems like the languages are not initialized or the language detector does not work correctly 🤷‍♂️

[2020-04-05 07:18] 5ervant commented on #678
@adrai Thanks for the help.

One of the contributors of `expo-cli` recommends not to create a custom Next.js server with Expo for Web, for now: https://github.com/expo/expo-cli/issues/1807#issuecomment-609096402

Any best alternative for the internationalization or translation of a serverless Next.js app?

[2020-04-05 07:28] adrai commented on #678
https://stackoverflow.com/questions/59591125/initialize-i18next-in-azure-function/59634847#59634847

[2020-04-05 12:22] 5ervant commented on #678
https://github.com/i18next/react-i18next/tree/master/example/react-native and not `next-i18next` will work.

[2020-04-05 12:22] #678 closed

[2020-04-05 15:54] rumsky commented on #625
I have the same problem.
root router redirect default language path.

[2020-04-05 21:42] nassimbenkirane commented on #274
I just got an email that informs us that Now v1 is now deprecated and will be out of service by august, witch means that, we won't be able to deploy a next-i18next project with now anymore... Hard to find a reasonable approach to this :( next-right-now is full of locize specific code, and not easy to replicate.
@isaachinman do you know where we can follow the redirect/rewrite progress on nextjs pa

[2020-04-05 22:50] Vadorequest commented on #274
https://spectrum.chat/zeit/now/cannot-create-now-v1-deployments~d206a0d4-5835-4af5-bb5c-a17f0171fb25 regarding deprecation, it's "old".

Basically removes support for Docker.

[2020-04-06 06:49] srgvrnv commented on #654
@isaachinman

Size of loop is ridiculously huge just to demonstrate a problem. I face this issue while rendering nested set of 50 entities with nesting level of 2 using of `useTranslation()` hook inside each of them.

Anyway react-i18next have no issue to render "1100 components in a loop" while next-i18next have some problems with it

Maybe there is some misunderstanding but I expect it to work s

[2020-04-06 08:08] nassimbenkirane commented on #274
Yes you're right it's been deprecated for a long time, but now it's going to be shut down.

Some quotes from the email they sent :

And the part that talks about projects with a custom server :

... does not seem to solve the issue here 😅

@Vadorequest thanks for the work on next-right-now, will try to learn from it as well

[2020-04-06 08:18] martpie commented on #274
The best thing people can make right now, is to make some noise in Next.js/Now/ZeitHQ communities so things like Global Middlewares get shipped to Next.js.

The fact Now v2 brings regressions in terms of what is technically feasible to ship IS a real problem, and is probably not going to be fixed at the next-i18next level.

[2020-04-06 10:22] isaachinman commented on #274
For `next-i18next` to be rewritten in its current manifestation and support serverless in a first class way, we still need a version of `i18next-express-middleware` that does not depend on `express`.

From there, the package could be rewritten to depend on `getServerSideProps` for server-side language detection, and `rewrites/redirects` - loosely speaking.

[2020-04-06 10:36] sovetski opened #679 "Express / Node are they essential ?"
next-i18next can work without express ? i dont want use express server, and on my hosting i dont use node, i export my static html pages with "next export", next-i18next can work with these config ?

[2020-04-06 10:46] isaachinman commented on #679
See #274.

[2020-04-06 10:46] #679 closed

[2020-04-06 16:51] lleonesouza commented on #586
new updates on?
In dev env it's works, but in productions it's break
anyone knows how can I avoid it?

![image](https://user-images.githubusercontent.com/55259670/78583450-3d811880-780d-11ea-96d0-9171f03ec6c1.png)
![image](https://user-images.githubusercontent.com/55259670/78583556-5be71400-780d-11ea-82d8-b1dc28544333.png)

[2020-04-06 16:53] martpie commented on #586
The warning is (most probably) not responsible of this error. Check your logs server-side.

[2020-04-08 16:26] nassimbenkirane commented on #274
I don't exactly get  why we need the i18n middleware, if we need a custom instance, can't we just call i18n.cloneInstance inside the custom _app.js ? Is it also used for routing / detecting the language ?

[2020-04-08 16:44] isaachinman commented on #274
Yes, `i18next-express-middleware` handles detection. Not routing.

# Please only comment on this issue with proactive steps forward.

All other comments will be marked as off-topic to reduce noise.

[2020-04-11 04:19] namlt3820 opened #680 "resources option is only applied for one language"
## Describe the bug
I’m trying to migrate my react code to nextjs code, and I intend to send all translations (english and japanese) to my client so that user can switch freely without making a call to server. I didn’t use the usual way of storing translation (public/static/locales/`lg`/`ns`), instead I used the resources option, like this:
[code]
But for some reason, only the english translation

[2020-04-11 05:23] isaachinman commented on #680
You'll need to dig into i18next documentation to support this sort of use case. Not sure why you want to do this, but good luck!

[2020-04-11 05:23] #680 closed

[2020-04-11 21:31] #673 closed

[2020-04-11 21:32] isaachinman commented on #658
There's no guarantee that various open source packages will be compatible. If you have specific suggestions I would be happy to hear them!

[2020-04-11 21:32] #658 closed

[2020-04-13 15:44] sovetski commented on #679
I did not find the answer, can i use next-i18next without expressjs on apache server ?

[2020-04-14 12:59] sovetski opened #681 "Without Expressjs ?"
I did not find the answer, can i use next-i18next without expressjs on apache server with a simple "npm run build && npm run export" ?

[2020-04-14 13:11] isaachinman commented on #681
I suggest reading [the documentation](https://github.com/isaachinman/next-i18next#notes).

[2020-04-14 13:11] #681 closed

[2020-04-15 13:51] timonweber opened #682 "Server language detection not working in Safari (dependency update needed)"
## Describe the bug
Safari is sending the `Accept-Language` in a lowercase manner (e.g. `en-us`). Because the current used version of `i18next-express-middleware` detects this string as `en-` instead of `en` the sever language detection is not working as expected.

## Occurs in next-i18next version
4.2.1

## Additional context
This issue has been discussed [here](https://github.com/i18next/i18next

[2020-04-15 15:47] isaachinman commented on #682
@timonweber Presently, [this line](https://github.com/i18next/i18next-express-middleware/blob/master/index.d.ts#L9) creates a type clash between `next-i18next` and `i18next-express-middleware`, preventing that upgrade.

Any good with TS? Feel like contributing?

[2020-04-15 16:09] #682 closed

[2020-04-16 07:06] timonweber commented on #682
@isaachinman Not good enough probably, I’m still learning. But I guess you solved that issue already by yourself. Thank you very much for the fast action! 🙂

[2020-04-16 09:25] fhourdin commented on #124
Got a similar issue, I'm using other HOC like "withRedux" and "withRedux" saga, My problem was fixed by moving "appWithTranslation" to the first level :

```export default withRedux(makeStore)(withReduxSaga(appWithTranslation(MyApp)))```

[2020-04-16 14:06] vanskins commented on #307
@isaachinman , but on first load of the app translation is not showing. Example I have two translations en and it, then if I refresh the browser with en on as language it is not showing but when I switch to it it translates but if I switch back to en it does not translate.

[2020-04-17 17:06] samuelcastro opened #685 "Locize integration doc"
## Is your feature request related to a problem? Please describe.
Right now as far as I could see, there is no documentation about how to integrate with Locize.

## Describe the solution you'd like
I'd super helpful describe it or to have a simple Locize code example.

## Describe alternatives you've considered
Can't find anything

[2020-04-17 17:11] isaachinman commented on #685
Not sure what you expect - they are categorically different things. There are many tools available for managing your translation content, and presumably any that can read/write JSON are compatible with `next-i18next`. The specifics of your own implementation will be up to you!

If you opened this issue because you intend to _add_ documentation about how to integrate with Locize, let's leave it ope

[2020-04-17 17:30] samuelcastro commented on #685
Thanks for the quick reply @isaachinman, so yes I'm integrating Locize and I think it could be helpful to have it documented here somewhere or even as a example code.

[2020-04-17 18:06] isaachinman commented on #685
Okay, let us know how it goes!

[2020-04-17 22:39] AndyOGo commented on #586
I have the same warning.
Here is the next.js documentation about it:
https://github.com/zeit/next.js/blob/master/errors/opt-out-auto-static-optimization.md

[2020-04-19 01:48] becomevocal commented on #195
The suggestion from @MichalW worked for me, after I started using `node -r esm` and added `index.ts` to the transpile step.

**package.json**
[code]

[2020-04-19 11:58] toltarisa opened #686 "having CORS when changing language."
i'm having  cors when changing language with i18n.changeLanguage.

![cors](https://user-images.githubusercontent.com/38230661/79687180-16cfd280-824e-11ea-9ec7-b4a5f82004fa.png)

My i18n config is just like this .
[code]

[2020-04-19 12:18] isaachinman commented on #686
Please post on StackOverflow or similar. Good luck!

[2020-04-19 12:18] #686 closed

[2020-04-19 12:37] toltarisa commented on #686
if you face problem like this here is stackoverflow post, there is like nothing out there about this problem.

https://stackoverflow.com/questions/61304415/having-cors-when-changing-language-with-next-i18next-library

[2020-04-19 12:38] slava-lu opened #687 "Incorrect setup instructions"
## Describe the bug
In step 3 you suggest to setup i18n config using `import` type of modules which does not work by default in express server.
[code]
Your own simple example uses `require` type of modules but as you mention in the comments we can't just copy paste it.  Even if we switch on the experimental feature for node.js to support `import` modules, the example still breaks as your `server.j

[2020-04-19 17:12] tofikabdullayev commented on #687
+

[2020-04-19 17:57] isaachinman commented on #687
How you manage module and syntax is entirely up to you! If we change the module setup for docs/examples, someone will later complain that we're not using ES6 modules, etc.

That said, if you think you can clarify or simplify documentation, please do feel free to submit a PR and I will review it promptly.

The custom server is necessary to use `i18next-express-middleware`, which drives language det

[2020-04-19 19:44] gearsdigital commented on #687
@isaachinman At least the documentation should be consistent, don't you agree? Unexpirenced Users tend to follow installation and setup instructions step by step an getting confused if something unexpected happens.

[2020-04-19 19:47] isaachinman commented on #687
Sure, I don't have much of an opinion on which module system to use in the docs. If you think it'll help unexperienced users, that's fine with me. The reason we have a working example is to provide something concrete if you really do want to copy/paste.

[2020-04-20 09:58] toltarisa commented on #686
I got the error.Here is the correct version.I added backend object and loadPath inside it and it solved the issue.

[code]

[2020-04-20 16:29] felixmosh commented on #677
Actually this Next's requirement is absurd, cause if you have translations you must translate your custom 404 as well.

[2020-04-20 17:17] isaachinman commented on #677
Yeah, @Danetag this is probably an issue to raise with the NextJs team. There's not much that can be done on the `next-i18next` side of things - we have to get translations _somehow_.

[2020-04-21 08:37] isaachinman commented on #274
Update: @adrai has been generous enough to write [i18next-http-middleware](https://github.com/i18next/i18next-http-middleware) for us. I am reviewing the repo and testing the functionality. If all looks good, we'll be able to move `next-i18next` off its Express dependency, and then rewrite the internals to use built-in NextJs data fetching methods instead of a custom server.

[2020-04-21 12:46] slava-lu commented on #687
I will submit PR for this part of the doc in the next few days

[2020-04-21 13:09] isaachinman commented on #687
Okay - just a heads up that I will be rewriting `next-i18next` pretty significantly quite soon and the API will change.

[2020-04-21 17:10] Kenpa commented on #682
It's still not working for me after updating to 4.3.0

[2020-04-21 17:13] isaachinman commented on #682
@Kenpa Can you create a reproducible example? @timonweber Is the issue resolved on your end?

[2020-04-21 17:38] Kenpa commented on #682
I just updated to 4.3.0, run next server.js (custom server), and still got english content instead of french in Safari... Works fine in Chrome and Firefox

[2020-04-21 18:54] isaachinman commented on #274
Initial PR to refactor custom servers in `next-i18next` to use of `rewrites` and middleware inside `getInitialProps`: #689.

Would be appreciative of any comments or feedback!

[2020-04-22 11:02] DziyanaYarmoliuk opened #691 "Dynamic routes doesnt work in production"
Hi, guys! I integrated  next-i18next in my next app, and was run into problem with routes.
So my case is:
in localhost when I'm starting app for developments, it works correct. But when I'm push it in server, all dynamic routes doesn't work, and I'm getting 404 error.

[2020-04-22 11:18] isaachinman commented on #691
Probably a misconfiguration in your `package.json` scripts. Please provide a reproducible repository.

[2020-04-22 11:50] DziyanaYarmoliuk commented on #691
my comands in package.json
`  "scripts": {
    "switch": "./scripts/switch-env.sh",
    "dev": "nodemon -w server.js server.js",
    "test": "node server.js",
    "export": "next export",
    "build": "next build",
    "start": "NODE_ENV=production node --max-old-space-size=8142 server.js",
    "fix-memory-limit": "cross-env LIMIT=2048 increase-memory-limit"
  },`
when I'm starting `npm run dev` o

[2020-04-22 12:35] isaachinman commented on #691
Please provide a reproducible repository.

[2020-04-22 16:25] #661 closed

[2020-04-22 16:26] isaachinman commented on #665
You copied the example dir directly instead of learning from it: most likely `process.env.LOCALE_SUBPATHS` was undefined.

[2020-04-22 16:26] #665 closed

[2020-04-22 16:27] #623 closed

[2020-04-23 08:10] timonweber commented on #682
@isaachinman Sorry for the late reply. Unfortunately the problem is still present on my end. But I had a deeper look into it and it seems that this issue is not only related to the casing of the language string but also to the presence of a region code.

For example: When I configure an app with a default language of `en` and a subpath for both `en` and `de` I getting a redirect to `/en` when I se

[2020-04-23 08:13] isaachinman commented on #682
Check the [configuration options](https://github.com/isaachinman/next-i18next/pull/689). Specifically, `load: languageOnly`.

[2020-04-23 08:20] timonweber commented on #682
@isaachinman Sorry, I totally missed that option! I tested it again and yes, everything is working as expected after the update. Both `Accept-Language: de-DE` and `Accept-Language: de-de` are correctly pointing to `/de`.

Thanks again! 🙂

[2020-04-23 09:23] Kenpa commented on #682
@isaachinman Sorry, missed that option too! Works fine now! Just one thing that seems odd to me in Safari: when i try to get the current language with `i18n.language`, it also returns me the region, `en-US`, instead of only `en` in Chrome and Firefox

[2020-04-23 09:24] isaachinman commented on #682
Please raise any questions like that via StackOverflow, or via the relevant i18next repository.

[2020-04-23 15:24] marco-000 opened #692 "Firefox warning next-i18next cookie not secure"
I'm getting this warning in Firefox 76 with next-i18next 4.3.0:

`
Cookie “next-i18next” will be soon rejected because it has the “sameSite” attribute set to “none” or an invalid value, without the “secure” attribute. To know more about the “sameSite“ attribute, read https://developer.mozilla.org/docs/Web/HTTP/Cookies
`

[2020-04-23 15:26] isaachinman commented on #692
Read [the docs](https://github.com/i18next/i18next-http-middleware#detector-options).

[code]

[2020-04-23 15:26] #692 closed

[2020-04-23 15:39] macrozone opened #693 "i18n.languages only contains default language"
## Describe the bug

## Occurs in next-i18next version

4.3.0

## Steps to reproduce

I have this config

[code]

custom server is properly initialized :

[code]

on the client i use

[code]

[2020-04-23 18:03] samuelcastro opened #694 "Locale Sub Path Question"
Hi, this is not a bug but a question about locale subpath, I'm not sure whether or not this is the best place to put it, sorry if it's not, so the question is:

What's the recommendation about whether or not we should use locale sub-paths, I've seen many sites using subpaths and others not, and this raises the question what's the best approach and what's the main difference between both approach (

[2020-04-23 18:27] isaachinman commented on #694
The issue tracker of this repository is not the right place to ask that sort of question.

My personal opinion is: it depends. There is no real industry consensus, although splitting your different languages across _some sort_ of locale subpath/subdomain/domain is preferable for many reasons, most notably SEO.

[2020-04-23 18:27] #694 closed

[2020-04-23 18:29] isaachinman commented on #693
That's not what `i18n.languages` is. Please take a look at i18next documentation if you're interested in the inner workings of that package.

[2020-04-23 23:11] samuelcastro commented on #694
Thanks @isaachinman!

[2020-04-23 23:14] samuelcastro commented on #694
Just to add some color, I found this that could be useful: https://webmasters.stackexchange.com/questions/403/how-should-i-structure-my-urls-for-both-seo-and-localization

[2020-04-24 09:41] macrozone commented on #693
@isaachinman woops, it seems i got confused (like many others) by the api. thank you for your clarification.

[2020-04-26 18:54] pettomartino commented on #652
Any updates here?
It can be a workaround for now, or a way to silence

Thanks

[2020-04-26 18:57] isaachinman commented on #652
Hey @pettomartino - no update from my side. You can always silence warnings by setting `strictMode` to `false`. Please do feel free to contribute if you so choose!

[2020-04-26 19:04] pettomartino commented on #652
@isaachinman thank for so short reply. Gonna try to implement something then. Any hints?

[2020-04-26 19:14] isaachinman commented on #652
@pettomartino Do you mean contributing to `next-i18next`? If we want to support `getServerSideProps`, we'll need to update the `appWithTranslation` HOC to also look for that data fetching method in addition to `getInitialProps`.

[2020-04-30 09:52] MSefer commented on #196
This works for me. This file doesn't transpile. Change your ES6 codes to ES5.

const NextI18Next = require('next-i18next').default

const NextI18NextInstance = new NextI18Next({
  defaultLanguage: 'tr',
  otherLanguages: ['en']
})

module.exports = NextI18NextInstance

module.exports =  {
  appWithTranslation,
  withTranslation,
} = NextI18NextInstance

[2020-04-30 10:01] isaachinman commented on #274
If I released #689 on a beta, would any of you be interested/willing to test it in real apps?

[2020-04-30 14:20] Kenpa commented on #517
Hey, any update on this feature?

[2020-04-30 15:39] ricardobrandao commented on #654
I'm having the same issue. @srgvrnv were you able to understand what the issue was?

Best,

[2020-04-30 20:29] nassimbenkirane commented on #274
I would love to, unfortunately pretty busy right now, I hope to find some time and look at it next week. Thanks a lot for the effort !

[2020-05-01 07:01] mvirbicianskas commented on #274
@isaachinman i'd be happy to test it on our WIP production app, thank you for the great work!

Initially I didn't like the custom express server middleware idea, wanted to migrate to other implementation, but it seems right now this is the simplest way to i18n ones apps while using next :)

[2020-05-01 17:24] isaachinman commented on #274
Serverless beta has been released under `next-i18next@beta`. Please help out by testing in your apps!

[2020-05-02 09:56] Accumulative commented on #274
I had to switch from node 13 to node 10 to avoid this error

[2020-05-02 10:00] adrai commented on #274
Do you have some reproducable repo?
i18next is designed to be used in esm and commonjs for all node.js versions.
How does your setup look like? Are you transpiling?
btw. To force commonjs you can also import/require ‘i18next-http-backend/cjs’

[2020-05-02 10:02] isaachinman commented on #274
@Accumulative @adrai As `i18next-http-backend` has been merged into `master` of `next-i18next`, that's not actually a serverless-specific issue. If it's a genuine bug can someone please open a new issue?

[2020-05-02 10:10] adrai commented on #274
@Accumulative please ping me, if you have something 👍

[2020-05-02 10:39] Accumulative commented on #274
Sorry, you're right; not related to this change. The "Expected version >=10" message (which isn't in v4.4.0) caused me to switch from node v8 to v13 and get the error. My project is the same as the example which doesn't work out of with box with node v13, I'll raise an issue.

[2020-05-02 11:03] laitlhadj commented on #274
Hi,
I removed the middleware in my server.js.
Now the when I load the home page, the redirection to the default language is ok but I have 404 error, page not found. Do you have any  idea ?

[2020-05-02 11:39] isaachinman commented on #274
@laitlhadj Please post a reproducible example. It sounds like you haven't added `rewrites` to your config.

[2020-05-02 12:17] laitlhadj commented on #274
Yes, it's ok with the `rewrites ` in config 👌

Now, when I'm deploying to Zeit, I have the following error :

`{
   "errorType":"Error",
   "errorMessage":"Must use import to load ES Module: /var/task/node_modules/i18next-http-backend/cjs/index.js\nrequire() of ES modules is not supported.\nrequire() of /var/task/node_modules/i18next-http-backend/cjs/index.js from /var/task/node_modules/next-i18ne

[2020-05-02 12:22] laitlhadj commented on #274
Yes, it's ok with the rewrites in config 👌

Now, when I'm deploying to Zeit, I have the following error :

`{
   "errorType":"Error",
   "errorMessage":"Must use import to load ES Module: /var/task/node_modules/i18next-http-backend/cjs/index.js\nrequire() of ES modules is not supported.\nrequire() of /var/task/node_modules/i18next-http-backend/cjs/index.js from /var/task/node_modules/next-i18next/

[2020-05-02 12:31] isaachinman commented on #274
@adrai Can you address this as necessary? Looks like the `cjs` target is being pulled in, but the Vercel platform is unhappy due to `module` declaration in the `package.json`.

[2020-05-02 12:47] adrai commented on #274
@isaachinman like here: https://github.com/locize/i18next-locize-backend/issues/323#issuecomment-619625571
any advice is welcome

[2020-05-02 12:49] isaachinman commented on #274
@adrai Well, it seems like Vercel is doing something non-standard in terms of module resolution. A fix should be as simple as writing a separate `cjs` `package.json` into the `cjs` dist dir - not sure exactly how your compilation process works, but I think that'd be the approach necessary.

[2020-05-02 12:51] adrai commented on #274
this is already the case... this is why importing 'i18next-http-backend/cjs' works

[2020-05-02 12:51] isaachinman commented on #274
@adrai Ah yeah, I saw that just seconds after posting above. I suppose we'll just point the import within `next-i18next` to the `cjs` dir explicitly.

[2020-05-02 12:52] adrai commented on #274
at least as long as they are not fixing this 🤷‍♂️
I would help, but I have no clue about Vercel, sorry

[2020-05-02 12:58] adrai commented on #274
Vercel: ![image](https://user-images.githubusercontent.com/1086194/80864807-57cfda00-8c85-11ea-9fb9-d731479e38d3.png)
https://github.com/zeit/now/issues/3337#issuecomment-556141731

[2020-05-02 14:39] isaachinman commented on #274
Okay, I've changed imports from `i18next` to point explicitly at the `cjs` subdir, and can confirm the beta release will build on Vercel now. However, I'm still getting the `fs` error:

[code]

How have users gotten around this?

[2020-05-02 18:59] nassimbenkirane commented on #274
@isaachinman, I've been using dynamic imports instead of direct fs calls successfully. It can then be bundled by webpack, during the ~now~ vercel serverless compilation step

[2020-05-02 19:18] isaachinman commented on #274
@nassimbenkirane Can you provide an example?

[2020-05-02 19:29] nassimbenkirane commented on #274
Sure, I'm doing something like this this in _app.js
(Didn't take the time to refactor the namespace since we only use one)
[code]

[2020-05-02 19:34] nassimbenkirane commented on #274
I had tried using i18next-fs-backend (with the initImmediate option) before with no success. To do this in a clean way we would probably need to create a "dynamic import" backend I guess

[2020-05-02 19:55] isaachinman commented on #274
I don't think writing a new plugin should be necessary. Let's just take advantage of what NextJs/Vercel offer out of the box: the translation data is already available at:

`${VERCEL_URL}/static/locales/{{lng}}/{{ns}}.json`

@adrai Are we able to use `i18next-http-backend` to load resources from a "remote" source in the NodeJs environment (in addition to browser), as opposed to filesystem in NodeJ

[2020-05-02 20:07] adrai commented on #274
@isaachinman sorry, probably I missed part of the discussion...
what is the actual problem with i18next-fs-backend?

[2020-05-02 20:09] isaachinman commented on #274
@adrai There's no problem with `i18next-fs-backend` - the problem is with Vercel's platform. Their serverless approach results in there not really being a "filesystem" at all.

[2020-05-02 20:12] adrai commented on #274
Can't the files just be included in the vercel build like public assets?

[2020-05-02 20:13] adrai commented on #274
btw: i18next-http-backend works also in node.js environment, not just in the browser

[2020-05-02 20:15] nassimbenkirane commented on #274
There is an option in other builders for manually including files, but right now it doesn't seem to je included in now/next builder https://github.com/zeit/now/issues/3083

[2020-05-02 20:16] adrai commented on #274
ok, thx

[2020-05-02 20:17] adrai commented on #274
so, yes just use i18next-http-backend on client and serverside... should work the same

[2020-05-03 13:34] Accumulative commented on #274
I'm using serverless-next.js. I just made sure the public/locales folder is included in the lambda. The translations are working for me.

[2020-05-03 16:01] isaachinman commented on #274
@Accumulative Do you mean with the current `beta` release, or just in general?

[2020-05-03 16:57] Accumulative commented on #274
@isaachinman With the beta release. I'm guessing it wouldn't work without it because of the express dependency, but I haven't tried it.

[2020-05-04 07:08] gtolarc opened #699 "Multiple cookies are created after updating to version 4.4.0"
After updating to version 4.4.0, multiple cookies were created as follows. Can you see why?

Middleware has been changed to i18next-http-middleware, but I use fastify, not express. Could this be the cause?

At least version 4.3.0 had no problems with fastify.

![스크린샷 2020-05-04 오후 4 03 46](https://user-images.githubusercontent.com/8623798/80943123-6b17ac80-8e21-11ea-93b8-fd4969f852e2.png)

[2020-05-04 07:45] condorman commented on #699
same problem, i follow the simple tuttorial in src code.

[2020-05-04 09:11] isaachinman commented on #699
This seems to be reproducible on next-i18next.com.

@adrai We seem to have a critical error in the new i18next deps. Release is [here](https://github.com/isaachinman/next-i18next/releases/tag/v4.4.0).

[2020-05-04 09:35] adrai commented on #699
I'm investigating....

[2020-05-04 09:43] isaachinman commented on #699
Thanks - I don't have a lot of time this morning but let me know if I can help in any way. Not sure if this is an implementation issue, but we didn't have this issue with the previous i18next packages. The [example](https://github.com/isaachinman/next-i18next/tree/master/examples/simple) is what runs on the domain above and should be able to repro.

[2020-05-04 10:01] adrai commented on #699
@isaachinman should be fixed with i18next-http-middleware@1.0.2

[2020-05-04 11:29] isaachinman commented on #699
@adrai Is there test coverage for this bug?

[2020-05-04 11:33] adrai commented on #699
yes ;-)

[2020-05-04 12:40] isaachinman commented on #699
Great. Can you deprecate any/all broken versions of `i18next-http-middleware` via npm? I'm going to update `next-i18next` now.

[2020-05-04 12:42] adrai commented on #699
I generally don’t like to do this, because it’s only a bug for those who use the cookie caching option...
But if you really prefer, I will rethink about it.

[2020-05-04 12:44] isaachinman commented on #699
Fair point. Just wanted to prevent `next-i18next` users from unknowingly installing the broken versions. I can also just pin the dep within `next-i18next`. Let me know what you prefer - both approaches are fine for me.

[2020-05-04 12:53] adrai commented on #699
I would prefer you to update your package.json
`"i18next-http-middleware": "^1.0.2"`
or
`"i18next-http-middleware": ">=1.0.2"`

[2020-05-04 12:54] isaachinman commented on #699
Sure, we can pin within `next-i18next`. Just want to point out that your first example there, `^1.0.2` would not result in the right versions being installed in all cases.

[2020-05-04 12:58] adrai commented on #699
you're right... let's do both ;-)

[2020-05-04 12:58] #699 closed

[2020-05-04 13:14] isaachinman commented on #699
Released in v4.4.1.

[2020-05-04 14:19] gianpaolom commented on #274
@Accumulative Hi, I am also trying to use serverless-next.js with AWS, and stepped into this thread.
How do you  make sure to include the public/locales directory?

[2020-05-04 14:39] gtolarc commented on #699
Although the number was reduced as follows, it still seems to have problems.
And I'm using a server-side cookie library called nookies, and the part of setting the cookie on the server side is broken in my case.

![스크린샷 2020-05-04 오후 11 35 50](https://user-images.githubusercontent.com/8623798/80977999-7211df80-8e60-11ea-8b60-b5b0806d0358.png)

[2020-05-04 14:47] adrai commented on #699
@gtolarc I can’t reproduce this 🤷‍♂️

[2020-05-04 15:02] gtolarc commented on #699
After clearing the cookie completely and trying a few more times, it seems that the creation of multiple cookies has been fixed.
However, the server-side cookie setting was definitely broken. What is the reason? Here is a simple pseudo code.
[code]

[2020-05-04 15:06] isaachinman commented on #699
@gtolarc That's got nothing to do with `i18next` or `next-i18next`. Please post elsewhere. Good luck!

[2020-05-05 00:43] bruqui commented on #626
Has anyone had any luck using [i18next-hmr](https://github.com/felixmosh/i18next-hmr). I've tried without success unfortunately. It would be a nice work around as an alternative as opposed restarting the server.

[2020-05-05 01:37] Accumulative commented on #274
@gianpaolom I just copied it manually, but you should be able add something like this to your serverless.yml:

[code]

build.sh
[code]

[2020-05-05 02:08] gtolarc commented on #699
But, commenting this out and running it will make the server side cookie work. Is it really not related to i18next-http-middleware? @isaachinman @adrai

https://github.com/isaachinman/next-i18next/blob/bdd48e3caf5dd83e8e990b05d1d2ce8a6651b975/src/middlewares/next-i18next-middleware.ts#L44

[2020-05-05 05:28] DonovanCharpin opened #702 "Error URLSearchParams is not defined when loading"
## Describe the bug
I updated the library, seems to work fine with my macbook and chrome browser but I have an Internal Server Error that occurs when I open the same url with my iPhone using Safari. I was not able to do more tests because I got the issue in production so I had to rollback. The trace below should help.

## Occurs in next-i18next version
It happens with the version v4.4.1

## Steps

[2020-05-05 06:38] adrai commented on #699
@gtolarc can you investigate on which inner part of i18nextMiddleware would be related to this?
I can't reproduce this.

[2020-05-05 06:44] adrai commented on #702
I've just released a new version of i18next-http-middleware with an additional querystring fallback... that should work also without URLSearchParams...
so, just `rm -rf node_modules` and `npm install` again...
But my question is: What is your server environment, not having URLSearchParams?
Which node.js version are you using? is it lower v10.0.0 ?

[2020-05-05 07:11] isaachinman commented on #702
Yeah this is a curious one. The middleware shouldn't be running in browser envs, and even if it _were_, `URLSearchParams` is [supported by most iOS devices](https://caniuse.com/#search=URLSearchParams).

@DonovanCharpin Perhaps you can help us understand how you believe this is browser-specific?

[2020-05-05 07:27] isaachinman commented on #699
@gtolarc If your issue is caused by using this `nookies` package, it has nothing to do with `i18next` or `next-i18next`. As far as I can tell it's as simple as that, but do let us know if you believe otherwise.

[2020-05-05 07:53] felixmosh commented on #626
@bruqui what is the issue that you get?
I work with it every day :]

[2020-05-05 09:57] gtolarc commented on #699
I looked at the i18next-http-middleware code, so I think following part is the problem. It should be a way to keep and add, not overwrite the set-cookie.

https://github.com/i18next/i18next-http-middleware/blob/cf5c9a29391d54aebc83c840b9ea3a3cce73232c/lib/languageLookups/cookie.js#L87

In the existing i18next-express-middleware, it is.
https://github.com/i18next/i18next-express-middleware/blob/mas

[2020-05-05 11:14] adrai commented on #699
@gtolarc can you try with i18next-http-middleware@1.0.4 ?

[2020-05-05 11:24] alexllao opened #703 "Simple test with Link component return Cannot update a component (`withI18nextTranslation(NextStaticProvider)`) while rendering a different component (`withI18nextSSR(MyApp)`)"
## Describe the bug
1.) When using the own component Link generates an error in the following landing page.
2.) When refresh routed "localhost:3000/es/test" entire page with F5, shows 404 error.
3.) i18n.languages were undefined or empty undefined

## Occurs in next-i18next version
Last version.

## Steps to reproduce
It is a very basic example that I have not uploaded to any repository. You can l

[2020-05-05 11:24] gtolarc commented on #699
oh, it works! @adrai thank you guys.

[2020-05-05 11:31] adrai commented on #699
@gtolarc thanks to you...
Are your set-cookie headers looking ok now?

[2020-05-05 12:13] gtolarc commented on #699
sure

[2020-05-05 13:04] bruqui commented on #626
Oh, sweet... yeah, I'll open an issue on that repo.

[2020-05-05 13:07] isaachinman commented on #703
Well, you haven't followed the documentation. You need to either use a custom server, or try out the beta/serverless release.

[2020-05-05 13:07] #703 closed

[2020-05-05 13:09] isaachinman commented on #699
Ah, @gtolarc I understand now. Thanks for helping us figure that one out!

[2020-05-05 13:24] #687 closed

[2020-05-05 13:27] DonovanCharpin commented on #702
@adrai my environment is lower than 10.0.0, actually running 8.12.0. I think I will upgrade it soon!

@isaachinman The error was on the server side, but maybe created because of some headers sent by the browser? Also, I'm not 100% sure it's browser specific, maybe the server was sending me back a cache version on my chrome browser. That could be totally related to my node environment as @adrai men

[2020-05-05 13:30] isaachinman commented on #702
Although Node 8 is no longer in LTS, it's nice to have fallbacks in place - thanks @adrai. I don't believe there's anything else to do here - @DonovanCharpin let us know if you feel otherwise.

[2020-05-05 13:30] #702 closed

[2020-05-05 13:35] gianpaolom commented on #274
@Accumulative thank you for your answer. Unfortunately I realised now I am using the most recent version of `serverless-next` which uses components, and what it does is using a component for lambda@edge, which copies a fixed number of files/dirs from `.next/serverless`

I tried a horrible hack of the code of the component to add the `public/locales` dir, so that it ships the directory to the lambd

[2020-05-05 13:57] adrai commented on #274
@gianpaolom Can you verify if i18next-fs-backend v1.0.2 is installed?

[2020-05-05 14:10] gianpaolom commented on #274
@adrai yes, it's in my `package.json` and inside my `node_modules` directory in the tree.

[2020-05-05 14:41] adrai commented on #274
@gianpaolom Can you create a reproducable example?

[2020-05-05 16:29] gianpaolom commented on #274
@adrai the steps I have done are:
[code]
Hack `lambda-at-edge` component:
`${HOME}/.serverless/components/registry/npm/serverless-next.js@${VERSION}/node_modules/@sls-next/lambda-at-edge/dist/build.js`

to include the `public/locales` dir
[code]

My `serverless.yml`:
[code]

where `build.sh`:
[code]

Deploy with:
[code]

[2020-05-05 16:38] arsea commented on #373
Neither work for me, wrapping it in a fragment either. It's just not usable at the moment.

[2020-05-05 16:44] adrai commented on #274
@gianpaolom Sorry, I'm not familiar with serverless-next.js
So isn't this reproducable locally?
Something I can git clone... && npm i && npm start ?

[2020-05-05 17:17] gianpaolom commented on #274
@adrai I'm afraid not. This happens when the code is already at AWS Lambda

[2020-05-05 17:19] isaachinman commented on #274
Hi all - I know it's frustrating but let's keep this discussion to _general_ support of serverless, not the intricacies of individual platforms.

[2020-05-05 17:33] lcnogueira commented on #274
Hi there, I've been following the discussion since yesterday because I'm facing the same problem: trying to deploy my app to `now` and getting an error, since `now` doesn't support ESM files.

I was trying to figure out how I could change the imports to automatically point at `cjs` subdir (as suggested by @adrai). I've just realized @isaachinman released it in the 4.4.1 version. Thanks a lot for t

[2020-05-05 18:27] isaachinman commented on #274
@lcnogueira If you want to deploy a `next-i18next` project on `now`, the best thing to do is make sure the Vercel team are aware! https://github.com/zeit/now/issues/3083 seems to track the problem, but in general this is down to Vercel's proprietary/opinionated platform.

[2020-05-05 19:03] lcnogueira commented on #274
Ok, @isaachinman . Thanks for the clarification :+1: .

[2020-05-06 00:59] bruqui commented on #626
So after @felixmosh helped me figure out my code mistake in the above issue, the [i18next-hmr](https://github.com/felixmosh/i18next-hmr) library is working out really great for me.

[2020-05-06 04:07] Accumulative commented on #274
@isaachinman @adrai @gianpaolom
 I had the same issue. I had to copy the `i18next-fs-backend` and `i18next-http-middleware` into the `default-lambda/node_modules` folder to get rid of this error.

I think the problem is that when we run `next build` it creates these two lines in the `.next/serverless/pages` bundles:
[code]
rather than including the code for these packages in the bundle itself.

[2020-05-06 08:52] isaachinman commented on #274
@Accumulative Those `eval`s are a nasty hack-solution to splitting deps out of client side bundles. I've just rerun two builds, one with `eval` and one without.

With `eval`:

![Screen Shot 2020-05-06 at 09 46 22](https://user-images.githubusercontent.com/10575782/81157590-08d4be00-8f7f-11ea-8004-0be5f58160d9.png)

Without `eval`:

![Screen Shot 2020-05-06 at 09 49 30](https://user-images.githubus

[2020-05-06 08:57] janhesters commented on #274
We are running the fix in production and so far it works well. Thank you for this! Saved our branch deployments. 🔥

[2020-05-06 08:58] isaachinman commented on #274
@janhesters What platform are you running on?

[2020-05-06 09:14] janhesters commented on #274
@isaachinman Sorry, it looks it didn't fix it for our serverless deployments. (Our production runs on Heroku 🙈 ).

Our branch deployments are on Vercel. And this is the error.

[code]

[2020-05-06 09:27] isaachinman commented on #274
@janhesters Yes, same error all deployments on Vercel end up with. Please let the Vercel team know if this is something you'd like to be able to deploy.

[2020-05-06 09:56] janhesters commented on #274
@isaachinman How would you recommend to reach out to them?

[2020-05-06 11:36] lcnogueira commented on #274
@janhesters, I have opened up a discussion on zeitjs platform: https://github.com/zeit/now/discussions/4271. Let's keep the discussion there :+1: .

[2020-05-06 16:21] 7iomka commented on #615
@orifmilod same question to community!
How next.js docs (https://nextjs.org/docs/advanced-features/custom-app)
say:

// every single page in your application. **This disables the ability to
// perform automatic static optimization, causing every page in your app to
// be server-side rendered.**
// MyApp.getInitialProps = async (appContext) => {
//   // calls page's `getInitialProps` and fills `app

[2020-05-06 16:29] 7iomka commented on #586
@AndyOGo that happens because we use in _app getInitialProps
How next.js docs (https://nextjs.org/docs/advanced-features/custom-app)
say:

// every single page in your application. **This disables the ability to
// perform automatic static optimization, causing every page in your app to
// be server-side rendered.**
// MyApp.getInitialProps = async (appContext) => {
//   // calls page's `getInitia

[2020-05-06 18:19] martpie commented on #586
There is no way around it for now. A lot of Next.js plugins rely on extending `_app`'s `getInitialProps` unfortunately, and `next-i18next` is one of them.

TBH, static optimization is a small loss compared to the benefits `next-i18next` brings.

[2020-05-06 20:39] adrai commented on #685
@samuelcastro Aren't you just downloading the translations before you build your app?
something like: `locize download --project-id=locize-project-id --ver=latest --clean=true --path=./public/static/locales` => [locize-cli](https://github.com/locize/locize-cli#download-current-published-files)

[2020-05-06 23:58] gurkerl83 commented on #274
What version of next are you running?

There was an issue in next with process.cwd() in older versions of next more precise before 9.2.3-canary.21. This function gets used in next-i18next in create-config.ts to locate the base folder. It seemed that previous to this version, when a page got wrapped in a lambda process.cwd() returned, not the correct folder where the process got launched. Before th

[2020-05-07 11:16] isaachinman commented on #274
@gurkerl83 It's nothing to do with `process.cwd`. I've tested both ways.

[2020-05-07 12:02] isra60 opened #704 "Help needed. Reload page seems to broke the language. Dynamic keys??"
Hi. I have follow the tutorial.. this is my app.js and my index.js

Index.js
[code]
_app.js
[code]

Then I have a Menu component that load a settings page with different menues.

[code]
I don't know how to make this to change dinamycally as this menu only rerender on loading page (location.reload())

Then in one of my form settings I have the language selector.

[code]
So when I changed the langua

[2020-05-07 12:19] isaachinman commented on #704
Please post on StackOverflow.

[2020-05-07 12:19] #704 closed

[2020-05-07 12:30] gurkerl83 commented on #274
Not questioning anything here, but now behaves differently on a local machine (both for dev / prod config) compared to deploying it through now deploy.

My modifications in create-config.ts was. I experienced that the public folder is sometimes available. I cannot remember the exact constellation anymore but maybe the following code snippet is helpful, hopefully it is nor direct in the wrong direc

[2020-05-07 16:17] isra60 commented on #704
Here is the question in stackoverflow
https://stackoverflow.com/questions/61658401/next-i18next-reload-page-seems-to-broke-the-language-dynamic-keys

[2020-05-08 07:54] mvirbicianskas commented on #57
@isaachinman I'm still encountering this issue on 4.3.0, sorry, can't provide reproducible example right now, but it seems it's some kind of a racing condition and it's not possible to consistently reproduce it, sometimes it happens 15 page refreshes consecutively sometimes it doesn't happen for half an hour. If I get to the bottom of it, I'll provide a reproducible example. I have a feeling this

[2020-05-08 10:03] mvirbicianskas commented on #57
@isaachinman I think found where the issue comes from, in `server.js` while middleware is being initialised
I think there's some racing conditions with this:
`server.use(nextI18NextMiddleware(nextI18next));`
to fix this you basically need to await for it before server can start resolving requests with this:
`await server.use(nextI18NextMiddleware(nextI18next));`

🤔 I'll keep an eye if the issue st

[2020-05-08 12:05] isra60 commented on #704
@isaachinman  I have trying with other browser configuration (with have english language as default) and when the page reloads the web changes to english language even with browserLanguageDetection= false

But my delfault language is spanish (es). So any hints of what is wrong??

Thanks in advanced

[2020-05-08 18:55] JuanSebastanCho opened #706 "Help with basic server.js implemented using fastify"
Hello, I have used i18n for a website but the express server is quite slow for the implementation. Could someone help me with a simple "server.js" to use in Next.js and i18n but using fastify server? Couldn't got it to work... Thank you :D

[2020-05-08 18:59] isaachinman commented on #706
This is an issue tracker, not a help forum. Please post on StackOverflow or similar. Good luck!

[2020-05-08 18:59] #706 closed

[2020-05-08 20:50] adrai commented on #706
https://github.com/i18next/i18next-http-middleware/blob/master/example/fastify/index.js

[2020-05-09 00:09] s875515 commented on #652
There is another library solution, but it needs you to change the library...
https://github.com/zeit/next.js/blob/canary/examples/with-i18n-rosetta/README.md

[2020-05-09 00:35] s875515 commented on #652
@pettomartino there is a demonstration that the i18n solution works in SSG. Hope it helps
https://github.com/zeit/next.js/pull/11841

[2020-05-09 16:33] 7iomka commented on #10
Will be nice to see any example of this!

[2020-05-09 18:12] isaachinman commented on #670
The `withTranslation` function comes from the `react-i18next` package - please open an issue related to typings in that repo.

[2020-05-09 18:12] #670 closed

[2020-05-11 02:51] a-eid commented on #560
@codesignist you probably need to disable cookie caching.

[2020-05-11 06:36] srgvrnv commented on #654
@ricardobrandao Unfortunately not. For now I solve it with using static class which I setup in `_app.tsx` instead of using `useTranslation()`
[code]

[2020-05-11 10:31] yogeshkotadiya commented on #464
I'm also having this issue, Multiple copies are bundled in production.

next-i18next: 4.4.1
next: 9.3.5
typescript: 3.7

![image](https://user-images.githubusercontent.com/9676379/81551194-11722d80-939f-11ea-8481-934c91b9753a.png)

[2020-05-12 07:59] JohnCido opened #709 "Wildcard or RegExp in ignoreRoutes"
## Is your feature request related to a problem? Please describe.

I'm using [next-pwa](https://github.com/shadowwalker/next-pwa) with `dest: public` enabled, which generates two js files in /public directory dynamically. And since the sw.js is required strictly served from the server without any redirects, the problem comes with the `workbox-*.js`. I can't use * to disabled redirect for this file

[2020-05-12 08:29] isaachinman commented on #709
Sounds reasonable - feel free to open a PR.

[2020-05-12 11:04] bahmanbs opened #710 "solving dynamic route issue"
## Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**** description ***********************************************
as you know, adding sub path to the route, will cause an error about matching "as" and "href" attributes.
because the folder structure will be different than "href" and "as" a

[2020-05-12 14:12] #710 closed

[2020-05-12 14:12] isaachinman commented on #710
We won't be making any assumptions about users' locale subpath setups.

[2020-05-12 14:46] bahmanbs commented on #710
thank you for your attention.

in the current version, what is the solution to use next-i18next with nextJs dynamic routing?
i couldn't find solution for this issue

i know we can not make any assumption about subpath .

it's obvious at the end, by using sub path, the url will be like this for default language /path/to/[page]
and for other languages it will be like /en/path/to/[page]

this makes p

[2020-05-12 15:42] tonmoy007 opened #711 "Build error occurred Error: Package exports for '/app/node_modules/i18next-http-backend' do not define a valid './cjs' target"
I am using this packages
"i18next": "^19.1.0",
"i18next-express-middleware": "^1.9.1",
 "i18next-http-backend": "^1.0.9",
 "i18next-http-middleware": "^1.0.4",
 "i18next-xhr-backend": "^3.2.2",
 "next-i18next": "^4.2.0",
when i run next build it throws the error

Build error occurred
Error: Package exports for '/app/node_modules/i18next-http-backend' do not define a valid './cjs' target
    at res

[2020-05-12 15:45] isaachinman commented on #711
Please use v4.4.1 or later.

[2020-05-12 15:45] #711 closed

[2020-05-12 16:43] tonmoy007 commented on #711
I have updated the version to "next-i18next": "^4.4.2" but the problem still exists is there any configuration that i have to update please help i am in a critical situation

[2020-05-12 16:52] isaachinman commented on #711
If you have cached dependencies, you'll need to either clear your cache, or pin to an exact version. If you read the release notes, you'll see that this error came from upstream i18next dependencies.

[2020-05-12 18:58] tonmoy007 commented on #711
I am using docker to run the project and these are my dependencies in package.json
[code]
and deleted my package-lock.json and build in docker but the problem still exists i am using typescript
this is my i18n.ts
`import NextI18Next from "next-i18next";
import { NextComponentType, NextPageContext } from "next";
import { useTranslation as originalUseTranslation } from "react-i18next";
export const

[2020-05-12 19:48] isaachinman commented on #711
@tonmoy007 I suggest you post on StackOverflow or similar - this is an issue tracker and the problem you are describing has already been fixed. Good luck!

[2020-05-12 19:59] tonmoy007 commented on #711
alright thanks for your response :)

[2020-05-12 20:52] chrisinajar commented on #654
The example repository posted above clearly demonstrates that `next-i18n` results in 1 extra render per language change than `react-i18n` does. Each full re-render using the react variant causes 1,100 renders -- one each. The next variant causes each component to render twice, 2,200 renders total.

This seems to be caused by the entire App tree being re-rendered instead of just the components that

[2020-05-12 20:58] isaachinman commented on #654
Don't have a lot of spare time at the moment, but very happy to hear any suggestions/ideas.

[2020-05-13 15:14] mateuspv opened #712 ""i18n.languages were undefined or empty undefined""
## Describe the bug
I'm facing a issue where `next-i18next` not always interpolating the translations.

On the video bellow, I'm using `t('description')` and `t('header.h1')`, but the values are not always interpolated.

Later, I open the same page on chrome incognito mod, on the first load the values are show correctly., eg:
t('description') -> `Hello i18n`
t('header.h1') -> `its working`

The co

[2020-05-13 18:53] isaachinman commented on #712
Please provide a reproducible example.

[2020-05-13 20:34] shunkakinoki opened #713 "Update core-js to 3"
for the next major version, an update for core-js to 3 will be nice!

Previously discussed here (#707)

[2020-05-14 10:29] emeline-sc opened #715 "Locale subpaths doesn't work in build env"
## Describe the bug
I have Locale subpaths "/en" and it's working well on dev env but not on build env, I've got 404.

# next-i18next.js
[code]

# version
[code]

# i18n.js

[code]

[2020-05-14 10:41] isaachinman commented on #715
Please provide a reproducible repo.

[2020-05-15 11:08] cfaure004 opened #716 "Cannot set headers after they are sent to the client - ^ 4.3.0"
## Describe the bug
Error on server middleware (server.use(nextI18NextMiddleware(nextI18next))) when res.writeHead({ Location: "/" }) from _app.tsx happen in version  4.3.0 (next-i18next) but works fine in 4.2.0 (next-i18next)

## Occurs in next-i18next version
next-i18next - 4.3.0
yarn - 1.22.4

## Steps to reproduce
Basic setup and add res.writeHead(302, { Location: "/" }); in _app.jsx

## Scree

[2020-05-15 11:09] isaachinman commented on #716
Please provide a reproducible repo.

[2020-05-15 11:22] adrai commented on #716
Maybe related: https://github.com/i18next/i18next-http-middleware/pull/4#issuecomment-627270885

[2020-05-15 11:28] Slowl commented on #485
I'm facing this issue and can't find to way to work around that ... I don't know if I'm doing something wrong here, I'll try to add more precisions  about the issue :

Here is where I pass my data from my Express.js backend into my prop "data" :
[code]

- On the first page load, everything works fine, and the data looks like this :
![Capture du 2020-05-15 13-12-25](https://user-images.githubuserco

[2020-05-15 12:12] cfaure004 commented on #716
I'm sorry, i just noticed i give you the wrong version. The issue was happening on version  "next-i18next": "^4.3.0".

With 4.4.2, all works fine i just have a message "no possibility found to set header"

[2020-05-15 16:54] stuart-williams opened #717 "Router.replace error with dynamic routes"
## Describe the bug

Router.replace causes next error:

[code]

## Occurs in next-i18next version

`next-i18next@v4.4.2`
`next@v9.4.0`

## Steps to reproduce

[code]

[2020-05-15 19:49] SpicyPete commented on #274
I tried to use the new rewrites version on a new app, but kept running into this error during configuration after following the simple example repository.
`Error: Cannot find module './dist/commonjs/utils/generate-rewrites'`

[2020-05-15 19:56] stuart-williams commented on #717
For reference the only way to make it work is:

[code]

[2020-05-15 19:56] #717 closed

[2020-05-15 19:58] isaachinman commented on #274
@SpicyPete Have you definitely installed `next-i18next@beta`?

[2020-05-15 20:06] SpicyPete commented on #274
@isaachinman 🤦 I was on beta, but using the full URL version like `git://github.com/isaachinman/next-i18next.git#beta`
Using the shorter version got passed that issue.  Thanks.

[2020-05-16 12:50] kachkaev commented on #716
_no possibility found to set header_ is quite annoying, especially given that [it is printed unconditionally](https://github.com/i18next/i18next-http-middleware/blob/5f93b45243fa1cdf68e9d63b716a86d15ad7c9d0/lib/httpFunctions.js#L77), both in dev and prod 🤔 @cfaure004, did you manage to find the workaround or the root cause?

[2020-05-16 13:08] adrai commented on #716
@kachkaev This is a different issue... The log comes from here: https://github.com/i18next/i18next-http-middleware/blob/master/lib/httpFunctions.js
PRs are welcome

[2020-05-16 13:21] adrai commented on #716
Ahh you mean the second time... when the header is already sent...?
Will probably change the logic to return in that case

[2020-05-16 14:33] adrai commented on #716
@kachkaev should be better with i18next-http-middleware@1.0.7

[2020-05-16 22:11] kachkaev commented on #716
Many thanks for releasing the new version @adrai! I can confirm that I no longer see log statements with `i18next-http-middleware@1.0.7` and `next-i18next@4.4.2` 🎉

[2020-05-16 23:03] adrai commented on #716
This must be somewhere in next-i18next or in userland... 🤷‍♂️
any help is welcome

[2020-05-17 11:37] isaachinman commented on #716
We'll need @cfaure004 to provide a reproducible example.

[2020-05-17 17:51] cfaure004 commented on #716
About what ? The message "no possibility found to set header" ?

This initial issue is not happening on latest version.

[2020-05-17 17:52] cfaure004 commented on #716
I think we can close this issue.

[2020-05-17 17:56] adrai commented on #716
Can you create an example with the old version which reproduces the error?
This would be very helpful to investigate the root cause.

[2020-05-17 17:57] cfaure004 commented on #716
Ok no problem, i'll do that

[2020-05-17 18:34] adrai commented on #716
👍 make sure you use i18next-http-middleware <= 1.0.6

[2020-05-17 20:03] cfaure004 commented on #716
On my side, i've always used middleware included in next-18next package

`const next = require('next')
const nextI18NextMiddleware = require('next-i18next/middleware').default`

[2020-05-17 20:15] Maadtin commented on #57
Im having this problem when adding to my config the "react.transSupportBasicHtmlNodes" property :S can someome help please?

[2020-05-17 20:38] cfaure004 commented on #716
I've been able to reproduced the message "no possibility found to set header" but not to reproduce the initial error

https://github.com/cfaure004/next-i18next-issues-716

[2020-05-17 20:41] cfaure004 commented on #716
Finally i've been able to reproduce the initial issue using i18next-http-middleware@1.0.4, all is in my repo 👍

[2020-05-17 20:46] isaachinman commented on #716
Yes, that's what you _should_ be doing. We need a repro of that, not using `i18next-http-middleware/cjs` directly.

[2020-05-17 21:27] adrai commented on #716
thx @cfaure004 I found somethig... it's caused by the redirect... here: https://github.com/cfaure004/next-i18next-issues-716/blob/master/pages/_app.jsx#L48
which seems correct (I'm not a nextjs expert)...

I also found in i18next-http-middleware that certain header values can be set twice (because of the languageChanged event), so I tried to optimize this with i18next-http-middleware@1.1.0

[2020-05-17 22:20] DonovanCharpin commented on #702
Thanks for your help.

FYI, I was updating my node and I was not in version 8.12.0 but 10.15.1. It was late, I don't know where I got this version from...

[2020-05-18 02:44] RomainKH commented on #195
Sending me this error when running server on local :/

[code]

[2020-05-18 05:18] d3tr1tus opened #718 "i18next - notReadyT - react-i18next:: You will need pass in an i18next instance by using initReactI18next"
Hi I want to use in my project translation and I made everythink just like in docs but in console I am getting warn

[code]

and if I log props

[code]

`home.ts`

[code]

`i18n.js`

[code]

`server.js`

[code]

`composer.json`

[code]

Can someone help me please?

[2020-05-18 06:10] cfaure004 commented on #716
@isaachinman  I have not been able to reproduce the issue using previous versions of next-i18next library, i think it was an outdated dependency. I just created this exemple to help @adrai to identify where does the issue was coming from.

Great @adrai !

[2020-05-18 08:28] #716 closed

[2020-05-18 08:29] isaachinman commented on #718
You need to wrap your `_app`. Please follow the docs.

[2020-05-18 08:29] #718 closed

[2020-05-19 04:48] d3tr1tus commented on #718
You are right! When I read docs I had to somehow skip this step. Thank you @isaachinman

[2020-05-19 14:32] mateuspv commented on #712
@isaachinman Tried again today and it works.
Meanwhile I've update my`nextjs` version and installed a fresh version of `getStaticProps`.

Thank you.

[2020-05-19 14:32] #712 closed

[2020-05-19 20:22] Axiol opened #720 "Cannot read property 'publicRuntimeConfig' of undefined"
## Describe the bug
I'im trying to implement `next-i18next` in my project. No fancy config right now, it's basically taking the simple sample and putting it my project at the moment. Everything seems to be fine according to the sample. But when I run `npm run dev`, I have this error

[code]

## Occurs in next-i18next version
Module version is `4.4.2`

## Steps to reproduce
- [ ] Clone [this projec

[2020-05-20 04:45] hieusmiths opened #721 "Using Link with getServerSideProps page will be reloaded"
## Describe the bug
I'm use Link of Next/link and i have a page with getServerSideProps.
When click page not reload => as well
Then i config with myapp.com/lng/news
At right i change Link's Next to Link of i18n
Then i click into it news will be reloaded.

I cannot understand how to reload -.-.

Thank you so much

[2020-05-20 07:14] mercteil commented on #721
This is way too less information to be able to help.

[2020-05-20 07:15] isaachinman commented on #720
Please post on StackOverflow. Good luck!

[2020-05-20 07:15] #720 closed

[2020-05-20 09:33] ShadOoW commented on #709
There is an example project on how to implement the server solution: https://github.com/shadowwalker/next-pwa/tree/master/examples/next-i18next
I've just tried it, seems to works properly.

[2020-05-21 10:14] kutyel commented on #546
Maybe this helps? It's a bit crappy but at least is a workaround 😉

[code]

[2020-05-22 14:58] martpie commented on #692
It looks like `SameSite` cannot be easily overridden: https://github.com/i18next/i18next-http-middleware/blob/5a2ee9a8188ce5d108ce3ee158054cf5ecb47d45/lib/languageLookups/cookie.js#L78-L83

I guess `cookieDomain` is the way to go for now.

Sidenote: because the config options are not merged, you'll need to re-add all the default options from next-i18next in your config:

[code]

[2020-05-22 15:08] xmflsct commented on #274
I am using my previous experience with `Gatsby` and build below example that works for SSG dev and deployed to Vercel. Please advice.

So basically in each page's `getStaticProps`, I create an `i18next` instance just to read local `json` translations.
[code]

Then in each page's `getStaticPaths` as my pages are all located inside `[locale]/page.js`
[code]

Then in `getStaticProps`.
[code]

And fin

[2020-05-23 16:25] markolofsen opened #722 "Lang detection via url"
I was reading all issues about url with lang variable, but doesn't found nothing.
Can you give me example with url-lang-detection? something like ...domain.com/en/

[2020-05-24 09:11] isaachinman commented on #722
I do not understand your question. This package supports locale subpaths directly.

[2020-05-25 19:27] ckeeney opened #723 "ref error for functional children of the Link component"
## Describe the bug
If you have a functional component child of the `<Link/>` component created by `new NextI18Next()`, the following error is logged to the console:

[code]

## Occurs in next-i18next version
[code]
## Steps to reproduce

This is the code in my repo that demonstrates the problem.
[code]

## OS (please complete the following information)
 - Device: Windows 10
 - Browser: Chrome Ver

[2020-05-27 02:17] sebastienlabine commented on #274
hey @isaachinman,

I tried to use the serverless translate with the next-js with-antd-less example and updated packages and it seems like it can't export to a static website. I stumbled across this error:

The only thing changed is the next-js config to this:
[code]

[2020-05-27 10:05] amr3ssam commented on #274
I update my next-i18next to the beta Version 5.0.0-beta.2 and it's working but i have to issues

1- the link for the Website no longer have the Language prefix
before was like this:
website.com/language/page

and after update become
website.com/page

2- both. `req.i18n` and `i18n.language`  in `getinitialprops` is coming undefined
Request  variable don't have i18n anymore and i18n don't have langu

[2020-05-27 10:52] isaachinman commented on #274
@sebastienlabine Correct. Serverless is not the same as static - we _do_ need a runtime to do language detection and conditional routing.

@amr3ssam Can you create a minimal repro for me to take a look?

[2020-05-27 12:11] jlcastillo opened #724 "Race condition, sometimes default namespace is unnecessarily downloaded"
##  Bug Report

In the browser, when we instantiate NextI18Next, the constructor may be called before __NEXT_DATA__ is loaded with the namespaces returned by the server via getInitialProps. When that's the case, the I18N store.ns of the client contains an empty list [] during construction, and is internally populated with the default namespace. Since __NEXT_DATA__ was not loaded yet, the default n

[2020-05-27 12:20] iDuuck commented on #274
I *think* @amr3ssam is talking about this part of the README: https://github.com/isaachinman/next-i18next/tree/beta#accessing-the-current-language

[2020-05-27 14:08] sebastienlabine commented on #274
Your example actually works in static generation, that's why I was questionning why the next js config makes it fail for my project. The only thing that doesn't seems to work in your example is language dectection as you said.

Do you have any plan for static support?

[2020-05-27 14:56] isaachinman commented on #724
Can you provide a reproducible repo that doesn't include any of this extra setup?

[2020-05-27 15:49] jlcastillo commented on #724
It is a race condition. if I remove stuff I'll change the timing, and you won't be able to reproduce it. Even with the same code sometimes I cannot reproduce it. I debugged it, setting breakpoints inside next-i18next, and I realized than when it happens, next-i18next reaches the line in this screenshot with pending = ["es|default"].

<img width="684" alt="next-i18next_bug_1" src="https://user-imag

[2020-05-27 16:54] Sletheren commented on #133
@isaachinman @MichaelIT  Similar issue but in my case the `assetPrefix` is dynamic, since the APP is served from different URLs example: `https://domain/regionA/app/`, `https://domain/regionB/site1/app/` ...etc? so depending on the URL we extract the `assetPrefix` and now we get a `404` when trying to retrieve `common.json` since it's i18next is looking to the wrong path.  Any directions?

[2020-05-27 21:58] geryit opened #725 "Prevent settings cookies to static files"
## Describe the bug
Cookies are set to images/css for some reason (see set-cookie tab).  This is preventing cloudflare to cache files by default.

<img width="970" alt="Screen Shot 2020-05-27 at 2 52 13 PM" src="https://user-images.githubusercontent.com/514149/83076092-cd7f5980-a029-11ea-8dbb-f1a508bca544.png">

## Occurs in next-i18next version
version: 4.4.2

## Steps to reproduce
server.js
[cod

[2020-05-28 08:32] isaachinman commented on #725
Please use `ignoreRoutes`.

[2020-05-28 08:37] geryit commented on #725
Same with `ignoreRutes`
[code]

[2020-05-28 08:38] isaachinman commented on #725
@geryit What exact paths are receiving cookies?

[2020-05-28 08:41] geryit commented on #725
All files under `/static` and `/_next` like `/static/css/site.css`

[2020-05-28 08:41] geryit commented on #725
All files under /static and /_next like /static/css/site.css

[2020-05-28 08:51] isaachinman commented on #725
@geryit Please have a read through https://github.com/isaachinman/next-i18next/issues/374. Let me know what you think!

[2020-05-28 08:55] geryit commented on #725
I dont see this error `react-i18next:: i18n.languages were undefined or empty undefined`

Everything works good except cookies are set to static files

[2020-05-28 09:01] isaachinman commented on #725
[These](https://github.com/isaachinman/next-i18next/pull/541/files) are the exact changes required to fix that bug.

Those are also the exact changes that cause the cookie behaviour you are describing.

[2020-05-28 17:32] geryit commented on #725
Didn't understand what I should change exactly. Do I need to play with `ignoreRoutes` ?

[2020-05-29 16:39] norbiu commented on #615
Modifying `_app.js` solved the issue I was having with trying to integrate `next-i18next` with `next-with-apollo`. Lucky I found this thread!

[code]

Works the same way with `withTranslation` inside a certain page:

[code]

[2020-05-30 15:14] Vadorequest commented on #274
We have released our own i18n integration on NRN v2.

The demo features use of i18next, react-i18next and Locize vendor (translations are stored on Locize, and fetched through Locize API)

The demo works with SSG and SSR pages, using the latest 9.4.4 Next.js version.

It doesn't require any extra server, it relies on a Serverless function to detect the browser locale, when the locale isn't part of

[2020-05-30 15:39] isaachinman commented on #274
Please keep all discussion in this issue to the topic at hand.

[2020-05-31 10:19] borispoehland commented on #274
Does that mean that components using "getStaticProps" aren't compatible with the beta?

[2020-05-31 11:49] borispoehland commented on #274
Does anyone know that even when using the beta (and thus not having a custom server) zeit now (or vercel, however you call it) still refuses to launch the app because of the "no such file or directory, scandir '/var/task/public/static/locales/en'" error? I thought the serverless approach should resolve this issue, or am I getting something wrong here?

[2020-05-31 20:29] sebastienlabine commented on #274
@isaachinman LocaleSubpaths doesn't seems to be working when using **getStaticPaths**, because **getStaticPaths** and **publicRuntimeConfig** don't work together ([See the issue in the NextJS Repo](https://github.com/vercel/next.js/discussions/11493)).

The `npm run build` command results in the same output of [here](https://github.com/isaachinman/next-i18next/issues/274#issuecomment-634385805).

[2020-05-31 20:55] isaachinman commented on #274
The use of `publicRuntimeConfig` is mostly to facilitate e2e tests internally. How you propagate `localeSubpaths` is entirely up to you.

[2020-05-31 23:41] sebastienlabine commented on #274
Understood. However, anything related to getStaticPaths / getStaticProps doesn't work. Can't create a simple dynamic translated page.

[2020-06-01 06:42] borispoehland commented on #274
@isaachinman is there an alternate way (you can think of) to propagate `localeSubpaths` that's **compatible** with `getStaticPaths`?

[2020-06-01 08:33] borispoehland commented on #274
[I opened a new issue on the next.js repo](https://github.com/vercel/next.js/issues/13624) on the **deployment problem to vercel**, because it seems like it's not working due to a [framework limitation of next.js](https://github.com/vercel/vercel/discussions/4271#discussioncomment-16330). In case you always wanted to state how important this fix is to you, or discuss a workaround, now you have the

[2020-06-01 09:49] stopyransky opened #726 "namespacesRequired even for components that are not using withTranslation"
## Describe the bug
I get multiple warnings when navigating to pages that do not use translations by design.

## Occurs in next-i18next version
4.4.2

## Steps to reproduce

1. Create a page.tsx in /pages with translation like below
[code]

2. Create other page2.tsx without use of i18n.
[code]

When Page2  loads the warning is present saying that it's missing the `namespacesRequired` in Page2.

##

[2020-06-01 09:51] isaachinman commented on #726
Hi there. You can either set `strictMode` to `false`, or feel free to submit a PR. Thanks!

[2020-06-01 23:17] darosale opened #727 "Some locales may not be getting recognized appropriately"
## Describe the bug
When setting a locale to 'ja-jp', the locale is not getting recognized correctly and reverts to the set defaults instead.

## Occurs in next-i18next version
4.4.2

## Steps to reproduce
Specify 'ja-jp' as a language in 'otherLanguages' in your config. Switch locale to 'ja-jp'.

## Expected behaviour
The locale should get recognized and handled respective to configuration.

## S

[2020-06-02 07:37] isaachinman commented on #727
Sounds like potentially an upstream i18next issue. The `next-i18next` package doesn't do any sort of locale validation. Please do open this issue in the respective i18next repo.

[2020-06-02 07:37] #727 closed

[2020-06-02 08:41] colloquet opened #728 "Ability to append localeSubpaths after a subdirectory"
Hi,

Thanks for the awesome library, however I am having a hard time trying to achieve a certain effect.

Here's my current setup:
- My app will be hosted on a domain like this: `app.myapp.com/dashboard`
- Nginx will reverse proxy `/dashboard` -> `localhost:3000`

Here's what I am trying to achieve:
- When user navigate to `app.myapp.com/dashboard` or `app.myapp.com/dashboard/users`, it should aut

[2020-06-02 08:45] isaachinman commented on #728
Sure that should be possible, but is mostly an nginx and NextJs concern - not specific to `next-i18next`. Good luck!

[2020-06-02 08:45] #728 closed

[2020-06-02 10:06] ivanjeremic opened #729 "Do we still need nexti18next"
There are some new hooks like useSSR on react.i18next. do we still need to spin up an express server with next-i18next to get the best result?

[2020-06-02 10:07] isaachinman commented on #729
That's entirely up to you! Also be aware that `next-i18next@beta` supports serverless. Good luck.

[2020-06-02 10:07] #729 closed

[2020-06-02 19:42] #726 closed

[2020-06-03 14:55] andfk opened #730 "i18n cloned instance affects original instance"
I've tried to use multiple `I18nextProvider` as `react-i18next` [suggest](https://react.i18next.com/latest/i18nextprovider#when-to-use) in order to force a language for a specific container. I do cloning the original instance `i18n.cloneInstance({ lng: 'de' })` but doing this the global language gets changed too, so i think there should be a way to prevent this behavior to happen.

PS: At first it

[2020-06-04 13:38] AhmadAlYaaqba opened #731 "Using Link with localeSubpaths not working correctly with dynamic routes"
## Describe the bug
when using localeSubpaths and then try to import using Link from **next-i18next** instance for _dynamic route_, it will **not** work, for ex

`<Link href="/[dynamicComponent]" as="/test">`

i will get the following error on console:

`
Uncaught (in promise) Error: The provided "as" value (/en/test) is incompatible with the "href" value (/[dynamicComponent]). Read more: https://

[2020-06-04 13:42] isaachinman commented on #731
Duplicate of #413.

[2020-06-04 13:42] #731 closed

[2020-06-04 13:42] #722 closed

[2020-06-04 13:43] #721 closed

[2020-06-04 13:43] #715 closed

[2020-06-04 21:11] dingxizheng opened #732 "Support for Subnamespaces on SSR"
## Is your feature request related to a problem? Please describe.
Currently I'm using one translation file per page and the way how I manage the files is like this:
[code]
Client side works fine but pages with subroutes (e.g. `my-account/info`) are not translated on SSR .

## Describe the solution you'd like
Preload files in subdirectories at init time

## Describe alternatives you've considered
C

[2020-06-04 21:25] #732 closed

[2020-06-07 10:36] stelasido opened #733 "404 with localeSubpaths for all routes with locale included."
All URLs with locales return 404.
For the example:
http://localhost:3000/de/second-page = 404
http://localhost:3000/en/second-page = 404
http://localhost:3000/de = 404
http://localhost:3000/en = 404

http://localhost:3000/second-page = 200
http://localhost:3000 = 200

This is from your sample, but and in my project is the same, with or without custom server .
* you can try it with your sample.

Is

[2020-06-08 10:12] isaachinman commented on #733
We've got both e2e tests and a running application that all have this functionality. Please either post a reproducible repo, or request help on places like StackOverflow. Good luck!

[2020-06-08 10:12] #733 closed

[2020-06-09 10:13] charlieshumsa opened #734 "Translation of content inside _document.js"
I have a custom _document.js in my implementation and there are some content need to be translated

When I use withTranslation() on the Document class component, the t function fails to get the values

When I use the i18n object to get the current language, it returns undefined

What is the proper way to translate the component returned by _document.js?

[2020-06-09 10:45] isaachinman commented on #734
It's been discussed several times before - please do search issues before posting. However, the short answer is that this isn't directly possible, as the i18next provider is wrapped over `_app`, which is one layer "beneath" `_document`. There are workarounds, though! Good luck.

[2020-06-09 10:45] #734 closed

[2020-06-09 11:12] isaachinman commented on #730
What is your use case here? I think supporting this sort of functionality would require rethinking some of the patterns in place. You may be better off using `react-i18next` directly.

[2020-06-09 11:59] andfk commented on #730
@isaachinman my use case is to force an specific portion of a page in a specific language instead of the detected by `next-i18next` but the issue exposed above happens. I'll follow your suggestion and use the base library directly. Hopefully at some point later i came with a solution and create a PR.

Many thanks for your help!

[2020-06-09 11:59] #730 closed

[2020-06-11 15:13] eric-burel commented on #274
They've just added your issue in the backlog so I guess they take it into serious consideration.Thanks a lot for the boilerplate you linked in the issue. After a day of work, it eventually helped me to install `next-i18next` in half an hour, without needing to setup a custom server already. That's awesome!

To bypass this, why not replacing the file-system read by an HTTP request in the meantime?

[2020-06-11 15:32] sebastienlabine opened #735 "Serverless Dynamic Routing with LocaleSubpath not working"
## Describe the bug
When using the serverless version of next-i18next, dynamic routing works fine without locale subpaths, but as soon as we add localesubpaths to the i18n config we get 404 on both the index and [slug] pages. Also, we can't create a production build because we get this error:

![image](https://user-images.githubusercontent.com/8888846/84405277-ea915c00-abd5-11ea-9748-358c735cf38c.

[2020-06-11 17:01] GainorB opened #736 "Weird errors on server restart"
## Describe the bug

Not sure if these errors are happening at any other time, but I notice them when I make a change when developing and the server restarts.

## Occurs in versions

next-i18next: ^4.4.2
next: 9.4.1

## Steps to reproduce

Let me know what to provide to give more context on this issue. Unfortunately, I can't provide a repo.

## Expected behaviour

I don't expect this error to happ

[2020-06-11 17:25] GainorB commented on #413
I've tried the solutions that @vimutti77 and @mattboon suggested, but unfortunately when I link to dynamic routes, I still get a page refresh. This only happens on dynamic routes `/news/[slug]`. All my other links work as intended without a full page refresh.

[2020-06-12 10:25] isaachinman commented on #735
Mind providing a reproducible repo?

[2020-06-12 10:28] isaachinman commented on #736
Mind providing a reproducible repo?

[2020-06-12 13:59] michaelmota commented on #413
For dynamic routes using the Link component just do:

`<Link href="/news/[slug]?slug=slug_of_route" as="/news/slug_of_route"><a>Lorem ipsum dolor</a></Link>`

With that it will avoid the page refresh and it will also avoid showing errors on consoles that can't pre-load the website.

[2020-06-12 14:08] sebastienlabine commented on #735
There you go: [https://github.com/sebastienlabine/next-i18next-bug](https://github.com/sebastienlabine/next-i18next-bug). You should not be able to access /blog & /blog/lol when localesubpaths are enabled.

[2020-06-12 14:49] GainorB commented on #413
@michaelmota This is using the Link from `next/link` or from `next-i18next`? Currently, I am using the Link from `next-i18next` and it's not working.

I even modified my custom server like this, as per the docs:

[code]

[2020-06-12 14:55] GainorB commented on #736
Unfortunately, I can't provide a repo, but I can provide code snippets if you know where I should look

[2020-06-12 15:07] michaelmota commented on #413
@GainorB There's no need to add the route on the custom express server since Next handles that for you. But try this:

Note: I honestly don't know if this is the right way to do it but it worked for me perfectly. I customized the express server adding the next-i18next middlewares like so:

[code]

After this is done on the server create a new i18n.js on your root directory with something like this

[2020-06-12 15:30] GainorB commented on #413
@michaelmota Thanks for your responses. This is exactly what I am doing, as you suggested.

server.ts
[code]

i18n.ts
[code]

[2020-06-12 15:38] michaelmota commented on #413
That's weird. I remember I used to have that problem but it worked with what I mentioned before but it seems like you've done it right. The only thing left to see is check the version you have on next, i18next and next-i18next and if it's not updated try updating it to the latest version and test it again to see if it's working correctly.

Here's a part of my custom express server.

[code]

[2020-06-13 14:34] RobinLebhar commented on #677
Hello, you are right we should be able to translate the 404 page as well ! (great job on this repo btw)

Is it possible to disable the warning though ? Because all my other pages are correctly setup and I would like to avoid to be spam by the warning when navigating to the 404 page.

Thank you !

[2020-06-15 15:26] sebastienlabine commented on #735
Were you able to reproduce? @isaachinman

[2020-06-15 17:04] astenmies commented on #661
It seems to occur only when `defaultLanguage` does not have a matching locale dir with its common.json inside it. The error seems to only occur in production.

So let's say `defaultLanguage` is set to `de`, the error is thrown when you forget to create `public/static/locales/de/common.json`.

[2020-06-16 08:31] icrona commented on #652
since we cant use serverSideProps together with initialProps. we can make use of React FunctionComponent.defaultProps
here is the workaround that works for me, and it still works with initialProps (https://github.com/isaachinman/next-i18next/issues/615#issuecomment-575578375)

1. particular page
`Page.defaultProps = {
      i18nNamspacves: ['home-page']
}`

2. main app / _app.tsx
`MyApp.getInitial

[2020-06-16 19:55] chrisinajar commented on #713
With all dependencies up to date, this is now the only package in my stack that uses core-js 2. I've had to switch over to configuring babel to transpile the module, and i import from `dist/es` in order to get the source files to then be transpiled using core-js 3. I did that with `next-transpile-modules` for the main app and `node -r babel-register.js server.js` in order to get the development se

[2020-06-17 09:37] isaachinman commented on #735
@sebastienlabine Just taking a look now. If anything, this potentially looks like an issue with the actual `rewrites` functionality coming from NextJs. I don't see any hanging when accessing `/blog/lol` directly - I get an immediate redirect to `/en/blog/lol`, which then 404s.

Can you take a read through https://github.com/vercel/next.js/discussions/9081, and check out some of the other people us

[2020-06-17 15:02] sebastienlabine commented on #735
I took a dive in the issue and seems like there's not so much information related to this. To be honest, i'm out of my field with everything releated to NextJs.

[2020-06-17 16:18] isaachinman commented on #735
@sebastienlabine There are some examples of "advanced rewrites" in the discussion which I linked above:

[code]

However, I'd caution that the serverless beta of `next-i18next` and the core NextJs `rewrites` functionality are both still under development, so if you're new to the space I would suggest going with more well-established methods of translating your app(s).

I took a deeper look at your

[2020-06-17 16:18] #735 closed

[2020-06-17 17:06] aykr01 opened #737 "Rendering twice when first page is loaded"
## Describe the bug
Hello, thanks for all the hard work on this project.

I was working with the simple example and I noticed an intermittent issue that seems to be occurring in both Chrome and FF. When any page is initially loaded, it looks like the pages are occasionally rendered twice. This seems to be only occurring for me on the client side.

This can be reproduced by duplicating the simple e

[2020-06-17 17:11] isaachinman commented on #737
Looks like `common.json` is getting loaded in, in the second case, indicating the translations for some reason are not present. Can you reproduce this in prod mode, or just dev?

[2020-06-17 22:21] aykr01 commented on #737
Thanks for the quick response. It looks like it's happening in both dev and prod mode. It seems much less frequent in prod with Chrome. However, the double render is happening on every reload in FF with prod mode.

[2020-06-18 08:22] isaachinman commented on #737
I do see two render cycles in prod, as you described. However, I am not concerned about this on its own - this could be caused by any number of things.

I would be concerned if `common.json` was being fetched after a client side load in prod, but I cannot reproduce that behaviour.

[2020-06-18 08:22] #737 closed

[2020-06-18 08:23] isaachinman commented on #724
I need to be able to reproduce this race condition in a repository, to determine if this has anything to do with `next-i18next`, or not.

[2020-06-18 11:52] eric-burel commented on #20
@felixmosh your solution does not seem to work anymore for me, specifically when I build the app `next run build && next run start`, using latest `"next-i18next": "5.0.0-beta.2"`. It do not rely on Express anymore.

`res.locals` is not set during document getInitialProps call.

It works in development mode though, very weird.

[2020-06-18 13:10] felixmosh commented on #20
@eric-burel I still see [the assignment](https://github.com/i18next/i18next-express-middleware/blob/master/src/index.js#L23-L26) on `res.locals` so it should be available.
Maybe for some reason you don't have `res.locals` at build (minification / module order issue) and therefore you don't enter that if.

Try to debug it :]

[2020-06-18 13:13] eric-burel commented on #20
Yep the problem is exactly there, if res.locals is not defined this part is jumped. It is not assigned because `res.locals` is not there in the first place. But as far as I understand this is Express stuff so it has no guarantee to be there with the new http generic version.

[2020-06-18 13:13] eric-burel commented on #20
It worked when we used a custom Express server but it has no reason to work now with a generic approach.

[2020-06-18 16:10] GainorB commented on #336
@jashan-preet-singh-dhanoa Have you figured this out?

[2020-06-18 16:32] eric-burel commented on #20
Ok so a more robust code is as follow:
[code]
Thanks all for your fast answers!

[2020-06-18 17:04] GainorB opened #739 "Fetch Translations from API"
## Describe the bug

I am using a backend plugin to fetch translations from an external API. I am getting the translations from the API but I am getting a CORS error in the client and the data isn't being set/sent to the client, even though I am able to parse it on the sever.

For the sake of testing, I am only sending 1 namespace, 'common' and only one locale, 'en'. Not sure if this will affect m

[2020-06-18 20:49] #736 closed

[2020-06-19 09:32] isaachinman commented on #739
Can you provide a reproducible repo?

[2020-06-22 09:31] eric-burel commented on #324
Hi, using the v5 beta version of next-i18next (serverless version), and taking inspiration from @justincy gist posted just above, I've managed to setup i18n + storybook like this:

[code]
and my i18n config, usable both in the app and in storybook:
[code]

[2020-06-23 18:16] denisix commented on #298
is there way to change language without reloading whole page, client side only, i.e. react-way?

[2020-06-24 15:44] sigalor commented on #562
I finally managed to find a solution for this issue that worked for me: install the NPM package [`i18next-browser-languagedetector`](https://github.com/i18next/i18next-browser-languageDetector), then simply use it:

[code]

[2020-06-29 11:56] ElGoorf opened #740 "Help: Want to include html tags in a translation"
Hi

Thanks so far for your effort making this plugin. I have a text which needs to be translated, which contains a link and some other formatting, eg:

`"Go to the <a...>home page</a> and enter <span class=...>this code</span>"`

I want to make this translatable, right now I have the string broken down into it's individually translatable parts, but in practise this won't make sense as the parts mi

[2020-06-29 21:08] isaachinman commented on #740
Please read the [react-i18next docs](https://react.i18next.com/latest/trans-component).

[2020-06-29 21:08] #740 closed

[2020-06-30 09:17] icecold21 commented on #652
this works. thanks!

[2020-06-30 14:03] mizozobu opened #741 "localeExtension is missing in InitConfig type"
## Describe the bug
`localeExtension` is missing in `InitConfig` type.

## Occurs in next-i18next version
v4.5.0

## Steps to reproduce
[code]

This throws a compile error
[code]

## Expected behaviour
No compile errors.

## OS (please complete the following information)
 - Device: MBP 2019 13"
 - Browser: N/A

[2020-06-30 16:37] michelegera commented on #555
@josecao try also adding `serverLanguageDetection: false` to the configuration object.

[code]

[2020-07-01 02:26] #741 closed

[2020-07-01 16:37] handrei opened #743 "i got two different version of Link.js warning"
## Describe the bug
i have this warning after i installed next-i18next

warn  - ./node_modules/next/Link.js
There are multiple modules with names that only differ in casing.
This can lead to unexpected behavior when compiling on a filesystem with other case-semantic.
Use equal casing. Compare these module identifiers:
- here i got two different versions of Link.js, one from next and on from your p

[2020-07-01 19:39] isaachinman commented on #743
Sorry, I don't understand what you mean. Can you explain further, or provide a reproducible repo?

[2020-07-02 02:07] manhthepixta opened #744 "Error when working with typescript"
Here is my code of Footer.tsx:

[code]

Here is i18n code:
[code]

Error detail:

[code]

Please help!!!

[2020-07-02 05:28] Lory1990 opened #745 "Translations does not work only in homepage"
Hi!
I  am using nextI18next and in DEV i can see translations in all pages and all my components except in the homepage (Really bad!!). In build phase translaitons are not loaded :(

Here are my dependencies:
[code]

Here is the server
[code]

Here the i18n.js
[code]

What is wrong in your opinion? I am getting crazy....

[2020-07-02 06:08] handrei commented on #743
so, i installed the next-i18next package and configured and when i run yarn dev i receive a warning in the console.
the warning is this:
warn - ./node_modules/next/Link.js
There are multiple modules with names that only differ in casing.
This can lead to unexpected behavior when compiling on a filesystem with other case-semantic.
Use equal casing. Compare these module identifiers:
* /path_to_app/n

[2020-07-02 11:43] atellezsazo commented on #336
Hi @BjoernRave, how did you solve the issue to have both CDN (client) + filesystem (server)? I just notice that using the backend configuration the server returns just the translations keys without using CDN or filesystem locale files for SSR.

[2020-07-02 12:15] BjoernRave commented on #336
@atellezsazo  Hey, in the end I switched to use https://github.com/vinissimus/next-translate , because `next-i18next` doesnt support serverless architecture. I didnt solve the problem

[2020-07-02 12:17] atellezsazo commented on #336
@BjoernRave thanks for your reply!

[2020-07-02 16:15] isaachinman commented on #336
Just want to note that `next-i18next@beta` does indeed support serverless (but not vercel at the moment).

[2020-07-02 17:30] isaachinman commented on #743
Take a look in `path_to_app/node_modules/next`. There is no `Link.js` file. It's `link.js`.

[2020-07-02 17:30] #743 closed

[2020-07-02 17:35] isaachinman commented on #744
You need to extend the `WithTranslation` props. Good luck!

[2020-07-02 17:35] #744 closed

[2020-07-02 17:37] isaachinman commented on #745
This is an issue tracker, not a help forum. Please do feel free to open another issue if you feel as though you've found a genuine bug. Good luck!

[2020-07-02 17:37] #745 closed

[2020-07-03 01:56] manhthepixta commented on #744
@isaachinman Sorry could you give more detail?

[2020-07-03 17:26] florian-milky opened #746 "Missing dependency @babel/runtime"
## Describe the bug

Causes an issue at runtime when using npm `--production` option

## Occurs in next-i18next version
latest version

## Steps to reproduce

Build project using next-i18next with `npm i --production`
Have custom server setup
Start your server

[code]

## Expected behaviour
Should not cause error

[2020-07-03 18:21] florian-milky commented on #746
Apologies this was an issue with npm transitive dependencies so regenerator-runtime was not hoisted at the root folder.
`npm dedupe` solved my issue

[2020-07-03 18:21] #746 closed

[2020-07-03 20:01] isaachinman commented on #744
Import `WithTranslation` from `next-i18next` and extend your props type/interface.

[2020-07-05 12:38] borispoehland opened #747 "Is there a way to make localeSubpaths from the beta compatible with getStaticPaths/-Props?"
@isaachinman is there an alternate way (you can think of) to propagate `localeSubpaths` that's **compatible** with `getStaticPaths`?

_Originally posted by @borispoehland in https://github.com/isaachinman/next-i18next/issues/274#issuecomment-636643671_

[2020-07-05 13:41] isaachinman commented on #747
Why not hard code it, or treat it as any other variable?

[2020-07-05 13:53] borispoehland commented on #747
The problem is this snippet:
[code]
because it calls `res.writeHead`, which is not available with pages prerendered with getStaticProps/getStaticPaths.
The build-error is: `TypeError: res.writeHead is not a function`

Can you think of any solution or workaround?

[2020-07-06 08:16] isaachinman commented on #747
@borispoehland I don't understand what you mean. `localeSubpaths` is just a normal JavaScript object.

[2020-07-06 08:19] borispoehland commented on #747
Yes, I know.

When running `next build` with localeSubpaths being empty, everything works fine.
When running it with localeSubpaths being populated, the `TypeError: res.writeHead is not a function` is thrown.

I don't know **why** this is the case, tho...

[2020-07-06 08:22] isaachinman commented on #747
Can you provide a reproducible repo?

[2020-07-06 08:32] borispoehland commented on #747
Yes, here: https://github.com/borispoehland/next-i18next-getStaticProps-Error

npm run build leads to an error.

Thanks Isaac for investigating!!

[2020-07-06 10:08] isaachinman commented on #747
@borispoehland Very strange that they don't provide a stack trace with that error.

Anyways, it looks like the problem here is that `redirectWithoutCache` relies on `res.writeHead` (naturally), and this is incompatible with a fully static app. If you want locale subpaths, we need some sort of server (or serverless) runtime in which we can execute a redirect when necessary.

Hope that makes sense!

[2020-07-06 10:08] #747 closed

[2020-07-06 10:14] borispoehland commented on #747
@isaachinman but my app isn't fully static, only one single page of it is (the page with getStaticProps).

I'm relatively new to next.js, for the particular situation that I'm stuck in, can you provide some configurational workaround?

[2020-07-06 10:17] isaachinman commented on #747
We cannot generate a static page _at all_ if you desire `localeSubpaths`. That's just a natural conclusion of the functionality itself.

There is no workaround - the redirect functionality has to exist at some level. If you wanted a static app that still supports `localeSubpaths`, you'd need to move that functionality up a level, and rewrite it at, for example, an nginx level.

[2020-07-06 10:21] borispoehland commented on #747
@isaachinman thanks, that's the clear answer I was looking for!

Fortunately, I was able to replace `getStaticProps` with an API call. So I basically found a workaround myself, but I wanted to make sure that they are indeed incompatible (localeSubPaths and getStaticProps)

Thank you for your support!

[2020-07-06 10:22] isaachinman commented on #747
No problem. The question of redirects is an interesting one, and may end up being the last piece of the puzzle when it comes to static/SSG locale subpath support. I can discuss with the NextJs team.

Good luck with your project!

[2020-07-06 10:25] borispoehland commented on #747
@isaachinman Is there a bank account of you that I can donate some euros to? I think you make great work

[2020-07-06 10:30] isaachinman commented on #747
@borispoehland You can sponsor my work via GitHub sponsors, or contact me directly via email. Thanks!

[2020-07-07 14:38] Chill-Studio commented on #462
Excuse me guys I probably have searched for every thread that is related to this but I can't find a way to tell the server what is the path to the locales... I didn't find anything helping me in the said duplicate #274.

I am also using vercel, did anyone manage to make it work with next-i18next ?

**My locales are** located in **public/static/locales**

But when I deploy I got this path as not fo

[2020-07-07 14:41] isaachinman commented on #462
@Chill-Studio This issue needs to be resolved by the Vercel team, and they're aware of it: https://github.com/vercel/next.js/issues/13624

[2020-07-07 15:03] Chill-Studio commented on #462
Wo that's a fast answer thank you !

Arg I can see there is not workaround :(

[2020-07-07 15:23] isaachinman commented on #462
At the moment, the best "workaround" is to use a different serverless platform.

[2020-07-07 19:19] nsmith7989 opened #748 "Add optional assetPrefix when used via CDN"
## Is your feature request related to a problem? Please describe.
In my setup we use a CDN and NextJS's option `assetPrefix`. We have several different nextjs apps all running on the same origin and we add an assetPrefix so our CDN knows which origin to route the requests back to. We strip the assetPrefix when we statically serve the resource.

## Describe the solution you'd like
We'd like to do t

[2020-07-07 20:04] WsCandy commented on #713
Just incase anyone else comes accross this, currently the older version of `core-js` included in this package breaks the `nomodule` polyfills included with next > 9.3. You can replicate this by cloning down a new project, including next-18next, setting up a simple implmentation and adding a simple hook to the homepage that calls `Promise.finally` or any other methods that should be polyfilled.

Yo

[2020-07-07 20:59] isaachinman commented on #713
I'm happy to release a `core-js` update on `v5` if someone wants to put together a PR, and ensure that we only have one version of `core-js` being loaded in. The reason we pinned the dep is to save bundle size.

[2020-07-07 21:00] isaachinman commented on #748
I don't really understand - why not just do something like this:

[code]

[2020-07-07 21:29] nsmith7989 commented on #748
Good idea. Thanks, I'll do what you suggested.

[2020-07-07 21:29] #748 closed

[2020-07-08 09:06] borispoehland opened #750 "i18n-fs-backend causes problems"
## Describe the bug
Hi again,
today, [next.js proposed an idea of how to make serverless deployments to vercel work. ](https://github.com/vercel/next.js/issues/13624#issuecomment-655326365). However, when trying to deploy to vercel using [this minimal boilerplate](https://github.com/borispoehland/next-i18next-boilerplate), the lambda function still complains: `Cannot find module 'i18next-fs-backen

[2020-07-08 09:09] isaachinman commented on #750
Sure, I will take a look as soon as I have a chance. Joe's response makes sense.

[2020-07-08 09:34] isaachinman commented on #274
This comment: https://github.com/vercel/next.js/issues/13624#issuecomment-655326365 potentially sheds some light on how to get Vercel to pick up filesystem deps.

@adrai I'm back to running into `i18next` module resolution issues:

[code]

Fairly sure [this](https://github.com/isaachinman/next-i18next/blob/bdd48e3caf5dd83e8e990b05d1d2ce8a6651b975/src/create-i18next-client.ts#L14) was previously wo

[2020-07-08 09:45] adrai commented on #274
strange... is this reproducable with the example in the repo? Can't reproduce it.

[2020-07-08 09:48] isaachinman commented on #274
@adrai I have been deploying [this repo](https://github.com/isaachinman/next-i18next-vercel) to Vercel. Feel free to fork and deploy. This issue isn't reproducible locally – it's definitely something to do with their strict module resolution.

[2020-07-08 09:49] borispoehland commented on #274
It only occurs when deploying to vercel. Here is a project that basically runs minimal configuration and has the filepath already included: https://github.com/borispoehland/next-i18next-boilerplate

[2020-07-08 09:51] adrai commented on #274
Then they changed something again... 🤷‍♂️
Maybe now requiring /cjs is not needed anymore?

[2020-07-08 11:18] adrai commented on #274
Seems eval('require...') is ignored by their bundler.... there are also others having this problem: https://github.com/saltyshiomix/nextron/issues/78

[2020-07-08 11:27] adrai commented on #274
Pobably adding something like this would force to bundle it:
[code]
🤷‍♂️

[2020-07-08 11:36] borispoehland commented on #274
Sorry for the newbie question, but what stops you from importing the modules with the regular **import** syntax (instead of the eval(require...))?
Because with require they are handled as node modules?

[2020-07-08 11:43] adrai commented on #274
I imagine importing them would bundle these dependencies also for the client...
Alternatively a dynamic import could work... but then that function would have been rewritten to be async...
@isaachinman is this correct?

[2020-07-08 11:43] isaachinman commented on #274
Yeah, that suggestion works @borispoehland. The `eval` usage there is a nasty hack to exclude those deps from client bundles. I've always been open to other solutions, but no one has come forward.

**Guess what? I just deployed a serverless `next-i18next` project successfully on Vercel:**

https://next-i18next-vercel.now.sh/

Can we get some early adopters, of users both:

1. Deploying serverless

[2020-07-08 11:50] borispoehland commented on #274
I thought custom server deploys to vercel are not possible, which was the reason for creating the serverless beta in the first place?

[2020-07-08 11:51] isaachinman commented on #274
I wasn't talking about Vercel. This project needs to support deployment on various platforms, and needs to maintain support for users that rely on custom servers.

[2020-07-08 11:54] borispoehland commented on #274
I understand

[2020-07-08 11:57] borispoehland commented on #274
@isaachinman the updated beta is not pushed yet, right?

[2020-07-08 12:12] isaachinman commented on #274
@borispoehland What updates to the beta release are you expecting? I'm not convinced that platform-specific hacks like using `path.resolve` belong in the `next-i18next` source.

[2020-07-08 12:21] iDuuck commented on #274
Are you able to share the source code for how you solved the issue? The `path.resolve('./node_modules/i18next-fs-backend/')` "hack" does not tell me a lot.

[2020-07-08 12:24] isaachinman commented on #274
The source code is here: https://github.com/isaachinman/next-i18next-vercel

[2020-07-08 12:26] borispoehland commented on #274
Your're absolutely right. Better put it in the `i18n.js`.

[2020-07-08 14:59] isaachinman commented on #750
I'm going to close this, as it will be handled by the general serverless effort.

[2020-07-08 14:59] #750 closed

[2020-07-08 15:00] isaachinman commented on #274
Update: I've spoken to Joe in the NextJs team, and we've identified fixes for both the locales dir path, and `i18next-fs-backend`. I will be updating `next-i18next` such that no `path.resolve` tricks will be necessary at all – should have this done by the end of the week.

[2020-07-08 15:02] adrai commented on #274
Cool, let me know if there is something that need to be done for other i18next modules...

[2020-07-08 19:04] kaleemullah-innovo opened #751 "Server Error TypeError: namespacesRequired.push is not a function"
i am using Next.js with react and redux and my app.js return is
// import "./styles/styles.css";
import Header from "../components/Header/Header";
import { createStore } from "redux";
import reducer from "../store/reducers/reducers";
import PropTypes from "prop-types";
import { Provider } from "react-redux";
import { I18nextProvider } from "react-i18next";
import { appWithTranslation } from "../i1

[2020-07-08 22:39] #751 closed

[2020-07-08 22:40] isaachinman commented on #751
Please post on StackOverflow for help. This is an issue tracker. If you feel as though you've found a genuine bug, please open a detailed bug report.

[2020-07-09 08:49] liyaodong commented on #195
Do you still need `next build`? if the answer is yes then `next build` will throw error because it doesn't support `next.config.ts`

[2020-07-09 12:56] handrei opened #752 "how to write namespacesRequired when you have other things in getInitialtProps ?"
## Describe the bug
how to write the namespacesRequired when you already have an getInitialProps like this ?

Component.getInitialProps = async ({ req }) => {
  const { origin } = absoluteUrl(req);

  return { origin };
};

I tried to write it twice but it doesn't take the first one

[2020-07-09 12:57] isaachinman commented on #752
This is an issue tracker, not a help forum. Please post on StackOverflow or similar. Good luck!

[2020-07-09 12:57] #752 closed

[2020-07-09 19:27] isaachinman commented on #274
So, I’ve undertaken the following changes:

1. Refactor `localePath` to be an absolute path (requirement), which users can pass via `path.resolve`. This is to get around bundling technologies used by Vercel, and other serverless platforms. The way that `path.resolve` falls back in browser envs is critical.
2. Refactor the `create-client` code to have two entries points: one for Node, and one for b

[2020-07-10 09:10] maysam commented on #661
@safakcosar how did you get to solve yours?

[2020-07-10 23:30] ImSolitude commented on #615
@norbiu Be aware that this might results in `Error: Circular structure in "getInitialProps"`.

[2020-07-11 03:49] Progressandro commented on #274
Hey, thanks for coming up with an equally straightforward solution for the serverless option as well.

I'm trying to implement the update into my new project, however, I'm finding the following issue when importing the i18n file into any page-level component:

`Error was not caught TypeError: path.resolve is not a function`

I'm not a veteran with Next.js, but I don't see any obvious problem with

[2020-07-11 05:43] Lanny commented on #274
Thanks a ton @isaachinman , was able to deploy the 5.0.0-beta.3 to netlify so just wanted to chime in that other serverless type hosts seem to be working. I did have to explicitly list out my namespaces in the `ns` value to the NextI18Next constructor, otherwise it would call `getAllNamespaces` and try to read from the filesystem which failed in a serverless environment. Not sure if this was the i

[2020-07-11 06:34] lazidoca commented on #274
I just deployed to Netlify and it seems to return 404 when accessing the locale URL directly.

The demo is at: https://eager-shannon-a9d1c4.netlify.app/

If you access this URL, it show 404

https://eager-shannon-a9d1c4.netlify.app/de/second-page

The repository for the demo is forked from @isaachinman with adding target: "serverless" https://github.com/welrn/next-i18next-vercel

[2020-07-11 10:35] isaachinman commented on #274
@Progressandro @Lanny @lazidoca – as I wrote, please open separate issues.

[2020-07-11 10:35] #274 closed

[2020-07-11 14:29] isaachinman commented on #677
Just to follow up: I don't think it's right to disable the warning. I think the correct thing to do is translate our 404 pages.

I can speak to the NextJs team about this.

[2020-07-11 14:29] Progressandro opened #753 "TypeError: path.resolve is not a function."
Hey, thanks for coming up with an equally straightforward solution for the serverless option as well.

I'm trying to implement the update into my new project, however, I'm finding the following issue when importing the i18n file into any page-level component: `Error was not caught TypeError: path.resolve is not a function`

I'm not a veteran with Next.js, but I don't see any obvious problem with m

[2020-07-11 19:29] isaachinman commented on #753
If you remove your webpack overrides, does the issue cease?

[2020-07-11 21:44] Progressandro commented on #753
No, it doesn't.

[2020-07-12 09:43] JerryGreen opened #754 "Still doesn’t support Now 2.0?"
I’ve just read the readme, and it sounds weird that Now 2.0 isn’t supported. Is that still true? Or is it just outdated readme?

The lib seems to be alive, maintainable, so I wonder

[2020-07-12 09:48] isaachinman commented on #753
@Progressandro Mind putting together a reproducible repo? I'll debug from there. Thanks.

[2020-07-12 09:52] isaachinman commented on #754
Just outdated. "Now" doesn't exist anymore, and Zeit has rebranded as Vercel.

As of #274, `next-i18next@beta` supports serverless platforms. As soon as it's determined to be stable enough, we'll release it in v5.

[2020-07-12 10:37] #648 closed

[2020-07-12 10:51] #754 closed

[2020-07-12 14:25] Progressandro commented on #753
Already invited you to the repo, please use the next-i18next branch. Also, the route for testing it `/test`. Just try to go there and check the console error. Besides, if you try to click the "change" button, it won't work.

[2020-07-12 14:37] isaachinman commented on #753
I believe it's something to do with [this line](https://github.com/Progressandro/homenet/blob/6d2315b74e14288177ebb7f3df9a8b7e39d0ab81/next.config.js#L26):

[code]

But cannot be sure, as this definitely isn't a minimal repro. Can you please remove all unnecessary code to demonstrate the potential bug in its simplest form?

Resolve comes [directly from webpack](https://webpack.js.org/configuration

[2020-07-12 16:40] Progressandro commented on #753
I greatly apologize, Isaac. I know the example wasn't the best but I really wanted to give you a full picture since I didn't have an idea of where the problem was (this is legacy code for me).

Anyways, before almost giving up, for some reason I also reviewed the package.json, and I FOUND THE ISSUE:

[code]

Removed `"path": false` and it works wonderfully now.

Thank you very much.

[2020-07-12 16:40] #753 closed

[2020-07-12 18:36] asterikx commented on #373
@isaachinman The `Trans` component is causing the issue, so I think this is very much related to this library (resp. `react-i18next`).

The `Link` component of Next.js expects a single child, e.g.:

[code]

The above works fine. Wrapping it with `Trans` causes the `Link` component to break, e.g.:

[code]

Since the aim of this library is i18n for Next.js, it should be in its interest to support Ne

[2020-07-12 20:37] isaachinman commented on #753
Ah, glad you found it!

[2020-07-13 09:52] isaachinman commented on #373
@asterikx I completely agree that `Link` within `Trans` should be supported. However, the `Trans` component comes from `react-i18next`, and so the issue belongs in that repo. Thanks!

[2020-07-13 10:07] asterikx commented on #373
@isaachinman alright, sure!

For future reference, https://github.com/i18next/react-i18next/issues/1090#issuecomment-615426145 provides a workaround.

[2020-07-14 06:29] manhthepixta commented on #750
Same issue here. Any updates?

[2020-07-14 06:51] borispoehland commented on #750
Yes, check out this project:

https://github.com/isaachinman/next-i18next-vercel

Not that in order for it to work, you need the beta 5.0.0-beta.3

[2020-07-14 07:01] manhthepixta commented on #750
@borispoehland Thanks a lot. It works.
I installed latest beta `5.0.0-beta.4`

[2020-07-14 09:05] #739 closed

[2020-07-14 09:07] isaachinman commented on #724
@jlcastillo Any update?

[2020-07-14 09:10] adyz commented on #20
Hi @eric-burel  -- awesome stuff! 👍

I'm fiddling with next.js (TS version) and  next-i18next.

Your code works for me, but I am not sure where to import the `IncomingMessage` and some other types from your example (I've just ignored in my code for now).

1: Can you please post the full code with imports?
2: I have a button that users can click on to change the language, but that change does not a

[2020-07-14 10:52] SalahAdDin commented on #654
Is it possible to use `react-i18n` instead of this package?

[2020-07-14 11:10] isaachinman commented on #654
@SalahAdDin Of course.

[2020-07-14 14:00] SalahAdDin commented on #654
@isaachinman It just occupy to change the language, as we are using in a plain **react** website we are working too.

But there is a problem:
I'm getting the language by `const lng = () => localStorage.getItem("language") || "en"`.

But when i try in this way i get:
`TypeError: Cannot read property 'use' of undefined`, also `localStorage` is not defined.

Why?

[2020-07-14 19:03] murad-guliyev-pb commented on #711
@tonmoy007 I have the same error, could you fix it?

[2020-07-15 04:56] dcodus commented on #724
@isaachinman Can confirm we have observed the exact same issue, which as @jlcastillo pointed out, does have an impact on performance. I believe i can reliable replicate the issue, however in our case it's the exact opposite where by throttling the network (Fast 3G in chrome and Good 3G in Firefox) we always see the default namespace being fetched even thought it's included in the `initialI18nStore

[2020-07-15 06:49] eric-burel commented on #20
Yep [the full code is here in our starter](https://github.com/VulcanJS/vulcan-next-starter/blob/devel/src/lib/i18n.ts).

First, what is the precise purpose of "dir" and "lang" attributes? I wanted to set them for SEO purpose, but I must admit that I can't tell if you actually need to make them dynamic or not (maybe to have the right autocorrect language for instance?).

Since Document is smth serv

[2020-07-15 07:03] adyz commented on #20
@eric-burel Thanks!

Beside SEO I use `dir` to flip my CSS styles for RTL languages (Arabic) so if a user changes the language from `en` to `ar` I need to update the dir on HTML and that will, in turn, flip the direction of text and other CSS logical properties.

[code]

[2020-07-15 08:09] isaachinman commented on #724
OK, so the prevailing thought is that this is somehow a race condition on the client side startup? The initial i18n store, including namespaces, is serialised as `initialI18nStore` into `pageProps`, so I'm a bit curious as to how this could be happening.

If anyone can put together a minimal repro, I will debug it! Thanks.

[2020-07-15 09:21] #691 closed

[2020-07-15 16:10] beqramo opened #756 "Multiple namespaces don't work"
when i use ``   const { t, i18n } = useTranslation(['common', 'header']);`` for example, ``t``  functions don't work for the strings which is in second element of the array,  if I switch places it works well. Btw both namespace is  loaded in ``i18n.store.data`` object but don't work

I use
[code]

and  ``t`` function as

[code]

[2020-07-16 08:23] paulintrognon commented on #756
I am having a similar problem with `.withTranslation([])` HOC. Only the first namespace is working.

For example:
[code]

whereas
[code]

[2020-07-16 09:12] isaachinman commented on #756
Please read the i18next documentation. You will need to denote the second (non default) namespace with a colon separator.

[2020-07-16 09:12] #756 closed

[2020-07-16 09:29] borispoehland opened #757 "Cookie options get overwritten"
## Describe the bug
Hi, I set some cookie options inside the `detection` object. However, when loading the page, even though the options are set to the cookie (e.g. `cookieSecure true, cookieSameSite strict`, I could see that in my browser console flickering up for a second), the cookie instantly gets overwritten with another cookie that doesn't have this options set (`cookieSecure false, cookieSa

[2020-07-16 09:37] isaachinman commented on #757
Can you provide a reproducible repo? Is this specific to the beta release, or can you repro on `master` as well?

[2020-07-16 10:19] limebear commented on #462
Is there any other platforms recommend?

[2020-07-16 10:32] isaachinman commented on #462
@limebear The issue has been resolved. Vercel is probably your best option.

[2020-07-16 10:38] borispoehland commented on #757
Hi Isaac,
The same thing happens on the master. I tested this on your (normal) simple example. The reproducible example is your next-i18next-vercel project: https://github.com/isaachinman/next-i18next-vercel

[2020-07-16 11:40] isaachinman commented on #757
Can you reproduce the issue with just `react-i18next`? I'm not sure how this could be a `next-i18next` bug, as we don't explicitly handle anything cookie-related.

[2020-07-16 11:48] borispoehland commented on #757
I don't use react-i18next, so no idea. I don't know if react-i18next also has this "everything renders twice" problem, but I think that's our problem.

The first render sets the cookie correctly and the second render overwrites it with the default configuration

[2020-07-16 13:06] isaachinman commented on #757
I assume this is because you're setting `cookieSecure: true`. Secure cookies aren't visible to the browser, so the client side app is setting the cookie separately.

[2020-07-16 13:22] borispoehland commented on #757
Okay, so now I tried the following configuration:

[code]

On the master, it works fine. On the beta, however, it doesn't work. So even though turning off secure solved a part of the problem, the beta still has a problem, I guess

[2020-07-16 13:40] isaachinman commented on #757
Relevant: https://github.com/i18next/i18next-http-middleware/pull/8. @adrai Any idea if we've had a regression here in `i18next-http-middleware`?

[2020-07-16 14:33] adrai commented on #757
afk...
would be nice to have an example with i18next-http-middleware only, if this is the problem

[2020-07-17 09:13] borispoehland commented on #757
I investigated the problem further and not only sameSite isn't working, but all detection options. E.g. using cookieExpirationDate also doesn't work, but once again, it flashes shortly before it gets overwritten with the standard config.

When unactivating the browserLanguageDetection, all options start working again, but that brings up a new problem: The cookie isn't updated anymore when the page

[2020-07-17 09:38] adrai commented on #757
Can you debug where the problem could be?
is it on clientside? Serverside?
Is it on passing options for i18next-browser-language-detector or on i18next-http-middleware?
Or while creating the options?

I have only my mobile phone with me currently. 🤷‍♂️

[2020-07-17 10:23] borispoehland commented on #757
@adrai certainly I'd like to help, but unfortunately I neither know anything about i18n, nor I know how to debug next.js applications at all...

It'd be nice if anyone of you could take a look at this **when you have time**, until then I can wait, no problem. I think, provided that you can reproduce that problem, that this is something that'll affect many to all users.

Maybe someone else reads th

[2020-07-17 11:30] isaachinman commented on #757
@borispoehland If you can provide a reproducible repository that I can clone and debug directly, as well as a description of the exact problem you are experiencing, I would be happy to debug it.

[2020-07-17 13:53] borispoehland commented on #757
@isaachinman Thank you very much, I appreciate it.

Here's the link: https://github.com/borispoehland/next-i18next-cookie-problem

The problem is documented inside the i18n.js file. If you have any leftover questions, just ask.

[2020-07-17 15:13] isaachinman commented on #757
So, this just looks to me like an inconsistency in the i18next world. The `config.detection` options are being consumed by `i18next-http-middleware` on the server side, but then consumed by `i18next-browser-languageDetector` on the client side, and the config API is not 1:1.

@adrai What are your thoughts?

@borispoehland To be absolutely clear, `cookieSecure` will _never_ work, and there's no goo

[2020-07-17 15:23] borispoehland commented on #757
@isaachinman but when I don't set an expiration date, then it's only a session cookie. What when I want my user to land on the right language after being absent for a few days? Isn't that a use case where `cookieExpirationDate` could be useful?

[2020-07-17 15:24] adrai commented on #757
Ohhhhh. You are passing the same detection options to both libs?
I don't think this is a good idea...
need to ask @jamuhl

[2020-07-17 15:28] isaachinman commented on #757
Well, we initialise an i18n instance both on the server and client, and the two packages mentioned above both look into the `config.detection` object. It appears like intentional design from the i18next side to have client/server parity. If that's wrong, let's discuss via Slack/email.

[2020-07-17 17:35] adrai commented on #757
I would separate them, but I don't think having to separate options will change this...
Isn't one executed in client and the other on server side?
Can you check what happens, when you set the options individually?

[2020-07-18 10:12] viclafouch opened #760 "Use namespacesRequired inside getStaticProps?"
## Describe the bug
I just updated my portfolio with the latest update of next.js. I would like to use `getInitialProps` (for i18n) with `getStaticProps` (to fetch blog articles).

I've just followed the tutorial on the [readme](https://github.com/isaachinman/next-i18next/blob/master/README.md).

On `next build`, I have `You can not use getInitialProps with getStaticProps. To use SSG, please remov

[2020-07-18 10:14] isaachinman commented on #760
This package does not support SSG as of yet, due to locale subpath and cookie support.

[2020-07-18 10:14] #760 closed

[2020-07-19 06:59] mehrdad-shokri commented on #653
@joaolavoierfh if your ``_app.js`` is functions(which is) you should define ``getInitialProps`` as follow:

[code]

[2020-07-20 18:57] DavydenkovM opened #761 "Add option to specify clientLocalePath in config to support approach "One Domain — Multiple Next.js Apps""
## Is your feature request related to a problem? Please describe.
It looks like currently there's no way to provide i18n support for "Multiple Next.js Apps" hosted on one server
(behind a single reverse proxy).

I have the following next.js apps:

[code]

Everything is fine on server-side, but I can't find a way to specify locales prefix, so that my Nginx server can return correct locales for each

[2020-07-20 20:05] isaachinman commented on #761
[code]

[2020-07-20 20:05] #761 closed

[2020-07-20 20:52] DavydenkovM commented on #761
Thanks!

[2020-07-20 21:26] fabrii opened #762 "Multiple translation files not working in 5.0.0-beta"
## Describe the bug
Multiple translation files not working.

## Occurs in next-i18next version
5.0.0-beta.4

## Steps to reproduce

SecondPage.getInitialProps = async () => ({
  namespacesRequired: ['common', 'footer', 'anotherFile'],
})

export default withTranslation(['common', 'anotherFile'])(SecondPage)

## Expected behaviour
The content of both files has to be taken into account

[2020-07-20 21:41] borispoehland commented on #762
First of all, the description of your issue is pretty bad, but I think I know what you're trying to achieve.

In the `withTranslation` HOC, only the first namespace can be used without prefix. All the other ones (in your case `anotherFile`) have to be prefixed with the filename:

t('**anotherFile:**translationFromOtherFile')

[2020-07-20 22:01] fabrii commented on #762
You are right. Sorry for the mistake.

Thank you.

[2020-07-20 22:01] #762 closed

[2020-07-21 14:34] St1myL commented on #677
Any updates?

[2020-07-21 20:01] tonmoy007 commented on #711
@murad-guliyev-pb actually i still didn't get what was gone wrong it was actually version issue updating should solve i have checked the package.json of the current project but may be some cached images might still holding the wrong version or not updating the old docker images. so i remove all the images and container and volumes and start fresh it was working fine... i don't actually know why..

[2020-07-21 20:32] murad-guliyev-pb commented on #711
@tonmoy007 Thanks for your answer! I resolved it by changing node-alpine version to node in Dockerfile but not sure that it was the case.

[2020-07-22 10:39] avaforvr opened #763 "TypeError [ERR_INVALID_ARG_TYPE] when using getServerSideProps"
## Describe the bug
When using both i18n Link component and getServerSideProps，Error show in cmd
[code]
`import NextLink from 'next/link'` works fine.

## Occurs in next-i18next version
v4.5.0

## Steps to reproduce
https://github.com/avaforvr/nextjs-i18n

Initialize the project and add nextjs-i18next as doc.

## Expected behaviour
I expect it to work fine or get some help to fix the bug.

## Scre

[2020-07-22 11:44] isaachinman commented on #763
Interesting, this does indeed seem to somehow be related to `getServerSideProps`, as this doesn't throw without use of `getServerSideProps`.

The relevant code is of course the [wrapping of `Link` within `next-i18next`, here](https://github.com/isaachinman/next-i18next/blob/master/src/components/Link.tsx).

Given the fact that your example has locale subpaths, the output for:

[code]

Ends up look

[2020-07-22 14:57] marteloge opened #764 "Link dynamic routes - "href" and "as" prop - Unhandled Runtime Error Error (5.0.0-beta.4)"
Product page: **/pages/product/[name].tsx**

I use Link imported from my i18n file.
In my component I use:
`<Link href="/product/[name]" as="/product/test"><a>Test</a></Link>`

This works perfectly with all other pages like my "/about" page.

Let's say I have selected Norwegian (language code: "no").
I want to look at the test product. The URL should then look like "/no/product/test".
When I click

[2020-07-22 15:52] Timer commented on #763
This is fixed on `next@canary`.

[2020-07-23 02:53] avaforvr commented on #763
@isaachinman @Timer  `next@canary` works fine.  You ' re so helpful . thanks a lot.

[2020-07-23 07:03] #763 closed

[2020-07-23 13:34] pixelass commented on #733
@stelasido did you figure this one out? We are having the same problem (currently investigating)

[2020-07-23 13:41] pixelass commented on #733
In our case, we were missing this snippet: in next.config.js

[code]

[2020-07-23 14:57] marteloge commented on #20
Does not seem like this works for the serverless beta version (currently testing 5.0.0-beta.4). Works when setting it the first time. When I change the language it is not reflected in the HTML lang. Does anyone have a solution for the new serverless beta version?

[2020-07-24 06:18] rparree opened #765 "ignoreRoutes not respected by Link component"
## Describe the bug
The value of `ignoreRoutes` is not taken into with i18n's `Link` component

## Occurs in next-i18next version
4.5.0

## Steps to reproduce
- In my i18n config i have:

[code]

- I'm using a link like this:

[code]

## Expected behaviour
I would expect the link not be `/toto` but it is  `/fr/toto`

[2020-07-24 08:47] isaachinman commented on #765
The `ignoreRoutes` option is not related to locale subpaths.

[2020-07-24 08:47] #765 closed

[2020-07-24 09:45] pixelass commented on #413
Here is our "not so hacky" approach:

[code]

This will

* append the subPath if defined
* handle absolute and relative paths (probably not really needed and could be removed)

No need to add extra directories or other hacks.

Maybe this can be added to this lib? @isaachinman what do you think? (I can open a PR for it)

[2020-07-24 09:47] rparree commented on #652
Is it correct that the `defaultProps` must be set on the result of the HOC:

This works for me:

[code]

This does not:

[code]

[2020-07-24 10:09] isaachinman commented on #413
@pixelass If you can extend [the existing `Link` component](https://github.com/isaachinman/next-i18next/blob/master/src/components/Link.tsx) to support dynamic routing, of course a PR would be accepted! Thanks.

[2020-07-24 10:13] pixelass commented on #413
@isaachinman I built this HOC on top of the Link provided by this lib, so yes I can either extend [the existing Link component](https://github.com/isaachinman/next-i18next/blob/master/src/components/Link.tsx) or add a new dedicated component instead.

Personally I thing extending the [the existing Link component](https://github.com/isaachinman/next-i18next/blob/master/src/components/Link.tsx) woul

[2020-07-24 10:16] isaachinman commented on #413
@pixelass We would want to extend the existing component, and we would need unit tests and most likely e2e tests as well.

[2020-07-24 10:25] rparree commented on #652
I'm using this version, so that it picks up recursive namespaces from WrappedComponents when using HOC

[code]

[2020-07-24 10:27] isaachinman commented on #652
@rparree I think you're commenting on the wrong issue. This issue is about `getServerSideProps`.

[2020-07-24 10:30] rparree commented on #652
@isaachinman I was referring to the comment with the workaround submitted by @icrona above  (https://github.com/isaachinman/next-i18next/issues/652#issuecomment-644618517)

[2020-07-24 10:33] isaachinman commented on #652
Sorry, what exactly is that workaround achieving?

[2020-07-24 11:30] marteloge commented on #764
Duplicate of #413?

[2020-07-24 11:32] isaachinman commented on #764
@marteloge Yes, I believe so.

[2020-07-24 11:33] #764 closed

[2020-07-24 11:53] rparree commented on #652
With the solution in their comment you can use `defaultProps` to set the namespaces when using a component that uses `getServerSideProps`. My code looks for `defaultProps` recursively when using a HOC.

[2020-07-24 11:55] isaachinman commented on #652
As far as I can tell, that doesn't achieve anything except slightly modifying the API. It won't enable SSG.

[2020-07-24 12:24] pixelass commented on #764
@marteloge I think the solution provided in #413 should work for you. Maybe you can test and confirm since I want to open a PR for it this weekend.

[2020-07-24 12:53] pixelass opened #766 "typings ar incomplete for useTranslation"
## Describe the bug
The exported `useTranslation` is not typed appropriately.

`TS2339: Property 'localeSubpaths' does not exist on type 'InitOptions'.`

## Occurs in next-i18next version

[code]

## Steps to reproduce

[code]

## Expected behaviour
As a developer I expect the typings to reflect the actual interfaces exposed by the methods/functions.

## Screenshots
<img width="767" alt="Screen Sh

[2020-07-24 13:09] isaachinman commented on #766
Why are you trying to pass `localeSubpaths` into `useTranslation`?

[2020-07-24 13:37] pixelass commented on #766
I am trying to extract/use it. It is present in `i18n.options` returned by `useTranslation` but the typings don't reflect it. I noticed when adding a localized link as in https://github.com/isaachinman/next-i18next/issues/413#issuecomment-663455809

[2020-07-24 13:40] pixelass commented on #766
via
[code]

<img width="981" alt="i18n-useTranslation" src="https://user-images.githubusercontent.com/1148334/88397186-e30fc600-cdc3-11ea-808e-41a1fb767381.png">

[2020-07-24 15:14] isaachinman commented on #766
@pixelass `useTranslation` comes [directly from `react-i18next`](https://github.com/isaachinman/next-i18next/blob/master/src/index.ts#L53). I believe it returns the i18n instance from the context provider (if available), so it'd make sense that you see it there. However, you _definitely_ do not need to pass `localeSubpaths` or any other config options into it – they're already there, because `next

[2020-07-24 15:14] #766 closed

[2020-07-24 15:39] marteloge commented on #764
Seems to be working but I get a type error => `Property 'localeSubpaths' does not exist on type 'InitOptions'.ts`

Tested your solution:
**Route**: /product/[name].tsx

[code]
The only problem I have is that I get a 404 on routing - only on **/no**/product/test not on /product/test

Request URL: http://localhost:3000/_next/static/development/pages/no/product/%5Bname%5D.js
Request Method: GET
Statu

[2020-07-24 15:49] pixelass commented on #766
@isaachinman I looked through the source but it seems since `localeSubpaths` is injected by `next-i18next` it is not present.
I think you might have misunderstood since the error is reporting `InitOptions`. `useTranslation` actually returns this interface. To clarify: "I don't inject `localeSubpaths` but I rather use it from the return value"

Since `localeSubpaths` is not part of `react-i18next`

[2020-07-24 15:50] isaachinman commented on #766
Why do you need to use/inspect the i18n instance which is output by `useTranslation`?

[2020-07-24 15:56] pixelass commented on #766
See: https://github.com/isaachinman/next-i18next/issues/413#issuecomment-663455809

[code]

It takes care of the issue mentioned here: https://github.com/isaachinman/next-i18next/issues/764

...where not every locale is using subPaths.
Since the changes I proposed to `Link` need this support I need access to this property to prevent having to manually add it (reduce complexity).
The new version of

[2020-07-24 16:01] pixelass commented on #766
Maybe I can propose a change in the typing https://github.com/i18next/react-i18next/blob/master/src/index.d.ts#L60-L63

to allow adding some custom interface extension

[code]

[2020-07-24 16:06] pixelass commented on #766
It might be more complicated since react-i18n is using the `i18n` type provided by `i18n` which does no allow adding arguments.

[code]

[2020-07-24 16:24] isaachinman commented on #766
You don't need to look into the output of `useTranslation`, you can just look at the i18n instance directly. Also, inserting a value out of `Object.values(localeSubpaths).includes(language)` is not going to work.

[2020-07-24 17:05] pixelass commented on #764
The `localeSubpaths` typing issue is reported here #766. I am looking into a stable and reasonable fix for it.

I only tested this on v4.x.x so I'm not sure about the beta. In my case it works like a charm without any flash of a 404 page.

Maybe you can create a codesandbox to demonstrate the issue (or MVP repo). I'll be happy to investigate and consider it when creating the PR to add this into co

[2020-07-24 17:09] isaachinman commented on #413
@pixelass Since you seem to be having a look around, just be aware that we've got utils like `subpath-from-lng` and `subpath-is-required` that should handle most of the heavy lifting for you.

[2020-07-24 17:10] marteloge commented on #764
@pixelass Great :)
The beta is serverless and might behave a bit differently? It will be the next version so maybe get it to work with the beta version as well.

I have a test repo here you can check out: https://github.com/marteloge/inktemplate

Just added your code to /pages/product/[name].js and swapped out <Link with the LocaleLink.

[2020-07-24 17:12] pixelass commented on #766
I don't have access to the instance since it is defined locally. https://github.com/isaachinman/next-i18next#3-project-setup

[code]

I haven't tried to add it to the core but I think it will resolve once I start and take a detailed look at the core of this library.

Sorry, I've had a long day and my brain doesn't seem to function that well anymore :)

Just ignore it for now I'll open a new (more

[2020-07-24 17:13] isaachinman commented on #764
Yeah to be clear, any PRs should be against the `beta` branch.

[2020-07-24 17:45] sebastienlabine commented on #652
how would that work for typescript?

[2020-07-25 07:44] ktjd123 opened #767 "withTranslation with decorator (typescript error)"
## Describe the bug
withTranslation with decorator (typescript error)

## Occurs in next-i18next version
"next-i18next": "^4.5.0",

## Steps to reproduce
use typescript, withTranslation() decorator

## Expected behaviour
no error

## Screenshots
![스크린샷 2020-07-25 오후 4 44 00](https://user-images.githubusercontent.com/15044488/88451986-0f941280-ce96-11ea-9d94-f1127d778899.png)

## OS (please

[2020-07-25 07:47] ktjd123 commented on #767
when try to build with @ts-ignore this happens.

[code]

[2020-07-25 08:14] isaachinman commented on #767
Please provide a full repository.

[2020-07-26 04:14] ktjd123 commented on #767
https://github.com/ktjd123/next-18next-ts-example

@isaachinman

you can check with this repo Thank you.

yarn d to start dev mode
yarn build to build

[2020-07-26 09:03] rparree commented on #652
@isaachinman It does the trick for me. I am able to use a component like this (and it will be SSR)

[code]

[2020-07-27 08:05] ddhp commented on #654
I found out whenever the language is changed, the router would be replaced which is causing the extra rerendering ([source code](https://github.com/isaachinman/next-i18next/blob/master/src/hocs/app-with-translation.tsx#L46)). Probably this is the expected behavior, since next.js also handles the routing part but `create-react-app` doesn't?

[2020-07-27 10:35] pixelass commented on #413
Sadly my HOC does not work as expected. Looks like we won't be able to use this library afterall

[2020-07-27 11:13] oswaldoacauan commented on #413
The way we fixed this is by not using the route prefix feature and actually implementing it ourselves. We have just a small middleware and all our routes look like `/[language]/some-route/[dynamic]/path`

[2020-07-27 11:51] isaachinman commented on #413
@pixelass Can I offer any assistance? What didn't work?

[2020-07-27 15:00] pixelass commented on #413
@isaachinman we have a rather complicated setup so while **it's very nice to offer help** we will have to figure this one out ourselves (I'm currently in discovery of our project-setup).

**tldr;**

The HOC didn't work, it was causing a server-side render instead of client-side.
I noticed this while digging into the code of next-i18next. I tried fixing this within https://github.com/isaachinman/ne

[2020-07-27 17:13] oswaldoacauan commented on #413
We have the same setup and you can use this lib but you will not be able to
use the he localeSubpath option and you will also need to write your own
language switcher component that is aware of the new slug for the new
language.

On Mon 27. Jul 2020 at 17:00, Gregor Adams <notifications@github.com> wrote:

[2020-07-27 18:18] #713 closed

[2020-07-27 18:19] #725 closed

[2020-07-27 20:18] isaachinman commented on #274
Hey all – NextJs v9.5 came out today, and `rewrites` are no longer experimental. I've therefore just released `next-i18next@v5.0.0`, which supports serverless. Enjoy!

[2020-07-28 11:40] rparree commented on #692
I am not able to make this work, the `SameSite` remains `none`.

I'm using version 4.5.0

Here's my initisalisation code:

[code]

[2020-07-28 11:58] martpie commented on #692
Yes, I need to submit a PR with the updated dependency, but we fixed it upstream.

[2020-07-28 12:20] isaachinman commented on #692
@martpie We do [deep merge](https://github.com/isaachinman/next-i18next/blob/master/src/config/create-config.ts#L120) some nested objects. What sort of PR did you have in mind?

[2020-07-28 12:28] isaachinman commented on #767
@ktjd123 What are you seeing is a generic pattern where HOC props can be tricky to type in TS. As far as I can see, there's nothing specific here to `next-i18next`. Have a search through StackOverflow on how to type HOCs in React/TS. Good luck!

[2020-07-28 12:28] #767 closed

[2020-07-28 12:36] isaachinman commented on #757
Sorry, just now coming back to this. It doesn't look like conditionally setting the options based on server/client env makes any difference (as expected).

I cannot get `i18next-http-middleware` to set a `sameSite` cookie with any set of config options at all, actually. @adrai Any ideas?

[2020-07-28 12:40] martpie commented on #692
Didn't we want to backport this at some point? https://github.com/i18next/i18next-http-middleware/pull/8

[2020-07-28 12:40] lsembolini opened #769 "Can't get current language with version 5.0.0"
## Describe the bug
I have updated my project to the version 5 and now I can't get the current language from Server Side Rendering
## Occurs in next-i18next version
v5.0.0
## Steps to reproduce
Using the example on the repository https://github.com/isaachinman/next-i18next/tree/master/examples/simple
Adding
` Homepage.getInitialProps = async({ req }) => {
  const currentLanguage = req ? req.langua

[2020-07-28 12:43] adrai commented on #757
Can you create a test, like: https://github.com/i18next/i18next-http-middleware/blob/master/test/languageDetector.js#L38 or a reproducable example with i18next-http-middleware only?

[2020-07-28 12:44] isaachinman commented on #692
@martpie We might just need to bump `i18next-http-backend` to v2.0.0?

[2020-07-28 12:45] martpie commented on #692
should do the trick indeed 🤔

[2020-07-28 13:00] isaachinman commented on #769
Ah, this makes sense, because the middleware is essentially running inside `getInitialProps` now, as opposed to before your component runs, so the `req` object isn't mutated.

Regardless, the `req.language` thing was always a bit hacky.

Instead, how about we export a `I18nContext` from `next-i18next`, so that you can consume in the normal way:

[code]

[2020-07-28 13:02] isaachinman commented on #692
Looks like v3.0.2 is the latest. Do you want to open a PR, or shall I?

[2020-07-28 13:12] #769 closed

[2020-07-28 13:42] ktjd123 commented on #767
@isaachinman  Thank you for your help. Thanks!

[2020-07-28 14:00] lsembolini commented on #769
Thank you for the fast response but I've tried it and It's not working. We can't use useContext in SSR and even in client side it doesn't give me back the language value. In client side I get this error "Cannot read property '_context' of undefined"

Thank You

[2020-07-28 14:02] isaachinman commented on #769
@lsembolini It will function exactly as a React context would, no little and no different. I'm not sure what you think you tested, as I haven't released the functionality yet.

[2020-07-28 15:56] isaachinman commented on #757
So, I think I've figured this out – at least the root problem, not necessarily a solution.

First, the i18next deps needed to be updated. I think that's going to need to result in another major for `next-i18next`.

Secondly, `i18next-browser-languageDetector` cannot be used if we want to do `cookieSameSite: 'strict'`. I haven't dug into why this is, but at the `next-i18next` level, if we upgrade t

[2020-07-28 16:12] adrai commented on #757
I have no idea...

Can you elaborate on what does not work, when using `cookieSameSite: 'strict'`?

I just now, i18next-browser-languageDetector and i18next-http-middleware use both the same lookupCookie name 'i18next', maybe manipulating (in the client) the same cookie, that was requested by the server is not always allowed?

[2020-07-28 17:04] mattcrn commented on #652
This approach breaks SSR for me.

[2020-07-28 17:10] isaachinman commented on #769
This is now released in v5.1.0. I am also investigating if it will be possible to again support `req.i18n`.

[2020-07-28 22:03] zeyuri opened #772 "[Question] Multilanguage Blog"
Hello,

I understood perfectly how to localize specific pages through the example project. But it is still not clear to me how to make a blog in several languages, how would I do it using an api or through several markdown files?

[2020-07-29 07:40] jamal-rahimzadegan opened #773 "Shows keys instead of value in NextJS with ReactJS"
I'm using it with react js but it gives me the keys instead of values

![Untitled](https://user-images.githubusercontent.com/52101670/88771380-69e1eb80-d194-11ea-92b3-435d2bc2c246.png)

[2020-07-29 08:01] isaachinman commented on #773
Please provide a reproducible repo.

[2020-07-29 08:24] isaachinman commented on #772
Hi @zeyuri, sorry but I do not understand your question at all. This is an issue tracker though, where people can report bugs they find in open source software. If you have general implementation questions, you are better off posting on StackOverflow, etc. Good luck!

[2020-07-29 08:24] #772 closed

[2020-07-29 08:45] jamal-rahimzadegan commented on #773
package.json:
{
  "name": "behineh",
  "version": "0.1.0",
  "private": true,
  "scripts": {
    "dev": "next dev",
    "build": "next build",
    "start": "next start"
  },
  "dependencies": {
    "@zeit/next-css": "^1.0.1",
    "axios": "^0.19.2",
    "bootstrap": "^4.5.0",
    "i18next": "^19.6.3",
    "next": "9.5.0",
    "next-i18next": "^5.1.0",
    "next-redux-wrapper": "^6.0.2",
    "react

[2020-07-29 08:46] isaachinman commented on #773
@jamal-rahimzadegan That setup looks fine, I will need a repo, as I already mentioned, to help you debug.

[2020-07-29 08:54] jamal-rahimzadegan commented on #773
https://github.com/jamal-rahimzadegan/behine_lang

[2020-07-29 09:00] isaachinman commented on #773
There are many problems with the repo you've just linked, the the first thing that stands out to me is that you're not using `withTranslation` on your `Home.js` component.

Please post on StackOverflow for help. Good luck!

[2020-07-29 09:00] #773 closed

[2020-07-29 09:03] jamal-rahimzadegan commented on #773
It isn't good answer for the owner, you could just use the _app.js with statick <p> tag

[2020-07-29 09:22] isaachinman commented on #773
Sorry, I do not understand what you mean.

[2020-07-29 09:25] jamal-rahimzadegan commented on #773
I'm saying you could test the translation by using an HTML p tag on _app.js page

[2020-07-29 09:37] Geoff-Ford commented on #586
Now that the custom server problem is sorted, will the potential switch to `getStaticProps` be considered? I value the static optimization so this is my only remaining blocker to using this plugin.

[2020-07-29 09:38] isaachinman commented on #773
So, first and foremost this is an issue tracker, where people can post bugs/problems that they have found in a piece of open source software. Second, if you _did_ want to use an issue tracker to request help on implementation, it would be up to _you_ to make it as easy as possible for the maintainer(s) to do that, as you're literally asking for them to spend unpaid time assisting you.

Third, the

[2020-07-29 09:43] isaachinman commented on #586
@Geoff-Ford Being able to support static/SSG output is an entirely different proposition. The `next-i18next` package (and indeed any full-featured i18n package) has a server runtime dependency to do things like check cookies, perform redirects, bundle necessary resources, etc.

If you were willing to completely drop cookie/redirect functionality, it would be possible to support static/SSG outputs.

[2020-07-29 10:10] Geoff-Ford commented on #586
Thanks for that. Yes, this is what I was also thinking. Being able to statically generate pages with `localeSubpaths` would cover most of my cases. If a user arrives directly to a specific page with a specific locale, then I would be happy to assume that is the required language. Any dynamic content that required SEO would have to go via a lambda anyway so could include language detection. That ju

[2020-07-29 10:12] isaachinman commented on #586
Yeah that's loosely correct, @Geoff-Ford. I have been kicking around ideas of how to support this, and it's on my list (after a few other more pressing matters). If you'd like to help, and/or discuss implementation, feel free to email me directly.

[2020-07-29 14:35] zeyuri commented on #772
Hey, @isaachinman,

First of all thanks for the very fast response and sorry if my english is not so good, it's not my first language.

I opened this issue because I saw your comments [here](https://github.com/vercel/next.js/discussions/10651) and your project does support serverless, so I wanted to use your solution, but this repository didn't have a place to initiate a discussion.

I want to mak