[2020-07-29 14:39] isaachinman commented on #772
No problem at all!

First, this issue tracker isn't really for asking questions – it's mostly a place where we post bugs/feature requests/etc.

Second, it now sounds like you're asking about static/SSG, is that correct? If so, please see #586.

[2020-07-29 19:04] mattcrn commented on #652
To get all namespaces loaded in case none are defined on the page, you would have to adapt icronas solution like this:
[code]

[2020-07-29 19:39] isaachinman commented on #652
@mattcrn The `next-i18next` package will already load in all namespaces if you don't define any on the page. Let's keep this issue strictly about the support of `getServerSideProps`.

[2020-07-29 19:41] #757 closed

[2020-07-29 20:35] mattcrn commented on #652
@isaachinman yes, but using icrona's solution will break this functionality since it will return an empty array for `namespacesRequired` and the package is simpy checking if `namespacesRequired`  is defined for loading all namespaces.
So, `namespacesRequired: []` means no namespaces are being loaded.

[2020-07-30 08:31] clement-faure opened #780 "Next export is broken with v6.0.0"
## Describe the bug
Trying to next export the application using latest version of next-i18next (v6.0.0)

## Occurs in next-i18next version
"next-i18next": "^6.0.0"

## Steps to reproduce
https://github.com/clement-faure/next-antd-graphql-starter/commit/c2b8f0bc2a2cbe0bc947dadf0e4185877c609265

Git clone next-antd-graphql-starter and run next export

## Screenshots
![image](https://user-images.gith

[2020-07-30 08:55] isaachinman commented on #780
Next export is not something this package can easily support. If you want fully static websites, you're better off rolling dynamic directories on your own.

If you'd like to investigate and contribute though, you are more than welcome!

[2020-07-30 08:59] clement-faure commented on #780
Thank you for the quick response @isaachinman !

[2020-07-30 09:04] isaachinman commented on #780
No problem. Bit more context: `next export` apps represent a pretty small proportion of NextJs apps – most are hybrid apps. On top of that, certain data fetching methods (including `getServerSideProps`, etc) are incompatible with `next export`. There are no plans to support `next export`.

We managed to make it work (result was client side only app) in the past, but even that was not a very good i

[2020-07-30 09:10] #780 closed

[2020-07-30 14:22] eric-burel commented on #780
Ha @clement-faure great minds think alike.

@isaachinman You might want to take a look at this issue I've just opened https://github.com/vercel/next.js/issues/15674

`next export` might be a minor usage in proportion, but not necessarily small usage at all. I hope that in the future `getServerSideProps` becomes available again with `next export`, by just being ignored.

[2020-07-30 14:25] isaachinman commented on #780
@eric-burel I thought that Tim was quite clear about the incompatibility?

[2020-07-30 14:34] isaachinman commented on #780
Fairly soon, `next-i18next` will support static/SSG outputs from `next build`. I don't have any plans to put effort into supporting `next export`, but if anyone wants to lead that effort, I can certainly reopen this issue and answer any questions they may have.

[2020-07-30 14:40] eric-burel commented on #780
Technically if it works for next static build on your side, it should work with `next export` with no additional work, provided `getServerSideProps` is left compatible with `next export`. So yeah, the solution is most probably on Next side, will wait for their answer.
First step is to make my case in favour of supporting both `next export` and dynamic server side rendering in the same codebase ^^

[2020-07-30 15:55] mercteil opened #782 "Custom server support"
Why would you remove the custom server support?

I use custom route patterns and some other middlewares in my project (eg. also next-i18next).

From v5.0 it makes it extremely hard for me to update this package since I would probably rewrite and refactor a lot of code.

Isn't it possible to return the middleware functionality for custom servers ?

[2020-07-30 16:08] isaachinman commented on #782
Custom servers are actively discouraged by the NextJs team, and for pretty good reasons. It was a "hack" in some sense, that this package used for quite some time to support specific cookie/middleware/redirect functionality.

I won't be actively maintaining support for custom servers, because now that we have `rewrites` and have removed our Express dependency, they simply aren't necessary. All ver

[2020-07-30 19:48] loukmane-issa opened #783 "Ability to have locales stored outside of the local server"
## Is your feature request related to a problem?

I am currently deploying my application to AWS using next serverless with [serverless-next.js](https://github.com/serverless-nextjs/serverless-next.js) component of the [serverless framework](https://www.serverless.com/). This means that the locales will be stored in S3 and exposed within a CDN (using CloudFront). Using the code in the example, cur

[2020-07-30 20:10] caiobozato commented on #570
Very useful answer, thanks.

[2020-07-30 23:33] #783 closed

[2020-07-30 23:33] loukmane-issa commented on #783
Looks like this topic has been already discussed in: #163

[2020-07-30 23:37] dcodus opened #784 "importing the middleware in `app-with-translation` is causing that code to be pulled into the client bundle"
_Originally posted by @isaachinman in https://github.com/isaachinman/next-i18next/pull/689#issuecomment-617902384_

This is indeed the case. Will result in ~ 5kb added to bundle.

On 4.5.0
<img width="638" alt="Screen Shot 2020-07-30 at 7 37 07 PM" src="https://user-images.githubusercontent.com/12925816/88984681-4013ec00-d29c-11ea-88b2-604f9d2f534e.png">

On 6.0.1
<img width="537" alt="Screen Shot

[2020-07-31 07:02] mattcrn commented on #652
As far as I understand it, getServerSideProps is not part of the page component, so we would have to create a higher order function to wrap the pages getServerSideProps. Or is there a better way?

[2020-07-31 07:33] isaachinman commented on #570
This is an issue tracker, StackOverflow is the right place for help.

[2020-07-31 08:36] isaachinman commented on #784
Good catch. We probably need to split all cross-env files with a `package.json`, like I've done in the `create-client` dir.

I can get to this next week, or you can work on a PR in the meantime.

[2020-08-01 08:52] St1myL commented on #41
@isaachinman , version 6.0.0+ lacks middleware file:

![image](https://user-images.githubusercontent.com/26415925/89097997-85473380-d3ec-11ea-9a94-9a6a91ab7b63.png)

And I have to import like this: `import { nextI18NextMiddleware } from 'next-i18next/dist/commonjs/middlewares'`<br/> instead of: `import nextI18NextMiddleware from 'next-i18next/middleware'`

Maybe I missed something

[2020-08-01 09:03] isaachinman commented on #41
@St1myL The v5 and v6 releases do not support custom servers anymore. They're entirely serverless.

[2020-08-02 22:34] mqtik opened #785 "Update docs on custom routes via rewrites"
Hi.
I see in the example that the languages are splitted by language and by element such as footer, ..

I'm looking for something more simple, like so:

[code]

Can this be done?

[2020-08-03 09:02] goodok21 opened #786 "`Cannot read property 'ru' of undefined` when using `next-compose-plugins`"
## Describe the bug
`Cannot read property 'ru' of undefined` when using `next-compose-plugins`

## Occurs in next-i18next version
"next-i18next": "^6.0.1",
"i18next": "^14.0.1",
"next-compose-plugins": "^2.2.0",

## Steps to reproduce
1. use `examples/simple` project in this repo
2. `yarn add next-compose-plugins`
3. in `next.config.js`:
[code]

## Expected behaviour
Work without errors

## Screen

[2020-08-03 09:15] isaachinman commented on #785
@mqtik You can establish custom routes. Check out this user's comment: https://github.com/isaachinman/next-i18next/pull/689#issuecomment-666605215.

We should update the docs to answer this question, as it will be a common one.

[2020-08-03 09:18] isaachinman commented on #786
Sorry, I don't understand this issue. `next-i18next` does not modify the webpack config, or do anything outside of normal user presets. Can you explain how/why you think `next-i18next` could be causing an issue? This is most likely user error.

[2020-08-03 09:44] goodok21 commented on #786
@isaachinman yes, I understand that `next-i18next` does not modify the webpack config, but I need to modify it. To modify webpack config in `next.config.js` I need to get webpack instance. So I need to define `nextConfiguration` as a function and it throw error (see Screenshot section).

All works fine if I define `nextConfiguration` as an object.

[2020-08-03 12:22] saurabhguptarock opened #787 "You have not declared a namespacesRequired array on your page-level component"
## Describe the bug
I have tried everything but this error is not going away.
That is why i stopped using your package and don't know any other similar package.

Please fix this bug .

[2020-08-03 12:33] isaachinman commented on #787
First, it's not an error but rather a helpful warning to let you know that your implementation is not as optimal as it could be. The warning message does not affect your ability to use the package or deploy your app.

Second, instructions on how to use `namespacesRequired` can be found in the main README.

[2020-08-03 12:33] #787 closed

[2020-08-03 12:35] saurabhguptarock commented on #787
I already said that nothing is working
i don't know why

[2020-08-03 12:36] saurabhguptarock commented on #787
I am using typescript

[2020-08-03 13:50] isaachinman commented on #787
@saurabhguptarock Please post on StackOverflow for help. Good luck!

[2020-08-03 13:53] isaachinman commented on #786
It sounds like you should open an issue in the `next-compose-plugins` repo, not here. I'm not sure what you would like `next-i18next` to do to "fix" this error.

[2020-08-03 15:59] #786 closed

[2020-08-03 16:15] Dynkin commented on #677
Yeah. I'm facing the same issue now. I like to keep my console clean. But in this particular situation I get or warning from Next.js `You should have custom 404 page because it's good to optimize its as static content` either warning from next-18next `You have not declared a namespacesRequired array on your page-level component: Custom404`.

Frustrating 😞

[2020-08-03 23:01] mqtik commented on #785
I'm sorry if I didn't explain myself well, no custom routes.
Keys and values.

You can trigger them like t('search'), t('about').

I did a library for React Native for this, so you could call the keys like `language.about[getLang()]` and I'm looking for somethig similar. Since this library seems to handle everything, it would be a cool feature, so translation can get done pretty quickly.

[2020-08-04 00:21] mqtik commented on #41
@isaachinman how so?
I keep seeing the key (with _view-source://url.._)
![image](https://user-images.githubusercontent.com/42002579/89238801-b16dda80-d5cd-11ea-896a-d352b912d6b9.png)

I'm not using the middleware, but.. is there something I need to do to enable server-side rendering?

[2020-08-04 07:34] isaachinman commented on #41
@mqtik If you believe you've found a bug, please open a new issue. SSR is supported by default, of course.

[2020-08-04 07:35] isaachinman commented on #785
Oh, I see. Have a look at the i18next documentation. This package doesn't handle any of the actual localisation work. Good luck!

[2020-08-04 07:35] #785 closed

[2020-08-04 11:42] powerczuk opened #788 "Flashing GET translations file 500 issue while navigating through the app"
## Bug report
I'm facing 500 issue after click on the navigation link and just before the page reload
`GET https://domain.com/_next/data/development/en/publication.json 500`

The url works fine when I remove the language code from it.
`GET https://domain.com/_next/data/development/publication.json 500`

## Steps to reproduce
next: 9.4.4
next-i18next: 4.2.0

**My next-i18next instance setup**
[code

[2020-08-04 11:44] isaachinman commented on #788
Can you provide a reproducible repo? If so, I can debug.

[2020-08-04 18:33] powerczuk commented on #788
While preparing a new repo noticed that the issue is related only to the page which using the `getServerSideProps` method.

Index -> Second Page (getServerSideProps) -> 500 issue
Second Page -> Index (no getServerSideProps) -> No issue

Please have a look: [example repo](https://github.com/powerczuk/next-i18next-test)

[2020-08-04 20:23] isaachinman commented on #788
@powerczuk Sounds interesting indeed, but you're using an older version of `next-i18next`. Can you reproduce this using v6? And, why have you disabled `serverLanguageDetection`?

[2020-08-04 20:38] tokomeno opened #789 "typescript I18nContext"
## Describe the bug
typescript  I18nContext type is not working correctly I got this error

import { I18nContext } from "next-i18next";

export const useActiveLang = () => {
  const {
    i18n: { language: activeLang },
  } = useContext(I18nContext);
  return { activeLang };
};

![image](https://user-images.githubusercontent.com/34988363/89342314-aab99300-d6b3-11ea-872c-e7eae025b81f.png)

## Occur

[2020-08-04 20:48] isaachinman commented on #789
Interesting. It definitely [is exported](https://github.com/isaachinman/next-i18next/blob/master/src/index.ts#L14), but it seems like there's an issue with TS/module resolution here.

[2020-08-04 22:52] powerczuk commented on #788
@isaachinman hmm just jumped into the update of the `next-i18next` and after checking the documentation and some examples noticed there is no longer support for custom express servers?

[2020-08-05 09:37] isaachinman commented on #788
That's correct, it's serverless only now.

[2020-08-05 12:08] isaachinman commented on #757
For anyone coming across this in the future: from v6.0.0 and onward, if you simply set `browserLanguageDetection` to `false`, the `SameSite` value will remain `Strict`.

@adrai We do still have the problem of `i18next-http-middleware` and `i18next-browser-languageDetector` presenting inconsistent behaviour, though. Let me know if you need any help – to see the error simply clone this repo and run

[2020-08-05 12:09] sarang-naico commented on #41
I get this issue after I upgraded to the version 6.0.2 from 4.5.0 @isaachinman

[2020-08-05 12:10] sarang-naico commented on #41
Is there anything I have to do after upgrading? @isaachinman

[2020-08-05 12:11] isaachinman commented on #41
@sarang-naico You will need to follow the updated documentation and remove your custom server (or at least stop using the `next-i18next` middleware there).

[2020-08-05 12:14] sarang-naico commented on #41
@isaachinman I will check that, Thank you!

[2020-08-05 12:23] adrai commented on #757
What should I look at in the example to see the error?

[2020-08-05 12:29] isaachinman commented on #757
Firefox tends to have good dev tools – if you open the example in FF you will see a warning in the console about the `SameSite` usage. If you then set `browserLanguageDetection` to false in `examples/simple/i18n.js`, you'll see that the issue is resolved. Essentially, `i18next-browser-languageDetector` is overwriting the cookie in an unexpected way when it inits on the client.

[2020-08-05 12:35] tokomeno commented on #789
As I see in types.d.ts file I18nContext is exported as a type but for this specific scenario we need as value to pass useContext as an argument

![image](https://user-images.githubusercontent.com/34988363/89413234-87d1c200-d739-11ea-9e1c-d43d464a4ec7.png)

[2020-08-05 12:47] isaachinman commented on #789
@tokomeno Yes, it's exported as a type because _it is_ a type. If you remove that line in `types.d.ts`, TypeScript will simply complain that `next-i18next` has no exported member named `I18nContext`, even though it does – TS is simply failing to pick up the export. As far as I can tell it doesn't actually have anything to do with the types.

[2020-08-05 12:48] lcvbeek commented on #41
Is there any documentation as to why it's no longer supported? Could we migrate to https://github.com/i18next/i18next-http-middleware? Are there any caveats that I'm not aware of?

[2020-08-05 12:51] isaachinman commented on #41
@lcvbeek It's not "supported" anymore because it's not necessary. We were able to replace the functionality with built-in features of NextJs, as soon as `rewrites` dropped. The middleware you mentioned is already/still used by `next-i18next`, just in a serverless manner.

You can still use a custom server if you really want to, but `next-i18next` no longer has anything to do with that.

Let me kno

[2020-08-05 12:57] lcvbeek commented on #41
@isaachinman Thanks for the quick reply. Makes sense. 👍

[2020-08-05 13:22] adrai commented on #757
Ok, I think this is not because of options overwrite...
I try to explain:
Because of the shared options: https://github.com/isaachinman/next-i18next/blob/master/src/config/default-config.ts#L30
with this config: `caches: ['cookie']` you tell to both languageDetectors, they need to cache the cookie...
So i18next-http-middleware will send a Set-Cookie header and i18next-browser-languageDetector also

[2020-08-05 14:32] isaachinman commented on #757
@adrai Thanks, just looking at this now: https://github.com/i18next/i18next-browser-languageDetector/commit/902cfa1e95ae2ccf56053aa2fd0158c28c814c35. I think it would still be the case that `i18next-browser-languageDetector` overwrites the cookie set by `i18next-http-middleware` via `document.cookie =`, although now it's just setting `sameSite` by default, right?

[2020-08-05 14:40] adrai commented on #757
I don't think/know how the options would be overwritten one i18next instance is on serverside and one one clientside...
Sorry but I have no clue how Next.js works... so there might be some object sharing magic I don't know. 🤷‍♂️

[2020-08-05 15:58] isaachinman commented on #757
@adrai I was asking if `i18next-browser-languageDetector` will still call `document.cookie =`, even if the cookie already exists?

[2020-08-05 16:01] adrai commented on #757
Yes, because normally you use language detection in the server or in the client, but not both...
Btw: is the browser language detection useful if already detected on serverside for next?

[2020-08-05 16:03] isaachinman commented on #757
The browser language detection is essentially only useful for _updating_ the cookie value when the language is changed on the client side. That's mainly what we use it for. As long as it's respecting the `cookieSameSite` value from the config options, I don't see any problem with `i18next-browser-languageDetector` overwriting the cookie on the client.

[2020-08-06 14:03] Uniiq opened #790 "404 with localeSubpaths"
## Describe the bug
I get a 404 with localeSubpaths only on production build. In develop everthing works fine.

## Occurs in next-i18next version
v6.0.2

## Steps to reproduce
I get no error so i have no clue

## Expected behaviour
http://localhost:3000/en -> statusCode 200 and not 404

## OS (please complete the following information)
 - Browser: Chrome: 84.0.4147.105

## Additional context
- nex

[2020-08-06 14:10] isaachinman commented on #790
Let me know when you put together a reproducible repo, and I'll have a look.

[2020-08-06 14:18] knyuwork commented on #790
I have the same issue.

When I first com to http://localhost:3000/en, it loads the english.
However, once I change the language, i got 404 for the common.json need to be used for the new language

e.g. `http://localhost:3000/zh-Hant/src/utils/i18n/locales/zh-Hant/common.json` 404 (Not Found)

[2020-08-06 20:13] mqtik commented on #513
Isn't the middleware deprecated?

[2020-08-06 20:18] isaachinman commented on #513
Yes, but it was not when I wrote that comment.

[2020-08-06 21:11] mqtik commented on #449
Why would you not recommend it?

[2020-08-07 08:28] nicolaslair opened #791 "Page Routing not using the language defined in the URL."
## Bug description
Hi there,

I did a test integration of next-18next v6.0.2 with next 9.5.0.

When I launch the EN version of the homepage, I see that that FR language (which is the default language) is still applied: https://utopix-marketplace-frontend-git-implementation-i18next.utopix.vercel.app/en - the "next-i18next" cookie is still set to fr. If I then click a few times on the "change langua

[2020-08-07 08:37] isaachinman commented on #791
Can you please provide a reproducible repository?

[2020-08-07 08:39] isaachinman commented on #449
@mqtik Translated content doesn't really belong in the `_app` file. The `_app` file is mostly used for top-level setup, layout, styles, etc.

[2020-08-07 09:24] michelalbers commented on #790
Got the same problem. Reproducible Repo: https://github.com/michelalbers/next-i18next-404

[2020-08-07 09:57] amorphine opened #792 "Minimum version of Node.js declared at nuxtjs.org is not compatible with eslint shipped with npm init nuxt-app"
At the [website](https://ru.nuxtjs.org/guides/get-started/installation#node) minimum Node.js version is 8.9
But right after `npm init nuxt-app` I'm not able to run the app. The error is

[code]
Optional catch binding is available since Node 10.3
I think, it's reasonable to update the information at the website

[2020-08-07 10:02] #792 closed

[2020-08-07 10:09] isaachinman commented on #790
@michelalbers Couple issues with that repo regarding your TS setup. Regardless, I was able to run the app via `yarn build && yarn start`, and can not see any 404 errors. Can you provide specific instructions as to how I can reproduce the error?

[2020-08-07 10:16] kekami opened #793 "Catch-all-route takes precedence over predefined routes when using rewrites."
## Describe the bug
After upgrading from 4.5.0, I've encountered an issue where it seems like a catch-all-route takes precedence over a predefined route when used in combination with a rewrite.

My setup:
[code]
[code]
[code]

So for example, if I navigate to `http://localhost:3000/en/gardening/london` I expect to land in `services/[service]/[city]/index.js` but instead the `[...slug].js` page is

[2020-08-07 10:24] isaachinman commented on #793
Hey @kekami – not sure how `next-i18next` can help here. The output of `nextI18NextRewrites` is just an array of rewrites, which you're more than welcome to have a look at or modify. Please let me know what sort of "fix" you had in mind here.

[2020-08-07 11:16] michelalbers commented on #790
Try yarn dev :)

[2020-08-07 11:27] kekami commented on #793
Hi @isaachinman, please correct me if I'm wrong, but I believe this must be a bug within next-i18next. As it worked as expected in earlier versions (4.5.0) as well as if I disable next-i18next by removing the `appWithTranslation` hoc. So it seems to me that the latest version does something differently? Sorry if it is a bit diffuse, I'm not that well versed with the internals of the lib.

[2020-08-07 11:29] kekami commented on #793
Just tested and it seems to be connected to the use of localeSubpaths, if I remove them, the rewrite works and the correct page is shown.

[2020-08-07 11:34] isaachinman commented on #793
Of course it's related to `localeSubpaths`. Can you please post the output of your `nextI18NextRewrites` call?

[2020-08-07 12:01] kekami commented on #793
Sure, the output is:
[code]

[2020-08-07 12:12] isaachinman commented on #790
Running with `yarn dev` does not produce any 404s for me either.

[2020-08-07 12:14] isaachinman commented on #793
So, something about that output is not playing well with your dynamic route setup.

Feel free to have a play around and let me know what it is. [Relevant code is here](https://github.com/isaachinman/next-i18next/blob/master/src/utils/generate-rewrites.ts).

[2020-08-07 12:32] michelalbers commented on #790
I have the feeling it doesn’t work when u didn’t run next build initially. Will confirm when I’m back at the office.

[2020-08-07 12:35] isaachinman commented on #790
I did a fresh clone of the repo, and then just did `yarn && yarn dev`. I had to install TS deps because they were not present. I did not run `yarn build`.

[2020-08-07 13:06] nicolaslair commented on #791
Thanks @isaachinman, by creating the repo, I found out that the bug was coming from a conflict with another dependency - so it's all working by default. Here is the default setup with Typescript if someone is interested: https://github.com/nicolaslair/next-i18next-ts-demo

[2020-08-07 13:06] #791 closed

[2020-08-07 14:23] gpessa commented on #769
Do we have a way to fix this?
I also need the locale in the getInitialProps

[2020-08-07 14:26] isaachinman commented on #769
@gpessa The `req.i18n` value should be accessible.

[2020-08-07 14:52] michelalbers commented on #790
Figured it out ... I had next.js 9.4.4 in my cache which does not support rewrites. Next.js 9.5 is required which came out 11 days ago. Could we add that to the readme?

[2020-08-07 14:55] gpessa commented on #790
How did you fix it exactly? How can i clean the cache?

[2020-08-07 14:56] michelalbers commented on #790
In my case it was as simple as ```yarn add next@^9.5.0```

[2020-08-07 14:56] isaachinman commented on #790
Well, [it's in the `package.json`](https://github.com/isaachinman/next-i18next/blob/master/package.json#L116), and you would have been receiving warnings from npm or yarn. Not sure it's worth adding to docs.

[2020-08-07 14:56] #790 closed

[2020-08-07 14:57] gpessa commented on #790
I still get a 404

[2020-08-07 14:58] michelalbers commented on #790
Yes you get a peer dependecy warning ... but in every bigger project you might have quite a few from them. Anyway - my issue is resolved. Thank you very much @isaachinman

[2020-08-07 14:58] isaachinman commented on #790
@gpessa and @Uniiq you will need to provide a reproducible repository if you would like help debugging.

[2020-08-07 15:58] mirshko commented on #760
When will this be supported? It seems it works a bit through SSG just all the namespaces will come down.

[2020-08-07 16:19] Uniiq commented on #790
@isaachinman i sry for the late response. The first problem was i forgot to remove `await nextI18next.initPromise;` from custom next server file (i upgraded from `next-i18next@4.5.0` ).The second problem is i use `cacheable-response` to cache the SSR response and somehow `next-i18next` interfere with my caching function and redirect me to 404 error page (caching is only enabled on production).

In

[2020-08-07 19:13] kekami commented on #793
I believe I now understand what the issue is. Multiple rewrites of one request does not work, it simple takes the first matching rewrite. In my case it was `{ source: '/:lang(en)/:path*', destination: '/:path*' }`.

So it works if I add my rewrite above `...nextI18NextRewrites(localeSubpaths)` while also manually adding the localeSubpath for it, e.g.
[code]

[2020-08-08 10:56] isaachinman commented on #793
@kekami Yup, that seems right. I suppose `nextI18NextRewrites` could optionally take an array of custom routes? Not quite sure how that'd work though. Annoying as it may seem, it might be best if users just manage their own rewrites, as everyone will want to do something slightly different. Let me know what you think.

[2020-08-08 11:02] isaachinman commented on #760
@mirshko It's the next (big) thing on the roadmap for this package, but I haven't begun any serious work on it yet. It's going to require a pretty opinionated approach, wherein users _must_ use locale subpaths, and storaging user lang in a cookie won't be supported.

[2020-08-08 11:39] mirshko commented on #760
I think that's a happy medium! I don't think there's too much need for storing the preference in a cookie for sites that would use subpaths. deff a good trade off to keep blazing fast sites with i18n

[2020-08-08 18:31] elyash14 commented on #27
Hello everyone. but I had this problem and when I changed my default language to something like "fa" in the config, nothing happened and the "en" json file was loaded. I didn't have any custom server like server.js and after some search and playing with NextI18Next configs, set serverLanguageDetection option to false and everything worked properly.
`new NextI18Next({
  defaultLanguage: 'fa',
  oth

[2020-08-09 11:56] St1myL opened #794 "Optional locale subpaths"
next-i18next allows us to set locale subpaths but in some cases it would be nice to make them optional.
I read the documentation, but did not find an answer to this question, so if next-i18next already have this feature, the question will be settled. I am not familiar with i18n, perhaps such a feature is implemented there

For example I have 3 locale versions of website:

- `<link rel="alternate"

[2020-08-09 12:00] isaachinman commented on #794
That's a very unusual use case, and not one that this package will support out of the box. You might be best off forking and making the changes you need.

[2020-08-09 12:00] #794 closed

[2020-08-09 12:29] St1myL commented on #794
Thanks for the quick response!

[2020-08-10 11:07] QPRocky opened #795 "Detect language on getServerSideProps"
Hi, is there some trick to detect language on getServerSideProps?

[2020-08-10 11:16] isaachinman commented on #795
You can look at `req.i18n`.

[2020-08-10 11:16] #795 closed

[2020-08-10 13:51] ktjd123 opened #796 "saving common.json doesn't reload the translations."
## Describe the bug
saving common.json doesn't reload the translations. I'm using custom server.

## Occurs in next-i18next version
You must provide the npm module version, git tag, or even better the explict commit causing the issue.

## Steps to reproduce
    "next-i18next": "^6.0.2",

## Expected behaviour
update translations.

## Screenshots

## OS (please complete the following information)

[2020-08-10 13:59] isaachinman commented on #796
There are several issues pertaining to this. Essentially you'll want to restart your Node process via nodemon or similar. Good luck!

[2020-08-10 13:59] #796 closed

[2020-08-10 14:40] ktjd123 commented on #796
@isaachinman Thank you.

[2020-08-10 14:43] ktjd123 opened #797 "i18n.t is not working in placeholder"
## Describe the bug
i18n.t is not working in input placeholder, it's just showing string param inside t,

but when I save the code and fast refresh, it works perfectly.

## Occurs in next-i18next version
"next-i18next": "^6.0.2",

## Steps to reproduce
use t in placeholder

## Expected behaviour
load from json

## Screenshots

## OS (please complete the following information)
 - Device: MacBook Pr

[2020-08-10 14:51] isaachinman commented on #797
Please provide a reproducible repository.

[2020-08-10 15:09] ktjd123 commented on #797
@isaachinman https://github.com/ktjd123/next-18next-ts-example.

yarn d for start.

pls check / route.

In my case of this project, placeholder changed to correct value after changing code inside i18n.js then save it.

Thank you.

[2020-08-10 15:30] isaachinman commented on #797
@ktjd123 That's not a minimal example. Can you please create a new, simple, repo that exemplifies the problem? Also, you've got `"en"` as both your default language and within `otherLanguages`. That's not going to work.

[2020-08-10 17:44] ktjd123 commented on #797
@isaachinman Thank you for reply. I force pushed to repository. check please.

[2020-08-10 19:01] isaachinman commented on #797
Follow the docs. Use `withTranslation`, not `i18n.t` directly.

[2020-08-10 19:01] #797 closed

[2020-08-10 19:02] isaachinman commented on #788
@powerczuk Any update?

[2020-08-10 19:03] #782 closed

[2020-08-12 11:29] #793 closed

[2020-08-12 11:29] #788 closed

[2020-08-12 12:17] paveldpetrov opened #798 "How to load only requested translation?"
Hello,

I configured next-i18next like in the simple-example repo. However, I noticed that when I change the language, namespaces for all languages are loaded. I also tested this on your simple-example and the result is the same. The idea is to load only the requested translation json file, is it not? Or am I missing some configuration?

## Occurs in next-i18next version 6.02

## Steps to reproduc

[2020-08-12 12:22] isaachinman commented on #798
Sorry, not sure what you mean. If you changed from English to German, the English locales would have already been loaded. Can you explain in more detail what the problem is?

[2020-08-12 12:32] paveldpetrov commented on #798
Yes, the English locales have not been loaded initially. At least I don't see them in the XHR. When I change to German, I see both English and German loaded.

[2020-08-12 12:35] paveldpetrov commented on #798
Here's the result of going to the second page:

![image](https://user-images.githubusercontent.com/68463028/90015420-439e6e80-dcb1-11ea-993f-3a3cc2ff4b63.png)

It loads both json files (for English and German). I think it should be loading only the German one, since I changed it on the first page.

[2020-08-12 13:29] isaachinman commented on #798
Ah, got it. This is somewhat of an edge case, but an important optimisation nonetheless. Most likely, there is a render happening before the actual language change via the i18next provider, thus causing the English locale network requests to fire.

Contributions welcome.

[2020-08-15 09:46] hrahimi270 commented on #10
@isaachinman I have a different problem here. But I think it's related.
When I use `next build & next start` everything is ok.
But, when I use `next export`, it builds without exit code thus it has errors on browser console and the translation is not working fine.
While Next is trying to run the export command, logs this:
`Exporting (0/15)react-i18next:: i18n.languages were undefined or empty unde

[2020-08-18 06:36] hellojere commented on #124
Had a similar issue as well, but with `getInitialProps`. Solved it by moving `appWithTranslation` to the functional component as well.

Did not work:
[code]

Works:
[code]

[2020-08-18 20:32] justincy commented on #16
Thank you @lucasfeliciano. I used the code you shared to write a blog post and create a full working example: https://dev.to/justincy/locale-specific-domains-for-i18n-in-next-js-with-next-i18next-54hi

[2020-08-18 23:04] aaronsnig501 opened #800 "Sublocale returns 404"
I have configured the subLocale settings as per step 5 in the README, however, when I try to go to one of the subpaths I receive a 404.

On the index level route (http://localhost:3000/), when I set English as my default language and set the sub locale for Portuguese (pt), it will load the English from the correct JSON, however, when I try to view the Portuguese version of the site (http://localho

[2020-08-19 07:19] whysbiz commented on #620
Any idea how to support this format :item?

i try to put prefix as ":" and suffix as "" and it doesn't work. Any idea?

[2020-08-19 08:43] calspre opened #801 "Using localeSubpaths & redirects for selected pages"
I'd like to use localeSubpaths & redirects for some pages only (e.g. marketing pages) and leave as-is for other pages (e.g. dashboard) -- so dashboard pages only change content without URL redirections.

**Example pages with redirects and localSubpaths: (for users whose preferred language is German)**
- `/` --> `/de`
- `/about` --> `/de/about`
- `/features` --> `/de/features`

**Example pages with

[2020-08-19 08:56] isaachinman commented on #801
You will need to manually inspect the output of `nextI18NextRewrites` and make whatever changes you need, based on the NextJs docs. Once you figure out a solution, it'd be nice if you can post it back here so that other users can see what you've done. Good luck!

[2020-08-19 08:56] #801 closed

[2020-08-19 09:38] isaachinman commented on #800
Your `localeSubpaths` objects are completely different. Please follow the documentation and example. Good luck!

[2020-08-19 09:38] #800 closed

[2020-08-19 11:38] aaronsnig501 commented on #800
Okay, I got it working as I missed the part about updating the `next.config.js`. I've hardcoded the dict, but it would good if you could provide an of what the code in the `next.config.js` file should look like, rather than having the dict defined in multiple files. There's also no example of this, which I think would be really helpful for people that are new to this.

After updating this, once I

[2020-08-19 11:56] isaachinman commented on #800
That's incorrect. Look at the [example](https://github.com/isaachinman/next-i18next/blob/master/examples/simple/i18n.js#L2).

This is intentional behaviour which you can opt out of. For any further help requests, please post on StackOverflow.

[2020-08-19 12:15] aaronsnig501 commented on #800
It's not clear from the documentation that you need that line of code in order to get the subLocales working

The documentation gives the impression that the `subLocale` object should be defined within `NextI18Next`, but in the example that you've shown, it's the other way around.

And the documentation doesn't mention what the different options actually do, so I don't what default behaviour can b

[2020-08-19 12:19] isaachinman commented on #800
No idea what `subLocale` is. It's entirely up to the user how they persist a `localeSubpaths` object. Using `next/config` is just one option.

PRs to improve documentation are always welcomed.

[2020-08-20 02:35] calspre commented on #801
Thanks for your prompt answer. I think it boils down to two issues:

- When users hit `/account/settings`, they shouldn't be redirected to `/de/account/settings`
- When users hit `/de/account/settings`, next.js should map the request to `account/settings.js`

While the latter is handled in `rewrites` key in `next.config.js` (the output of `nextI18NextRewrites` as you've mentioned) the former seems

[2020-08-20 07:11] isaachinman commented on #801
That's loosely correct. We don't have a way of opting into `localeSubpaths` per route, so you'll need to make use of some combination of changes to `rewrites` and `ignoreRoutes`.

[2020-08-20 09:22] krcaltomas99 opened #802 "Way to load translations from remote server"
I'm working on a project and I'm building the frontend (react) and my colleagues are building the backend (laravel) and one of the requirements is editable text and we've achieved that previously using react-i18next through

[code]

## Describe the solution you'd like
It would be nice if there was a way to specify same backend path

## Describe alternatives you've considered
Right now the only way

[2020-08-20 09:26] isaachinman commented on #802
You can pass your own `backend` object into the `next-i18next` config.

[2020-08-20 09:37] krcaltomas99 commented on #802
@isaachinman I'm sorry but i don't understand what you mean?

import NextI18Next from 'next-i18next';
import path from 'path';

[code]

[2020-08-20 09:54] isaachinman commented on #802
See #537, and numerous other issues where people have asked the same question over and over.

It's trivial to put this into a build step. If you really want to do this at runtime, there's a small piece of work to remove filesystem lookups, which no one has decided to work on, as of yet.

[2020-08-20 10:34] gpessa opened #803 "Property 'language' does not exist on type 'IncomingMessage'"
I have a project with typescript.
When I try to access the language in the initial properties, I get a TS error because is not defined.
Do you know how to fix it (but keep the typing?)

[code]

[2020-08-20 10:51] isaachinman commented on #803
Use the `NextI18NextRequest` type which we export.

[2020-08-20 10:51] #803 closed

[2020-08-20 14:59] anthonyrenard commented on #677
@Dynkin, you can add your custom 404 page without the getInitialProps. Actually i'm running with this solution. it's not the best solution but it's working.

[code]

[2020-08-20 23:17] ckeeney commented on #652
I think when this feature lands, it would be ideal to support both `getServerSideProps` and `getStaticProps`.  For most users of this library, local translations and staticProps will be fine, but the serverSideProps may be useful in projects that are using https://locize.com/ or something similar, where translations are managed outside of the project.

[2020-08-21 08:37] mirshko opened #804 "Can't combine two JSON files on a single page for strings"
## Describe the bug
Trying to use both common.json and home.json strings on a single page doesn't seem to work even when setting the proper `namespacesRequired` key on props

## Occurs in next-i18next version
^6.0.2

## Steps to reproduce
[code]

Only the `home` strings are available on the Home page, the rest `common, nav, footer` are only available in their respective components using these.

##

[2020-08-23 17:38] GainorB commented on #413
I just upgraded to:

[code]

And refactored my next-18next implementation from removing the additions to the custom server to use rewrites in next.config.js, and all of my links start working without the hard reloading!!

[2020-08-23 20:53] timohermans commented on #653
To be fair, this could've gotten its separate point in the steps. It really is way too easy to miss.

Looking at the amount of false bug submissions about this issue (and the amount of time I've spent trying to figure this out :)), this was easily overlooked

[2020-08-24 09:45] isaachinman commented on #653
@timohermans What do you feel should be in the docs? Both problems discussed in this issue are in the README.

[2020-08-24 09:58] timohermans commented on #653
So I think the README could be improved to this:

[code]

So all the info is already there, however point 2 above is easily missed, because it's in the same paragraph as the HOC explanatino

[2020-08-25 09:27] hrahimi270 opened #806 "Error 404 in pages with localeSubpaths"
## Describe the bug
After changing language and when URL updates with subpaths, if I refresh the page (hard-reload), Nextjs can't access to that page. It shows an error of 404.

## Occurs in next-i18next version
Next: ^9.5.2
Next-i18next: ^6.0.2
Node: 10.16.2

## Steps to reproduce
I just set up my project using documents. The previous version was using a custom nodejs server. But in this version

[2020-08-25 09:47] Hamzakh777 commented on #806
I got the same issue

[2020-08-25 23:44] geryit commented on #677
I still see the error @anthonyrenard

[2020-08-26 06:51] AXLLLOW opened #807 "How can I make a specific language for a specific path (urls)?"
Hello.

We have `localeSubpaths`. With this, we will add our languages to the url for all paths.
[code]

How can I make specific languages for specific urls and not all?
(en - default)

**For example:**
`/news` - valid
`/ru/news` - valid
`/ge/news` - invalid

`/info` - valid
`/ru/info` - valid
`/ge/info` - valid

`/bio` - valid
`/ru/bio` - invalid
`/ge/bio` - invalid

[2020-08-26 06:53] Kerim-Willem commented on #677
@Dynkin, I'm also still seeing the error if I use your method!

[2020-08-26 07:56] handrei opened #808 "defaultLanguage isn't loaded from the settings"
## Describe the bug
defaultLanguage is by default en, even if i set it to 'ro'. everything else is working fine, the translations are ok
before the update to next-i18next to version 6, everything was fine, maybe i mixed up something.

## Occurs in next-i18next version
"next": "^9.5.1",
"next-i18next": "^6.0.2",
"node": "12.18.3"

## Steps to reproduce
next.config.js:
[code]

i18n.js:

[code]

## E

[2020-08-26 09:46] isaachinman commented on #808
Can you please provide a reproducible repo?

[2020-08-26 09:47] isaachinman commented on #807
The `nextI18NextRewrites` function is merely a helper utility. Your rewrites are entirely up to you. Check the output of `nextI18NextRewrites` and modify as desired.

[2020-08-26 09:47] #807 closed

[2020-08-26 09:56] handrei commented on #808
unfortunately my repo isn't public :(

[2020-08-26 10:05] isaachinman commented on #808
No one will be able to assist until you can provide a reproducible repo.

[2020-08-26 10:06] handrei commented on #808
ok, then you can close this issue .. i'll figure it out somehow

[2020-08-26 10:09] isaachinman commented on #808
@handrei You can try recreating an example of the problem with a fresh/simple repo. Otherwise, if you do end up discovering the issue on your own, please let us know what it was, to help future users. Good luck!

[2020-08-26 10:09] #808 closed

[2020-08-26 19:03] nfantone commented on #586
@Geoff-Ford

Not necessarily. You can statically generate your sites and fetch date client side or return `revalidate: true` from `getStaticProps` to keep your dynamic data up-to-date. No (extra) lambdas required.

[2020-08-27 00:42] Xoce51 opened #809 "Cache issue with firebase hosting"
## Describe the bug
I'm using this module in a firebase project, since we have latency issues (our next server is executed in us-central1) we decide to use the firebase cache cdn [see doc](https://firebase.google.com/docs/hosting/manage-cache) and we managed to reduce from several seconds to several ms the page loading.
Then we needed to add translation in our website, but after added this module

[2020-08-27 08:16] isaachinman commented on #809
Please upgrade to the latest version of `next-i18next` and let me know if you still experience issues.

[2020-08-27 11:39] iDuuck opened #810 "Query parameters are not consistent through the project"
## Describe the bug
When I am using the `query.lang` parameter, and the page is the *initial load*, it's working properly fine. But however, when I am navigating through a `Link` tag from Next.js, I am experiencing `req.params.lang` to be `undefined`, but it appears to be `query.lng` now.

## Occurs in next-i18next version
For me: 5.0.0-beta.3

## Steps to reproduce

[code]

This is working proper

[2020-08-27 23:48] haggen commented on #789
Can we get a bump to i18n-react's version so we can have this fix?

[2020-08-27 23:52] Xoce51 commented on #809
Hi, I updated the plugin to the version to the version 6 and removed the middleware because it seems it has been deleted.
But in my case I use express for my routing, so I installed `i18next-express-middleware` to make i18n works.

Is there any other way to use this module with express ?

Thank you

[2020-08-28 09:24] isaachinman commented on #789
@haggen #799 introduces a bunch of other changes which shouldn't be necessary. If you open a PR just to bump `react-i18next`, I'll merge it immediately.

[2020-08-28 09:25] isaachinman commented on #809
You can use `rewrites` for custom routes. Custom servers are no longer supported.

[2020-08-28 10:13] pixelass commented on #760
Sorry, I don't quite understand why "locale subpaths" are required to pass `namespacesRequired` via getStaticProps.
We don't and will never use "locale subpaths" since we found a manual way which works better with our SSG setup (closely following next.js guides and issues from this package)

If this is not crucial for SSG, an update to the warning might be helpful.

Thank you for your support.

[2020-08-28 10:46] handrei commented on #808
Hello again, @isaachinman. i created a repo and did all the configurations like in my project, but in the clean repo is working fine. something must be wrong in my actual project. dont know what else to say. but thank you for your time

[2020-08-28 13:03] haggen commented on #449
@isaachinman Just a heads up about consuming or not translation inside `_app`. It's usually where we put our providers, and Ant Design's `ConfigProvider` accepts localized strings for form validation messages, for instance, so it makes sense to load your translations there and give it to the provider.

@mqtik I don't know how you solved it, but I'm using the hook `useTranslation` and it's working.

[2020-08-28 14:07] mykhailo-roshchyna-vp opened #811 "[country]/[language]"
Hey, I used additional segment([country) before [language], and after reload the page I loose my translation, url I have http://localhost:3000/IT/it_IT/media (http://localhost:3000/[country]/[language]/media)
translations I have in Italian lang
when I reload the page, I still have:
http://localhost:3000/IT/it_IT/media
but translation I have in English lang, so I loose translation.
I try to set up

[2020-08-28 14:12] isaachinman commented on #811
Please post on StackOverflow for help requests. Good luck!

[2020-08-28 14:12] #811 closed

[2020-08-28 17:28] lud-hu opened #812 ""Error occurred prerendering page" when using localeSubpaths and next export"
## Describe the bug
I can't get LocalSubpaths to work with **next export**. I followed the instructions in the documentation, but I get this error for multiple pages ("/", "/404", "/404.html", "/second-page"):
[code]
## Occurs in next-i18next version
next-18next version 6.0.2

## Steps to reproduce
1. Clone example/simple repo.
2. Add localeSubpaths as described in [documentation](https://github.c

[2020-08-28 17:36] isaachinman commented on #812
This package does not support `next export` as we still have server side logic. You'll notice this is noted in [the docs](https://docs.lokalise.com/en/articles/1592525-livejs-web-in-context-editor).

[2020-08-28 17:36] #812 closed

[2020-08-28 17:57] lud-hu commented on #812
You're right, its well hidden in the last lines (even though your link is wrong).
Thanks for the quick answer!

[2020-08-30 14:46] alonn24 commented on #806
I get the same problem as well. Started at v5.
I'm using a custom server + `next-i18next-middleware` and looks like this was the change:
https://github.com/isaachinman/next-i18next/commit/a43d9c8330996be9485a7c663fa0a9170e20cede#diff-6b7305035a7a21c6e43bf5c11b06f0d0L83

Should I use something else to support url subpath?

[2020-08-30 19:15] slava-lu commented on #677
I tried default props instead of getInitialProps but it did not get the message away

[2020-08-31 15:48] aboudicheng commented on #806
Having the exact same issue after upgrading to v6.0.2, except it happens in development mode as well

[2020-09-01 05:06] armspkt commented on #796
Is there any solution that doesn't have to reload Node process for good DX?

thanks

[2020-09-01 09:18] gromov-io opened #813 "Will there be documentation of how this can be used with Typescript ?"
I spent 1 hour integrating this into the project, but I came across a lot of incomprehensible obstacles that are not mentioned in the documentation.

I still don't know where to get the types for `t` and the rest of the functions.

[2020-09-01 11:20] Pierre-CLIND opened #814 "{help} HOC or Hook?"
In the documentation you are talking about HOC (withTranslation) but in my code I'm using the hook (useTranslation()), it's work perfectly for now.

There is a difference or it's the same thing?

(I'm not talking about HOC vs hooks in React, but about how to use Next-i18Next for the best)

[2020-09-01 18:27] kefimochi commented on #677
Any updates on this? 👀

[2020-09-02 09:46] hrahimi270 commented on #806
Hi @isaachinman, any idea on this issue?

[2020-09-02 10:03] gromov-io commented on #760
Did I understand correctly that "getStaticProps" can't be used ? I wouldn't want to choose between localization and performance

[2020-09-02 10:18] gromov-io commented on #814
As I understand it, they have absolutely no up-to-date documentation, for example, the project is written in Typescript, and they can't document the use with TS.

At first I used HOC, but then I saw Hook and rewrote everything to hooks, as it is more convenient. I didn't notice any difference.

[2020-09-02 10:47] gromov-io opened #815 "Error [ERR_HTTP_HEADERS_SENT]: Cannot set headers after they are sent to the client"
## Describe the bug
The error occurs in production mode ' yarn build & & yarn start`
I use `namespacesRequired` in `getStaticProps`
I received the error 2-3 times, but I can't reproduce it later
When an error occurred, the app continued to work

## Occurs in next-i18next version
[code]

## Steps to reproduce
`yarn build && yarn start`

## Expected behaviour
working without errors in the console

#

[2020-09-02 14:04] gromov-io commented on #815
After the localization was added, very long page freezes started in dev mode. Sometimes it can take 20-50 seconds to simply update or navigate through a particular route. SOMETIMES.

[2020-09-02 14:07] gromov-io commented on #815
well damn, it is impossible to work, so it is unclear how at the moment to understand why the delay started.

One thing is for sure, it all started after the localization was installed.

It is very disappointing, a lot of time was spent, but instead of a pleasant result, a large number of problems were obtained (

[2020-09-02 15:24] fuzunspm opened #816 "Can't access outside of class"
## Describe the bug
I can't access t('key') outside React class it's just outputs key name. It works when i call it with `this.props.t("name")` inside of class

## Occurs in next-i18next version
    "next-i18next": "^4.5.0"

## OS (please complete the following information)
 - Device: MBP 2015 15"
 - Browser: Firefox 80.0.1

[code]

[2020-09-02 17:27] GainorB commented on #413
Anyone using `rewrites` in `next.config.js` running into page reloads in production?

[2020-09-02 18:42] ljosberinn commented on #813
`t` is probably the `TFunction` from `react-i18next`

[2020-09-03 09:32] nfantone commented on #586
@isaachinman

Excuse my ignorance, but I'm not quite following you here. Would you mind elaborating on why a server component is needed?

- *Check cookies*. What for exactly? Language detection? I could argue this is not something a i18n library should worry about. At least, not as a core feature. Might as well exist in user-land entirely. I could, say, detect user's language through a header and

[2020-09-04 11:05] longquan0104 opened #820 "nameSpacesRequired warning always shows up"
![image](https://user-images.githubusercontent.com/24205959/92232656-1c664600-eed9-11ea-8f7c-9a29dcad14f9.png)

Mine is always showing up. Any ideas on how to stop this !? Thank you guys for stopping by

[2020-09-07 06:53] seaneking commented on #789
Done @isaachinman

[2020-09-07 10:08] codesignist commented on #413
I've just used now and it works perfect.

[2020-09-07 10:27] codesignist commented on #413
It works fine on production mode also.
It seems this problem solved with the latest updates.

[2020-09-07 15:04] isaachinman commented on #796
You can call `i18n.reloadResources()` if you don't want to restart your Node process.

[2020-09-07 15:06] isaachinman commented on #814
The `withTranslation` HOC and the `useTranslation` hook achieve the same thing. Both come from `react-i18next`.

@gromov-io If you feel the documentation is lacking, please open a PR.

[2020-09-07 15:06] #814 closed

[2020-09-07 15:07] isaachinman commented on #677
I haven't heard any updates from the Vercel team. Not much to be done in user land.

[2020-09-07 15:08] isaachinman commented on #806
Can someone provide a reproducible repository? `next-i18next` does not support `next export` at this time.

[2020-09-07 15:10] isaachinman commented on #760
The `getStaticProps` method is compatible with how `next-i18next` works, but we still have a runtime requirement of detecting language based on headers/cookies/etc, and performing relevant redirects.

[2020-09-07 15:12] isaachinman commented on #815
@gromov-io Can you provide a reproducible repository?

[2020-09-07 15:14] isaachinman commented on #816
That's down to how React context works. Most likely, the `i18n` import isn't initialised at the time when you declare `columns`, and therefore returns the key instead of the value. You'll need to await the `initPromise`.

[2020-09-07 15:14] #816 closed

[2020-09-07 15:19] isaachinman commented on #813
@gromov-io We've got quite a few TS users. What obstacles did you encounter specifically? It would be helpful if you opened issues for each individual problem.

[2020-09-07 15:26] isaachinman commented on #586
@nfantone Sure:

1. Yes, we use [`i18next-http-middleware`](https://github.com/i18next/i18next-http-middleware) for detection. Cookies, headers, etc, are handled. The proportion of users who want to handle redirects at some other layer (nginx/CDN) is much smaller than those who want a solution to "just work". Note that this functionality comes from the i18next ecosystem, not `next-i18next`.

2. We

[2020-09-07 15:42] isaachinman commented on #820
Can you please provide a reproducible repository?

[2020-09-07 16:44] powerczuk opened #824 "404 Error when trying to access any page with localeSubpaths config provided"
I'm facing the 404 issue when trying to access any page of my Next.js application.

**Next.js** latest
**next-i18next** latest

App works fine when no localeSubpaths config is provided.
After setup of localeSubpaths config:

**next.config.js**:
[code]

app is not working any more.

Every time I'm trying to access main root `/` or any of the locale pages fr, de-DE browser displays the `404 Error Pa

[2020-09-07 17:07] isaachinman commented on #824
Please provide a reproducible repository.

[2020-09-07 17:25] balazsorban44 commented on #815
Probably related to Next.js. See:
https://github.com/vercel/next.js/issues?q=Error+%5BERR_HTTP_HEADERS_SENT%5D
Has been fixed through https://github.com/vercel/next.js/issues/13868, I cannot remember which version, but updating to the latest Next.js would probably fix that.

[2020-09-07 18:31] DamianBusz commented on #824
I gotta pin up myself to this. I got the exactly same issue and Im not sure what is going on.
I got pretty much fresh setup with next higher than 9.5+ and latest next-i18next.

[2020-09-07 18:32] isaachinman commented on #824
@DamianBusz Can you provide a reproducible repo?

[2020-09-07 18:56] DamianBusz commented on #824
@isaachinman I'm currently not home and to setup an reproducible repo might take me some time as our project is quite big.
I will try to get back here in the morning.

Right now all I can say is that next is 9.5+ and I'm getting 404 and also having custom _error.js.
Seems like next.js routing is not getting correct paths as if we dummy creame a /de folder and put routes into this it catches it cor

[2020-09-07 19:35] powerczuk commented on #824
@isaachinman I also prepared small example [reproductible repo](https://github.com/powerczuk/next-i18next-test )

[2020-09-07 19:37] DamianBusz commented on #824
404 on the repo, perhaps u did it as private?

[2020-09-07 19:46] powerczuk commented on #824
right, now should be fine

[2020-09-07 20:31] seaneking commented on #806
I'm also seeing this, in development as well as prod, using a standard serverless config and `next-i18next`s rewrite helper. Locale paths just 404.

[2020-09-08 04:12] TroyTae commented on #824
I have same issue.
If I enter page with `Link` component, it works fine.
But if I write url directly or refresh page, I get 404 page in dev mode.

[2020-09-08 07:08] aboudicheng commented on #806
Hi @isaachinman , I have created a sandbox here: https://codesandbox.io/s/trusting-stallman-qwyb3

The language switching functionality seems to be working well, and the locale subpaths also update accordingly. If you try to hard-reload the page when the current language is not the default language (English), it returns 404.

Please have a look at it. Thank you in advance!

[2020-09-09 00:35] isaachinman commented on #806
You need to use Next v9.5+ if you want to leverage rewrites, as that's the version that introduced the functionality as stable.

[2020-09-09 00:35] #806 closed

[2020-09-09 00:38] isaachinman commented on #824
@powerczuk I have cloned that repo, and cannot reproduce any 404 by switching locales and hard reloading. Can you provide any more information?

@TroyTae Please make sure you're using Next v9.5+.

[2020-09-09 01:01] TroyTae commented on #824
@isaachinman
Yes now I'm using v9.5.3

[2020-09-09 01:23] isaachinman commented on #824
I will need a reproducible example to be able to debug this.

[2020-09-09 07:27] DamianBusz commented on #824
@isaachinman any idea what happends in the codesandbox I provided?
Getting 404 on /en regardless of good next version.

[2020-09-09 09:32] powerczuk commented on #824
@isaachinman  hmm it's really strange. I've just checked it on two separate machines and the issue is still there.

node 12.5.0
next. 9.5.3
next-i18next 6.0.2

I've tried both dev and start commands.

[2020-09-09 09:44] lukeupup commented on #626
i18next-hmr works smoothly for me

[2020-09-09 15:03] Axiol commented on #824
I have the exact same error, 404 on all pages. I have a repo with the code, but it's part of company project, so I can't really share it.

next 9.5.3
next-i18next 6.0.2
react 16.13.1
apollo/react-hooks 3.1.5

[2020-09-09 17:47] nfantone commented on #586
@isaachinman Thanks for the clarification above. If I may, let me rehash some of my previous comments based on yours.

1. **Check cookies.**  Again - this I see as a self-imposed problem. The fact that server side detection is a feature that comes from the upstream library do bring forward some further restrictions (and, up to a certain point, it'd make sense for `next-i18next` to have feature par

[2020-09-10 10:43] isaachinman commented on #586
Hi @nfantone. Checking cookies and performing redirects are definitely both features required by the majority of users. Some exciting stuff is coming from the Vercel team via the Next core directly, which may end up making this package unnecessary, and will still support cookies, redirects, and SSG.

[2020-09-10 10:49] isaachinman commented on #824
@DamianBusz If I clone [this sandbox](https://codesandbox.io/s/clever-galois-4w1ty) and run immediately, I do indeed see the "error", but that's because the Next version is below v9.5. If I do a `yarn add next` and run again, the error goes away.

@powerczuk If I clone [this repo](https://github.com/powerczuk/next-i18next-test) and run, I do not experience any 404s at all.

[2020-09-10 16:11] powerczuk commented on #824
omg... my bad. Many thanks for pointing the problem.!

[2020-09-10 16:13] #824 closed

[2020-09-11 00:27] allan2 opened #825 "TypeScript documentation enhancement"
## Is your feature request related to a problem? Please describe.
I think more explicit TypeScript documentation and additional examples would be helpful to users of `next-i18next`.

For example, even a short one like:

JS:
[code]
TS:
[code]
would be helpful to users in https://github.com/isaachinman/next-i18next/issues/627 and https://github.com/isaachinman/next-i18next/issues/813. I know it's ri

[2020-09-11 00:56] kshahani opened #826 "Detection is configured differently on the browser and server"
## Describe the bug

I have the following detection settings:

[code]

I needed to initialize the next-i18next instance like this:

[code]

If I didn't have the latter spread, I'd have a flash of content since the server would rely on the cookie for the language (say in English), and the browser would then swap the language to French by reading the query parameter.

## Occurs in next-i18next versi

[2020-09-11 01:43] allan2 commented on #677
Feature request opened at https://github.com/vercel/next.js/issues/17004

[2020-09-11 05:50] sithu05 opened #828 "I think you don't need to `warn` message if namespacesRequired provide at page level."
Firstly, I think `every` page level need to provider `getInitialProps`. that is very confused at `above Next 9` version.
And, `react.i18next` also support the `useTranslation (hook)`.
So, I think we should force to use `hook` instead of `HOC`.
thanks for you supporting

[2020-09-11 09:05] isaachinman commented on #825
Sure, I wouldn't mind creating a `TYPESCRIPT.md` doc file for this.

[2020-09-11 09:10] isaachinman commented on #826
@kshahani I cannot reproduce that. If I add this detection setup to the simple example (without any spread), it works as expected. Please provide a reproducible example.

[2020-09-11 09:11] isaachinman commented on #828
You can opt out of warning messages by setting `strictMode` in the config to `false`.

[2020-09-11 09:11] #828 closed

[2020-09-11 12:57] kshahani commented on #826
@isaachinman Thanks for reply. I'll provide an example repo today.

[2020-09-11 18:12] sithu05 commented on #828
noted, thanks.

[2020-09-12 08:32] beqramo opened #829 "sub links url not working with static files"
Hi, first of all, thanks for this library.
but I have encountered this problem :
<img width="177" alt="Screen Shot 2020-09-12 at 12 28 04" src="https://user-images.githubusercontent.com/40486471/92991243-99a24400-f4f3-11ea-8a7c-0c3ce3794087.png">
I use this kind of URL configuration, but when I enter on this link I get this error:
<img width="647" alt="Screen Shot 2020-09-12 at 12 30 53" src="http

[2020-09-12 10:35] isaachinman commented on #829
You'll need to use the `ignoreRoutes` option.

[2020-09-12 10:35] #829 closed

[2020-09-12 11:49] beqramo commented on #829
Thanks for your answer but I haven't found it helpful.
I added ``blogs/``, ``blogs/repair``, ``blogs/repair/`` in ``ignoreRoutes ``  but none of them was ideal. it throwing the same error.

[2020-09-12 14:47] Seybo opened #830 "Example app fails on generate-rewrites"
## Describe the bug
Example app doesn't run
`Error: Cannot find module './dist/commonjs/utils/generate-rewrites'`

## Occurs in next-i18next version
it's the example app

## Steps to reproduce
`cd next-i18next/examples/simple`
`yarn`
`yarn add react react-dom`
`yarn dev`

## Expected behaviour
the app should start

## Screenshots
If applicable, add screenshots or a GIF to help explain your problem

[2020-09-12 14:53] isaachinman commented on #830
There are contributing docs [here](https://github.com/isaachinman/next-i18next/blob/master/CONTRIBUTING.md). The simple example is online at next-i18next.com, it definitely runs.

[2020-09-12 14:53] #830 closed

[2020-09-12 15:14] beqramo commented on #829
@isaachinman can you tell me exactly how is it possible? in above link ``ka`` is language

[2020-09-12 18:48] beqramo commented on #829
I found it. It was my mistake, I was loading my static files without ``/`` in front of `static` directory

[2020-09-14 02:38] arguiot opened #832 "Automatic detection doesn't work in every browser."
## Describe the bug
Automatic language detection doesn't work in Safari and browsers that protect privacy.

## Occurs in next-i18next version
v6.0.2

## Steps to reproduce
Use Safari and see.

## Expected behaviour
I expect next-18nect to be using `navigator.language` when possible or the [Accept-Language](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Language) header for langua

[2020-09-14 09:59] isaachinman commented on #832
This package doesn't handle any of the actual detection logic itself. I recommend you open an issue in `i18next-http-middleware`.

[2020-09-14 09:59] #832 closed

[2020-09-14 12:23] vitalix89 commented on #515
I passed type string to t function as t is generic function like this -> {t<string>("my-translation") }

[2020-09-15 08:42] hrahimi270 commented on #381
Hi. I have the same problem but in another way. I have static locale files. And I put them in `public/locales`. But I have the same error that says: **Error: Default namespace not found at /public/locales/en/common.json**.

This is my i18next config:
[code]

This is my Next config:
[code]

Everything looks OK, but I have that error.

[2020-09-16 03:16] TrongTrinh commented on #653
I have fixed it in nextjs template
1: config getInitialProps in file _app.tsx
import { FC } from 'react';
import { appWithTranslation } from 'i18n';

import NextApp, { AppProps, AppContext } from 'next/app';

const App: FC<AppProps> = ({ Component, pageProps }) => {
    return <Component {...pageProps} />;
};

App.getInitialProps = async (appContext: AppContext): any => ({
    ...(await NextApp.ge

[2020-09-16 07:45] JEONGJIHUN opened #833 "Why doesn't import nextI18NextMiddleware in server?"
## Describe the bug
You must provide a clear and concise description of what the bug is.

Why doesn't import nextI18NextMiddleware in server?

I couldn't find middleware route in `next-i18next`.

## Occurs in next-i18next version
You must provide the npm module version, git tag, or even better the explict commit causing the issue.
"next-i18next": "^6.0.2",

## Steps to reproduce
You must provide a

[2020-09-16 09:24] isaachinman commented on #833
This question has been asked and answered several times. `next-i18next` no longer requires users to have custom servers. You can still use a custom server if you want, but there's no middleware requirement. Read the docs! Good luck.

[2020-09-16 09:24] #833 closed

[2020-09-17 11:27] hrahimi270 opened #834 "req.i18n is not defined if navigate to a page using Link component"
## Describe the bug
If I open a page with entering the URL in the browser, and that page has the `getInitialProps`, it opens fine.
But, if I navigate to that same page, using the `<Link />` component, it throws an error that `ctx.req.i18n` is not defined.

## Occurs in next-i18next version
6.0.2

## Steps to reproduce
[code]

## Expected behavior
Works fine like when it opens manually by entering

[2020-09-17 11:28] isaachinman commented on #834
That's because the context object is only exposed during SSR. Please read up on the NextJs docs. Good luck!

[2020-09-17 11:28] #834 closed

[2020-09-17 17:19] rjoaopereira commented on #802
@isaachinman Could you point me in the direction of what is necessary to remove the filesystem lookups?

[2020-09-17 17:24] isaachinman commented on #802
Hey @rjoaopereira – if you just omit the `public/static/locales` dir, you should see a stacktrace that points you in the right direction. There are a couple validation lookups done via fs that just need to be disabled via a new config flag.

[2020-09-18 14:37] CusthomeDev commented on #832
Hi @isaachinman,

You said the issue with Safari come from `i18next-http-middleware`, but after hours spent to understand what's going wrong with Safari it seems to come from your package.

When I download the basic exemple from `i18next-http-middleware` here [Basic example](https://github.com/i18next/i18next-http-middleware/tree/master/example/basic). The locale detection works perfectly in Safar

[2020-09-18 14:41] isaachinman commented on #832
@CusthomeDev Is the `i18nextMiddleware` configuration _identical_ in those two examples? It doesn't seem so to me.

[2020-09-18 15:14] martpie commented on #300
For anyone interested in the actual solution:

in your `next-i18next` config:

[code]

then `?lang=de` will deliver the german page for example.

I also realized `querystring` should always be before `cookie`. I will submit a PR for that.

[2020-09-19 16:47] rjoaopereira commented on #802
After playing around with the code, I propose:

1. Only adding the HTTPBackend and FSBackend when no `backend` modules are present
2. Moving the FS fallback into `create-client` node version if the FSBackend is going to be used (I would remove the error as the fs.read will throw the error anyhow).
3. The users provide their own backends. Only node would be necessary but if we provide one, we have

[2020-09-19 16:52] isaachinman commented on #802
@rjoaopereira The first and second points sound fine. Not sure I understand the third. We need to maintain current behaviour without any breaking changes.

Keep in mind that the current setup for `next-i18next` is in its last days, and a new iteration will land with [this RFC](https://github.com/vercel/next.js/discussions/17078).

[2020-09-20 20:05] Darkweak commented on #820
Due to NextJS migration from getInitialProps to getServerProps or getStaticProps function

[2020-09-21 08:14] rjoaopereira commented on #802
I was unaware of this RFC. Thanks for bringing it up! In this case I think that the changes can wait.

[2020-09-21 09:30] nouh commented on #820
use getServerSideProps to provide namespaceRequired seems to be warned

[2020-09-22 07:31] gajet5 commented on #820
![image](https://user-images.githubusercontent.com/3825412/93854510-90b52d80-fcbe-11ea-8169-c8b47f26c983.png)

I have the same problem.

1) I installed and configured the default plugin.
2) Created a page with parameters.
3) I go to this page in my browser.

The result is up to date:
I get a warning.

Expected:
There is no warning.

[2020-09-22 07:33] Darkweak commented on #820
Must lock nextjs version to lower 9.2

[2020-09-22 07:42] isaachinman commented on #820
`next-i18next` does not (yet) support `getServerProps`. You need to use `getInitialProps` to pass `namespacesRequired`.

[2020-09-22 07:42] #820 closed

[2020-09-22 07:45] gajet5 commented on #820
In my situation, I use getInitialProps, you can see it in the screenshot.

[2020-09-22 07:48] Darkweak commented on #820
getInitialProps is supported by nextjs lower 9.2. You have to lock nextjs to 9.2 or lower, that's really bad to do that due to lack of performance updates. I opened a PR to support getServerProps and getStaticProps functions according to nextjs support

[2020-09-22 07:50] isaachinman commented on #820
@Darkweak The `getInitialProps` method is available in the latest version of NextJs. There is no need to pin to a lower version.

Your PR will be reviewed when it passes all status checks.

[2020-09-22 07:54] gajet5 commented on #820
@Darkweak As the author has already written above, getInitialProps is still supported and the nextjs command recommends that you switch to the new properties.
https://nextjs.org/docs/api-reference/data-fetching/getInitialProps

[2020-09-22 08:32] gajet5 commented on #820
Okay, I found out what my problem was.
I was wrong. Instead of importing the function withTranslate from the configured plugin, I imported the function from the library.
Mb the bug author has the same problem?
![image](https://user-images.githubusercontent.com/3825412/93860131-471d1080-fcc7-11ea-80b3-9d7aade4648f.png)

[2020-09-22 08:49] Maczuga commented on #820
Might be related, I have same issue with getInitialProps, but using useTranslations (from NextI18Next) hook instead of HOC.

[2020-09-23 17:33] RyanPayso13 opened #836 "TypeError: Cannot destructure property 'Component' of 'undefined' as it is undefined."
## Describe the bug
When I try to start the dev server with `yarn dev` the following error is thrown in the terminal when I navigate to the home page.

`TypeError: Cannot destructure property 'Component' of 'undefined' as it is undefined.`

## Occurs in next-i18next version
9.5.3

## Steps to reproduce
https://github.com/RyanPayso13/tmapp

## Expected behaviour
The dev server should not throw any

[2020-09-23 17:58] isaachinman commented on #836
Please provide a more comprehensive bug report, and stack trace.

[2020-09-23 19:04] RyanPayso13 commented on #836
I found the issue.

I was destructuring of `appContext` in `_app.tsx`.

When I remove it runs fine.

[code]

[2020-09-23 20:43] leonardomso commented on #744
[code]

[2020-09-24 06:32] #836 closed

[2020-09-25 10:08] RezaZR commented on #808
@isaachinman I have this problem too, cannot set default language other than 'en'.
my **i18n.js** is exactly like in the example:
[code]
when I restart the server, then go to my localhost and its default language still English.

I'm using next-redux-wrapper too, and I wrapped my **_app.js** like this:
[code]
Am I wrapping it wrong? But it works tho, just not for the default language.

Looking forw

[2020-09-25 13:35] handrei commented on #808
i wonder if that's a way to re-open the issue. @isaachinman can u help please ? :)

[2020-09-25 13:45] moaaz-bhnas commented on #661
Please, let us know if you found any solution.

[2020-09-25 14:19] isaachinman commented on #808
Check your browser language settings. Most likely you're seeing English because your browser is set to English.

[2020-09-25 14:25] handrei commented on #808
@isaachinman can you check this repo please ? https://github.com/handrei/next-translate . it's about the issue i opened this ticket ? i made a repo for it

[2020-09-25 14:28] isaachinman commented on #808
@handrei If I clone that repo, and go to the index route with my browser locale set to `ro`, I see the homepage without any locale subpath, in Romanian.

As I said, please read up on how language detection works.

[2020-09-26 06:14] hxxiaolong opened #837 "show "res.writeHead is not a function" after next build"
## Describe the bug
show "res.writeHead is not a function"  after next build
next version:9.5.3
next-i18next:6.0.2
mac os

_app.tsx

[code]

server.js
[code]

next.config.js
[code]

i18n.js
[code]

![image](https://user-images.githubusercontent.com/11954972/94331854-8d91a880-0002-11eb-94c6-e2dedecd4647.png)

npm run dev   ✅
next build ❌
pm2 start pm2.yaml ❌

[2020-09-26 08:04] isaachinman commented on #837
You'll need to provide a _minimal_ reproduction.

[2020-09-26 08:19] hxxiaolong commented on #837
thank you for your prompt reply @isaachinman

reproduction  url: https://github.com/hxxiaolong/next18n

 npm run dev   ✅
 other ❎

[2020-09-26 09:05] isaachinman commented on #837
That's not a minimal reproduction, but I assume your problem has to do with your custom server, and how you are calling `handle`. Please post on StackOverflow for help. Good luck!

[2020-09-26 09:05] #837 closed

[2020-09-26 22:35] Divlo commented on #652
Any update since then ?
Looking forward to have this thing implemented. :+1:

[2020-09-27 05:25] hxxiaolong commented on #837
next build  does not trigger server.js @isaachinman

[2020-09-27 08:17] hxxiaolong opened #838 "use`appWithTranslation`, `next build` error"
https://github.com/isaachinman/next-i18next/issues/837

use`appWithTranslation`,  `next build` error

next build does not trigger server.js
if not use nexti18n `next build`  is right
if i remove the appWithTranslation from the _app.tsx, the next Build is normal

[2020-09-27 09:37] nouh commented on #802
this official RFC will be implemented in the plugin,  or it will be nextjs builtin ?

[2020-09-27 11:01] #838 closed

[2020-09-27 12:24] isaachinman commented on #652
@Divlo Feel free to submit a PR.

[2020-09-28 09:56] Amin-bash opened #839 "next-i18next not working"
every time it shows a different error for example it keeps redirected me to localhost:3000/en , namespacesRequired can not be defined and so on this is the link to the repo anyone can help??
https://github.com/Amin-bash/taiba-project

[2020-09-28 10:13] seanplwong commented on #789
finally got some time for this

@isaachinman it is exported in the implementation, but in the typedef, it is reexported as type only, that's why the tsc error: `'I18nContext refers to a type, but used as a variable'`

I could create an minimally viable PR later

[2020-09-28 10:23] isaachinman commented on #839
Please post on StackOverflow for help. Good luck!

[2020-09-28 10:23] #839 closed

[2020-09-28 22:15] toiluj23 commented on #760
Hi Isaac, Any idea how to solve this // or any workaround? Thanks.

[2020-09-29 07:49] mehmetnyarar commented on #377
test/setup.ts:

[code]

I don't test my `_app.tsx` since it's only a wrapper with context providers but it's worth to mention that TS typings aren't clear regarding `appWithTranslation`:

[code]

- [article](https://react.i18next.com/misc/testing)
- [example](https://github.com/i18next/react-i18next/tree/master/example/test-jest)

[2020-09-29 08:58] isaachinman commented on #760
The Vercel team plans to add i18n support to [Next core](https://github.com/vercel/next.js/discussions/17078), with first class support. From that point forward, SSG should be very simple.

[2020-09-29 09:09] #789 closed

[2020-10-01 05:00] nataliaroque77 opened #840 "Build warning: appWithTranslation opted-out Automatic Static Optimization due to getInitialProps in pages/_app"
## Describe the bug
_app.tsx has not getInitialProps but we get a build, but appWithTranslation has getInitialProps

Warning: You have opted-out of Automatic Static Optimization due to `getInitialProps` in `pages/_app`. This does not opt-out pages with `getStaticProps`

## Occurs in next-i18next version
"next-i18next": "^4.2.1"

## Steps to reproduce
docker-compose up

## Expected behaviour
No opt

[2020-10-01 05:01] #840 closed

[2020-10-01 05:03] nataliaroque77 commented on #840
@isaachinman  do you know a solution regarding this waring, I read different reports about this, but there is not solution.

Thank you, kindly

[2020-10-01 05:23] nataliaroque77 opened #841 "next-i18next version update - Cannot find module 'next-i18next/middleware'"
## Describe the bug
importing "next-i18next/middleware" in custom server  works fine in  "next-i18next ^4.2.1", but fails in latest version

server/index.ts:3:35 - error TS2307: Cannot find module 'next-i18next/middleware' or its corresponding type declarations.

import nextI18NextMiddleware from 'next-i18next/middleware';

## Occurs in next-i18next version
"next-i18next": "^6.0.3"

[2020-10-01 05:23] #841 closed

[2020-10-01 05:24] isaachinman commented on #840
Hi there, please search through previous issues.

[2020-10-01 06:02] nataliaroque77 commented on #840
@isaachinman

Please re-open issue.
Is related to appWithTranslation HOC  getInitialProps.  I found related issues, but there is not solution yet, this one is the closes one. https://github.com/isaachinman/next-i18next/issues/77

[2020-10-01 06:26] nataliaroque77 commented on #615
It resolve issue, translations work - but build will have warnings related to appWithTranslation HOC
https://github.com/isaachinman/next-i18next/issues/840

[2020-10-01 12:50] maxgfr commented on #652
+1

[2020-10-03 21:20] Divlo opened #842 "Save the chosed language in cookie longer than a session"
## Is your feature request related to a problem? Please describe.

Currently, the chosed language is saved under a cookie called "next-i18next" but it's only for the Session, If I close my browser and comeback the langage is not saved...

## Describe the solution you'd like

I would love an option in `NextI18Next` class, under the `detection` object maybe we can call it `cookieExpiresIn` and we ca

[2020-10-04 13:38] peterchealse commented on #814
i am lucky to search for this issue

[2020-10-05 10:28] RezaZR opened #843 "Getting Warn When Running Jest Test: "You will need to pass in an i18next instance by using initReactI18next""
## Describe the bug
I've been scrolling through issues but not finding any solution.

Everytime I run test using Jest it print a warning:
![image](https://user-images.githubusercontent.com/9331014/95066609-d47f4c80-072c-11eb-9e26-a353113a88b4.png)

I've follow the template from [readme](https://github.com/isaachinman/next-i18next) and from [simple example](https://github.com/isaachinman/next-i18ne

[2020-10-05 13:16] Exilz commented on #661
I encountered the same problem when I deployed my application on AWS beanstalk. It turns out I simply forgot to add a step that copies the `public` folder (which contains the translations, hence this error) in my `Dockerfile`.
Make sure your server can properly access your JSON files.

[2020-10-05 22:46] rafael-sa commented on #841
Why was it closed? What is the instruction?
The same has happened in a project I started to touch.

But curiously, if I simply disable the call to this middleware, the project works with the translations applied in the server (which is custom). I wonder why is this middleware for? I can't find anything in the docs.

[2020-10-06 01:54] nataliaroque77 commented on #841
I don't know why it was closed without comment or a link to a similar issue.

middleware file doesn't exist in next-i18next latest version

On Mon, Oct 5, 2020 at 6:47 PM Rafael Santos Sá <notifications@github.com>
wrote:

[2020-10-06 01:59] fillon commented on #840
@nataliaroque77 how did you fix it?

[2020-10-06 03:36] nataliaroque77 commented on #840
There is not fix for this yet,  people with similar issues were worst, they app was not doing translations, etc.   Our app is doing translations, things work fine - but the warning is not nice.  Team that do the deployment raised to us.  They don't want warnings :(

[2020-10-06 08:16] SalahAdDin commented on #586
@isaachinman When? when will be these changes?

[2020-10-06 08:23] Pierre-CLIND commented on #586
@SalahAdDin Everything is here:
https://github.com/vercel/next.js/discussions/17078

[2020-10-06 15:07] isaachinman commented on #586
The timeline is entirely dictated by the Vercel team. Please read through the RFC for the latest updates.

[2020-10-06 15:12] isaachinman commented on #843
The i18next provider is wrapped onto `_app`, so you'll need to use that pattern, or add a provider from `react-i18next` directly.

[2020-10-06 15:12] #843 closed

[2020-10-06 20:09] isaachinman commented on #842
This sounds like an issue to raise in the [i18next-http-middleware](https://github.com/i18next/i18next-http-middleware) repo, as that's where those options come from.

[2020-10-06 20:09] #842 closed

[2020-10-07 15:44] Divlo commented on #842
Alright thanks for your help, I'll take a look but where can I pass options for i18next-http-middleware in next-i18next ?

[2020-10-07 20:48] ashish328 opened #846 "How to mock the `Link` and `Router` form testing next-i18next ?"
## Describe the bug
setup of next-i18next -  i18n.ts
[code]
Setup of react-i18next for tests  in __mock__/i18n.ts
[code]
my component where i used `Link` i18n.ts
[code]
when i run  test it shows me an error.
[code]
the error is because i have mocked the react-i18next and react-i18next doesn't have `Link` component. i need a way to mock the `Link`  from next-i18next to run the test with out any err

[2020-10-08 05:36] eunsukimme commented on #841
@nataliaroque77 In my opinion, similar issues were already discussed before. You can find the answer of @isaachinman
 on https://github.com/isaachinman/next-i18next/issues/833

[2020-10-08 09:58] isaachinman commented on #846
Please post on StackOverflow for general help questions. Good luck!

[2020-10-08 09:58] #846 closed

[2020-10-08 14:40] nataliaroque77 commented on #841
Thank @eunsukimme for let me know about #833
Great news about custom server no longer need it for next-i18next latest version.

[2020-10-08 19:25] ashish328 commented on #846
@isaachinman as you suggest posted it on stackOverflow  https://stackoverflow.com/questions/64268912/how-to-set-up-test-environment-next-js-project-using-next-18next-when-link-of.
if have made few changes in mocking react-i18next, now am getting a new error
[code]

[2020-10-08 20:45] Divlo commented on #842
I found out how to do it, in case anyone wanted to do the same here is my NextI18Next instance i'm exporting :
[code]

[2020-10-08 21:23] felixmosh commented on #257
Additional problem related to Yaml support, `i18next-http-backend` by default parses as JSON (using `options.backend.parse` field).
Currently there is no way to add this `parse` field (it gets overridden by next-i18next)

[2020-10-08 21:59] felixmosh opened #848 "backend is not merged properly"
## Describe the bug
When user providing `options.backend` it forces the user to provide default `loadPath` & `addPath`.

## Occurs in next-i18next version
6.0.3<

## Steps to reproduce
Provide only `options.backend.parse` option, the app won't find translation files

## Expected behaviour
It should use the default `loadPath` & `addPath` if none given by the user

## OS (please complete the followi

[2020-10-09 08:41] andfk commented on #510
I've tried with version `6.0.1` and using `cimode` tries to get the translations files so it throws an error. Something somewhere is not handling such option correctly

[2020-10-09 11:02] isaachinman commented on #510
@andfk Feel free to debug and let me know what you think the problem is.

[2020-10-10 04:48] yingqi-chen opened #852 "Manually enter URL works in dev mode but not in the production mode"
## Describe the bug

I used the example, and add localSubpaths. When in dev mode, I can go to a page through both clicking on the link on the page and manually input the URL, but when I run `next build && next export` to build and deploy to firebase, I can only go to a page by clicking on the link on the page, by manually input the URL will display errors and on the console, I get error of `Failed

[2020-10-10 09:44] RezaZR commented on #843
Hallo @isaachinman I want to ask again.

So I did a debug using enzyme's childAt and dive, the result is like this:
![image](https://user-images.githubusercontent.com/9331014/95651869-4bdf2280-0b17-11eb-92e9-2d7fd8aed9ff.png)

Is **initialLanguange** and **initialI18nStore** supposed to be undefined? Or am I not properly config next-i18next?

[2020-10-10 10:02] isaachinman commented on #852
[next export is not supported](https://github.com/isaachinman/next-i18next#notes).

[2020-10-10 10:02] #852 closed

[2020-10-10 15:58] yingqi-chen commented on #780
Can you explain what CRA in `react-i18next` is? Thanks!

[2020-10-10 16:13] yingqi-chen commented on #852
Thanks for your quick response! @isaachinman I saw the other discussion and wonder what CRA in react-i18next is? Thanks!

[2020-10-12 17:37] saeedPadyab opened #853 "using getstaticprops"
Hello.
my application redirects to default language in production environment. i have two locales "en and fa". default is en but when i enter url with "/fa" it redirect to en which is default. the point is that before adding getstaticprops function to index page it had been working .

next-i18next == latest version
next == latest version
--------------
`const NextI18Next = require("next-i18next").

[2020-10-13 06:24] cheunjm opened #854 "Default namespace not found at "/public/static/locales/en/common.json" when using Locize backend"
## Describe the bug
You must provide a clear and concise description of what the bug is.

When backend (Locize) is provided, it is expected to find the namespace from the provided backend. However, its trying to search inside the /public/static folder.

## Occurs in next-i18next version
You must provide the npm module version, git tag, or even better the explict commit causing the issue.

"next-i1

[2020-10-13 06:56] adrai commented on #854
Did you have a look at this example?

https://github.com/isaachinman/next-i18next/pull/705/files#diff-298f611f00b8b2af48be7437472270aef3e5b04c22279ef40f1b85e418ab7662

Set debug to true and check the logs, maybe this helps.

[2020-10-13 07:27] cheunjm commented on #854
@adrai Hi, I did take a look at the example, and tried setting require('i18next-locize-backend/cjs') as plugin, but it still gives me

[code]

It seems like it's still trying to find the translations in the locale path

[2020-10-13 08:50] adrai commented on #854
You are right, there might have been a change that prevents the usage of other i18next backends... any idea @isaachinman ?

@cheunjm the alternative possibility should still work => download the json and include in the app https://github.com/isaachinman/next-i18next/pull/705/files#diff-b62ea49349550876c39d7358d1cf0e5d8a773549e8305c440a038b0ba3a58a06R10

[2020-10-13 10:14] isaachinman commented on #853
Duplicate of #586.

[2020-10-13 10:14] #853 closed

[2020-10-13 15:50] isaachinman commented on #854
@cheunjm You can check the logic for the fs lookup [here](https://github.com/isaachinman/next-i18next/blob/a43d9c8330996be9485a7c663fa0a9170e20cede/src/config/create-config.ts#L64). I think some users have run into issues with this in the past, but no one has ever put forth a PR. Happy to answer any questions you might have!

[2020-10-13 15:59] adrai commented on #854
Probably doing something like this would fix the problem:
![image](https://user-images.githubusercontent.com/1086194/95885693-dde86480-0d7d-11eb-96ce-bb67064a0b31.png)

[2020-10-13 16:55] isaachinman commented on #854
Yep, that'd work fine.

[2020-10-13 16:58] adrai commented on #854
@cheunjm Do you like to create a PR?

[2020-10-13 18:07] gregory-j-baker opened #855 "Browser detection does not work when using only `localStorage`"
## Describe the bug
When browser detection is configured to **only** use `localStorage`, then the language detection breaks when the page is refreshed.

## Occurs in next-i18next version
Reproduced using commit a538ad4b (link to fork in next section).

## Steps to reproduce
- Configure next-i18next to use **only** `localStorage` detection.
- Load application and switch language
- Press the browser

[2020-10-13 18:38] isaachinman commented on #855
That's because we need a cookie to share state between server and browser. This is expected behaviour.

[2020-10-13 18:47] gregory-j-baker commented on #855
Is there any workaround that you can think of? My security team **requires** that all cookies be _secure_ and _http-only_. (however localstorage has no such restriction)

Unfortunately, I have no say in the matter. :unamused:

[2020-10-13 19:21] cheunjm commented on #854
@adrai @isaachinman yeah happy to submit one over the weekend

[2020-10-13 19:40] isaachinman commented on #855
Sure, you should be able to make something work with a combination of secure/http-only cookies and localstorage. You may need to get into a semi-custom implementation though. I suggest you start reading up on the various i18next packages used by `next-i18next`.

[2020-10-13 20:42] nikola1970 opened #856 "How to find original path url before middleware append lang prefix to it?"
Hello, I am trying to get the original requested path before middleware kicks in and append lang to it.

Want to somehow prevent 302 redirection if the page is 404. Old site was indexed with pages which do not have lang prefix appended and due to 302 redirect of the middleware those indexed pages wont be removed from the old google index because anything user type in the url bar will be redirected

[2020-10-14 07:04] nouh commented on #826
some detection options are different on browser and server, but it seems  right now they use the same detection config?

[2020-10-15 05:01] irvv17 commented on #79
So, this is not about next-i18n__?

[2020-10-15 10:56] isaachinman commented on #856
I suppose you'd need to wrap your `appWithTranslation(MyApp)` in another HOC, and deal with it before the `next-i18next` code is called.

That being said, you might want to take a look at the link below, as i18n routing in NextJs will be changing very soon.

https://github.com/vercel/next.js/discussions/17078

[2020-10-15 10:56] #856 closed

[2020-10-16 04:46] artze commented on #307
@vanskins

I observed the same issue on my end. I got it working with the following:

[code]

From what I can tell, it looks like the lib looks for translation from either filesystem (if server-side rendered) or through an xhr call. Both are configured in the same `loadPath` field.

+++

Some other observations: if i have `debug: true` set, and have my `loadPath` set to the following (only setting

[2020-10-16 07:10] nikola1970 commented on #856
Wrapping `appWithTranslation(MyApp)` in another HOC won't help since it all happens more low level, in the `server.js` file where I add this line ` server.use(nextI18NextMiddleware(nextI18next));`, and I can't find a way to save original entered url in the custom middleware before it and them pass it to `_app` `getInitialProps`. :(

[2020-10-16 07:12] isaachinman commented on #856
The latest versions of this package do not use a middleware or custom servers.

[2020-10-17 06:54] Alexander2317 commented on #79
@isaachinman I have the same warning with next.js@9.5.5.
If I create 404.js page and _error.js I see this warning.
If I remove 404.js I see a warning from next.js
`Warning: You have added a custom /_error page without a custom /404 page. This prevents the 404 page from being auto statically optimized.
See here for info: https://err.sh/next.js/custom-error-no-custom-404
`
How to fix it?)

[2020-10-18 02:46] fillon opened #857 "How do you get access to i18n (t, changeLanguage) in an /page/api route ?"
I need to have access to i18n inside an api route (serverless).

[code]

I have removed '/api' in the ignoreRoutes. The req object doesn't seem to be populated with i18n.

Am i missing something?

[2020-10-18 11:43] Stoikiy opened #858 "TypeError: Cannot read property 'en' of undefined"
Im try to install the next-i18next like on
https://github.com/isaachinman/next-i18next/tree/master/examples/simple

but when i do `export default appWithTranslation(MyApp)` in my _app the app fall with error:

`Server Error
TypeError: Cannot read property 'en' of undefined
This error happened while generating the page. Any console logs will be displayed in the terminal window.`

help me figurate w

[2020-10-18 12:05] Stoikiy commented on #858
lol.  im just restart the app, and its work now.
i think module export was need restart

[2020-10-18 12:05] #858 closed

[2020-10-18 12:14] isaachinman commented on #857
The middleware logic occurs on the `appWithTranslation` HOC, so your API routes won't work in this way. Please check the RFC below for future support.

https://github.com/vercel/next.js/discussions/17078

[2020-10-18 12:14] #857 closed

[2020-10-18 18:21] yingqi-chen commented on #852
For who has the same question, just build another copy for EACH language under pages. That's the only thing I can find.
So Next.js can find it according to the route `/zh/`

[code]

[2020-10-19 13:40] doliG opened #859 "Custom detectors documentation"
## Describe the bug

Not sure it is a bug, but it's not a feature request either.

I want to implement _custom detectors_ and _use a specific cookie_ for i18n. We already use a cookie for i18n which is formatted like this: `id.lang.currency` (I.E `6.us.USD`).

[This article](https://dev.to/justincy/locale-specific-domains-for-i18n-in-next-js-with-next-i18next-54hi) was really helpful to understand

[2020-10-19 14:21] isaachinman commented on #859
Please post on StackOverflow, or similar. Good luck!

[2020-10-19 14:21] #859 closed

[2020-10-19 14:45] Bastian opened #860 "NextJS base path setting is not used on client"
## Describe the bug

When using the [`basePath`](https://nextjs.org/docs/api-reference/next.config.js/basepath) config option of NextJS, I get the following error when trying to change the language using `i18n.changeLanguage(...)`:
![image](https://user-images.githubusercontent.com/5033001/96463002-89823080-1226-11eb-9dff-42eeefd6780d.png)

I think this is related to this part of the code: https:/

[2020-10-19 15:33] doliG commented on #859
Thanks for your quick response 🙃

I am afraid my first message was drafty, sot let me clarify.

I have a lot of custom needs in my application. To do so, I'm trying the `customDetectors` functionality. It looks like customDetectors are part of `next-i18next`, as mentioned in the Readme:

My main problem is that I don't fully understand how I'm supposed to implement a `customDetector`, what side ef

[2020-10-20 07:09] idrisakmal commented on #780
Basically he's saying just use create-react-app with any i18n package

[2020-10-20 09:19] chris0610 commented on #685
Please add an example on how to integrate Locize with Next.js

[2020-10-20 14:28] adrai commented on #685
@chris0610 this is the example: https://github.com/isaachinman/next-i18next/pull/705/files#diff-298f611f00b8b2af48be7437472270aef3e5b04c22279ef40f1b85e418ab7662R1
but there is currently an issue => https://github.com/isaachinman/next-i18next/issues/854#issuecomment-707955951 (@cheunjm)

[2020-10-21 03:25] chris0610 commented on #685
I saw a [YouTube video](https://www.youtube.com/watch?v=kw-GEQbgmSc) where the Locize editor shows up and untranslated keys get sent to Locize automatically but there is a server.js file. Is that required for the above 2 features to work? Sorry, I'm new to this and thanks for the fast reply.

[2020-10-21 03:54] samuelcastro commented on #685
The best way to use next + i8next + locize I found was through [Next Right Now](https://github.com/UnlyEd/next-right-now), and it does support serverless, it's a different and and opinionated approach, maybe @Vadorequest might add more info here.

[2020-10-21 05:05] Vadorequest commented on #685
@chris0610 Depending on what you're working on and how familiar you're with Next.js, you might indeed take a closer look at Next Right Now. Whether you end up using it or just get inspired from it should save you a lot of time.

Regarding Locize + i18next, here is what we do:
https://github.com/UnlyEd/next-right-now/blob/v2-mst-aptd-at-lcz-sty/src/utils/i18n/i18nextLocize.ts

It supports auto key

[2020-10-21 06:23] adrai commented on #685
The video was recorded on an older version of next-i18next.

The current working option is to:

- use [next-right-now](https://unlyed.github.io/next-right-now/)
- wait for this [PR](https://github.com/isaachinman/next-i18next/pull/861) to be merged and released and use next-i18next
- create your own thing

[2020-10-21 08:30] chris0610 commented on #685
Thank you @samuelcastro @adrai @Vadorequest ! Love the Github community. I was able to get Locize to auto translate from the reference language! But facing the https://github.com/isaachinman/next-i18next/issues/854 warning that is being worked on.

[2020-10-22 07:11] fabioriva commented on #79
@isaachinman Same as Alexander2317

[2020-10-22 07:14] serranoarevalo commented on #508
If anyone stumbles upon this, I found the solution here: https://github.com/i18next/i18next/issues/1060#issuecomment-394100024

[2020-10-22 15:43] mimimimichael commented on #677
New to next.js and currently fiddling around to solve the same problem.

I noticed, that if I don't have a 404.js page, it will fallback to the _error.js page to display the 404 Error and inside _error.js it is possible to use "getInitialProps".

I am using that for now as a workaround. It solves the translation problem, but it does cause another warning:

[2020-10-22 19:46] Markus357 opened #863 "Support for loading translation data via resources field"
My use-case requires that the translation strings be loaded into the app from an API.

Previously I had success initializing things this way:

[code]

Using next-i18next it appears that loading locales using json files is a hard requirement.

[2020-10-22 23:31] jamiechong opened #864 "localeSubpaths with other dynamic routes"
I have the use case where my URL structure can't have `:lang` at the base of the path. I need this:

`https://example.com/:market/:country/:lang/something/:slug`

Is there a way to setup `localeSubpaths` as well as `Link` to be able to work with extra dynamic route params?

[2020-10-23 01:25] jinongun opened #865 "doesn't it support nonExplicitSupportedLngs?"
I've tried some tests with `nonExplicitSupportedLngs`.
And I think this option is doing nothing.

First, I set it up ` public/static/locales/zh/strings.json` and `nonExplicitSupportedLngs: true`.
and My Browser language is `zh-TW` (Taiwan Chinese).
I expected it would be routed to `/zh` but it was routed to `/en` (defaultLanguage).

so, I changed `nonExplicitSupportedLngs` to `false` but the resul

[2020-10-23 18:30] anialamo commented on #577
Sorry! please I dont understand what is the solution for this error. Also I have this error when my nextjs app is deployed on AWS CloudFront.
Error: ENOENT: no such file or directory, scandir '/var/task/public/static/locales/es'

[2020-10-23 19:41] michaelmorgantalabat commented on #79
I tried to use `getStaticProps` with `404.tsx` and still same issue as @Alexander2317

import { I18nPage } from 'lib/i18n';
import { GetStaticProps } from 'next';

const ErrorPage: I18nPage = () => <h1>404</h1>;

export const getStaticProps: GetStaticProps = async () => {
  return {
    props: {
      namespacesRequired: ['common'],
    },
  };
};

export default ErrorPage;
`
`

[2020-10-23 21:33] sebastienlabine opened #866 "Parent component should automatically import namespacesRequired from child."
Let's say I have a parent component **HomePage** that uses **Footer** inside it's render function.

Inside my footer component, I have declared
[code]
However, when rendering then home page, I see the key before the actual translation. To fix this, I need to ask the Home page to load the footer translation file.

[code]

Would it be possible to automatically import the child translation file as a

[2020-10-23 23:45] anialamo commented on #462
@Chill-Studio did you found how to resolve this error? Can you help me please?

[2020-10-24 08:30] Alexander2317 commented on #79
My ``_error.jsx``

[code]

And `404.jsx`

[code]

I tried to use `getInitialProps` in `404.jsx`, `getStaticProps` but it didn't solve the problem because then we'll see the following error
`Error: page /404 getStaticProps can not be attached to a page's component and must be exported from the page. See more info here: https://err.sh/next.js/gssp-component-member`

[2020-10-24 12:33] anialamo commented on #577
@someyoungideas Did you find a solution for this topic? Today  I dont understand what is the solution for this error. Also I have this error when my nextjs app is deployed on AWS CloudFront at Lambda@Edge. In my logs I can see:

Error: ENOENT: no such file or directory, scandir '/var/task/public/static/locales/es'

[2020-10-24 17:54] khanhtq opened #867 "TypeError: Cannot convert a symbol to a string on Safari 11 (IOS 11.4)"
## Describe the bug
I got the error `TypeError: Cannot convert a symbol to a string` on Safari 11 (IOS 11.4) when run examples/simple
 of next-i18next, It makes web page can't show any content

## Occurs in next-i18next version
Version: 6.0.3

## Steps to reproduce
Step 1: cd next-i18next/examples/simple
Step 2: npm run dev
Step 3: access http://localhost:3000

## Screenshots
<img width="1680" alt

[2020-10-25 20:27] isaachinman commented on #462
@anialamo Check [this repo](https://github.com/isaachinman/next-i18next-vercel). It's deployed on Vercel [here](https://next-i18next-vercel.now.sh/). Good luck!

[2020-10-25 20:29] isaachinman commented on #863
Nope, not a hard requirement. You can use any i18next backend you like. Good luck!

[2020-10-25 20:29] #863 closed

[2020-10-26 04:53] khanhtq commented on #867
I research more solution and I found this one:

https://github.com/isaachinman/next-i18next/pull/292#issuecomment-490035352
https://github.com/isaachinman/next-i18next/issues/152

I understand: polyfilling should be doing it only once on the app-level, not from the library-level

I just flow this guide: https://github.com/vercel/next.js/tree/canary/examples/with-polyfills

I added `import 'core-js

[2020-10-26 04:53] #867 closed

[2020-10-26 05:22] AliRain opened #868 "Can't localize strings with HTML"
## Describe the bug
I have a string that contains HTML. Whenever I try to render it, it just outputs the key rather than the string.

## Occurs in next-i18next version
next-i18next@6.0.3

## Steps to reproduce
public/static/locales/en/signup.json
[code]
src/pages/signup.tsx
[code]

I also tried this as an alternative (I tried both with and without passing `i18n={i18n}` to the `Trans` component:
[c

[2020-10-26 07:13] DutchPrince commented on #462
Thanks for this!

[2020-10-26 07:52] #865 closed

[2020-10-26 10:47] isaachinman commented on #868
`next-i18next` uses i18next packages under the hood to handle actual translation/interpolation/etc. This sounds like an issue with an upstream package – please have a look at the i18next docs. Good luck!

[2020-10-26 10:47] #868 closed

[2020-10-26 10:53] isaachinman commented on #864
There isn't anything out of the box to support arbitrary patterns like this, unfortunately.

I recommend you take a look at [this RFC](https://github.com/vercel/next.js/discussions/17078) as support for it will be landing very soon.

If you cannot change your URL structure, I would suggest you fork `next-i18next` and make the necessary changes. Good luck!

[2020-10-26 10:53] #864 closed

[2020-10-26 10:59] isaachinman commented on #866
At the moment, no. Page components are different than "normal" components in NextJs, in that they are wrapped by `_app`, and we can compose on top of them.

To be absolutely clear, there is _no such thing_ as `getInitialProps` (or other data-fetching methods) on non-page components in NextJs (ie your footer example here).

We have previously experimented with tree-traversal in `next-i18next`, and

[2020-10-26 10:59] #866 closed

[2020-10-26 20:30] Markus357 commented on #381
Could you post how you modified this code? (The link in your original reply is no longer current)

[2020-10-26 21:45] sebastienlabine commented on #866
Understood. In that case, do you think docs could reflect this use case / the flashing issue, I think people can look a long time for an answer before finding it.

[2020-10-27 09:36] isaachinman commented on #866
Do you feel like [this section](https://github.com/isaachinman/next-i18next#4-declaring-namespace-dependencies) of the docs is not clear enough?

[2020-10-27 16:13] martpie opened #869 "Next.js 10"
## Is your feature request related to a problem? Please describe.

Next.js is just out, and introduces i18n routing primitives

https://nextjs.org/docs/advanced-features/i18n-routing

## Describe the solution you'd like

I think a lot of the features of `next-i18next` can be dropped, so `next-i18next` really just focuses on the `i18next` integration.

## Describe alternatives you've considered

n/

[2020-10-27 16:31] isaachinman commented on #869
Yep, have been waiting for it to land. We'll want to rewrite so that the main concern of `next-i18next` is handling data management for SSR apps.

Would be very happy to have input from collaborators!

[2020-10-27 17:12] Geoff-Ford commented on #586
A good chunk of i18n work has just been released!!:

https://github.com/vercel/next.js/releases/tag/v10.0.0

[2020-10-27 17:14] SalahAdDin commented on #586
Oh s***, here we go again.

[2020-10-27 17:16] kachkaev commented on #869
@isaachinman nice! Could you elaborate a bit on what you mean by data management in this context?

[2020-10-27 17:27] isaachinman commented on #869
So, the NextJs core as of v10 intends to take all responsibility for locale routing. That means we can remove a _lot_ of functionality from `next-i18next`.

What NextJs v10 does _not_ do, is handle any sort of actual data management for users.

In the case of full SSG apps, you can, in theory, get away with passing your localisation data as props per page, [kind of like this example](https://githu

[2020-10-27 17:47] Geoff-Ford commented on #586
Nah, this was just an update for anyone following this now old thread that the core library have indeed released i18n built in, albeit just the beginnings.

[2020-10-27 17:57] isaachinman commented on #586
Please follow https://github.com/isaachinman/next-i18next/issues/869 for updates!

[2020-10-27 20:49] aboveyunhai opened #870 "Netlify serverless"
## Describe the bug
This seems like a bug from platform, at least not a bug from this package. But I saw many issues seem to relate to this and cannot get a solution around. After my personal deployment on both `Netlify` and `Vercal`.  I felt its good to share and let @isaachinman know, focus more on the real functionalities and take a rest from similar issues, and as a ref for other developers wh

[2020-10-28 02:24] apt-exploit commented on #677
The same problem is happening to me, it without getInitialProps but it doesn't work.

[2020-10-28 07:50] mercteil commented on #869
Very exciting release specifically in regards to internationalization. I am looking forward to be able to use SSG or at least `gerServerSideProps` to be able to load namespacesRequired and to abandon `getInitialProps`. However the features I see are provided by Vercal at this time are language detection an an early intl libs support.

Many things are still not clear to me:
* How to split translati

[2020-10-28 18:38] SalahAdDin commented on #869
Does NextJS handle localization files? If it is using `react-i18n` and `i18n-next` it is still possible to use their hook to handle switching languages.

[2020-10-28 18:54] isaachinman commented on #869
NextJs _only_ handles the routing. Handling localisation files, splitting translations across pages, etc, will be the new goal of packages like `next-i18next`.

I hope to spend some hours this weekend taking a deep look at a rewrite for `next-i18next` to simplify things dramatically.

[2020-10-28 19:44] isaachinman commented on #870
Although I have not attempted to deploy a `next-i18next` app on Netlify, I assume it's possible. Any platform that supports a NodeJs runtime should be able to run a NextJs app via `yarn build && yarn start`. However, all serverless platforms are indeed different, so there may be strange issues, as you describe.

If anyone in the future reading this has successfully deployed a `next-i18next` app on

[2020-10-28 19:44] #870 closed

[2020-10-29 20:53] #854 closed

[2020-10-29 21:33] pontusab commented on #20
You can use `ctx.res.cachedUserLanguage` in your `_document.js`

[2020-10-29 21:34] isaachinman commented on #20
The new i18n features in NextJs v10 will handle this automatically. I plan to rewrite `next-i18next` to leverage these features soon.

[2020-10-31 02:25] underfisk commented on #869
After upgrade to next10, i got react hooks issue that the context of Next18n is rendering more hooks than before, it doesn't always happen but sometimes i got this annoying error saying the context of next-i18next is rendering more or fewer hooks which is kinda odd to debug
Anyone experiencing the same?
@isaachinman  any idea of what's going on or what might be causing that?

[2020-10-31 13:26] MathiasKandelborg commented on #869
@isaachinman Lmk if I can help. I've done some things to load translations specified with namespaces, with SSG.

I have time to contribute so I might take a look myself. Would love to contribute, so let me know if there's anything I can begin with.

[2020-11-01 11:57] isaachinman commented on #869
@MathiasKandelborg I am starting to look into this now, but unfortunately only have about an hour today.

## Overview

**I will write my thoughts below, to give any potential contributors a chance to work on this without my schedule blocking development. I understand that this is time-sensitive in a way, and would greatly appreciate help anyone might be able to offer.**

In general, the future ver

[2020-11-01 12:11] SalahAdDin commented on #869
Why a HOC? Wouldn't it better to use hooks instead?

[2020-11-01 13:34] underfisk commented on #869
@SalahAdDin What about react legacy apps? If it goes only for hooks, they lose support because they have no functional approach as such

[2020-11-01 14:36] kachkaev commented on #869
Apps using React 16.8.0+ support hooks, which means that any project using React 16.0.0+ (Sep 2017) can upgrade without any breaking changes.

React 16.8.0 is a minimum requirement for `next-i18next` already:

https://github.com/isaachinman/next-i18next/blob/abdf06545410f340b0529e3448f8b102ab840249/package.json#L115-L118

[2020-11-01 14:37] underfisk commented on #869
@kachkaev Okay then it would make sense

[2020-11-01 14:44] jansepke commented on #869
@kachkaev but still many have not migrated class components to functional components. next-i18next currently supports `useTranslation` and `withTranslation` already so you can choose between HOC or hook usage (but maybe its not documented).

If you mean the `appWithTranslation` HOC: afaik hooks cannot insert a provider block around your app

[2020-11-01 14:46] underfisk commented on #869
@jansepke but useTranslation does not work, i have tried and it doesn't, so you are required to receive the TFunction. Its weird because i18 should have the loaded translations but if you try to useTranslation, the translations are empty (Right now with my hooks app i'm forced to use the T everywhere with HoC because next-i18next does not inject correctly)

[2020-11-01 15:30] mkkeffeler commented on #528
in my case, we are using SSG and thus can't define the getInitialProps at all. so when we don't define it, we get this error. need a way as described here to disable that logic. I am generating all locales statically anyways, so dumping all the namespaces is a performance issue and its not needed in this case.

[2020-11-01 15:40] mkkeffeler commented on #726
adding a little color, all this does is get the warning out of the console. the effects are still present. I too ran into this error and have not found a solution, so just wanted to share that yes the above will resolve the error in your console, but it will still load all namespaces.

[2020-11-01 16:44] mercteil commented on #869
@jansepke hooks are not for component wrapping.  But it is still _just_ a function. You could use any function to be a factory. However we would not use hooks in the react sense anymore. Thus we use `Higher Order Components(=Factory Functions)`. However if you really need to you can return a Component from a hook and thus wrap it within a hook. For next.js => SSR does not render hooks. They are ex

[2020-11-01 17:11] itxtoledo commented on #869
![image](https://user-images.githubusercontent.com/21026675/97809501-03b1ac80-1c4c-11eb-8771-5d171ac80c71.png)

I use this hook and works perfectly

[2020-11-01 18:02] underfisk commented on #869
@mercteil Not really, i did add the HoC, context and the props but i'm using SSG, that might be the problem, not using SSR here

[2020-11-01 18:04] isaachinman commented on #869
We'll be using a HOC, let's keep discussion in this issue on topic.

[2020-11-01 18:59] underfisk commented on #869
@isaachinman withTranslation hook only works if we use the custom of Next18 right? I though using i18n useTranslation would read the under lying context.
Also in documentation its missing how you can skip translations in a specific page, right now i get warnings all the time even in pages i don't want locales, is there are way we can surpress locales at specific pages?

[2020-11-02 13:06] davidwgrossman commented on #661
Hey @Exilz, a quick question: what was the path of the `public` folder in your Dockerfile relative to the `.next` build?

[2020-11-02 13:42] Exilz commented on #661
Hi, in my case I just had to add this

`COPY --from=builder /app/public/ ./public`

[2020-11-02 14:31] underfisk opened #872 "SSG Support"
## Is your feature request related to a problem? Please describe.
I'm trying to use next18-i18next in a nextjs SSG app, the issue is that it throws constantly warnings in pages that doesn't need translations, other times it only allow loading the translations by receiving through props TFunction and doesn't allow me to use the hook (useTranslation). I set namespacesRequired at getInitialProps and

[2020-11-02 14:34] isaachinman commented on #872
Duplicate of #869.

[2020-11-02 14:34] #872 closed

[2020-11-02 14:59] haggen commented on #732
@isaachinman I just tested it now and it still doesn't work on SSR, but once on the client it loads another language just fine. Why was it closed?

[2020-11-02 15:04] underfisk opened #873 "Warnings loading locales/Multiple not loading"
## Describe the bug
I receive a lot of warnings even though I declared namespacesRequired and also if I declare multiple namespaces, It only loads the first

## Occurs in next-i18next version
next-i18next v: 7.0.1
npm v: 6.14.5
node v: 12.16.1

## Steps to reproduce
Create an empty SSG app, export normally as in the documentation and try as in the screenshots provided

## Expected behaviour
Load a

[2020-11-02 18:24] haggen opened #874 "Support slashes in namespaces (locale subdirectory)"
## Describe the bug

When there's a slash character (`/`) in the namespace the pre-loading of the translations (SSR, via `namespacesRequired`, fs-backend) stops working. The client translations (http-backend) will still work though. There's no warnings and it's inconsistent, so I'd consider it a bug.

## Occurs in next-i18next version

`v6.0.3`

## Steps to reproduce

1. Have at least two language

[2020-11-03 11:13] isaachinman commented on #874
Hi @haggen – that sounds like an entirely upstream feature request (or bug). As in, once it's fixed in `i18next-fs-backend`, it's fixed in `next-i18next`. Let's track this discussion in that repo. Thanks!

[2020-11-03 11:17] isaachinman commented on #873
This package does not yet support `getStaticProps`, as we have an SSR runtime requirement. Please read through previous issues.

I will also loosely consider this another duplicate of #869.

[2020-11-03 11:17] #873 closed

[2020-11-03 11:20] isaachinman commented on #732
Hey @haggen, I assume this is related to #874? Let's just track the fix in upstream i18next packages.

[2020-11-03 11:36] haggen commented on #874
Hi @isaachinman thanks for the reply. As I mentioned in my report, there's a strange behavior in both parts.

1. i18next-fs-backend encodes slashes (and I'm assuming other characters).
2. next-i18next deletes everything after the slash.

Also from the looks of it it's a `wontfix` for fs-backend, but there's an alternative using a loadPath function, which next-i18next is breaking by deleting part o

[2020-11-03 11:45] isaachinman commented on #874
Would you be interested in working on a fix?

[2020-11-03 11:46] haggen commented on #874
@isaachinman I tried to find where the namespace get changed but couldn't find it. Any pointers from the top of your head? If not it's cool I'll figure it out.

[2020-11-03 12:18] underfisk commented on #873
@isaachinman But even with SSR ON, i get a lot of warnings as I said before in pages like 404 and if I have multiple locales it does not load. I had to force my deployment to be SSR instead of SSG and the problem persists, its not about SSG anymore, seems an issue to me

[2020-11-03 12:22] haggen commented on #874
I'll document my progress here in case I have to stop mid things.

I'm suspecting it's this line: https://github.com/isaachinman/next-i18next/blob/abdf06545410f340b0529e3448f8b102ab840249/src/config/create-config.ts#L99

It seems we pre-collect all locale files based on the default language and use that as namespaces, but it's a shallow read, so, following my example above, only `a` get read from

[2020-11-03 14:34] isaachinman commented on #873
Not sure I understand your problem/question. At the present moment, you need to use `getInitialProps` with this package.

[2020-11-03 14:35] isaachinman commented on #874
Yes it's a shallow read, mostly as a benefit to users, but you can provide your own array of namespaces into the config to override that. Really not sure this is a `next-i18next` issue.

[2020-11-03 14:36] underfisk commented on #873
I did use getInitialProps, the issue is that pages like 404 can't have the translation otherwise it throws error. Also as I said, even with getInitialProps multiple locales are not loaded (I'm at next v10) and it just keeps throwing warnings.
Randomly i get "renderer more hooks than previously" with this plugin context, I can gather a screenshot of the stack and you'll eventually see that somethin

[2020-11-03 14:38] isaachinman commented on #873
If you can put together a simple reproducible repo showing these errors, I'd be happy to take a look. Thanks!

[2020-11-03 14:39] underfisk commented on #873
Okay i'll sure do it

[2020-11-03 15:18] haggen commented on #874
@isaachinman Okay cool I got it working by providing my own `ns` array. But why do we have to provide the `ns` before hand when it's the server but not when it's the client? If you take a look at the line mentioned above (`./src/config/create-config.ts:99`) you'll see the collecting of namespaces happen inside an `if(isServer())` but in the `else` bracket it's just `ns = [defaultNS]`.

Here's my p

[2020-11-03 15:19] isaachinman commented on #874
Because on the server, we load _all namespaces_. Then, for each client request, we only send down the necessary namespaces to render that page, based on `namespacesRequired`. Hope that makes sense.

[2020-11-03 15:27] haggen commented on #874
First of all, huge thanks for the quick feedback @isaachinman, please don't let me disturb you too much! 🍻

Well then I guess my point is, if we collect the namespaces (shallowly) beforehand due to a next-i18next requirement and it's breaking a usage that would otherwise be viable it's a bug. I must say I find this "viable usage" quirky, but it still a viable option, and one that saw suggested to

[2020-11-03 15:51] isaachinman commented on #874
Do you have a proof of concept for deeply traversing locale paths? Unless it's dead simple, I would prefer to simply add a note to the docs, as this is basically just user configuration.

[2020-11-03 18:01] haggen commented on #874
We could use a package for that, which should be safer, or we could it manually.

Package options:

1. glob [36m downloads/week](https://www.npmjs.com/package/glob) [10kb gzipped](https://bundlephobia.com/result?p=glob@7.1.6) [10 deps](http://npm.broofa.com/?q=glob)
2. @nodelib/fs.walk [7m download/week](https://www.npmjs.com/package/@nodelib/fs.walk) [3kb gzipped](https://bundlephobia.com/result?

[2020-11-03 18:15] isaachinman commented on #874
My preference is to simply add documentation, as this issue has rarely/never come up in the 2+ years this package has been around.

[2020-11-03 18:18] haggen commented on #874
It surprises me that nobody needed better locale files organization (perhaps people end up using other backends) but your decision makes sense to me. Thanks again for the quick feedback @isaachinman, I'll look into the docs and leave a PR soon.

[2020-11-04 10:25] ittroller opened #875 "auto add localPath when user typing url and enter"
## Is your feature request related to a problem? Please describe.
I'm always frustrated when I change language without localeSubpaths

## Describe the solution you'd like
When I change language by typing url and enter

## Describe alternatives you've considered
I change language by typing url and enter, please don't add localePath to url

## Additional context
I had url: http://localhost:3000/en/l

[2020-11-04 10:34] isaachinman commented on #875
Not exactly sure what you're asking, but `us` is not a valid two letter ISO.

[2020-11-04 10:34] #875 closed

[2020-11-04 12:11] kachkaev commented on #869
What about throwing a promise in one of the HOCs and thus leveraging the Suspense mechanism? 🤔

[2020-11-04 12:26] isaachinman commented on #869
@kachkaev That's an experimental feature, and not really relevant what we want to do. The moments where we will need to await the init promise are either during SSG or SSR. A fully initialised i18next instance is serialised and sent down to the client per req, so there is no need to await in a client side setting.

[2020-11-04 17:04] anialamo opened #876 "Nextjs-18next not working if I change language in url"
Hi! I have deployed in my localhost this project next-i18next-vercel and this working fine if I change manually my language in browser url bar  from "/" root (english) and "/de" (german). Also works fine if I use switcher buttons.
But when I deploy this to my server in AWS Cloudfront as a serverless component, also works fine if I change the language using switcher buttons but this returns "404 pa

[2020-11-04 17:05] anialamo opened #877 "Changing url language manually returns 404 error"
Hi! I have deployed in my localhost this project next-i18next-vercel and this working fine if I change manually my language in browser url bar  from "/" root (english) and "/de" (german). Also works fine if I use switcher buttons.
But when I deploy this to my server in AWS Cloudfront as a serverless component, also works fine if I change the language using switcher buttons but this returns "404 pa

[2020-11-04 17:13] isaachinman commented on #876
Hi there, please post on StackOverflow or similar for help. Good luck!

[2020-11-04 17:13] #876 closed

[2020-11-04 17:13] #877 closed

[2020-11-04 21:54] anialamo commented on #806
@aboudicheng did you find some solution? Please some help please! in this case for 404 error page not found when you changes manually the url?

[2020-11-04 21:56] anialamo commented on #806
@hrahimi270 did you find some solution for this error? only this happen in production mode for me.

[2020-11-04 22:03] anialamo commented on #800
@aaronsnig501 did you find some solution for this error? Please some help or idea! Thanks!

[2020-11-04 22:12] anialamo commented on #790
@Uniiq sorry! what is the solution for this bug? This only happens in production mode. What should I do? Some help please?

[2020-11-05 08:45] aboudicheng commented on #806
@anialamo I somehow got it fixed after upgrading Next to v9.5.3 back then, but still not sure why the sandbox I provided isn't working

[2020-11-06 14:31] k4mr4n commented on #654
I have the same issue and [whydidyourender](https://www.npmjs.com/package/@welldone-software/why-did-you-render) library point it out very well.
it seems like the "t" function exported from "useTranslation" hook has not been memoized.

<img width="785" alt="Screen Shot 2020-11-06 at 9 28 05 AM" src="https://user-images.githubusercontent.com/5468009/98377200-818e0300-2012-11eb-945d-314ea03af93f.png

[2020-11-06 17:24] davidwgrossman opened #878 "Setting `serverLanguageDetection: false` and changing language on server does not include the new language in `initialI18nStore`"
## Describe the bug
If a user sets `serverLanguageDetection` to `false` and changes the language using `i18n.changeLanguage('de')`, the new language is not included in `initialI18nStore`.

## Occurs in next-i18next version
7.0.1

## Steps to reproduce
This repository reproduces the issue: https://github.com/davidwgrossman/next-i18next/tree/minimalReproducibleExample
1. Clone the repo and run `yarn

[2020-11-06 20:21] isaachinman commented on #878
What's your reasoning for setting `serverLanguageDetection: false`?

[2020-11-07 10:33] MathiasKandelborg commented on #869
This looks promising!  :tada:  Let's get some things going! :partying_face:

The project's new scope is "**_simply_**" integrating i18next with Next.js, right?

Would it be fine for a first PR to try and cut as much as possible, get all the way down to the bone, and then get started with Next.js v10 and i18next?

I think a project or a milestone (on this Github repo) with some issues etc. would he

[2020-11-07 14:54] aaronsnig501 commented on #800
@anialamo From what I recall, no. Because of the scope that I needed for this specific project the automatic detection was sufficient for what I needed and getting answers here was like pulling teeth, and the documentation wasn't very helpful.

NextJS 10 was just released with internationalization support, so if it's possible for you, I'd probably recommend going down that route. [https://nextjs.o

[2020-11-07 15:21] isaachinman commented on #869
Hey @MathiasKandelborg.

Not sure that's necessary – if you want to focus on something, let's begin with the core functionality. I have the context necessary to quickly clean up the repo once the core work is done.

Can you explain what you mean? Loading translation files is something that `next-i18next` has already solved, and I am not anticipating any changes will be needed in regards to that.

[2020-11-08 15:57] isaachinman commented on #869
Pretty crucial problem: [`_app` does not support `getStaticProps` or `getServerSideProps`](https://nextjs.org/docs/advanced-features/custom-app#caveats). I'm unsure how to write a HOC that adds an i18n instance, as we need to init it during SSR/SSG, and then serialise it via `pageProps` down to the client. Using `getInitialProps` seems like a step backward, as these _are_ static data requirements.

[2020-11-08 16:10] kachkaev commented on #869
What if `getXyzProps` returns the actual translations and not paths / namespaces? Roughly speaking,

[code]

The problem with this though is that if every page has `loadTranslations(..., "common")`, then common translations would be loaded on every transition to another page. Perhaps, they could be some special trick for those via `_document.tsx`? What I mean is loading such namespaces there and t

[2020-11-08 16:15] kachkaev commented on #869
An alternative solution would involve an API endpoint and Suspence inside some sort of `<NextI18nextProvider namespaces=["foo", "bar"]/>`. If the instance of i18next inside the `NextI18nextProvider` does not have the expected locales loaded, it throws a promise, which resolves after the api request has been fulfilled. In addition, each use of a not-yet-loaded namespace via `t` / `Trans` can also t

[2020-11-09 09:15] jan-wilhelm commented on #869
So am I understanding it correctly that this will not allow SSG for dynamic pages without `getStaticPaths`, because it forces you to export a `getStaticProps` function?

What about a scenario where I have a dynamic route with unknown paths, such as `products/[productId]`? I would want this page to be
- translated
- not using getStaticProps because I can't also export `getStaticPaths` (unknown path

[2020-11-09 12:26] gurkerl83 opened #879 "Webpack 5 support"
The current version of next-i18next (7.0.1) and its predecessors are not compatible with Webpack 5.

In the context of a Webpack based application development, two operating variants are distinguished, development and production.

When executing a build in the development profile, Webpack does not perform any optimisations, the build is successful.

In the production profile, Webpack applies advan

[2020-11-09 12:39] Cedric-Delacombaz commented on #874
@haggen Do you have a working repository you could share? I would love to have such a file organization but only by reading the docs and previous issues about this, it was too complicated and I just gave up on it. I even went to look for other libraries because of that missing feature, but finally came back as I also couldn't find this feature anywhere.

[2020-11-09 12:47] anialamo commented on #800
thanks! @aaronsnig501

[2020-11-09 12:54] haggen commented on #874
@Cedric-Delacombaz I can whip something up later today. I'll update you as soon as I can.

[2020-11-09 17:26] lgarro commented on #824
In my case the issue was migrating from an old version to a new white label project, and left the `experimental` with rewrites on it. So I was getting 404's on localeSubpaths

[2020-11-09 22:31] davidwgrossman commented on #878
I was able to find a way around setting `serverLanguageDetection: false` so I didn't have an issue in the end. I didn't want to use express middleware to handle language detection, however I ended up using `customDetectors` in the end. Possibly some documentation on how to set up a custom detector could be useful. Would you consider a PR with an example custom detector?

It does seem to be that th

[2020-11-10 15:59] davidwgrossman commented on #859
@doliG this issue helped me out https://github.com/isaachinman/next-i18next/issues/531

Also, check out [this minimal example](https://github.com/davidwgrossman/next-i18next/blob/master/examples/simple/i18n.js#L6-L31) I set up. Hope that helps!

This Express guide helped out too https://expressjs.com/en/guide/writing-middleware.html

[2020-11-10 16:00] davidwgrossman commented on #878
I would note that I could not follow the example from the `i18next` documentation [here](https://www.i18next.com/misc/creating-own-plugins#languagedetector).
They suggest creating an Object with this format:
[code]

Instead, I needed to use the following language detector:
[code]
and configure it like in this example:
https://github.com/davidwgrossman/next-i18next/blob/master/examples/simple/i18n.

[2020-11-10 16:50] doliG commented on #859
Hello @davidwgrossman ,

Thanks a lot for your help ! Indeed, the minimal example is useful. I finally came up with this solution (which works, at least for my needs):

[code]

I still think that there should be a documentation of how the `detector` object works, or at least an API reference.

[2020-11-11 00:09] haggen commented on #874
@Cedric-Delacombaz Here's a working example: https://codesandbox.io/s/next-i18next-locale-subdirectories-5ys9t

[2020-11-11 06:48] hazem3500 opened #880 "ICU macros"
## Is your feature request related to a problem? Please describe.
In our project, we are using the ICU format and we wanted to use the [ICU macros](https://react.i18next.com/misc/using-with-icu-format#using-babel-macros-trans-plural-select) but am not sure how do I use them with next-i18next.

[2020-11-11 09:36] kachkaev commented on #880
You can find an example here: https://gitlab.com/kachkaev/website-frontend/-/blob/master/src/i18n.ts. Note that next-i18next has not been upgraded for some time in that project. I plan to do this once #869 is resolved.

Also note that the issues in the repo should [follow a template](https://github.com/isaachinman/next-i18next/tree/master/.github/ISSUE_TEMPLATE).

[2020-11-11 11:03] isaachinman commented on #880
@kachkaev Can anything be done within `next-i18next` to make this easier for users?

[2020-11-11 11:12] kachkaev commented on #880
Hi @isaachinman! I don't think I have an answer at this point. I can look into this once there is a version for Next.js 10. Overall, adding ICU to next-i18next should not differ to much to just using `i18next-icu`: https://github.com/i18next/i18next-icu

The only tricky optimisation I can think of is dynamically importing `'i18next-icu/locale-data/LANG'` so that the client bundle had to download j

[2020-11-11 11:23] isaachinman commented on #880
Can be done via a dynamic import, I imagine.

Should we leave this issue open?

[2020-11-11 11:27] kachkaev commented on #880
Yeah true. For that though, there's a need for `async initiI18next(currentPageLocale)` function of some sort, in which configuration process happens. This is where the lib can load all the necessary plugins and asynchronously import the ICU data for a specific lang. And maybe fetch namespace data too?

Up to you really 🙂 I personally don't think that ICU integration is the job of `next-i18next` si

[2020-11-11 12:21] isaachinman commented on #880
@hazem3500 Do you feel like your issue is solved, with the links and help that @kachkaev has shared, or do you want to keep this open?

[2020-11-11 13:59] jvcmanke commented on #869
@jan-wilhelm

If the approach taken is the one suggested by @kachkaev [here](https://github.com/isaachinman/next-i18next/issues/869#issuecomment-723609353) (return the translations as props of `getXyzProps`) I think it will work the same for `getStaticPaths` as you also have to return the props for every dynamic page you want to generate.

I am not using `next-i18next` in my project and have been

[2020-11-11 14:07] isaachinman commented on #878
Yes, of course. We use server side detection to both do initial language detection based on headers, and also do synchronisation for subsequent requests based on a cookie value.

I don't understand – if you always want to serve German, why do you need localisation in the first place?

I am going to mark this as closed because it seems like you can achieve what you need just via i18next configurati

[2020-11-11 14:07] #878 closed

[2020-11-11 14:57] hazem3500 commented on #880
@kachkaev I can't really open the link you've sent, probably an issue with GitLab, could you paste the code here?

I've managed to add ICU support like so
[code]

Is there anything that I am missing?

[2020-11-11 15:15] Latchy commented on #41
Hi @isaachinman, could you please add an example that uses the latest version of next-i18next (v6) with a custom express server?
I keep going around in circles trying to get this to work.
Thanks

[2020-11-11 17:03] underfisk opened #881 "App reload require when adding new translation files"
## Describe the bug
I find it strange that i need to restart the app in order for i18next to load the new files or new fields within the existing files, that is quite hard to be doing and I think this is not supposed to happen

## Occurs in next-i18next version
You must provide the npm module version, git tag, or even better the explict commit causing the issue.
Latest version

## Steps to reprodu

[2020-11-11 17:12] isaachinman commented on #881
There have been several previous issues in regards to this, eg #796. This is easy to achieve with `nodemon`.

[2020-11-11 17:12] #881 closed

[2020-11-11 17:16] kachkaev commented on #881
I'd be interesting to consider this as part of #869 TBH. Imagine `<NextI18nextProvider>` polling some dev-only API endpoint and updating the translation data without page reload, when it changes. The API endpoint, in turn, just tracks for the file changes.

[2020-11-11 17:20] underfisk commented on #881
@kachkaev Indeed, but behind the scenes, it only needs to listen to the given fs path, and in case the file differs, it invokes the reloading and this could also be provided as a prop to the Provider in order to allow the usage of fs watcher
As you can imagine this can be "annoying" when you are adding translations and instead of waiting for the app hot-reload, you have to reload the whole app (an

[2020-11-11 20:19] cdelacombaz commented on #874
Thanks a lot haggen!

[2020-11-11 21:41] tahaygun commented on #41
Same here..

[2020-11-11 21:41] tahaygun commented on #41
Same here...

[2020-11-12 19:41] afzaalahmad opened #882 "How to implement localization for static site generated (SSG) pages?"
I have implemented next-i18next in our next app and it is working absolutely fine for pages, that are being server rendered but it is not working for static site generation (SSG) pages. For SSG pages, app is stuck at loading the route and never fetches the page. So, I have following questions:

1. Can I achieve localization for SSG pages or not?
2. If yes, can you elaborate through some example? B

[2020-11-12 19:56] isaachinman commented on #882
Please search previous issues before opening a new one. See #586 and #869.

[2020-11-12 19:56] #882 closed

[2020-11-13 00:05] tahaygun opened #883 "Always EN Text is shown"
## Describe the bug
I have an example project here: https://github.com/tahaygun/nextjs-i18n-example

It is really simple app, I copied everything from docs, but somehow it doesn't work as expected.

It works only in English mode, even though the default language is set to NL, I still get the EN version of the text.

## Occurs in next-i18next version
7.0.1
## Steps to reproduce
Run the app briefly.

[2020-11-13 11:19] nclsndr commented on #316
Hey guys, did you removed the `withRouter` and `useRouter` feats from this package?

[2020-11-13 11:40] isaachinman commented on #883
You don't have any locale subpaths, and most likely your browser language is set to English.

[2020-11-13 11:40] #883 closed

[2020-11-13 12:39] ynaveed opened #884 "localeSubPath with trailingSlash throws a 404"
## Describe the bug
Define localeSubpaths and set the `trailingSlash` to `true` in next.config.js. Then the server-side routing only works for index route. It breaks for every other route. If you navigate from index to any other route, it works through the router but refreshing the page will throw a 404.
## Occurs in next-i18next version
Happens in v6.0 and above
## Steps to reproduce
It can be re

[2020-11-13 12:53] isaachinman commented on #884
Actually, `next-i18next` already enforces trailing slashes, and has done so long before NextJs offered it as a config option. This conflict here will be handled in #869.

[2020-11-13 12:53] #884 closed

[2020-11-13 14:08] tahaygun commented on #883
- First of all, I have browserLanguageDetection flag.
https://github.com/tahaygun/nextjs-i18n-example/blob/618fd5164d76aeb51dd1ec37d9ecc50a64519d1f/i18n.js#L8

Secondly,  I have added the localesubpathes, it still doesn't work. I am forcing it to go `/nl` but I am ending up in `/en/nl` which is 404.

@isaachinman

https://github.com/tahaygun/nextjs-i18n-example/tree/test

[2020-11-13 14:11] tahaygun commented on #883
Alright, adding localesubpath for EN solved my issue. Thanks :)

[2020-11-13 14:12] isaachinman commented on #883
I've cloned your project and cannot reproduce that error. Please post on StackOverflow. Good luck!

[2020-11-13 14:15] tahaygun commented on #883
Oops, no. I still en up in `/en` somehow 😞

[2020-11-14 05:25] alradadi commented on #869
It's possible to pass additional props to the page in `_document.js` by customizing the `renderPage` function.

https://nextjs.org/docs/advanced-features/custom-document#customizing-renderpage

Could we pass the instance that way ?

[2020-11-16 06:45] maxmalov commented on #869
Btw, that's the option `next-translate` provides for loading translations https://github.com/vinissimus/next-translate/blob/master/examples/without-build-step/pages/index.js#L27

AFAIK `_document.tsx` is actual only for rendering the whole page at the server-side, it won't work during page transitions within the application.

Another problem is that `getInitialProps` can be used to serialize i18n

[2020-11-16 12:58] goffxnca opened #885 "appWithTranslation in _app.ts cause vercel deployment error"
![image](https://user-images.githubusercontent.com/71051032/99254876-a3bf2680-2845-11eb-8f7d-5e0d4d28d126.png)
![image](https://user-images.githubusercontent.com/71051032/99255240-39f34c80-2846-11eb-89fa-a1aeab87d153.png)

This is code in _app.tsx
[code]

only one last line of code by wrapping App with appWithTranslation HOC cause vercel deployment error any help?

**The translation running locall

[2020-11-16 13:14] sonsor commented on #885
try like this
[code]

[2020-11-16 13:36] goffxnca commented on #885
Thanks, @sonsor I have tried with your code, still get the same error, same log on Vercel

[2020-11-16 13:43] isaachinman commented on #885
If you believe you have found a bug in the `next-i18next` package, please provide a repro via a repository. For help, please post on StackOverflow.

[2020-11-16 13:47] goffxnca commented on #885
I am not really sure if this is a next-i18next bug or not, from what I have read other similar issues, seem like it's the limitation of the libs not a bugs and still waiting the implementation to support getServersideProps.

[2020-11-16 14:08] goffxnca commented on #885
Alright, this is proved as not next-i18next bugs, I forget to add  publicRuntimeConfig: {localeSubpaths} in next.config thanks for all people involved here.

[2020-11-16 14:08] #885 closed

[2020-11-17 17:34] csinig commented on #654
I guess i'm facing almost the same issue .
When the language is changed, components are re-rendered with the new locale => to this point, this is fine
But then the url is updated causing the whole app to refresh and the state to be lost. This is actually very annoying as the users lose all their input.
Any idea or any chance this issue could be fixed soon ? Thanks

[2020-11-19 07:49] hxxiaolong opened #886 "storybook-nextI18NextInternals.config.localeSubpaths-undefined"
## Describe the bug
I want to use storybook in next-i18next，but，when use to the Link component, storybook reported an error
[code]

storybook may not be able to start the server, how compatible with this error

## Occurs in next-i18next version
"6.0.3

[2020-11-19 14:37] ktjd123 opened #887 "next-i18next is acting weird"
## Describe the bug
1. languages I added in other languages is not showing when I log with i18n.languages.
2. Sometimes load translation properly and show it on web, but sometimes It's just showing dev strings.

## Occurs in next-i18next version

    "i18next": "^19.8.4",
    "i18next-locize-backend": "^4.1.8",
    "next-i18next": "^7.0.1",

## Steps to reproduce
[code]
this is my i18n.js file. an

[2020-11-19 14:48] isaachinman commented on #887
You'll need to provide a reproducible repo. Also, why are you putting `en` both in `defaultLanguage` and in `otherLanguages`?

[2020-11-19 14:50] ktjd123 commented on #887
@isaachinman can i invite you to private repo? or make new one reproducing this issue?

I didn't put it before but I thought the problem was this so I putted in there. Same when i remove it from `defaultLanguage`.

Thank you for fast reply

[2020-11-19 14:51] isaachinman commented on #887
It should be a public repo, yes.

[2020-11-19 15:32] morjanmihail commented on #577
I'm having the same problem deploying with serverless-nextjs component.

[2020-11-19 15:35] ktjd123 commented on #887
Can you check https://github.com/ktjd123/i18n-bug this repo, Thank you.

[2020-11-19 15:40] isaachinman commented on #887
Hey @ktjd123, this looks like a fairly complex application including a custom server, etc. You will need to provide a _minimum_ reproduction case, so that we can understand where the problem is coming from.

[2020-11-19 15:48] ktjd123 commented on #887
Hi @isaachinman. I force pushed to same repo using next-i18next/example. Please recheck

[2020-11-19 15:54] isaachinman commented on #887
@ktjd123 That app is now functioning exactly as I'd expect. If I set my browser to `ko-KR` and open in an incognito window, I see: `ko-KR ko-KR (2) ["ko-KR", "en"]`.

[2020-11-19 16:12] ktjd123 commented on #887
can you pull and check again? I updated the code.

![스크린샷 2020-11-20 오전 1 06 17](https://user-images.githubusercontent.com/15044488/99691560-b4cd9900-2acc-11eb-9cd3-036698ee50d1.png)
this is the second problem I said. t is not showing translated value.

with language detection problem. It sometimes show correctly but when I close the window and reconnect or restart server and reconnect, I

[2020-11-19 16:16] isaachinman commented on #887
As long as language detection is working, `next-i18next` is doing its job. It sounds like you probably have a problem with your `locize` backend.

[2020-11-19 16:17] ktjd123 commented on #887
This is screenshot for first bug.

![f](https://user-images.githubusercontent.com/15044488/99692823-12161a00-2ace-11eb-96fe-67fe0ecee24c.png)

I updated fallback for ko, and you can check in repo.

[code]

[2020-11-19 16:43] anialamo commented on #577
@morjanmihail Please! Serverless-next Team developers, Daniel Phang  made a new release @sls-next/serverless-component 1.19.0 alpha to solve this error and gives us an excellent solution, please review this link:

https://github.com/serverless-nextjs/serverless-next.js/issues/767#issuecomment-727264852

[2020-11-19 17:01] ktjd123 commented on #887
I think it's next-i18next's problem since it loads well from locize.

please check screenshot
![스크린샷 2020-11-20 오전 2 00 00](https://user-images.githubusercontent.com/15044488/99698503-3674f500-2ad4-11eb-8e39-b1ef22c6e9d9.png)

It loads then cannot find missing keys.

[2020-11-19 17:11] ktjd123 commented on #887
I think it's next-i18next's bug since it shows translated string when I call `i.changeLanguage('ko-KR')` function.

but on server log

[code]
the log shows this.

[2020-11-19 17:44] ktjd123 commented on #887
second problem is solved by adding `ns: 'common'`.

defaultNs is set to common but ns was set to ['translation']. I wonder if this is bug

[2020-11-19 17:56] morjanmihail commented on #577
I tried it few times and it didn't work. After deleting .next / .serverless / .serverless_nextjs it worked out! Many thanks!

Kind regards,
Mihai

[2020-11-20 01:06] anialamo opened #888 "Update default Language to a specific page with "no change effect""
Hi! Is it possible to change default language for a specific page? I ask this because now I use i18n.changeLanguage in page Y (e.g. I changed to "spanish" when my default language is "english" but I see an ugly effect during 1 second while languages are changing, first I see the page in english and in the next second I see the page in spanish. Or maybe for this page I shouldn't use translations? (

[2020-11-20 09:21] isaachinman commented on #888
No, that's not a feature that is supported, and most likely will not be. I encourage you to take a look at NextJs v10, and see the direction that the Vercel team are pushing for.

[2020-11-20 09:21] #888 closed

[2020-11-21 12:05] ktjd123 commented on #887
@isaachinman Can you check this bug in repo?

[2020-11-23 11:08] morjanmihail commented on #677
Ok, so basically we're getting errors having and not having getInitialProps.

[2020-11-23 11:37] prabu-ssb opened #889 "Unable to use withTranslation with FC that already take other props"
## Describe the bug
Typescript reports incompatible FC-signature when using withTranslation with an FC that already takes other props.

## Occurs in next-i18next version
next-i18next : v6.0.3
i18next: v19.8.2

## Steps to reproduce
[code]

Typescript reports --

[code]

## Expected behaviour
Accept FC with other props; examples.

[2020-11-23 11:39] isaachinman commented on #889
Please check the `react-i18next` TypeScript documentation. Good luck!

[2020-11-23 11:39] #889 closed

[2020-11-23 17:01] MichalKalita opened #890 "Change language in link page using Link component"
## Is your feature request related to a problem? Please describe.
I want to create a link to other language. Because of seo I have to create real links. I cannot just i18n.changeLanguage()

## Describe the solution you'd like
[code]
Locale is next js parameter to change language, so it will be api compatible.

## Additional context
Link with `as` links to other language is now not possible, becaus

[2020-11-23 21:29] isaachinman commented on #890
Please check Next v10 and the new i18n features it offers. What are you proposing here would be covered by #869.

[2020-11-23 21:29] #890 closed

[2020-11-25 19:45] eman-b opened #891 "Translation outside React Component"
**Is your feature request related to a problem?**
I want to use translation outside React components, inside utils functions and sagas. But, it doesn't seem to work.

 **Describe the solution you'd like**
It would be helpful if we can use "t" outisde components

 **Describe alternatives you've considered**
I tried to use what people do with i18next, but nothing worked.

 **Additional context**
Tha

[2020-11-25 20:52] kachkaev commented on #891
You can pass `t` or `i18n` into your function as an arg. That would be a safe and a straightforward way of solving this problem.

[2020-11-26 09:04] #891 closed

[2020-11-29 15:00] isaachinman commented on #869
Quick update: I have spent a few hours working on this today, and have a solution nearly ready. I'll post an update here shortly with a demo branch.

[2020-11-29 16:56] isaachinman commented on #869
OK – the core idea can be found on the [next-v10](https://github.com/isaachinman/next-i18next/compare/next-v10) branch.

I was able to delete the majority of `next-i18next`'s source code, and the core functionality now just depends on `appWithTranslation`, and a `serverSideTranslations` function.

Here's the idea:

### User's `next-i18next.config.js` file (at project root)

[code]

### User's `pag

[2020-11-29 17:16] martpie commented on #869
Any reason to have a `i18next.config.js` when these variables are already available on `next.config.js`?

[2020-11-29 17:21] isaachinman commented on #869
@martpie I had considered that, but in the end, two things stopped me:

1. There is still a discrepancy between the config shape for NextJs and for i18next. This is kind of annoying, and I have also considered writing a `nextConfigToI18nextConfig` helper. But, for all uses cases outside of the most basic, people are going to unfortunately need to maintain two config sets regardless
2. I'd like to

[2020-11-30 05:47] ktjd123 opened #893 "Preserve cookie value and give priority to it."
## Is your feature request related to a problem? Please describe.
When user changes language, I try to save it to next-i18next. but when user refreshes the cookie is overwritten to other language

## Describe the solution you'd like
give priority to previously saved cookie.

Thank you.

[2020-11-30 05:52] TheFullResolution commented on #869
@isaachinman I thing sperate config files were a good call 👍  In the case of the project I am currently working on, inside `next.config.js` we use locales together with country code (`nl-NL`,  `nl-BE`, `fr-FR`, `fr-BE` etc.), this allows us to serve different offer base on the country selected and display content in the right language. However, we are maintaining only one translation for Frech (`f

[2020-11-30 10:30] isaachinman commented on #869
@TheFullResolution That's a separate point, and one I hadn't considered yet: how will locale fallbacks work, with this new NextJs v10 setup?

You can see that I am naively setting the language via `router.locale` [here](https://github.com/isaachinman/next-i18next/blob/d33be1d911f23beb079bb1dbc77315ee25e49141/src/index.tsx#L30). But probably, we will need to pass `router.locale` into some `i18next`

[2020-11-30 10:31] isaachinman commented on #893
Priority is given to the route above all else – if you want to switch a user's language, please follow the example. Good luck!

[2020-11-30 10:31] #893 closed

[2020-11-30 10:42] jamuhl commented on #869
@isaachinman fallback works independently of using a language detector or directly setting the lng on i18next.init

per default the fallback will be `lng-Country` -> `lng` -> `options.fallback`

setting load options to and assuming having a `lng-Country` passed in options or via detection:

'languageOnly':  `lng` -> `lng` -> `options.fallback`
'currentOnly':  `lng-Country` -> `lng` -> `options.fal

[2020-11-30 11:00] isaachinman commented on #869
@jamuhl Well, the fallback doesn't seem to be working in this case, for some reason. The `i18next.options` object can be seen [here](https://gist.github.com/isaachinman/62b3642b591367b8951ab159a77153f8). You can see that we have:

[code]

But also:

[code]

Any ideas?

[2020-11-30 11:04] jamuhl commented on #869
guess it's because `en-US` is not in the list of supported languages:  setting `"nonExplicitSupportedLngs": true` might work

[2020-11-30 11:20] isaachinman commented on #869
@jamuhl Adding both `nonExplicitSupportedLngs` and `nonExplicitWhitelist` as `true` to the config didn't fix the problem.

[2020-11-30 11:24] jamuhl commented on #869
you got the https://gist.github.com/isaachinman/62b3642b591367b8951ab159a77153f8#file-next-v10-i18next-locale-fallback-L24 load option set to `currentOnly` which leads to:

'currentOnly': lng-Country -> options.fallback

[2020-11-30 11:31] isaachinman commented on #869
@jamuhl This config isn't working for `en-US` either:

[code]

[2020-11-30 12:05] jamuhl commented on #869
@isaachinman what is not working? I assume with above config you get i18next.languages = ['en-US', 'en'] which will on serverside miss en-US resources as those were not preloaded

[2020-11-30 15:17] isaachinman commented on #869
@jamuhl I was expecting to be able to set up `supportedLngs: ["en", "de"]`, and then init an i18next client with `lng: "en-US"`, and have it automatically change the locale to `en`, as that is our "closest" supported language. Are you saying that is not supported?

[2020-11-30 17:29] jamuhl commented on #869
it will not change the language....but resolve translations from `en-US` and `en` plus `fallback.json` (in that order)

[2020-12-01 10:19] imCorfitz commented on #615
Not entirely sure, what I am facing here:

![Screenshot 2020-12-01 at 10 12 45](https://user-images.githubusercontent.com/52371939/100727534-4b983080-33be-11eb-8752-49b54ad0cb30.png)

[2020-12-01 16:59] rafaelakiyoshi commented on #860
I'm having the same problem here...

[2020-12-01 17:16] isaachinman commented on #860
Will be fixed by #869.

[2020-12-01 17:16] #860 closed

[2020-12-01 20:36] SalahAdDin commented on #652
Well, i thought it would work good, but it works with delay:
![Screen Capture_select-area_20201201232330](https://user-images.githubusercontent.com/5034215/100793054-a5cfda80-342c-11eb-9493-1c493057b88d.gif)

At the first loading, it does not load the `skill-test` namespaces, i need to reload it to get that namespace active and the proper localization strings.

Inspecting it for the first time we

[2020-12-01 20:37] SalahAdDin commented on #840
Well, i thought it would work good, but it works with delay:
![Screen Capture_select-area_20201201232330](https://user-images.githubusercontent.com/5034215/100793054-a5cfda80-342c-11eb-9493-1c493057b88d.gif)

At the first loading, it does not load the `skill-test` namespaces, i need to reload it to get that namespace active and the proper localization strings.

Inspecting it for the first time we

[2020-12-01 20:41] SalahAdDin commented on #869
I'm not sure if this comment should be here but every issue i found about **SSG** redirects me to here, so, i add here:

Comment [here](https://github.com/isaachinman/next-i18next/issues/652#issuecomment-644618517).

Well, i thought it would work good, but it works with delay:
![Screen Capture_select-area_20201201232330](https://user-images.githubusercontent.com/5034215/100793054-a5cfda80-342c-11e

[2020-12-02 11:31] isaachinman commented on #652
@SalahAdDin This will be solved by #869.

[2020-12-02 11:31] isaachinman commented on #840
@SalahAdDin This will be solved by #869.

[2020-12-02 12:27] imCorfitz commented on #615
Alrighty.. I knowwhat I did wrong here. Kept getting these errors, but again, as mentioned countless times over and over "Read the Docs carefully".

First mistake in my case, looking at the `404.tsx` file. I am importing `withTranslation` from `next-i18next`. This was done automatically by VSCode, so didn't think more of it, but in reality, this should be fetched from your custom `i18n.ts` file. S

[2020-12-02 20:07] ahmadHuss opened #894 "namespace on the initial page load is incorrect"
Hey, @isaachinman Thanks for this great library. We are using this library on our website pages to handle internalization in different languages. But there is an issue that is happening on the website.

## Describe the bug
1. When we load a page or pages with different locales instead of English sometimes the namespace for that locale is not correctly loaded. From the SEO perspective crawler treat

[2020-12-03 04:23] TheFullResolution commented on #869
Sorry, for the late reply - didn't see the question.  So to give you some more information, the project is in a very early stage, so for now we have a very basic setup.

[code]

And we load the language like this:

[code]

Obviously, this is a very naive implementation, however, it allows us to get UI components out of the door.

Our`locales` inside `next.config.js` is `en-NL`, `nl-NL`, `nl-BE`, `

[2020-12-03 12:02] isaachinman commented on #894
@ahmadHuss Sorry, that's quite an old version of `next-i18next`, and it looks like you're still using an express server/middleware. Unless you were willing to upgrade to the latest version of the package, I'm not sure I would be able to help debug.

[2020-12-04 05:47] ahmadHuss commented on #894
@isaachinman Thanks for the reply. I upgraded the dependencies with the latest `next-118nextv7.0.1` and `nextjsv9.5.4`. You can check the [minimal repo code](https://github.com/ahmadHuss/hello) and [live sample link](https://hello-new-i18.herokuapp.com/).  I tried to check it again but the problem still happening. i.e. sometimes on the initial page load namespace will not correct load but after th

[2020-12-04 07:18] danny-dang opened #895 "next-i18next Warning: Text content did not match. Server: "..." Client: "...""
## Describe the bug
Warning: Text content did not match. Server: "HOME" Client: "home"
![image](https://user-images.githubusercontent.com/47047158/101133072-a8078400-363a-11eb-8101-2b18685228a6.png)

## Occurs in next-i18next version
Version:
"next-i18next": "^7.0.1",
npm v6.13.7

## Screenshots
Where I get the error: `.../Navbar.js`
[code]
`/public/locales/en/navbar.json`:
[code]

`next.config.js

[2020-12-04 10:08] isaachinman commented on #894
Hi @ahmadHuss – I have cloned your repo, but cannot reproduce the issue you have demonstrated in your gif either locally or on your Heroku deploy. Do you have any further information on how to reproduce?

[2020-12-04 10:11] isaachinman commented on #895
You say your asset is in `/public/locales/en/navbar.json`, but you also have `localePath: path.resolve('./public/static/locales')`. You need to add the `static dir`, or change your `localePath`. Good luck!

[2020-12-04 10:11] #895 closed

[2020-12-04 10:22] danny-dang commented on #895
I have just checked, my asset is actually in `public/static/locales/en/navbar.json`
![image](https://user-images.githubusercontent.com/47047158/101152152-40126700-3655-11eb-84f0-ca7987e0e26e.png)

[2020-12-04 10:24] isaachinman commented on #895
Then can you please provide a reproducible repo?

[2020-12-04 10:28] danny-dang commented on #895
Here's my repo: https://github.com/danny-dang/placifull-test

[2020-12-04 11:29] danny-dang commented on #895
I were able to reproduce the issue and fixed it.
I render the `Navbar` inside `pages/_app.js` like this, so that every page I go, I will have this Navbar and I don't have to render it in every page:

[code]

What I was missing: I did not include `navbar` namespace in `namespacesRequired`.
So I'll have to include the `navbar` in every single file in folder `/pages` like this:
[code]

[2020-12-04 12:28] ahmadHuss commented on #894
@isaachinman You mean when you open links in a tab, all the namespaces are loading correctly. Sometimes the namespaces are loading fine but when you open these links **immediately** on a new tab holding `Command key + click` on `MAC` You will find the namespaces for some links are not correctly loaded.

If you still no reproduce this issue. You can comment.

[2020-12-04 12:55] isaachinman commented on #894
Yes, I have opened the tabs exactly as you've done in your gif, and I cannot get a reproduction.

[2020-12-04 17:58] ivadimko opened #896 "Automatically detect redundant namespaces on the page"
## Is your feature request related to a problem? Please describe.
On a daily basis, we should include required namespaces in GIP->namespacesRequired. It's ok for 2-3 namespaces but for large projects, it's hard to remember and maintain which namespaces should be included and which should be removed. For example, we have a namespace called `validations_namespace`. It contains translates for error m

[2020-12-04 19:44] ahmadHuss commented on #894
@isaachinman Can you please upload a gif so I can see why it doesn't behave like a GIF?

[2020-12-05 07:48] ahmadHuss commented on #894
@isaachinman Can you please upload a gif so I can understand why it doesn't behave like a GIF?

[2020-12-06 13:23] iedmrc commented on #514
Hi @HectorLS , did you solve the issue? It seems it's a common problem. next-18next often doesn't load other languages except for the default one.

[2020-12-07 11:12] cCastaing opened #897 "How to load correct lang at first"
Hi,
Thanks for this plugin. But I can't find an answer to load the good language at first with a session parameter.
I get my session info in my <html> tag and initialize everything this way in JS :
[code]
The debug give me this infos in my console :
![image](https://user-images.githubusercontent.com/75615883/101344118-48e97f80-3885-11eb-808d-0a08e83f64dd.png)
with my session set to 'es'.
SO it see

[2020-12-07 11:44] martonlederer opened #898 "Cannot use props with components using translations"
## Describe the bug
Using custom props next to the translation function `t()` throws an error with typescript.

## Occurs in next-i18next version
`7.0.1`

## Steps to reproduce
Create a component with custom props
[code]
Use it in another component:
[code]

## Expected behaviour
No errors on compile.

## Screenshots
If applicable, add screenshots or a GIF to help explain your problem.
![image](htt

[2020-12-09 11:10] Poitrin commented on #898
Yes, I had the same problem.

In https://github.com/isaachinman/next-i18next/issues/647#issuecomment-596451214, one developer switched to Hooks instead, which are also used [in Next.js' react-i18next sample app](https://github.com/i18next/react-i18next/blob/master/example/react-typescript4.1/no-namespaces/src/App.tsx).

Therefore, one way is to do it like this:

[code]

… and then …

[code]

I hav

[2020-12-09 13:04] nazimjamil commented on #515
I ended up specifying t as `any` to get past this issue. No idea why it is happening and it's also not happening for all translation usage in the entire app, just a few spots.
[code]

[2020-12-09 18:05] ghassenchaar96 commented on #307
When I modify the config option to be like this :
[code]
it doesn't seem that my config is taken into consideration because the error says that no ns has been found on  `/public/static/locales/en/common.json` (which is the default config and not the custom one)

Here's the log:
[code]

Any help would much appreciated !

[2020-12-10 22:50] isaachinman commented on #898
This is a problem that is not specific to `next-i18next`, but HOCs in TypeScript in general. Using hooks avoids this issue, but otherwise you'll need to have a look at how to type HOCs in TS. Good luck!

[2020-12-10 22:50] #898 closed

[2020-12-10 22:51] isaachinman commented on #897
Hi @cCastaing – not sure why you are calling `i18next.use` yourself, that behaviour is not supported. I recommend you read through the i18next documentation. Good luck!

[2020-12-10 22:51] #897 closed

[2020-12-11 01:30] dcporter44 commented on #869
Just for thought: i18next's fallback functionality is going to be tricky to use with Next 10's new routing.

Next has its own `locales` and `defaultLocale` options and they're both required when using i18n in Next. It has 2 ways of determining the language: through the first item in the URL path (example.com/en) or through the Accept-Language header. It uses its own logic to pass the language into

[2020-12-11 01:40] isaachinman commented on #869
Thanks @dcporter44 – if you can look into it, that'd be much appreciated. Syncing locale/fallback between NextJs and i18next is what we're currently stuck on.

[2020-12-16 06:45] dcporter44 commented on #869
So it really doesn't look like there's an out-of-the-box way to customly handle what language Next i18n uses. It simply parses the Accept-Language and moves on.

There is an open PR to more appropriately handle regional fallbacks. For example, automatic fallback from en-GB to en.
See here: [https://github.com/vercel/next.js/issues/18676](https://github.com/vercel/next.js/issues/18676) This issue h

[2020-12-16 07:06] dcporter44 commented on #869
In the meantime, I wanted to see what it would be like to just use **react-i18next** with Next 10's i18n functionality. This is about as minimal of a working example I could create.

Using i18next's `resources` option instead of using `backend` seems to work well with server-side rendering. Let me know thoughts. Is this strategy much different than that of `next-i18next@nextv10-beta`?

**next.conf

[2020-12-16 08:29] fromi commented on #869
I have an very basic integration of i18next and next.js 10 on a project in production (https://game-park.com/ if you want to have a look).

[code]

with `createI18nInstance.tsx`:
[code]
By using `i18next.createInstance`, I am able to generate static pages at build time for each language. Of course this configuration is quite simple since I do not have XHR backend, but it might be useful to some of

[2020-12-16 08:38] kylekirkby commented on #869
I also have used react-i18next/i18next for i18n. Next.js v10 with i18n routing doesn't support SSG so I've built a starter that doesn't use the i18n routing capabilities.

https://github.com/linaro-marketing/serverless-nextjs-i18n-ssg-ssr-starter

With this starter I can deploy to my own infrastructure using Serverless-nextjs, statically optimize pages, and also have the ability to use the SSR fun

[2020-12-16 18:16] dcporter44 commented on #869
I wanted to see what it would be like to just use **react-i18next** with Next 10's i18n functionality. This is about as minimal of a working example I could create that also simulates next-i18next's namespace loading. It also allows use of the `useTranslation` hook rather than using providers or HOC.

**next.config.js**
[code]

**i18n.js**
[code]

**_app.js**
[code]

**index.js**
[code]

[2020-12-17 06:48] TheFullResolution commented on #869
@dcporter44 I used your example and it works. I did some tweaks to support the project I am working on (we use locale like en-NL, nl-NL, but load a single translation file per language).

I hardcode the languages and extract lang code from locale string:

[code]

here is a naive extract function:

[code]

[2020-12-17 07:09] dcporter44 commented on #869
Yeah that should work. But it's important to note that Next will only pass through a locale to the router if the locale is in the `locales` config option in `next.config.js`. So if your goal is to fallback _all_ "nl-*" locales to "nl", this implementation won't work. You would theoretically have to pass every possible "nl-" locale to the `locales` config option in order for it to be passed through

[2020-12-17 12:04] TheFullResolution commented on #869
@dcporter44 Yes, I am aware of it. And in the case of this project it even desirable, as there is a different offer showed base on the country, so we do need to have nl-NL or nl-BE, while loading just one language.

[2020-12-18 00:16] MisterEmpyrean opened #900 "Critical / breaking - appWithTranslation export not found on next-i18next"
## Describe the bug
Trying to migrate for Next 10, following all the steps of your docs and your example, but getting the same error in _app.tsx, both in my code and in your cloned example

## Occurs in next-i18next version
"next": "^10.0.0",
"next-i18next": "^7.0.1",

## Steps to reproduce
// _app.tsx
[code]
// next.config.js
[code]

// next-i18next.config.js
[code]

## Expected behaviour
Can wra

[2020-12-18 05:04] isaachinman commented on #900
#869

[2020-12-18 05:04] #900 closed

[2020-12-18 09:29] MisterEmpyrean commented on #900
@isaachinman Hi there. So I should discontinue next-i18next from my repertiore then and just use Next's routing?

[2020-12-18 20:24] isaachinman commented on #900
Hey @MisterEmpyrean. We are working to support NextJs v10 in the issue I linked to. The routing provided by NextJs v10 is not a complete solution. You will need some sort of third party package to solve the other half of the localisation problem. Good luck!

[2020-12-19 12:38] kachkaev commented on #869
@dcporter44 interesting! What about production builds and client-side routing to a page with additional namespaces? I'm curious how this part of your solution can handle this:

[code]

[2020-12-20 10:04] Alexey6486 opened #901 "Set language dynamically"
Hello.
I'm trying to set a language depends on a user preference.
While a page is loading I get user's language settings in MyApp.getInitialProps method and want to use it as a defaultLanguage param for next-i18Next instance.
I tried to do something like config.defaultLanguage or i18n.changeLanguage in MyApp.getInitialProps, but to no avail.
The code is exactly like in the simple example and it wo

[2020-12-20 13:13] kachkaev commented on #901
The general direction of this library is to align with Next.js i18n feature. See https://github.com/isaachinman/next-i18next/issues/869 and https://nextjs.org/docs/advanced-features/i18n-routing. So changing the language ‘dynamically’ will be possible as much as Next.js itself allows.

[2020-12-20 16:28] Alexey6486 commented on #901
Thank you for answering me on such a short notice.
I've made myself acquainted with information provided by the links. Unfortunately, I didn't find exactly what I'm looking for.

In the simple example Isaac creates a Next-i18Next instance in the i18n.js file. And the app language with dictionary is loaded according to the settings from the file. But can we set language at MyApp.getInitialProps sta

[2020-12-20 18:29] isaachinman commented on #901
Hi @Alexey6486. Please open a ticket on StackOverflow if the links that @kachkaev provided are not clear. Good luck!

[2020-12-20 18:29] #901 closed

[2020-12-21 13:55] mikeyrayvon commented on #869
I have a working implementation with Prismic CMS using @dcporter44's example [here](https://github.com/mikeyrayvon/nunodamaso) in case that is useful to anyone!

[2020-12-22 06:31] dcporter44 commented on #869
@kachkaev Ah, so the implementation I wrote above doesn't seem to allow Next to use its [Automatic Static Optimization](https://nextjs.org/docs/advanced-features/automatic-static-optimization). This is most likely because we are dynamically importing server-side files. In my case, my locale files were in a folder called `content/locales`. So Next is only using SSR and not SSG in my implementation.

[2020-12-22 16:47] Toumani opened #902 "Deep Key support"
I can't figure out why deep key doesn't work.
Let's say I have `{ button: { save: "Save" } }` in my locale file `en.json`, I would like to access it by doing `t('button.save')`.
I tried solutions like adding `keySeparator` to the config file but it doesn't work. In fact, adding nested object make the whole file fail the translation.
I'm sure I'm not the only one facing this issue but it looks like

[2020-12-22 18:33] isaachinman commented on #902
This is an i18next issue, as `next-i18next` doesn't handle any low-level API details like that. Good luck!

[2020-12-22 18:33] #902 closed

[2020-12-23 17:21] eunsukimme commented on #307
@artze you saved my time. It works for me!

[2020-12-24 01:29] alexandrepaivaa commented on #869
@dcporter44 thanks for sharing the code, I'm using here and the translation is working well, but when I click on the Nextjs Link component to change the language I get an console error (the translation change works normally though):

[code]
My _app.jsx:

[code]

How I'm using the Link component:

[code]

It doesn't happen with normal Link component (to navigate to another page, for example), it's

[2020-12-24 09:59] MSefer opened #903 "Using getInitialProps"
## Is your feature request related to a problem? Please describe.
Next.js team recommend that you use getStaticProps or getServerSideProps instead of getInitialProps. But next-i18next library documentation says _app.js file use getInitialProps. And you need to return a namespacesRequired array via getInitialProps on your page-level component. Why we use getInitialProps?

## Describe the solution y

[2020-12-24 11:00] kachkaev commented on #903
Hi @MSefer! Please see an ongoing discussion in #869

[2020-12-24 11:08] MSefer commented on #903
Thank you! @kachkaev

[2020-12-24 11:08] #903 closed

[2020-12-27 00:17] dcporter44 commented on #869
@alexandrepaivaa Thanks for bringing this up. I'm actually seeing this too. Everything seems to still work as expected regardless of the warning. I haven't had time to dig into this yet. I'll look into it and report back here.

[2020-12-27 02:43] dcporter44 commented on #869
@alexandrepaivaa So I did a little research and found [this issue (#1124)](https://github.com/i18next/react-i18next/issues/1124) on the react-i18next repo. Some users in the thread seem to be getting the same warning when using the `useTranslation` hook. There's not really any clear solution in the issue. But it seems to be something to do with the `changeLanguage` function triggering a re-render

[2020-12-27 14:55] kachar commented on #869
@alexandrepaivaa I'm hitting the same issue:

[code]

So far I've ended up splitting the initial `changeLanguage` from the dynamic change via `useEffect`.

The lines that I've wrapped are:

[code]

On init the `i18next.language` is `undefined` and that's okay, but when we change the url we hit the problem. I've been able to extract the initialization in a dedicated hook. You might check out the gi

[2020-12-27 18:44] Summon528 commented on #869
I'm new to i18n and this is my current solution, any opinion?
It is working pretty fine for me, no warning/error in console, and `next` can generate static HTML for each page.

**_app.tsx**
[code]

**page/index.tsx**
[code]

[2020-12-27 22:21] dcporter44 commented on #869
@Summon528 I've tried out your code above. I think the reason you're able to avoid the warnings is your use of `useEffect` with `changeLanguage`. But with your implementation, I notice a slight delay when changing language. When I switch to a new page with a different language, the previous language's translations show for a brief moment before the new language's translations come in.

I'm not too

[2020-12-27 22:21] sw3214 commented on #307
@isaachinman, @artze, @RonnyVo, @isaachinman, @eunsukimme  I apologize if this is a new topic, but seems sufficiently similar to ask in this thread.  If this question belongs elsewhere, please advise.

Big picture: would like to add backend additional bundles of language packs similar to the following:
[code]

This seems something similar as OP was asking originally in that I would like to be able

[2020-12-27 23:02] dcporter44 commented on #869
@alexandrepaivaa @kachar @Summon528 So I believe I found a solution that allows us to use the `useTranslation` hook without getting the warning that @alexandrepaivaa mentioned [here](https://github.com/isaachinman/next-i18next/issues/869#issuecomment-750696390).

The issue is the re-render triggered within `useTranslation` when `changeLanguage` is called. One solution is to call `changeLanguage` i

[2020-12-28 00:12] sbue opened #904 "Potential Bug - `localeStructure` config not working"
## Describe the bug
I have changed the default value for `localeStructure` from `{{lng}}/{{ns}}` to be `{{ns}}/{{lng}}`. I find this neater for my use case (namespaces tend to be very long, I don't want to write them twice)

Here is my `i18n.ts` file
[code]

Here is the error I am getting
[code]

## Occurs in next-i18next version
7.0.1

## Steps to reproduce
Use the same config as my own

## Expec

[2020-12-28 00:17] stephent commented on #869
@dcporter44 I'd understood that the benefit of the ```useTranslation``` hook was to avoid the need to use prop drilling to pass t down through your component tree.

However, instead of using ```useTranslation```, I've exported ```t``` from i18n itself as described in https://github.com/i18next/i18next/issues/1287#issuecomment-718781261 and it seems to be working nicely with your solution [here](ht

[2020-12-28 00:45] sw3214 commented on #307
Apologies the previous push to github for the example code was missing the content for the `additional-page.json` files.  Example translation file content json content updated.  Sorry about that.

[2020-12-28 05:26] sw3214 commented on #307
Update.  Using @artze's solution as follows for `loadPath` worked, but still having trouble with `addPath`  I updated an example project here (https://github.com/sw3214/next-i18next/tree/example/addPath2/examples/simple) which takes the Simple Example, and tries to add some localizations in with `addPath`.  Note that if the footer gets loaded with the real footer text rather than the localization

[2020-12-28 07:01] gocreating opened #905 "<Link locale="xxx"> with locale subpath is not working"
## Describe the bug
`<Link locale="xxx">` with locale subpath is not working.
The guide on the [official repo](https://github.com/isaachinman/next-i18next) is wrong.
The [simple example](https://github.com/isaachinman/next-i18next/tree/master/examples/simple) is not helpful.

## Occurs in next-i18next version
"next": "10.0.4"
"next-i18next": "^7.0.1"

## Steps to reproduce

[code]

## Expected beh

[2020-12-28 07:07] isaachinman commented on #905
Please read #869.

[2020-12-28 07:07] #905 closed

[2020-12-28 07:12] gocreating commented on #905
Oh no...The only reason I choose nextjs is because it supports the easiest way to implement locale subpath.
Now you tell me this is broken...?

[2020-12-28 17:07] dcporter44 commented on #869
@stephent Ah, yeah - good point. I didn't consider the prop drilling. Yeah, it looks like just using `t` from the i18n instance is the way to go.

[2020-12-28 23:14] isaachinman commented on #904
Yep, looks like the logic [here](https://github.com/isaachinman/next-i18next/blob/master/src/config/create-config.ts#L66) just needs to be updated to use `localeStructure` instead of `/${defaultLanguage}/${combinedConfig.defaultNS}`. PRs welcome!

[2020-12-29 11:53] tquiroga commented on #654
Same issue pointed by whydidyourender, when you use the hook across your app and realize most re-render are caused by the `useTranslation` hook, ouch 😬

[2020-12-30 08:26] kubanac95 commented on #869
@dcporter44 Any example on how I could make this running now while still using `getInitialProps` method instead of `getStaticProps`.

Also, from the code snippets you shared I don't see how we can preload a namespace, like for eg. `common` for each page?

Thanks for the good work and support!

[2021-01-02 19:20] isaachinman commented on #869
## Quick update

Hi all – want to check in again. Apologies for a delay in response, I have been quite busy in the past few weeks.

I want to clarify that `next-i18next` will definitely be proceeding with a provider-based approach to support the maximum number of use cases. If individuals want to explore other options, I encourage them to, but please let's keep discussion in this issue centred aro

[2021-01-03 16:09] felixmosh commented on #869
Thank you for updating.

I've reviewed the code, it looks GOOD!
Just to clarify that I got it properly, on each page there is a need to call to `serverSideTranslations`  and pass it as props manually, correct?

[2021-01-03 19:28] isaachinman commented on #869
@felixmosh Thanks for the review!

And yes, that is correct. That is more down to Next's paradigms/patterns than anything I would have designed by choice. The fact that they export a named export from page-level React components leaves no opportunity to actually write HOCs anymore.

I would be hesitant to say whether it's objectively good or bad, but: especially in the case of SSG where perf is a

[2021-01-03 19:33] felixmosh commented on #869
It can be an `HOF` ( High order function) which will wrap the `getStaticProps` / `getServerProps` but it is not a deal breaker

[2021-01-03 19:36] isaachinman commented on #869
@felixmosh That's correct, but to be honest I'd rather steer clear of any NextJs internals at this point! I hope that the `serverSideTranslations` pattern is declarative and clear to users.

[2021-01-04 07:09] dcporter44 commented on #869
@isaachinman Thanks for the update! Code looks great. I didn't mean to steer this issue off-topic. Since Next now handles so much of the i18n routing and locale delegation, I was trying to understand the value of using next-i18next instead of just using react-i18next or just i18next. Personally I'll end up using the beta you've just released because it's less code management on my end and I trust

[2021-01-04 20:42] jackocnr opened #906 "Support passing in a query string for cache-busting"
## Is your feature request related to a problem? Please describe.
AFAICS, currently there is no easy way to enable cache-busting when the client fetches translation files, which means when you deploy changes to your translation files, some users will continue using the stale cached version.

## Describe the solution you'd like
Support passing in a query string (e.g. '?v=123') so that we can cache-

[2021-01-04 20:45] isaachinman commented on #906
This issue should be raised in the appropriate upstream i18next package, as http fetching is not something `next-i18next` actually handles. Most likely you should have a look at [i18next-http-backend](https://github.com/i18next/i18next-http-backend). Good luck!

[2021-01-04 20:45] #906 closed

[2021-01-04 20:52] isaachinman commented on #869
@dcporter44 In general, `next-i18next` should not alter perf in any way, besides the few added kb to your JS bundle. You can see from the report [here](https://bundlephobia.com/result?p=next-i18next@8.0.0-beta.0) that the actual size of the `next-i18next@beta` source code is currently ~2.2kb GZIP, and could probably be reduced even further.

[2021-01-05 00:19] AaronLayton commented on #869
@isaachinman great work!

I am following along and figured I would also review. I installed the beta and believe I followed the example repo but I get the following error

`Error: Cannot find module 'next-i18next/rewrites'`

[2021-01-06 14:00] eminx commented on #884
I don't know if the beta branch in #869 could, as of now, fix this issue?
I'd be very pleased if someone could point to me how. I have exactly the same problem as @ynaveed .
Thanks!

[2021-01-07 06:19] Xoce51 commented on #814
I also start to change HOC to HOOK, but since when I refresh the page I'm seing a white page with `loading...` text in the top left of the page, am I the only one to have this difference between HOC & HOOK ?

[2021-01-07 08:19] TKone7 opened #907 "Missing types in 8.0.0-beta"
## Describe the bug
I tried out the new beta release that integrates with Next's new i18n internationalization features. It works all very nicely, thanks for the fast development towards this new release. There is only one thing that holds me back from deploying it Vercel.
When importing `{appWithTranslation}` or `{useTranslation}` from 'next-i18next' in any typescript file (e.g. `_app.tsx`) I get

[2021-01-07 15:45] isaachinman commented on #907
Yep, types and tests are both incomplete. Is this something you'd be willing to help with?

[2021-01-08 11:41] pawelphilipczyk commented on #907
I'm not sure this is related but as I see the same issues in addition to that when I go to page with `useTranslation` component I'm seeing this error:
[code]

[2021-01-08 12:04] isaachinman commented on #907
@pawelphilipczyk That sounds like a completely different kind of problem. Please open a separate issue and share your repo so we can debug.

[2021-01-08 12:17] pawelphilipczyk commented on #907
Thanks for quick reply, I've messed up my imports because of the types error above.

[2021-01-08 13:20] pawelphilipczyk commented on #907
OK, I would like to clarify this a bit more. I might know too little about Typescript but the import is not only complaining about missing type import - it's actually trying to import something else.
For example when I have `getStaticProps` function that runs `serverSideTranslations` the resulting error is `Object(...) is not a function`.

[2021-01-08 15:35] TKone7 commented on #907
Thanks for the update. I am not really experienced in package development. But I tried my best and came up with PR #908. Let me know what you think.
Regards

[2021-01-08 15:38] TKone7 commented on #907
@pawelphilipczyk make sure you import
[code]

[2021-01-08 17:43] pawelphilipczyk commented on #907
Thanks @TKone7 for PR effort and advice!

This actually moves me closer but why is `appWithTranslation` not suffering from this and I simply 'import { appWithTranslation } from 'next-i18next' - this works. I guess the types definition is better for it or no circular dependency.

The last piece is that I wanted to try and use it with `useTranslation` hook but I'm getting `react-i18next:: i18n.langu

[2021-01-08 19:46] pmaier983 opened #909 "Can JSX be used within the value of a translation"
I'm working to convert a documentation site built in Gatsby to nextjs. Of the available options next-i18next is clearly the best.

The current gatsby site uses a massive tsx file that housed all the translations while also having a bunch of biz logic written as jsx within. (<bold>; <button/> etc.).

Is my only option to convert this massive tsx file into json & use Interpolation (https://www.i18ne

[2021-01-08 19:49] isaachinman commented on #909
Hi @pmaier983 – any functionality you are describing would be a question to ask within the i18next repo, as `next-i18next` does not actually handle any of that core functionality. Good luck!

[2021-01-08 19:49] #909 closed

[2021-01-09 15:44] janhesters commented on #869
Tried the beta and works well. Is there still a way to programatically change the locale (without using routing)?

[2021-01-09 18:49] isaachinman commented on #869
@janhesters Thanks for testing!

## Locale fallback

We are still setting [fallbackLng in the i18next config](https://github.com/isaachinman/next-i18next/blob/3b63bfb236e905683da3ab1f83e7cb85dfeb08bb/src/config/createConfig.ts#L118). If fallback behaviour is somehow different between `master` and `next-v10` branches, then I've done something wrong. Do you have time to quickly debug a bit, and see

[2021-01-09 18:59] isaachinman commented on #907
@pawelphilipczyk The reason we need to separate `serverSideTranslations` into a separate module has to do with how the NextJs data-fetching functions work – anything you use within them is assumed to be NodeJs code, and actually gets stripped out from client side bundles. It also means we can access modules like `fs`, etc.

If you are having issues with `useTranslation`, can you please provide a r

[2021-01-10 00:23] dcporter44 commented on #869
@isaachinman I'm doing some testing. Everything seems to work great.

Do you see any reason that we can't just get rid of `defaultLocale` and `locales` as options in `next-i18next.config.js`, and instead just use the values provided to `next.config.js`? I don't see the benefit in writing it in 2 places, but maybe I'm missing something.

You could pass the entire router object to `getServerSideTran

[2021-01-10 09:03] janhesters commented on #869
@isaachinman

## Locale fallback

I didn't check in `production`, only development. That is probably the reason. False alarm, sorry.

## Changing language imperatively

I missed that. Thank you!

[2021-01-10 09:10] lucasm08 commented on #41
I would really appreciate that

[2021-01-11 09:23] pawelphilipczyk commented on #907
It all works now, few things to keep in mind if anyone else finds this:
- when testing server side translations full page refresh is needed, react fast refresh is not enough
- for `useTranslation` remember to pass in namespace argument and have the same in `serverSideTranslations`. Default value for this namespace is `"translation"` so I guess if file is named `.../en/translation.json` it's not ne

[2021-01-11 19:28] isaachinman commented on #41
@lucasm08 What problem are you having? This package is now completely unrelated to Express or custom servers – the two concerns should not be related.

[2021-01-12 21:41] yusufkinatas opened #910 "Support multiple subpaths for same language"
## Is your feature request related to a problem? Please describe.
I need to combine achieving the url structure below and using `localeSubpaths` support
I have three restaurants,

- Restaurant A -> targets English customers
- Restaurant B -> targets both English and Spanish customers
- Restaurant C  -> targets Spanish customers

### What I'm trying to achieve
- https://mysite.com/restaurant-a/prod

[2021-01-13 11:34] isaachinman commented on #910
Please check #869. All routing functionality now belongs to the NextJs core.

[2021-01-13 11:34] #910 closed

[2021-01-14 07:02] njarraud commented on #869
My understanding is that you use **_lngsToLoad_** in the master version to select which languages shall be kept in the store. However in the beta version it is gone and  serverSideTranslations only keeps the data for initialLocale only.

**Master version:**
[code]

**Beta version**
[code]

[2021-01-14 08:41] isaachinman commented on #869
@dcporter44 Actually, it occurs to me that we can go one step further and just remove `locales` and `defaultLocale` entirely.

Since `next-i18next` only ever initialises i18next instances for a single locale at a time, we don't even need to be aware of those other values, unless I am forgetting some use case. Check out the idea, [here](https://github.com/isaachinman/next-i18next/commit/a57379a8b1e

[2021-01-14 13:44] TheFullResolution commented on #869
Optional `next-i18next.config.js` is a good idea 👍  I mentioned that before, but I am working on the project where we are using a different locale code for next.js (for example en-NL, nl-NL) and different for locale code for i18n-next (en, nl). I am guessing this is not a common use case, so optional `next-i18next.config.js` would be awesome :) Once I have some more time, I will try to implement t

[2021-01-14 14:47] mateusvahl opened #911 "next build 8.0.0-beta"
## Describe the bug
Hi, first thank very much for the update, I recently updated a repo to use the beta version and everything seems to work fine during developing mode, however, I  noticed the follow issue when building nextjs in production mode:

`Cannot find module '/web/next-i18next.config.js'`

1. Run: `$ NODE_ENV=production next build`

2. Nextjs outptus:
[code]

## Files

`./web/next-i18nex

[2021-01-14 15:39] AlexeyToksarov commented on #869
@isaachinman looks like it won't be possible anymore to use `getInitialProps` for a page if I want to use this library, correct?

[2021-01-14 16:02] mateusvahl commented on #911
Update: Issue seems to be caused by setting ` target: "serverless"` on `next.config.js`:

[code]

Not sure if it's related to this package at this point.

[2021-01-14 16:09] TheFullResolution commented on #869
@isaachinman I was testing your new implementation, interestingly locally ` useTranslation`  from 'react-i18next' is working with next-18next, not sure if it will in production

[2021-01-14 16:30] felixmosh commented on #869
It should work since the appWithTranslations wraps the app with i18nextProvider

[2021-01-14 16:35] chrys1110 opened #912 "Question Beta"
I am currently setting up a new nextjs 10 project and would like to use next-i18next. Therefore using your current BETA.

The simple-example in the BETA branch doesn't work for me with several error messages.
After experimenting with setting localePath in a next-i18next.config.js
(otherwise it used "/public/static/locales" - which used C:/ as it's root folder - instead of "public/static/locales" -

[2021-01-14 16:44] #912 closed

[2021-01-14 16:45] chrys1110 commented on #912
Just needed to put

  defaultLocale: "en",
  locales: ["en", "ae"],

inside the next-i18next.config.js

[2021-01-14 17:51] isaachinman commented on #911
@mateusvahl Not sure what exactly that config option does, but you'll need to make sure that your `next-i18next.config.js` config file is available on the fs. I don't think this is a `next-i18next` bug. Let me know if you have any further questions. Good luck!

[2021-01-14 17:52] #911 closed

[2021-01-14 17:53] isaachinman commented on #912
Can you confirm if you were deploying on Vercel?

[2021-01-14 18:23] isaachinman commented on #869
@TheFullResolution Yeah, after looking further into that use case, I just don't think it's something that `next-i18next` is going to be able to support very well.

@AlexeyToksarov Why do you say that? You should be able to use `serverSideTranslations` in any of the NextJs data fetching methods.

@TheFullResolution I believe the same is true of previous versions of `next-i18next`, and yes, it's for

[2021-01-14 18:31] AlexeyToksarov commented on #869
@isaachinman because with `getInitialProps` it throws the `Module not found: Can't resolve 'fs'` error.

[2021-01-14 18:55] isaachinman commented on #869
Ah that's correct, we are no longer taking into account the fact that it could run client side as well. What is your use case for using `getInitialProps` instead of `getServerSideProps`?

[2021-01-14 18:57] AlexeyToksarov commented on #869
Basically, we just have an existing app and don't really want to rewrite every `getInitialProps` to `getServerSideProps` :)

[2021-01-14 18:59] isaachinman commented on #869
Migrating to NextJs v10 i18n and `next-i18next@8` will require a rewrite no matter what!

[2021-01-14 19:08] AlexeyToksarov commented on #869
Yeah, I understand that. I just wanted to say that previously we didn't use the i18n, so in other to use it now we need to rewrite our current data-fetching code which uses `getInitialProps`.
But hopefully, it shouldn't be too difficult

Thanks